.THIS .field-group { display: -webkit-box; display: -ms-flexbox; display: flex; color: #444; }
.THIS .field-group .edit-block { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
.THIS .field-group .edit-block .edit { margin-top: 0; }
.THIS .field-group > fieldset .controls { display: -webkit-box; display: -ms-flexbox; display: flex; }

.THIS .inline-edit-block { margin-top: 1rem; width: 100%; position: relative; margin-bottom: 2rem; }
.THIS .inline-edit-block .gu-select select { min-height:32px; }
.THIS .inline-edit-block [data-balloon]:after,
.THIS .inline-edit-block [data-balloon]:before { display: none; }
.THIS .inline-edit-block.has-help [data-balloon]:after,
.THIS .inline-edit-block.has-help [data-balloon]:before { display: block; }
.THIS .inline-edit-block.has-help .help-block { margin-left: auto; padding-left: 0.5rem;}
.THIS .inline-edit-block .edit-block .read { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.THIS .inline-edit-block .checkbox-group-horizontal,
.THIS .inline-edit-block .radio-group-horizontal { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: all 0.15s; transition: all 0.15s; }
.THIS .inline-edit-block .field-group { display: -webkit-box; display: -ms-flexbox; display: flex; color: #444; }
.THIS .inline-edit-block .read-only { height: 33px; background: #eee; border-radius: 4px; display: flex; align-items: center; padding: 0 12px; }
.THIS .inline-edit-block .field-group .edit-block { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
.THIS .inline-edit-block .field-group .edit-block .edit { margin-top: 0; }
.THIS .inline-edit-block .field-group > fieldset .controls { display: -webkit-box; display: -ms-flexbox; display: flex; }
.THIS .inline-edit-block .controls [type=radio]:nth-of-type(2) { margin-left: 55px; }
.THIS .inline-edit-block .controls [type=radio]:nth-of-type(3) { margin-left: 95px; }
.THIS .inline-edit-block .controls [type=radio]:checked + .toggle { -webkit-animation: icon-blip 0.15s forwards; animation: icon-blip 0.15s forwards; }
.THIS .inline-edit-block .controls .toggle { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0 6px; color: #c4c3c3; box-shadow: 0 0 0px 1px #ccc; border-radius: 50%; height: 30px; width: 30px; }

.THIS .inline-edit-block .form-group-controls {
  border-top:0;
  border-bottom:0;
}


.THIS .inline-edit-block .controls .toggle .icon { line-height: 1; }
.THIS .inline-edit-block .controls .toggle.internal .ic-status { width: 20px; height: 20px; position: relative; }
.THIS .inline-edit-block .controls input[type="radio"] { position: absolute; opacity: 0; }
.THIS .inline-edit-block .ic-status { stroke: currentColor; width: 16px; height: 16px; -webkit-transition: all 0.15s; transition: all 0.15s; }
.THIS .input-status { position: absolute; right: 0.5rem; top: 0.35rem; display: -webkit-box; display: -ms-flexbox; display: flex; z-index: 2; }
.THIS .input-status .input-edit { display: none; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: 0.5rem; color: #006ca3;}
.THIS .input-status .input-save,
.THIS .input-status .input-cancel { visibility: hidden; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: 0.5rem; -webkit-transition: none; transition: none; }
.THIS .input-status .input-cancel { color: #ccc; }
.THIS .input-status .input-saved { display: none; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background: white; right: 0; color: #93C461; }
.THIS .input-status .title {  text-align: right; padding-right: 0.5rem; font-size: 0.929rem; font-weight: 500; }
.THIS .input-status + .slds-input { margin-top: 0.5rem; }
.THIS .input-status svg { stroke: currentColor; fill: white; width: 20px; height: 20px; }

.THIS .input-status svg.success { stroke: #93C461; }
.THIS .input-status svg.cancel { stroke: #ccc; }

.THIS .control-input { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; position: relative; }
.THIS .control-input.disabled { cursor: not-allowed; }
.THIS .control-input:hover .slds-input { padding-left: 8px; }
.THIS .control-input:hover .slds-input.update { cursor: not-allowed; box-shadow: 0 0 0px 2px #006ca3; }
.THIS .control-input:hover .gu-select,
.THIS .control-input:hover .slds-input,
.THIS .control-input:hover .checkbox-group-horizontal,
.THIS .control-input:hover .radio-group-horizontal { box-shadow: inset 0 0 2px #D4E7F5; background: #EEF8FF; }
.THIS .control-input:hover .gu-select + .input-status .input-edit,
.THIS .control-input:hover .slds-input + .input-status .input-edit,
.THIS .control-input:hover .checkbox-group-horizontal + .input-status .input-edit,
.THIS .control-input:hover .radio-group-horizontal + .input-status .input-edit { display: -webkit-box; display: -ms-flexbox; display: flex; }

.THIS .control-input:hover .gu-select.success + .input-status .input-edit,
.THIS .control-input:hover .slds-input.success + .input-status .input-edit,
.THIS .control-input:hover .checkbox-group-horizontal.success + .input-status .input-edit,
.THIS .control-input:hover .radio-group-horizontal.success + .input-status .input-edit { display: none; }

.THIS .control-input:hover .slds-input.unsaved,
.THIS .control-input:hover .slds-input.default,
.THIS .control-input .slds-input.default:focus { box-shadow: 0 0 0px 2px #006ca3; background:white;}

.THIS .control-input .field-status { font-size: 11px; text-transform: uppercase; font-weight: 700; }
.THIS .control-input .gu-select { visibility: hidden; position: absolute; z-index: -1; height: 0; top: 0; }

.THIS .control-input .gu-select { visibility: hidden; position: absolute; z-index: -1; height: 0; top: 0; }
.THIS .control-input .slds-select_container { padding-left:0; }
.THIS .control-input .slds-select_container .slds-select { height: 30px; padding-left: 8px; border-color: white; line-height: 30px; }

.THIS .control-input .slds-input { padding-right: 5.5rem; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding-left: 0; border-color: transparent; -webkit-transition: all 0.175s; transition: all 0.175s; color: #444; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.THIS .control-input .slds-input:focus { background: white; padding-left: 8px; }
.THIS .control-input .slds-input:focus.unsaved { box-shadow: 0 0 0px 2px #006ca3; }
.THIS .control-input .slds-input + .slds-input { margin-top: 0.5rem; }
.THIS .control-input .slds-input[type=date] { padding-left: 8px; -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; }
.THIS .control-input .slds-input.pristine { border-color: rgba(68, 68, 68, 0.3); padding-left:8px;}
.THIS .control-input .slds-input.update { background: white; padding-left: 8px; background: #eee; }
.THIS .control-input .slds-input.update + .input-status { display: none; }
.THIS .control-input .slds-input.update:hover { box-shadow: 0 0 0px 2px #006ca3; }
.THIS .control-input .slds-input.unsaved { background: white; padding-left: 8px; }

.THIS .control-input .slds-input:focus + .input-status .input-edit,
.THIS .control-input .slds-input.unsaved + .input-status .input-edit { display: none; }

.THIS .control-input .slds-input:focus + .input-status .input-save,
.THIS .control-input .slds-input.unsaved + .input-status .input-save { visibility: visible; color: #93C461; }
.THIS .control-input .slds-input:focus + .input-status .input-cancel,
.THIS .control-input .slds-input.unsaved + .input-status .input-cancel { display: -webkit-box; display: -ms-flexbox; display: flex; visibility: visible; }


.THIS .control-input .slds-input:focus.cancel,
.THIS .control-input .slds-input.unsaved.cancel { border-color: #d9534f; box-shadow: inset 0 0 0 1px #d9534f; padding-left: 8px; }
.THIS .control-input .slds-input:focus.cancel + .input-status .input-cancel,
.THIS .control-input .slds-input.unsaved.cancel + .input-status .input-cancel { display: -webkit-box; display: -ms-flexbox; display: flex; color: #d9534f; visibility: visible; }
.THIS .control-input .slds-input:focus.cancel:hover,
.THIS .control-input .slds-input.unsaved.cancel:hover { background: white; }
.THIS .control-input .slds-input:focus.cancel:focus + .input-status .input-edit,
.THIS .control-input .slds-input.unsaved.cancel:focus + .input-status .input-edit { display: none; }

.THIS .control-input .slds-input.saved { -webkit-animation: status-saved-input 0.35s 5s forwards; animation: status-saved-input 0.35s 5s forwards; box-shadow: 0 0 0 1px #93C461; border-color: #93C461; }
.THIS .control-input .slds-input.saved ~ .input-status .input-saved { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; -webkit-animation: status-saved-block 1s 4s forwards; animation: status-saved-block 1s 4s forwards; }
.THIS .control-input .slds-input.saved ~ .input-status .input-saved svg { -webkit-animation: status-saved-icon 0.35s forwards; animation: status-saved-icon 0.35s forwards; }

.THIS .control-input .slds-input.default:focus + .input-status .input-save { visibility: visible; }
.THIS .control-input .slds-input.default:focus + .input-status .input-cancel { display: -webkit-box; display: -ms-flexbox; display: flex; visibility: visible; }
.THIS .control-input .slds-input.default:focus + .input-status .input-edit { display: none; }
.THIS .control-input .slds-input.cancel { border-color: #d9534f; box-shadow: inset 0 0 0 1px #d9534f; padding-left: 8px; }
.THIS .control-input .slds-input.cancel + .input-status .input-cancel { display: -webkit-box; display: -ms-flexbox; display: flex; color: #d9534f; visibility: visible; }
.THIS .control-input .slds-input.cancel:hover { background: white; }
.THIS .control-input .slds-input.cancel:focus + .input-status .input-edit { display: none; }


/* old? */


/*.THIS .control-input .slds-form-element { visibility: hidden; position: absolute; z-index: -1; height: 0; top: 0; }*/


.THIS .touch-input { padding: 0; border-color: transparent; height: 32px; }
.THIS .touch-input:hover { background: #EEF8FF; }
.THIS .touch-input:hover .value { box-shadow: inset 0 0 2px #D4E7F5; background: #EEF8FF; padding-left: 8px;}
.THIS .touch-input:hover .gu-select { background: #EEF8FF; box-shadow: none; }
.THIS .touch-input:hover .slds-input { padding-left: 0; }
.THIS .touch-input:hover.radio, .THIS .touch-input:hover.checkbox { -webkit-transition: all 0.15s; transition: all 0.15s; padding-left: 8px; }
.THIS .touch-input:hover .slds-form-element { background: #EEF8FF; box-shadow: none; }
.THIS .touch-input:focus { background: #EEF8FF; }

.THIS .touch-input .checkbox-group-horizontal,
.THIS .touch-input .radio-group-horizontal { line-height: 30px; min-height: 30px; padding-right: 68px; }
.THIS .touch-input .input-status { top: 2px; }
.THIS .touch-input .value,
.THIS .touch-input .checkbox-group-horizontal,
.THIS .touch-input .radio-group-horizontal { border-radius: .25rem; width: 100%; -webkit-transition: border .1s linear,background-color .1s linear; transition: border .1s linear,background-color .1s linear; height: 100%; -webkit-transition: all 0.175s; transition: all 0.175s; }
.THIS .touch-input .value { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; color: #16325c; line-height: 30px; min-height: 30px; }

.THIS .touch-input.saved { -webkit-animation: status-saved-input 0.35s 5s forwards; animation: status-saved-input 0.35s 5s forwards; box-shadow: 0 0 0 1px #93C461; border-color: #93C461; }
.THIS .touch-input.saved.radio,
.THIS .touch-input.saved.checkbox { -webkit-transition: all 0.15s; transition: all 0.15s; padding-left: 8px; }
.THIS .touch-input.saved:hover { background: #EEF8FF; }
.THIS .touch-input.saved:hover .input-status .input-saved,
.THIS .touch-input.saved:hover .value { background: #EEF8FF; }
.THIS .touch-input.saved .value { -webkit-animation: status-saved-value 0.35s 5s forwards; animation: status-saved-value 0.35s 5s forwards; padding-left: 8px; background: white; }
.THIS .touch-input.saved .slds-form-element ~ .input-status,
.THIS .touch-input.saved .checkbox-group-horizontal ~ .input-status,
.THIS .touch-input.saved .radio-group-horizontal ~ .input-status { top: 2px; }
.THIS .touch-input.saved .slds-form-element ~ .input-status .input-saved,
.THIS .touch-input.saved .checkbox-group-horizontal ~ .input-status .input-saved,
.THIS .touch-input.saved .radio-group-horizontal ~ .input-status .input-saved { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; -webkit-animation: status-saved-block 1s 4s forwards; animation: status-saved-block 1s 4s forwards; }
.THIS .touch-input.saved .slds-form-element ~ .input-status .input-saved svg,
.THIS .touch-input.saved .checkbox-group-horizontal ~ .input-status .input-saved svg,
.THIS .touch-input.saved .radio-group-horizontal ~ .input-status .input-saved svg { -webkit-animation: status-saved-icon 0.35s forwards; animation: status-saved-icon 0.35s forwards; }

.THIS .touch-input.unsaved { background: white; }
.THIS .touch-input.unsaved.radio,
.THIS .touch-input.unsaved.checkbox { -webkit-transition: all 0.15s; transition: all 0.15s; padding-left: 8px; }
.THIS .touch-input.unsaved:hover { background: #EEF8FF; }
.THIS .touch-input.unsaved:hover .input-status .input-saved { background: #EEF8FF; }
.THIS .touch-input.unsaved:hover .value { box-shadow: none; border: 0; }

.THIS .touch-input.unsaved .value { visibility: hidden; position: absolute; z-index: -1; }
.THIS .touch-input.unsaved .checkbox-group-horizontal,
.THIS .touch-input.unsaved .radio-group-horizontal { background: white; }

.THIS .touch-input.unsaved .gu-select { padding-right: 68px; position: absolute; }
.THIS .touch-input.unsaved .gu-select > label { display: none; }
.THIS .touch-input.unsaved .gu-select,
.THIS .touch-input.unsaved .checkbox-group-horizontal,
.THIS .touch-input.unsaved .radio-group-horizontal { visibility: visible; position: relative; z-index: 1; }
.THIS .touch-input.unsaved .gu-select ~ .input-status .input-save,
.THIS .touch-input.unsaved .checkbox-group-horizontal ~ .input-status .input-save,
.THIS .touch-input.unsaved .radio-group-horizontal ~ .input-status .input-save { visibility: visible; color: #008901; }
.THIS .touch-input.unsaved .gu-select ~ .input-status .input-cancel,
.THIS .touch-input.unsaved .checkbox-group-horizontal ~ .input-status .input-cancel,
.THIS .touch-input.unsaved .radio-group-horizontal ~ .input-status .input-cancel { display: -webkit-box; display: -ms-flexbox; display: flex; visibility: visible; }
.THIS .touch-input.unsaved .gu-select ~ .input-status .input-edit,
.THIS .touch-input.unsaved .checkbox-group-horizontal ~ .input-status .input-edit,
.THIS .touch-input.unsaved .radio-group-horizontal ~ .input-status .input-edit { display: none; }
.THIS .touch-input.unsaved .gu-select:focus,
.THIS .touch-input.unsaved .checkbox-group-horizontal:focus,
.THIS .touch-input.unsaved .radio-group-horizontal:focus { box-shadow: none; border-radius: 0; }
.THIS .touch-input.unsaved .gu-select.cancel,
.THIS .touch-input.unsaved .checkbox-group-horizontal.cancel,
.THIS .touch-input.unsaved .radio-group-horizontal.cancel { border-color: #d9534f; box-shadow: inset 0 0 0 1px #d9534f; padding-left: 8px; }
.THIS .touch-input.unsaved .gu-select.cancel + .input-status .input-cancel,
.THIS .touch-input.unsaved .checkbox-group-horizontal.cancel + .input-status .input-cancel,
.THIS .touch-input.unsaved .radio-group-horizontal.cancel + .input-status .input-cancel { display: -webkit-box; display: -ms-flexbox; display: flex; visibility: visible; }
.THIS .touch-input.unsaved .gu-select.cancel:hover,
.THIS .touch-input.unsaved .checkbox-group-horizontal.cancel:hover,
.THIS .touch-input.unsaved .radio-group-horizontal.cancel:hover { background: white; }
.THIS .touch-input.unsaved .gu-select.cancel:focus + .input-status .input-edit,
.THIS .touch-input.unsaved .checkbox-group-horizontal.cancel:focus + .input-status .input-edit,
.THIS .touch-input.unsaved .radio-group-horizontal.cancel:focus + .input-status .input-edit { display: none; }

@media (max-width: 480px) {
  .THIS .inline-edit-block .field-group { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .THIS .inline-edit-block .controls { margin-top: 0.5rem; }
  .THIS .field-group { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
}

@media (min-width: 481px) {
  .THIS .inline-edit-block { padding-left: 1rem; padding-right: 1rem; }
  .THIS .inline-edit-block .field-group { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .THIS .inline-edit-block .field-group > fieldset { margin-left: auto;}
  .THIS .field-group { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .THIS .field-group > fieldset { margin-left: auto; padding-left: 2rem; }
}

@media (max-width: 767px) {
  .THIS .inline-edit-block .controls .toggle { margin: 0.5rem; }
}

@media (min-width: 991px) {
  .THIS .inline-edit-block { padding-left: 1rem; padding-right: 1rem; }
}

.THIS.summary-block .read {
    min-height:32px;
    border-radius:3px;
}
.THIS.summary-block .read .icons {
    display:block;
}

.THIS .block-container.inline-block {
  display: flex;
  align-items: flex-end;

}


.THIS .block-container.inline-block .form-group-controls {
  padding: 0 0 2rem;
  border: 0;
}
.THIS.inline-padding-reset .inline-edit-block {
    padding: 0;
}