.gu-header {
	position:relative;
	z-index:10;
	display:flex;
	align-items:center;
	@media (min-width:$screen-md) {
		padding:$gap $gap $gap-sm;
	}
	@media (max-width:$screen-sm-ls - 1px) {
		background:$blue-dk;
		flex-wrap:wrap;
		justify-content: flex-end;
	}

	.controls {
		@media (min-width:$screen-sm) {
			margin-left:auto;
		}
	}
	.controls,.user {
		display:flex;
		align-items:center;
	}

	.mobile-search {
		border-radius: 50%;
		border: 1px solid white;
		order:1;
		margin:($gap-sm + $gap-xs) $gap ($gap-sm + $gap-xs) ($gap-lg + $gap-md);
		@media (min-width:$screen-md) {
			display:none;
		}
		.icon {
			width: 30px;
			height: 30px;
			color: white;
			stroke: currentColor;
			display:flex;
			align-items: center;
			justify-content: center;
		}
		&:hover, &:focus{background-color: $blue;}
		svg{
			width: 12px;
			height: 12px;
		}
			@media (max-width:$screen-sm-min) {
				display:flex;
				min-width: 30px;
				min-height: 30px;
			}

	}
	.alert {
		padding-top:3px;
		padding-bottom:3px;
		strong {
			@include font-bold;
		}
		@media (min-width:$screen-md) {
			position:relative;
			z-index:15;
			margin-top:-3px;
			margin-left:auto;
			margin-right:(-($gap-sm));
			text-decoration:none;
			+ .user-nav {
				margin-left:0;
			}
		}
	}
	.messages {
		color:white;
		margin:0 $gap-lg 0 auto;
		position:relative;
		&:after {
			content:"";
			//margin-right:$gap-sm;
			//margin-left:$gap-sm;
			background-color:rgba(white,0.1);
			height:100%;
			width:2px;
			display:block;
			position:absolute;
			top:0;
			right:-$gap;
		}
		.circle {
			position:absolute;
			top:-6px;
			right:-$gap-sm;
			width:20px;
			height:20px;
			max-width:20px;
			background:$danger;
			border-radius:50%;
			display:flex;
			align-items:center;
			justify-content:center;
		}
		.number {
			@include font-bold;
			text-shadow:0 1px 1px darken($danger,20%);
		}
		@media (min-width:$screen-md) {
			margin-left:auto;
			+ .user-nav {
				margin-left:0;
			}
		}
	}
	.user-nav {
		@media (min-width:$screen-md) {
			margin-left:auto;
		}
		@media (max-width:$screen-md - 1px) {
			order:2;
			//margin-right:$gap-sm;
		}
		.title {
			@include font-semibold;
			font-size:16px;
		}
		.dropdown {
			background:none;
			min-width:100%;
			input[type="checkbox"]:checked + label {
				color:white;
				.icon {
					transform:rotate(180deg);
				}
			}
			> label {
				display:flex;
				align-items:center;
				color:white;
				font-size:18px;
				@include font-regular;
			}
			.status {
				font-size:14px;
				text-transform:uppercase;
				@include font-bold;
				&.success {
					color:$success;
				}
				&.warning {
					color:$warning;
				}
			}
			.user-photo {
				@media (min-width:$screen-md) {
					margin-right:$gap;
					width:50px;
					height:50px;
					min-width:50px;
					min-height:50px;
				}
				@media (min-width:$screen-sm) {
					margin-right:$gap;
				}
				@media (max-width:$screen-md - 1px) {
					width:40px;
					height:40px;
					min-width:40px;
					min-height:40px;
				}
			}
			.icon {
				position:relative;
				@media (min-width:$screen-md) {
					margin-left:$gap;
				}
				@media (max-width:$screen-md - 1px) {
					margin-left:$gap-sm;
					margin-right:$gap;
				}

				svg {
					width:16px;
					height:16px;
					stroke:currentColor;
				}
			}
			.dropdown-items {
				hr {
					margin:0;
					height:1px;
					background-color:#eee;
				}
			}
		}
	}
	.user {
		position:relative;
		max-height:70px;
		padding-right:$gap;
		@media (max-width:$screen-sm-ls) {
			margin-left:auto;
		}
		@media (max-width:$screen-xs) {
			padding-right:0;
		}
		&.logged-out {
			> a {
				color:rgba(white,0.7);
				font-size:16px;
				text-decoration:none;
				&:hover,&:focus {
					color:white;
				}
			}
			.icon {
				stroke:currentColor;
				padding-left:$gap-sm;
				svg {
					transform:rotate(-180deg);
					width:24px;
					height:24px;
				}
			}
		}
		.title {
			color:white;
			font-size:16px;
			//max-width:80%;
			line-height:1.2;
			@include font-regular;
		}
		.detail {
			display:flex;
			align-items:center;
			a {
				color:white;
				stroke:currentColor;
				margin-left:$gap;
				@media (max-width:$screen-xs) {
					margin-left: 0;
				}
				&.btn-round {
					border-color:white;
					@media (max-width:$screen-xs) {
						height: 25px;
						width: 25px;
						svg {
							width: 12px;
							height: 12px;
						}
					}
				}
			}
			.icon {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				&.login {

				}
			}
		}
	}
	.user-img {
		position:relative;
		margin:$gap-xs $gap $gap-xs $gap-md;
		img {
			width:60px;
			height:60px;
			min-width:60px;
			min-height:60px;
			border-radius:50%;
			box-shadow:0 0 0 2px $blue-dk2, 0 0 0 3px white;
			@media (max-width:$screen-sm-ls) {
				width:40px;
				height:40px;
				min-width:40px;
				min-height:40px;
			}
		}
		.notification-count {
			position:absolute;
			left:-15px;
			top:0;
			//background:$brand-primary;
			border-radius:50%;
			height:28px;
			width:28px;
			display:block;
			display:flex;
			justify-content:center;
			align-items:center;
			color:white;
			font-size:12px;
			@include font-semibold;
		}
	}
	.search-btn {
		color:white;
		stroke:currentColor;
		justify-content:center;
		display:flex;
		align-items:center;
		background:none;
		transition:all 0.15s;
		border:1px solid white;
		@media (max-width:$screen-md - 1px) {
			padding:$gap-xs $gap-sm;
			@include font-bold;
			text-transform:uppercase;
		}
		@media (min-width:$screen-md) {
			height:32px;
			width: 32px;
			min-height:32px;
			min-width: 32px;
			border-radius:50%;
		}
		.icon {
			width:14px;
			height:14px;
			// why Salesforce?
			display:flex;
		}
		svg {
			width:14px;
			height:14px;
		}
	}
}

.site-search {
	margin:0 auto 0 0;
	position:relative;
	z-index:50;
	display:flex;
	flex: 1;

	flex-basis:100%;
	@media (min-width:$screen-md) {
		max-width: 500px;
	}
	@media (max-width:$screen-md - 1px) {
		overflow:hidden;
		padding:0;
		height:0;
		visiblity:hidden;
		order:3;
		.search-btn,input,.dropdown {
			display:none
		}
		&.active {
			visibility:visible;
			height:auto;
			padding:$gap-sm $gap;
			.search-btn,input,.dropdown {
				display:block
			}


		}
	}
	@media (max-width:$screen-xs - 1px) {
		flex-wrap:wrap;
	}

	.search-input {
		width:100%;
		stroke:currentColor;
		z-index:2;
		position:relative;
		display:flex;
		align-items:center;
		@media (max-width:$screen-md - 1px) {
			background:white;
		}
		@media (max-width:$screen-xs - 1px) {
			flex-basis:100%;
			margin-bottom:$gap-sm;
		}
		> input {
			background:none;
			-webkit-appearance:none;
			appearance:none;
			border:0;
			border-bottom:1px solid white;
			border-radius:0;
			height:32px;
			color:white;
			@include font-semibold;
			&::selection{
				color: white;
				background: #d8edff;
			}
			@media (min-width:$screen-sm) {
				min-width:300px;
			}
			&:focus,&:active {
				background:none;
				-webkit-appearance:none;
				appearance:none;
				outline:none;
				box-shadow:none;
			}
		}
		::-webkit-input-placeholder {
			@media (min-width:$screen-md) {
				color:white;
			}
		}
	}
	.search-filters {
		flex:1;
		min-width:140px;
		margin-right:$gap-sm;
		@media (min-width:$screen-xs) {
			max-width:180px;
		}
		@media (min-width:$screen-xs) {
			margin-left:$gap-sm;
		}
		@media (max-width:$screen-xs - 1px) {
			margin-left:0;
		}
		&.dropdown {
			background:none;
			input[type="checkbox"] {
				&:checked {
					+ label .title {
						//background:#4D687F;
						border-color:white;
					}
					~ .dropdown-items {
						margin-top:-2px;
						border-radius:0;
						background:#007DBC;
						border:0;
						border-radius:0 0 3px 3px;
						border-top:1px solid white;
						//padding:0;

					}
				}
				&:focus {
					+ label {
						> .title {
							background:#007DBC;
							border-color:white;
						}
					}
				}
			}
			button {
				text-align:left;
				padding:$gap-xs $gap-sm !important;
				background:transparent;
				color:white;
				line-height:1.8;
				font-size:14px;
				@include font-semibold;
				border-radius:0;
				display:flex;
				align-items:center;
				&:before {
					content:"";
					background:url('../img/checkbox.svg');
					background-size:cover;
					width:20px;
					height:20px;
					margin-right:$gap-sm;
				}
				+ button {
					margin-left:0;
				}
				&:focus {
					//background:darken($blue,10%);
				}
				&.active {
					&:before {
						background:url('../img/checkbox_checked.svg');
					}
				}
			}
			label {
				stroke:white;
				border:0;
				> .title {
					border-radius:0;
					font-size:14px;
					@include font-semibold;
					height:32px;
					color:white;
					//background:rgba(white,0.15);
					border:1px solid white;
					border-radius:$border-radius;
				}
			}
		}
	}
}




$red-stop1: #EA053B;
$red-stop2: #880011;

.badge {
	&.red {
		background-image:radial-gradient(circle at top left,$red-stop1,$red-stop2);
	}
}
