.content-wrapper {
	min-height:calc(100% - 125px);
	position:relative;
	//z-index:5;
}

.page {
	//max-width:1400px;
	margin:0 auto;
	position:relative;
	@media (max-width:$screen-sm-min) {
		margin:0;
	}
	@media (min-width:$screen-sm) {
		display:flex;
		width:100%;
		height:100%;
		flex:1;
		.sidebar.left {
			order:1;
		}
		.sidebar.right {
			order:5;
		}
		.content {
			order:4;
			width:100%;
			overflow:auto;
			flex:1;
		}
		#nav-shrink {
			order:-1;
		}
		label[for="nav-shrink"] {
			order:-2;
			display:block;
		}
	}
}

.page-content {
	padding:$gap-md $gap $gap-lg * 2;
	position:relative;
	width:100%;
	z-index:2;
	.block {
		&:not(.reset) {
			padding:0 $gap-sm;
		}
	}

}

.max-container {
	max-width:1155px;
	margin:0 auto;
	width:100%;
}

.item-group {
	margin-bottom:$gap-md;
}

.page-header {
	position:relative;
	@media (min-width:$screen-md) {
		margin-bottom:$gap;
		display:flex;
		flex-wrap:wrap;
	}
	&.vertical {
		flex-direction:column;
	}
	.description {
		margin-top:$gap-xs;
		flex-basis:100%;
		@media (min-width:$screen-sm) {
			padding-right:$gap-lg;
		}
		@media (max-width:$screen-md - 1px) {
			margin-bottom:$gap;
		}
		p {
			max-width:800px;
			&:not(:last-of-type) {
				margin:$gap-sm 0;
			}
		}
	}
	&.has-icon {
		stroke:currentColor;
		> div:first-of-type {
			display: flex;
			align-items:flex-start;
		}
		.icon {
			position:relative;
			margin-right:$gap-sm + $gap-xs;
			&.lg {
				top:5px;
				width:30px;
				height:30px;
			}
		}
		.dropdown .icon {
			margin-right:0;
		}
	}
	&.has-controls {
		> .icon {
			width:30px;
			height:30px;
		}
		@media (max-width:$screen-sm - 1px) {
			.icon.lg{
				align-self: flex-start;
			}
		}
		.controls {
			justify-content:flex-end;
			@media (min-width:$screen-sm) {
				margin-left:auto;
				display:flex;
				align-items:center;
				> .title {
					margin-right:$gap-sm;
					font-size:16px;
					//color:$brand-primary;
				}
			}
			@media (max-width:$screen-sm-min) {
				margin:$gap-sm 0;
			}
			.slds-form-element__label {
				display:none;
			}
		}
	}
	h1 {
		margin:0;
		line-height:1.1;
		@include font-bold;
		font-size:28px;
		@media (min-width:$screen-md) {
			font-size:34px;
		}
	}
	.ui-widget {
		width:100%;
	}
}

.page-intro {
	margin-bottom:$gap;
}

.page-section {
	.page-title,.slds-text-heading--medium {
		font-size:24px;
		@include font-bold;
	}
	&.has-controls {
		display:flex;
		position:relative;
		flex-wrap:wrap;

		@media (max-width:$screen-sm-min) {
			flex-direction:column;
		}
		.slds-form-element + .dropdown {
			@media (min-width:$screen-sm) {
				margin-left:$gap-sm;
			}
		}
		.controls {
			justify-content:flex-end;
			@media (min-width:$screen-sm) {
				margin-left:auto;
				display:flex;
				align-items:center;
				> .title {
					margin-right:$gap-sm;
					font-size:14px;
					@include font-semibold;
				}
			}
			@media (max-width:$screen-sm-min) {
				margin:$gap-sm 0;
			}
			.slds-form-element__label {
				display:none;
			}
		}

	}
	.toolbar {
		display:flex;
		flex-basis:100%;
		padding:$gap-xs $gap-sm;
		margin-top:$gap-sm;
		//background:$blue-lt;
		@include font-semibold;
	}
}

.section-footer {
	margin-bottom:$gap-md;
	padding-bottom:$gap;
	//border-bottom:1px solid #ddd;
	display:flex;
}

.controls.flex {
	display:flex;
	@media (min-width:$screen-sm) {
		.right {margin-left:auto}
		.btn-bs {
			min-width:60px;
			+ .btn-bs {
				margin-left:$gap-sm;
			}
		}
	}
	@media (max-width:$screen-sm-min) {
		flex-direction:column;
	}
}


.flex {
	&.sm {
		@media (min-width:$screen-sm) {
			display:flex;
		}
	}
	&.md {
		@media (min-width:$screen-md) {
			display:flex;
		}
	}
	&.lg {
		@media (min-width:$screen-lg) {
			display:flex;
		}
	}
	&.all {
		display:flex;
	}

}



.bordered {
	border:1px solid #eee;
	border-radius:$border-radius-lg;
	padding:$gap;
}

ul.bordered {
	padding:$gap $gap ($gap-sm - 2px) $gap-lg;
	margin:$gap 0;
}

.slds-xlarge-size--1-of-2 {
	width:100%;
	@media (min-width:76em) {
		width:50%;
	}
}

.slds-xlarge-size--1-of-3 {
	width:100%;
	@media (min-width:76em) {
		width:33.333%;
	}
}
