$sidebar-header-height: 220px;


.sidebar {
	@media (min-width: $screen-lg) {
		display:flex;
		flex-direction:column;
	}
	&.right {
		border-radius:3px;
		background:white;
		@media (min-width:$screen-sm) {
			width:260px;
			min-width:260px;
			margin-left:$gap-sm;
		}
		@media (min-width:$screen-lg) {
			width:300px;
			min-width:300px;
			margin-left:$gap;
		}
		.user-heading {
			background:#EEF8FF;
			padding:$gap-sm 0 $gap-xs;
			border-radius:3px 3px 0 0;
			position:relative;
			display:flex;
			flex-direction:column;
			align-items:center;
			margin-bottom:$gap;
			.btn-block {
				position:relative;
				width:calc(100% - 40px);
				top:$gap;
			}
			.user-photo {
				margin-top:$gap-sm;
			}
			.btn-edit {
				position:absolute;
				right:20px;
				top:$gap-md;
			}
		}
		.block {
			&.has-bg {
				background:white;
				border-radius:3px 3px 0 0;
			}
			.icon-link {
				margin-bottom:$gap-sm;
				word-break: break-all;
				line-height:1.1;
			}
		}
	}
	.program-information {
		margin-top:$gap-xs;
		position:relative;
		z-index:5;
		padding:$gap $gap $gap $gap-md;
		.title {
			margin-bottom:$gap;
		}
		.heading {
			@include font-semibold;
			text-transform:uppercase;
			line-height:1;
			font-size:12px;
		}
		.result {
			font-size:18px;
		}
	}
}

.sidebar-heading {
	color:white;
	padding:$gap-md 0 $gap;
	.brand-logo {
		position:relative;
		z-index:2;
		max-width:100%;
		display:block;
		padding:$gap $gap 0 $gap;
		img {
			@include drop-shadow(0 2px 0 rgba(black,0.2));
		}
	}
	.title {
		font-size:22px;
		line-height:1;
	}
}

.mission-statement {
	padding:$gap $gap-md $gap-md $gap-md;
	@include font-semibold;
	font-style:italic;
}

.sidebar-nav {
	display:flex;
	flex-direction:column;
	min-height:300px;
	> a {
		display:flex;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		&:hover,&:focus,&:active {
			text-decoration:none;
		}
	}
	.name {
		font-size:18px;
		display: flex;
		align-items:center;
		transition:all 0.15s;
	}
	&.alt {
		> a {
			color:white;
			&:hover,&:focus,&:active {
				background:rgba(white,0.15);
			}
			&.active {
				background:white;
				//color:$blue;
			}
		}
	}
}

