block variables
  include ../../../modules/input-edit.pug
  - var portalName = "alumni"
  - var userFirstName = "Henry"
  - var userMiddleName = "Almaguer"
  - var userLastName = "Kamph"
  - var userNickname = "Vitae officiis, laborum asperiores"

  block PrimaryNavigation
    - var PrimaryNavItems = [{'url':'directory-faculty','title':'Faculty Directory', 'img':'nav-alumni','key':'directory-faculty'},{'url':'directory-alumni','title':'Alumni Directory', 'img':'nav-alumni','key':'directory-alumni'},{'url':'directory-career','title':'Career Network', 'img':'nav-career','key':'directory-career'}];
  block SecondaryNavigation
    - var SecondaryNavItems = [{'url':'giving','title':'Giving', 'img':'nav-alumni','key':'giving'},{'url':'volunteer','title':'Volunteer', 'img':'nav-alumni','key':'volunteer'},{'url':'memberships','title':'Memberships', 'img':'nav-alumni','key':'memberships'},{'url':'calendar','title':'Calendar', 'img':'nav-alumni','key':'calendar'},{'url':'class-notes','title':'Class Notes', 'img':'nav-alumni','key':'class-notes'},{'url':'resources','title':'Resources', 'img':'nav-alumni','key':'resources'}];

block user
  a.messages(href="views/alumni/messages.html")
    +svg("img/navs/alumni/messages.svg", "Messages")
    .circle
      span.number 2

  nav.user-nav
    +user-dropdown("user-dropdown", "user-dropdown", "demo/user-alumni.jpg", "Henry Almaguer Kamph", "warning", "hold")
      a(href="views/alumni/profile-edit.html") My Profile
      a(href="views/alumni/messages.html") My Messages
      a(href="views/alumni/documents.html") My Documents
      hr
      a(href="views/student/dashboard.html") Student
      a(href="views/faculty/dashboard.html") Faculty
      hr
      a(href="index.html") Logout


block community-modals
