include ../../../partials/collapse-sidebar.pug
.sidebar.left.slds-max-medium-hide
  .sidebar-heading
    a.brand-logo(href="index.html")
      img.expanded(src="img/logo_Georgetown360.png", alt="Georgetown 360")
      img.collapsed(src="img/logo_Georgetown360_abbrev.svg", alt="Georgetown 360")

  nav.block.nav.sidebar-nav
    include ../../../partials/primary-nav-links.pug
    hr
    - var NavItemID = "desktop"
    include ../../../partials/secondary-nav-links.pug
