block variables
  - var portalName = "faculty"
  block PrimaryNavigation
    - var PrimaryNavItems = [{'url':'directory-faculty','title':'Faculty Directory', 'img':'nav','key':'directory-faculty'},{'url':'directory-alumni','title':'Alumni Directory', 'img':'nav','key':'directory-alumni'}];
  block SecondaryNavigation
    - var SecondaryNavItems = [{'url':'dashboard','title':'Dashboard', 'img':'nav','key':'dashboard'},{'url':'profile','title':'My Profile', 'img':'nav','key':'profile'}];

block mobile-search
  .mobile-search
    +svg-sprite("img/sprites/base.svg", "search", "", "Search")

block site-search
  .site-search
    .search-input
      label.slds-assistive-text(for="search-input") Search
      input#search-input.slds-input(type='text', placeholder='Search')
    .search-filters.dropdown.has-caret
      input(type="checkbox", name="search-filter-dropdown", id="search-filter-dropdown")
      label(for="search-filter-dropdown")
        .title 1 Selected
        +svg-sprite("img/sprites/base.svg", "arrow-sort", "", "")
      .dropdown-items
        button.slds-button.slds-button--neutral.btn-reset.btn-reset.filter-opt Faculty
        button.slds-button.slds-button--neutral.btn-reset.btn-reset.filter-opt Classes
        button.slds-button.slds-button--neutral.btn-reset.btn-reset.filter-opt Publications
        button.slds-button.slds-button--neutral.btn-reset.btn-reset.filter-opt Expertise
    a.btn-reset.search-btn(href="views/faculty/search-results.html")
      .hidden-xs.hidden-sm
        +svg-sprite("img/sprites/base.svg", "search", "", "Search")
      .visible-xs.visible-sm Find

block user
  nav.user-nav
    +user-dropdown("user-dropdown", "user-dropdown", "demo/user_blank.jpg", "Tony Montemorano", "success", "")
      //a(href="views/student/profile.html") Profile
      //a(href="views/student/documents.html") Documents
      //hr
      a(href="views/student/documents.html") Student
      a(href="views/alumni/giving.html") Alumni
      hr
      a(href="views/faculty/directory-faculty-login.html") Logout


block community-modals
