.page-header.vertical
  .greeting.txt-lg.txt-gray Welcome Back
  .edit-block(tabindex="0")
    .read.update-block
      h1.slds-text-heading--large.slds-m-bottom--x-small Michael Montgomery
      .icons
        +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
    .edit.slds-hide
      .item
        fieldset
          legend.slds-m-bottom--x-small(for="display_name") Choose your display name
          div.slds-m-bottom--x-small
            +radio("", "legal_name", "display_name", "", "Michael Montgomery (Legal)")(checked="checked")
          div.slds-m-bottom--x-small
            +radio("", "preferred_name", "display_name", "", "Mike Montgomery (Preferred)")
      .controls.flex
        .right
          +btn-action("btn-update btn-cancel", "", "Cancel", "#!", false, "img/sprites/base.svg", "cancel", "", "cancel")
          +btn-action("btn-update btn-save", "", "Save", "#!", false, "img/sprites/base.svg", "save", "", "save")

  .position Professor of Business Administration
  .edit-block(tabindex="0")
    .read.update-block
      .role#role01txt Sample School Professor of Business Administration and Professor of Finance
      .role#role02txt Director, Georgetown Center for Financial Markets and Policy
      .icons
        +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
    .edit.slds-hide
      .item
        +input-text("gu-form-group", "slds-input-has-icon slds-input-has-icon--right", "role01input", "Add your roles", "")(value="Sample School Professor of Business Administration and Professor of Finance Director, Georgetown Center for Financial Markets and Policy")
          svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
            use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
      .controls.flex
        .right
          +btn-action("btn-update btn-cancel", "", "Cancel", "#!", false, "img/sprites/base.svg", "cancel", "", "cancel")
          +btn-action("btn-update btn-save", "", "Save", "#!", false, "img/sprites/base.svg", "save", "", "save")
hr
