+modal-default("add-user", "Add a new user", "add-user")
  .slds-modal__content.slds-p-around--medium
    .slds-grid.slds-wrap.slds-grid--pull-padded
      .slds-p-horizontal--small.slds-size--1-of-2
        +input-text("gu-form-group", "add-user_first-name", "", "text", "", "First Name", "")
      .slds-p-horizontal--small.slds-size--1-of-2
        +input-text("gu-form-group", "add-user_last-name", "", "text", "", "Last Name", "")
    .slds-grid.slds-wrap.slds-grid--pull-padded
      .slds-p-horizontal--small.slds-size--1-of-2
        +input-text("gu-form-group", "add-user_email", "", "text", "", "Email", "")
      .slds-p-horizontal--small.slds-size--1-of-2
        +input-text("gu-form-group", "add-user_phone", "", "text", "", "Phone Number", "")
    hr.slds-m-top--none
    .slds-modal__footer
      button.btn-bs.slds-button.slds-button--neutral.btn-close-modal Cancel
      button.btn-bs.slds-button.slds-button--brand.btn-close-modal Add User

script.
  $('.btn-add-user').click(function () {
    $("[aria-labelledby='add-user']").addClass('slds-fade-in-open');
    $("[aria-labelledby='add-user'] + .slds-backdrop").addClass('slds-backdrop--open');
  });
