+modal-default("welcome-modal", "Welcome to Georgetown University!", "welcome-modal")
  .slds-modal__content.slds-p-around--large
    p.txt-intro Illo facere atque doloremque iusto. Mollitia nihil maxime officia adipisci similique aperiam, veniam obcaecati ab.
    p.slds-m-bottom--large Deleniti maxime fugit alias, earum expedita molestiae eius qui fugiat labore eos non repellendus enim, consectetur! Hic quidem nobis eos?
    +checkbox("gu-form-group", "remember-me", "remember-me", "", "Remember me")
    .slds-modal__footer
      button.btn-bs.slds-button.slds-button--brand.btn-close-modal Go to my dashboard now

script.
  // Show the modal on page load
  $(document).ready(function() {
    $("[aria-labelledby='welcome-modal']").addClass('slds-fade-in-open');
    $("[aria-labelledby='welcome-modal'] + .slds-backdrop").addClass('slds-backdrop--open');
  });
