.THIS {
  width:100%;
}
.THIS .gu-select {
  width: 100%;
  display: block;
}

.THIS .gu-select .uiInput {
  width:100%;
  display:flex;
}

.THIS .gu-select .uiInput > label {
  width: 90px;
  min-width: 90px;
  padding-top: 0.5rem;
  color: #0A427A;
  margin-bottom: 0;
  line-height: 16px;
  font-size: 0.857rem;
  font-weight: 600;
  margin-right: .75rem;
}

.THIS .gu-select .uiInput > label .required {
  color:#d9534f;
}

.THIS .gu-select select {
  min-height:32px;
}

.THIS.is-required .required {
  display:none;
}

.THIS.is-required .form-element__label {
  font-weight:500 !important;
  line-height:1;
}
.THIS.is-required .form-element__label:after {
  content: "*";
  color: #d9534f;
  font-size: 1.25rem;
}