.THIS.reset .icon-block {
  margin-top:0;
}
.THIS .ladsIcon svg {
  fill : #0e4876; 
  background-color: white;
 
}
.THIS .slds-icon-standard-reward {
    background-color: white;
}
.THIS .slds-icon-standard-skill {
    background-color: white;
}
.THIS.reset .icon-block .heading .title {
  font-weight: 700;
  font-size: 1.571rem;
}

.THIS.top-md .icon-block {
  margin-top:24px;
}
.THIS.card-content.box .icon-block {
  margin:0;
  padding:20px;
}

.THIS.reset-list {
  padding-left: 36px;
  padding-right: 36px;
}

.THIS.reset-list .icon-block {
  margin-top:0;
  margin-bottom:36px;
}

.THIS.reset-list .icon-block .heading .title {
  font-size:1.3rem;
  line-height:14px;
  font-weight:400;
}

.THIS.reset .icon-block .heading::before,
.THIS.reset-list .icon-block .heading::before {
  background:transparent;
}

.THIS .checks-horizontal, .THIS .checkbox-group-horizontal {
  padding-top:6px;
}

.THIS .hideMe {
  display: none !important;
}

.THIS .control-block + div {
  width:100%;
}