//-- Selectors from _header.scss
.site-search {
	@include student {
		display: none;
	}
	@media (max-width: 1023px) {
		background: $blue;
	}
	.search-filters.dropdown button:focus {
		background: darken($blue, 10%);
	}
	.search-filters > label:before {
		@media (max-width: $screen-sm-ls) {
			@include faculty {
				content: "";
			}
		}
	}
	.search-btn {
		&:hover, &:focus {
			background: $blue;
		}
	}
}

//-- from base/selectors.scss
body {
	@include faculty {
		background-color: $blue-dk2 !important;
		background-image: url('../img/menu_bg.jpg') !important;
		background-repeat: no-repeat !important;
		background-position: -21px -86px !important;
		background-size: 509px 598px !important;
	}
	@include student {
		background-color: #FAFAFA !important;
		@media (max-width: $screen-sm-ls - 1px) {
			background-color: $blue;
		}

	}
	@include alumni {
		background: $body-bg !important;
	}
}

.gu-header {
	@include faculty {
		@media (min-width: $screen-md) {
			min-height: 125px;
		}
		@media (max-width: $screen-sm-ls - 1px) {
			background-color: $blue-dk2;
		}
	}
	@include student {
		padding-left: $gap-xs;
		@media (max-width: $screen-sm-ls - 1px) {
			padding-left: 60px;
			height: 65px;
		}
	}
	@include alumni {
		padding-left: $gap-xs;
		@media (max-width: $screen-sm-ls - 1px) {
			padding-left: 60px;
			height: 65px;
		}
	}
	.dropdown {
		.dropdown-items {
			@media (max-width: $screen-sm-ls - 1) {
				min-width: 180px;
				right: 0;
			}
		}
	}
	.detail {
		@include student {
			.status {
				text-transform: uppercase;
				font-weight: 800;
				font-size: 14px;
				&.success {
					color: $success;
				}
			}
		}
	}
	.user-nav {
		@include faculty {
			margin-left: auto;
		}
	}
	.user-nav .dropdown {
		.detail {
			@media (max-width: $screen-sm-min) {
				display: none;
			}
			@include faculty {
				top: initial;
			}
		}

	}
	.user-nav .user-photo {
		@media (max-width: $screen-sm-min) {
			margin-right: 0;
		}
	}
}

a {
	@include faculty {
		color: #6BA4CD;
	}
	@include student {
		color: $blue;
	}
}

h2 {
	@include faculty {
		color: $blue-dk;
	}
	@include student {
		color: $blue-dk;
	}
	@include alumni {
		color: $blue-dk;
	}
}

.slds-form-element__label {
	color: $form-label-color;
}

.btn-bs {
	&.slds-button--brand {
		background: $blue-dk;
		color: white;
		border: 1px solid $blue-dk;
		&:hover, &:focus, &:active {
			background: $brand-primary;
			border: 1px solid $brand-primary;
		}
	}
	&.slds-button--brand-secondary {
		background: $blue;
		color: white;
		border-color: $blue;
		&:hover, &:focus, &:active {
			background: darken($blue, 10%);
		}
	}
	&.slds-button--neutral {
		background: white;
		border: 1px solid $brand-primary;
		color: $brand-primary;
		&.btn-wired{
			background-color: transparent;;
			color: white;
			border-color: white;
			&:hover, &:focus, &:active {
				color: $blue;
				background-color: white;
			}
		}
		&.muted {
			border-color: $gray-lt;
			color: $gray-md;
		}
		&:hover, &:focus, &:active {
			background: #eee;
		}
	}
	&.btn-default-lt {
		background: white;
		border: 2px solid $border-lt;
		color: $text-light;
		&:hover, &:active, &:focus, &.active {
			border-color: $blue;
			color: $text-medium;
		}
	}

	&.btn-round {
		border: 1px solid $blue;
		stroke: currentColor;
		&:hover, &:focus, &.active {
			background: $blue;
			stroke: white;
		}
	}
}

.btn-add {
	@include faculty {
		background: none;
	}
	@include student {
		stroke: $blue;
		background: none;
	}
	&:hover {
		border-color: $blue-dk;
		stroke: $blue-dk;
	}
}

.btn-next {
	font-size: 16px;
	stroke: $blue;
	.icon {
		border: 2px solid rgba($blue, 0.2);
	}
	&:hover .icon {
		border-color: $blue;
	}
}

.btn-action {
	&.btn-save {
		color: darken($success, 10%);
	}
	&.btn-remove {
		color: rgba($danger, 0.7);
		&:hover {
			color: $danger;
		}
	}
	&.btn-cancel {
		color: $gray-md;
	}
}

//-- from layout/page.scss
.page {
	@include faculty {
		@media (max-width: 1023px) {
			background: $body-bg;
		}
	}
}

.page-content {
	@include faculty {
		background: white;
		box-shadow: 0 0 10px rgba(black, 0.1);
		border-radius: 3px 3px 0 0;
		@media (min-width: $screen-md) {
			padding-left: $gap-md;
			padding-right: $gap-md;
		}
	}
	@include student {
		@media (min-width: $screen-md) {
			padding-top: $gap-sm;
		}
	}
	@include alumni {
		padding: $gap $gap 0 $gap;
		@media (min-width: $screen-md) {
			padding-top: $gap-sm;
			padding-left: 0;
		}
	}
	.dropdown {
		&.dropdown-default .title{
				background-color: #FBFBFB;;
				color: $blue;
				box-shadow: 0 2px 0 0 #E4E4E4;
		}
		> label .title {
			@include student {
				background: $green-lt;
				border-radius: $border-radius-lg;
				border: 0;
				height: 30px;
				padding-left: $gap;
				@include font-semibold;
				box-shadow: 0 3px 0px 0px $green;
				color: white;
			}
		}
		&.dropdown-default {
			@include student {
				> label {
					.icon {
						stroke: $blue;
					}
				}
				.title {
					background-color: #FBFBFB;;
					color: $blue;
					box-shadow: 0 2px 0 0 #E4E4E4;
				}
			}
		}
		> label .icon {
			@include student {
				stroke: white;
			}
		}
		input[type="checkbox"]:checked + label .title {
			@include student {
				border-radius: $border-radius-lg $border-radius-lg 0 0;
			}
		}
		.dropdown-items {
			@include student {
				background: white;
				border-radius: 0 0 20px 20px;
				top: 28px;
				padding-top: 0;
				padding-bottom: 0;
				> a:last-of-type {
					border-radius: 0 0 20px 20px;
				}
			}
		}
	}
}

.max-container {
	@include alumni {
		height: 100%;
		position: relative;
	}
	@include student {
		height: 100%;
		position: relative;
	}
}

.page-body {
	@include alumni {
		//border-radius: $border-radius $border-radius 0 0;
		//&:before {
		//	content: "";
		//	position: absolute;
		//	height: 40%;
		//	background: white;
		//	width: 100%;
		//	z-index: -1;
		//	top: 220px;
		//}
		//&:after {
		//	content: "";
		//	position: absolute;
		//	height: 60%;
		//	background: white;
		//	width: 100%;
		//	bottom: 0;
		//	z-index: -1;
		//}
	}
}

.page-section {
	@include faculty {
		&.has-controls {
			.dropdown {
				min-width: 220px;
			}
		}
	}
	@include student {
		&.section-alt {
			.card {
				border-top: 0;
				border-bottom: 0;
				box-shadow: none;
				border-radius: 0;
			}
		}
	}
	.page-title {
		@include faculty {
			color:$blue-dk;
		}
	}
}

.page-header {
	@include faculty {
		h1 {
			color: $blue-dk2;
		}
	}
	@include student {
		@media (max-width: $screen-sm-ls) {
			margin-top: 0;
		}
		@media (min-width:$screen-md) {
			padding:0 $gap;
		}
	}
	@include alumni {
		@media (max-width: $screen-md - 1px) {
			padding: 0;
		}
		@media (min-width: $screen-md) {
			color: white;
			padding: 0 $gap;
		}
	}

	&.has-controls .controls > .title {
		@include font-semibold;
		font-size: 14px;
		@include faculty {
			@media (min-width: $screen-sm) {
				color: $brand-primary;
			}
		}
		@include student {
			@media (min-width: $screen-sm) {
				color: white;
			}
		}
		@include alumni {
			@media (min-width: $screen-sm) {
				color: white;
			}
		}
		.page-section.has-controls .controls > .title {
			color: white;
			display: block;
			@include font-semibold;
		}

		&.has-controls {
			@media (min-width: $screen-md - 1) {
				.controls {
					.title {
						color: white;
					}
				}
			}
		}

		&.page-section.has-controls {
			.controls {
				min-width: 330px;
				@media (max-width: $screen-sm - 1px) {
					min-width: 0;
				}
			}
			.controls > .title {
				display: none;
				@media (min-width: $screen-sm-ls) {
					color: white;
					display: block;
					@include font-semibold;
				}
			}
		}
	}
	&.has-icon {
		@include student {
			@media (min-width: $screen-sm-ls) {
				color: white;
			}
		}
	}
	.icon.lg {
		@include alumni {
			@include drop-shadow(1px 0 2px darken($blue-dk, 10%));
		}
	}
	h1 {
		@include student {
			@media (min-width: $screen-sm-ls) {
				color: white;
			}
		}
	}
	p {
		max-width: 800px;
		@include student {
			@media (min-width: $screen-sm-ls) {
				color: white;
			}
		}
	}
	&.page-section.has-controls {
		.controls {
			@include student {
				min-width: 330px;
			}
			> .title {
				display: block;
				//@include font-semibold;
				@media (max-width: $screen-sm - 1px) {
					margin-bottom: 5px;
				}
				@media (min-width: $screen-sm-ls) {
					display: block;
				}
				@include student {
					@media (min-width: $screen-md - 1px) {
						color: white;
					}
				}
			}
		}
		.profile-header .controls {
			min-width: 0;
		}
	}
}

.card-content.box {
	@include student {
		@media (min-width: $screen-md) {
			margin-left: $gap;
			margin-right: $gap;
		}
		@media (max-width: $screen-md - 1px) {
			border: 0;
		}
	}
	@include alumni {
		@media (min-width: $screen-md) {
			margin-left: $gap;
			margin-right: $gap;
		}
		@media (max-width: $screen-md - 1px) {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-top: 0;
		}
	}
	> .name {
		@include student {
			padding-top: $gap-md;
			padding-left: $gap-md;
		}
		@include alumni {
			padding-top: $gap-md;
			padding-left: $gap-md;
		}
	}
}

.box {
	margin-bottom: $gap;
	@include student {
		border: 1px solid #eee;
		border-radius: 15px;
	}
	@include alumni {
		border: 1px solid #eee;
		border-radius: 15px;
	}
}

.content-wrapper {
	@include faculty {
		@media (min-width: $screen-sm) {
			padding-right: $gap-sm;
		}
		@media (min-width: $screen-lg) {
			padding-right: $gap;
		}
	}
	@include alumni {
		min-height: calc(100% - 90px);
	}
}

.site-search {
	@include student {
		display: none;
	}
	.search-filters > label:before {
		@media (max-width: $screen-sm-ls) {
			@include faculty {
				content: "";
			}
		}
	}
}

.list-row {
	.label-card {
		.icon {
			color: $blue;
		}
	}
}

//-- Selectors from _sidebar.scss
.sidebar {
	@include alumni {
		@media (min-width: $screen-sm) {
			width: 300px;
			min-width: 300px;
		}
	}
	&.left {
		@include faculty {
			background-color: none;
			transition: all 0.15s cubic-bezier(.27, .55, .37, .75);
			@media (min-width: $screen-sm) {
				width: 250px;
				min-width: 250px;
			}
		}
		@include student {
			@media (min-width: $screen-sm) {
				width: 300px;
				min-width: 300px;
			}

		}
		@include alumni {
		}
		hr {
			@include faculty {
				background-color: rgba(white, 0.2);
				margin-left: $gap;
				margin-right: $gap;
			}
			@include alumni {
				background-color: rgba(white, 0.2);
			}
		}
		.block.nav {
			@include student {
				padding-top: 0;
			}
		}
	}
	.program-logo {
		@include student {
			position: relative;
			z-index: 5;
			text-align: center;
			padding: $gap-sm $gap 0 $gap-md;
		}
		@include alumni {
			position: relative;
			z-index: 5;
			text-align: center;
			padding: $gap-sm $gap 0 $gap;
		}
		h3 {
			@include student {
				border-top: 1px solid rgba(white, 0.5%);
				border-bottom: 1px solid rgba(white, 0.5%);
				padding: $gap-xs 0;
			}
			@include alumni {
				border-top: 1px solid rgba(white, 0.5%);
				border-bottom: 1px solid rgba(white, 0.5%);
				padding: $gap-xs 0;
			}
		}
	}
	.program-information {
		@include student {
			margin: auto $gap-md $gap;
			background: white;
			border-radius: $border-radius-md;
			box-shadow: $default-box-shadow;
		}
		@include alumni {
			margin-top: auto;
		}
	}
}

.sidebar-nav {
	background: none;
	&.alt > a.active {
		color: $blue;
	}
	> a {
		@include faculty {
			stroke: currentColor;
			padding: ($gap-sm + $gap-xs) $gap;
			color: white;
			&:hover, &:focus, &:active {
				color: white;
				background: rgba(white, 0.3);
			}
			&.active {
				border-left-color: $red;
				background: white;
				color: $blue-dk2;
			}
		}
		@include student {
			padding: $gap-sm $gap;
			margin: $gap-xs 0;
			color: $blue-dk2;
			&:hover, &:focus, &:active {
				color: $blue;
				background: rgba(white, 0.8);
			}
			&.active {
				border-left-color: #BEDCF3;
				background: #BEDCF3;
				color: $blue-dk2;
				border-bottom: 2px solid #A9CBE8;
			}
		}
		@include alumni {
			padding: $gap-sm $gap;
			margin: $gap-xs 0;
			color: white;
			&:hover, &:focus, &:active {
				color: white;
				background: rgba(white, 0.3);
			}
			&.active {
				border-left-color: $blue-dk;
				background: $blue-dk;
				color: white;
				//border-bottom:2px solid $;
			}
		}
	}
}

.sidebar-heading {
	@include faculty {
		@media (min-width: $screen-sm-ls) {
			min-height: $sidebar-header-height + 1px;
			&:before {
				position: absolute;
				left: 0;
				content: "";
				z-index: 2;
				top: 0;
			}
			&:after {
				position: absolute;
				right: 0;
				content: "";
				width: 100%;
				max-height: $sidebar-header-height;
				height: 100%;
				top: 0;
			}
		}
	}
	@include student {
		min-height: $sidebar-header-height;
		&:before {
			position: absolute;
			left: 0;
			content: "";
			background-image: url('../img/student-header.svg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center bottom;
			width: 100%;
			height: $sidebar-header-height;
			z-index: 2;
			top: 0;
		}
		&:after {
			position: absolute;
			right: 0;
			content: "";
			width: 100%;
			background-image: linear-gradient(0, $blue-lt 40%, $blue-dk 100%);
			max-height: $sidebar-header-height;
			height: 100%;
			top: 0;
			z-index: 1;
		}
	}
	@include alumni {
		min-height: $sidebar-header-height;
		&:before {
			position: absolute;
			left: 0;
			content: "";
			background-image: url('../img/alumni-header.svg');
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: center bottom;
			width: 100%;
			height: $sidebar-header-height;
			z-index: 2;
			top: 0;
		}
		&:after {
			position: absolute;
			right: 0;
			content: "";
			width: 100%;
			background-image: linear-gradient(180deg, #0B437C 50%, #185490 60%);
			max-height: $sidebar-header-height;
			height: 100%;
			top: 0;
			z-index: 1;
		}
	}
	.brand-logo {
		@include student {
			text-align: center;
			padding-bottom: $gap-sm;
		}
		@include alumni {
			padding-top: 75px;
			text-align: center;
		}
	}
}

//-- Selectors from _mobile-nav.scss
.mobile-nav {
	@include faculty {
		background-color: darken($blue-dk2, 5%);
	}
	@include alumni {
		background-color: $body-bg;
	}
	a.icon-link {
		@include faculty {
			color: white;
			border-color: rgba(white, 0.3);
			use > svg {
				stroke: white;
			}
			&:hover, &:focus, &:active {
				color: white;
				background: rgba(white, 0.3);
				text-decoration: none;
			}
			&.active {
				background-color: white;
				color: $blue-dk2;
			}
		}
		@include student {
			display: flex;
			&:hover, &:focus, &:active {
				color: $blue;
				background: rgba(white, 0.8);
				text-decoration: none;
			}
			&.active {
				border-left-color: #BEDCF3;
				background: #BEDCF3;
				color: $blue-dk2;
				border-bottom: 2px solid #A9CBE8;
			}
		}
		@include alumni {
			color: white;
			border-color: rgba(white, 0.3);
			&:hover, &:focus, &:active {
				color: white;
				background: rgba(white, 0.3);
				text-decoration: none;
			}
			&.active {
				background: $blue-dk;
				color: white;
			}
		}
	}
}

//-- Selectors from card-person.scss
.directory-item {
	.heading {
		> img {
			border: 4px solid $blue;
		}
		.name {
			color: $blue;
		}
	}
}

tr.directory-item {
	.heading {
		@media (max-width: $screen-sm-min) {
			background: rgba($blue, 0.1);
		}
	}
}

div.directory-item {
	.heading {
		background: rgba($blue, 0.1);
	}
	.btn-bs {
		border-top: 1px solid $blue;
		&:hover, &:focus, &:active {
			background: $blue;
		}
	}
}

.directory-item-group {
	.name {
		font-size: 18px;
		display: flex;
	}
	.description {
		max-width: 400px;
		padding-right: $gap-md;
	}
}

.list-items .card.person {
	.heading {
		@media (max-width: $screen-sm-min) {
			background: rgba($blue, 0.1);
		}
		> img {
			border: 4px solid $blue;
		}
	}
}

//-- Selectors from edit-blocks.scss
.custom-checkbox {
	.read {
		.icons {
			stroke: $blue;
		}
	}
}

.icon-block.has-controls > .heading {
	.title {
		@include faculty {
			color: $blue-dk;
			//font-size: 20px;
		}
	}
}

.facet-grid--two-col .icon-block.has-controls > .heading .title {
	@include faculty {
		color: $blue-dk;
	}
}

.form-group-controls {
	input[type="radio"]:checked + .toggle {
		@include faculty {
			&.globe {
				background: $blue;
				box-shadow: 0 0 0 1px $blue;
			}
			&.internal {
				background: $blue;
				box-shadow: 0 0 0 1px $blue;
			}
			&.private {
				background: $blue;
				box-shadow: 0 0 0 1px $blue;
			}
		}
		@include student {
		}
		@include alumni {
			&.globe {
				background: $blue;
				box-shadow: 0 0 0 1px $blue;
			}
			&.internal {
				background: $blue;
				box-shadow: 0 0 0 1px $blue;
			}
			&.private {
				background: $blue;
				box-shadow: 0 0 0 1px $blue;
			}
		}
	}
	input[type="radio"]:focus + .toggle {
		@include faculty {
			&.globe {
				box-shadow: 0 0 0 2px white, 0 0 0px 4px $blue;
			}
			&.internal {
				box-shadow: 0 0 0 2px white, 0 0 0px 4px $blue;
			}
			&.private {
				box-shadow: 0 0 0 2px white, 0 0 0px 4px $blue;
			}
		}
		@include student {
		}
		@include alumni {
			&.globe {
				box-shadow: 0 0 0 2px white, 0 0 0px 4px $blue;
			}
			&.internal {
				box-shadow: 0 0 0 2px white, 0 0 0px 4px $blue;
			}
			&.private {
				box-shadow: 0 0 0 2px white, 0 0 0px 4px $blue;
			}
		}
	}
}

//-- Selectors from messaging.scss
.message-preview-list .message .message-footer .divider {
				background: rgba($blue, 0.3);
}

//-- Selectors from quick-links.scss
.page-header {
	.quick-links {
		@include alumni {
			min-height:200px;
		}
	}
}
.quick-links {
	.link-list {
		@include student {
			min-width:300px;
			@media (max-width: $screen-md - 1px) {
				margin:$gap 0;
			}
			@media (min-width: $screen-md) {
				margin-left: auto;
				padding-left: $gap;
				margin-top: (-($gap));
			}
		}
		@include faculty {
			width: 100%;
		}
		@include alumni {
			min-width:300px;
			@media (max-width: $screen-md - 1px) {
				margin:$gap 0;
			}
			@media (min-width: $screen-md) {
				margin-left: auto;
				padding-left: $gap;
				margin-top: (-($gap));
			}
		}
	}
	.link-list .icon-block {
		@include student {
			margin: 0;
		}
		@include alumni {
			margin: 0;
		}
	}
	.link-list .icon-block .heading > .title {
		@include student {
			color: white;
			background: none;
			font-size: 24px;
		}
		@include alumni {
			color: white;
			background: none;
			font-size: 24px;
		}
	}
	.link-list .icon-block.has-controls > .heading {
		@include student {
			.controls {
				color: white;
				background: none;
				border-radius: 15px;
				border: 2px solid transparent;
				&:hover {
					border-color: white;
				}
			}
			.title, .controls {
				@media (max-width: $screen-md - 1px) {
					color: $blue;
					background: white;
				}
			}
		}
		@include alumni {
			.controls {
				color: white;
				background: none;
				border-radius: 15px;
				border: 2px solid transparent;
				&:hover {
					border-color: white;
				}
			}
			.title, .controls {
				@media (max-width: $screen-md - 1px) {
					color: $blue;
					background: white;
				}
			}
		}
	}
	.link-list .edit-block .read {
		@include faculty {
			&:hover, &:focus {
				//background: $blue-lt;
				//box-shadow: none;
				padding-left: $gap-sm;
				border-color: darken($blue-lt, 5%);
				.icons {
					color: $blue;
				}
			}
		}
		@include student {
			&:hover, &:focus {
				background: none;
				box-shadow: none;
				padding-left: $gap-sm;
				border-color: rgba($blue,0.5);
				@media (min-width:$screen-md) {
					border-color: white;
				}
				.icons {
					@media (min-width:$screen-md) {
						color: white;
					}
				}
			}
		}
		@include alumni {
			&:hover, &:focus {
				background: none;
				box-shadow: none;
				padding-left: $gap-sm;
				@media (min-width:$screen-md) {
					border-color: white;
				}
				.icons {
					@media (min-width:$screen-md) {
						color: white;
					}
				}
			}
		}
	}

	.link-list .edit-block .read a, .link-list .edit-block .read .slds-text-longform {
		@include faculty {
			color: $blue;
		}
		@include student {
			@media (min-width: $screen-md) {
				color: white;
			}
		}
		@include alumni {
			@media (min-width: $screen-md) {
				color: white;
			}
		}
	}
	.icon-link a {
		@include student {
			width: 90px;
			height: 90px;
			border-width: 1px;
			border-color: lighten($blue-dk, 15%);
			background: #538cb9;
			border: 1px solid rgba(white, 0.5);
			@media (max-width: $screen-sm-ls - 1px) {
				width: 75px;
				height: 75px;
			}
			&:hover, &:focus {
				border-color: white;
				box-shadow: inset 0 0px 1px white;
				background: lighten(#538cb9, 10%);
				transition: all 0.15s;
				@include drop-shadow(1px 1px 3px rgba($blue-dk, 0.3));
			}
		}

		@include faculty {
			width: 94px;
			height: 94px;
			border: 2px solid rgba($blue, 0.2);
			@media (min-width: $screen-sm-ls) {
				width: 104px;
				height: 104px;
			}
			&:hover, &:focus {
				border-color: rgba($blue-dk, 0.5);
			}
		}
		@include alumni {
			width: 90px;
			height: 90px;
			border-width: 1px;
			border-color: lighten($blue-dk, 15%);
			background: #538cb9;
			border: 1px solid rgba(white, 0.5);
			@media (max-width: $screen-sm-ls - 1px) {
				width: 75px;
				height: 75px;
			}
			&:hover, &:focus {
				border-color: white;
				box-shadow: inset 0 0px 1px white;
				background: lighten(#538cb9, 10%);
				transition: all 0.15s;
				@include drop-shadow(1px 1px 3px rgba($blue-dk, 0.3));
			}
		}
	}
	.icon-link .btn-edit-quicklinks {

		@include faculty {
			background: $blue;
			&:focus, &:hover {
				background: $blue-dk;
				stroke: white;
				border-color: transparent;
			}
		}
		@include student {
			background: lighten(#538cb9, 5%);
			span, .icon {
				@include drop-shadow(1px 1px 1px rgba($blue-dk, 0.5));
				margin-right:0;
			}
			&:hover, &:focus {
				border-color: white;
				box-shadow: inset 0 0px 1px white;
				background: lighten(#538cb9, 10%);
				transition: all 0.15s;
			}
		}
		@include alumni {
			background: lighten(#538cb9, 5%);
			span, .icon {
				@include drop-shadow(1px 1px 1px rgba($blue-dk, 0.5));
				margin-right:0;
			}
			&:hover, &:focus {
				border-color: white;
				box-shadow: inset 0 0px 1px white;
				background: lighten(#538cb9, 10%);
				transition: all 0.15s;
			}
		}
	}
	.icon-link img {
		@include student {
			@include drop-shadow(1px 1px 1px rgba($blue-dk, 0.5));
		}
		@include alumni {
			@include drop-shadow(1px 1px 1px rgba($blue-dk, 0.5));
		}
	}
}

//-- Selectors from table.scss
.table-default {
	.t-body {
		.t-body-row {
			.c-body {
				border-bottom: 1px solid rgba($blue, 0.1);
			}
		}
		.btn-bs {
			&:hover, &:focus, &:active {
				background: $blue;
			}
		}
	}
}

//-- Selectors from typography.scss
h3.slds-section__title, .title.slds-section__title {
	color: $blue;
}

//-- Selectors from _media.scss
.social-icons.has-bg > a {
			&:hover, &:focus {
				box-shadow: $box-shadow, 0 0 0 1px $blue;
			}
		}

//-- Selectors from _modals.scss
.gu-modal {
	.slds-modal__header {
		h2 {
			color: $blue;
		}
	}
}

//-- Selectors from _read-more.scss
.read-more {
	.read-more {
		color: $blue;
	}
}

//-- Selectors from builder.scss
.cGU360_GridComponent {
	&.builder-component {
		&:hover {
			border: 1px dotted $blue;
		}
	}
}

//-- Selectors from profile.scss
.gu-profile-item {
	.controls input[type="radio"] {
		&:checked + .toggle {
			@include faculty {
				background: $blue;
				box-shadow: 0 0 0px 2px $blue;
				color: white;
			}
			@include student {
				background: $green;
				box-shadow: 0 0 0px 2px $green;
				color: white;
			}
			@include alumni {
				background: $blue;
				box-shadow: 0 0 0px 2px $blue;
				color: white;
			}
		}
		&:focus + .toggle {
			@include faculty {
				box-shadow: 0 0 0 2px white, 0 0 0px 4px $blue;
				color: white;
			}
			@include student {
				box-shadow: 0 0 0 2px white, 0 0 0px 4px $green;
				color: white;
			}
			@include alumni {
				box-shadow: 0 0 0 2px white, 0 0 0px 4px $blue;
				color: white;
			}
		}
	}
}

.control-input {
	&:hover .slds-input {
			+ .input-status .input-edit {
				color: $blue;
			}
		}

	.slds-input {
		&:focus {
			box-shadow: 0 0 0 1px rgba($blue, 0.55);
			border-color: rgba($blue, 0.5);
		}
		&.unsaved {
			box-shadow: 0 0 0 1px rgba($blue, 0.55);
			border-color: rgba($blue, 0.5);
		}
	}
}

.profile-header {
	@include alumni {
		position: relative;
		min-height: 140px;
		padding-top: 25px;
		@media (max-width: $screen-md - 1px) {
			padding-left: 25px;
			padding-right: 25px;
		}
		@media (min-width: $screen-sm-ls + 1px) {
			> div {
				min-width: inherit;
			}
		}
	}
	.user-photo {
		@include student {
			box-shadow: 0 0 0 1px #EEF8FF, 0 0px 0 4px #EEF8FF, 0 8px 0 0 darken(#E5F2F9, 5%);
		}
		@include alumni {
			box-shadow: 0 0 0 1px #EEF8FF, 0 -1px 0 5px #EEF8FF, 0 6px 0 0 #ddd;
			@media (max-width: $screen-lg - 1px) {
				margin: 0 auto 20px auto;

			}
		}
		.name-wrapper {
			@include student {
				color: white;
				top: -50px;
				position: absolute;
				display: flex;
				align-items: center;
			}
		}
		.alert {
			@include student {
				@media (min-width: $screen-sm-ls - 1px) {
					margin-left: auto;
					.icon svg {
						margin-right: 10px;
					}
				}
			}
		}
		.name {
			@include student {
				margin-right: 10px;
			}
			@include alumni {
				top: -70px;
			}
		}
		.name-block {
			@include alumni {
				width: 100%;
			}
		}
	}
	.profile-change {
		@include alumni {
			@media (min-width: $screen-md) {
				display: flex;
				align-items: flex-start;
				padding-bottom: $gap-md;
				p {
					flex: 1;
				}
				.slds-button {
					margin-left: $gap-lg;
				}
			}
			@media (max-width: $screen-md - 1px) {
				.slds-button {
					margin-top: $gap;
				}
			}
		}
	}
}

.profile-view {
	@include alumni {
		@media (max-width: $screen-md - 1px) {
			.profile-header .slds-grid .slds-col {
				&:last-child {
					order: -2;
					.social-icons.is-end {
						justify-content: center;
					}
				}
			}
		}
	}
	+ .card-group {
		@include alumni {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
}

.profile-edit {
	+ .card-group {
		@include alumni {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
	.profile-summary {
		@include alumni {
			@media (min-width: $screen-md) {
				padding-left: 235px;
			}
		}
	}
	.profile-header {
		@include alumni {
			@media (min-width: $screen-md) {
				padding-left: 235px;
				padding-right: $gap-lg;
			}
		}
	}

	.photo-block {
		@include alumni {
			position: absolute;
			left: $gap;
			top: -70px;
			@media (max-width: $screen-md - 1px) {
				position: static;
				margin-bottom: $gap;
			}
		}

		@include student {
			display: flex;
			align-items: center;
			@media (min-width: $screen-md) {
				order: 2;
				padding-left: $gap-md;
			}
		}
		.controls {
			@include student {
				display: flex;
				flex-direction: column;
				max-height: 160px;
				border-radius: 20px;
				padding: $gap $gap $gap 95px;
				margin: 0 0 0 -80px;
				border: 1px solid darken(#E5F2F9, 5%);
				background: lighten(#E5F2F9, 2.5%);
			}
		}
		.btn-bs {
			@include student {
				max-width: 160px;
				margin-top: 25px;
			}
			@include alumni {
				width: 100%;
				margin-top: $gap-sm;
			}

		}
	}
}

.profile-summary {
	@include alumni {
		align-items: center;
		@media (min-width: $screen-md) {
			padding-left: 235px;
		}
	}
	.summary-content {
		@include alumni {
			width: 100%;
			@media (min-width: $screen-md) {
				display: flex;
				align-items: center;
			}
		}
	}
	.view-profile-btn {
		@include alumni {
			background-color: $green;
			border-color: $green;
			color: white;
			padding-left: $gap-md;
			padding-right: $gap-md;
			&:hover, &:focus {
				background-color: darken($green, 10%);
				border-color: darken($green, 10%);
			}
			svg {
				width: 16px;
				height: 16px;
				fill: currentColor;
				margin-right: $gap-sm;
			}
			@media (min-width: $screen-md) {
				margin-left: auto;
			}
			@media(max-width: $screen-md - 1px) {
				margin-bottom: $gap;
			}
		}
	}

	.name {
		@include alumni {
			@media (max-width: $screen-md - 1px) {
				padding-left: 0;
				padding-bottom: 0;
			}
		}
	}
	.batch-year {
		@include alumni {
			@media (min-width: $screen-md) {
				color: rgba(white, 0.6);
			}
		}
	}
}

@include student {
	.calendar .fc {
		.fc-state-default {
			background-color: lighten($green, 10%);
			color: white;
			box-shadow: 0 2px 0 0 #82B956;
			border: none;
			padding: 0px 20px;
			&:hover, &:focus {
				background-color: $green;
			}
			&.fc-state-active {
				background-color: $green;
				box-shadow: inset 0 2px 0 0 #72A93F;
				&:hover, &:focus {
					background-color: $green;
				}
			}
		}
		.fc-left {
			.fc-state-disabled {
				color: white;
				background-color: lighten($green, 20%);
			}
		}
	}

	.fc-state-default.fc-allCalendarsButton-button {
		background-color: $green-lt;
		color: white;
		&:not(.default) {
			box-shadow: 0 2px 0px 0px $green;
			text-shadow: 0 0 3px $text-color;
		}
		&:hover, &:focus {
			background: $green;
			color: white;
		}
	}
}

.grid-controls {
	@include student {
		background: white;
		border-top-left-radius: $border-radius-lg;
		border-top-right-radius: $border-radius-lg;
		@media (min-width: $screen-sm) {
			padding: $gap;
		}
	}
	@include alumni {
		background: white;
		border-top-left-radius: $border-radius-lg;
		border-top-right-radius: $border-radius-lg;
		@media (min-width: $screen-sm) {
			padding: $gap;
		}
	}
}

.grid-filters {
	@include student {
		background: white;
		@media (min-width: $screen-sm) {
			padding-left: $gap;
			padding-right: $gap;
			border-left: 1px solid #eee;
			border-right: 1px solid #eee;
		}
	}
	@include alumni {
		background: white;
		@media (min-width: $screen-sm) {
			padding-left: $gap;
			padding-right: $gap;
		}
	}

}

.grid-content {
	@include student {
		background: white;
		box-shadow: $default-box-shadow;
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		margin: 0;
		@media (min-width: $screen-sm) {
			padding: 0 $gap $gap;
			border-radius: 0 0 $border-radius-lg $border-radius-lg;
		}
	}
	@include alumni {
		@media (min-width: $screen-sm) {
			padding: 0 $gap;
		}
	}
}

/////// start here

//-- Selectors from _blocks.scss
.block.logo {
	border-top: 1px solid rgba(white, 0.3);
	border-bottom: 1px solid rgba(white, 0.3);
	background: rgba($header-color-stop1, 0.5);
}

.block 	.border-end {
		border-bottom: 2px solid rgba($blue-lt, 0.7);
	}

.txt-block.expandable .more-link {
	color: $blue;
}

//-- Selectors from _collapse.scss
.collapse-block {
	@include student {
		width: auto;
		margin-top: 0;
		&.box {
			padding-top: 0;
			&:not(:last-of-type) {
				margin-bottom: $gap-sm;
			}
		}
	}
	[type="checkbox"] {
		@include faculty {
			&:checked ~ .heading .btn-collapse {
				background: $blue;
				border-color: $blue;
				.icon {
					stroke: white;
				}
			}
		}
		@include student {
			&:checked ~ .collapse-content {
				@include student {
					position: relative;
					top: -10px;
				}
			}
		}
	}
	.btn-collapse {
		@include student {
			stroke: $blue;
		}
		@include faculty {
			border: 1px solid $blue-dk;
			stroke: $blue-dk;
			&:hover {
				border-color: $blue;
				stroke: $blue;
			}
		}

	}
	> .heading {
		@include student {
			height: auto;
			padding: $gap 0;
			margin-left: $gap-md;
			margin-right: $gap-md;
			position: relative;
			.title {
				font-size: 20px;
				@include font-bold;
				color: $blue-dk;
			}
		}
		@include faculty {
			&:before {
				content: "";
				height: 2px;
				width: 100%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				background: rgba($blue, 0.1);
			}
			h3 {
				color: $blue;
				@media(max-width: $screen-sm - 1px) {
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					width: calc(100% - 50px);
				}
			}
		}
	}
	.collapse-content {
		@include student {
			h3 {
				color: $blue;
				@include font-light;
			}
		}
	}
}

//-- Selectors from _collapse.scss
.icon-block.has-controls > .heading:before {
	@include faculty {
		background: rgba($blue, 0.1);
	}
}


.gu-pill {
	@include faculty {
		background: $blue-dk;
		border-color: $blue-dk;
		&:hover {
			background: $blue-dk;
			border-color: $blue-dk;
		}
		> a {
			color: white;
		}
		> a, button {
			&:hover, &:focus {
				color: white;
				text-decoration: none;
			}
		}
		button {
			color: rgba(white, 0.5);
			margin-left: $gap-sm;
		}
	}
}

.btn-success {
	@include alumni {
		border-color: $green;
		color:$green;
		//font-size: 20px;
		padding:$gap-xs $gap;
		&:hover, &:focus {
			background-color: darken($green, 10%);
			border-color: darken($green, 10%);
			color:white;
		}
		.icon {
			margin-left: $gap-sm;
			stroke: currentColor;
		}
		svg {
			width: 16px;
			height: 16px;
			min-width: 16px;
			min-height: 16px;
		}
	}
	&.active {
		background-color: $green;
		color: white;
	}
}

.btn-give {
	@include alumni {
		background-image:url(../img/give.svg);
		background-position:right 20px center;
		background-repeat:no-repeat;
		padding-right:45px;
		background-size:14px;
		&:hover, &:focus {
			background-image:url(../img/give-active.svg);
		}
	}
	&.active {
		background-image:url(../img/give-active.svg);
	}
	&.btn-lg {
		background-size:16px;
	}
}

.btn-pill {
	@include font-bold;
	&:hover, &:focus {
		text-decoration: none;
	}
	&.btn-default {
		border: 2px solid rgba($blue, 0.2);
		background: white;
		color: $blue;
		&:hover {
			background: $blue;
			color: white;
			border-color: $blue;
		}
	}
	@include student {
		background: $green-lt;
		color: white;
		margin-bottom: $gap-xs;
		&:not(.btn-default) {
			box-shadow: 0 2px 0px 0px $green;
			text-shadow: 0 0 3px $text-color;
		}
		&:hover, &:focus {
			background: $green;
			color: white;
		}
	}
}

//-- Selectors from _collapse.scss

.load-more button {
		color: $blue;
		border-top: 1px solid $border-lt;
	}


//-- Selectors from _dropdown.scss

.dropdown .dropdown-items { 		box-shadow: 0 3px 6px rgba(black, 0.05), 0 3px 6px rgba(black, 0.15);
	background: white;
	border: 1px solid #ddd;
}

.dropdown .dropdown-items > a{
	color: #444;
}

.dropdown .dropdown-items > a:hover{
	background: #eee;
}

.dropdown .dropdown-items > a{
	&:focus, &:active, &.active {
		background: $blue;
		color: white;
	}
}

.dropdown label{stroke: $blue;}
.dropdown label > .title{
	border: 1px solid #ccc;
	color: $blue-dk;
	@include alumni {
		border: 1px solid $blue;
		color: $blue;
		@include font-semibold;
		height: 34px;
	}
}

.dropdown 	input[type="checkbox"]:checked + label{
		 color: $brand-primary;
}
.dropdown 	input[type="checkbox"]:checked + label .title{
	 border-color: $brand-primary;
 }

.dropdown 	input[type="checkbox"]{
	&:focus + label > .title {
		border-color: $brand-primary;
	}
}

.card-content {
	@include alumni {
		padding-bottom:$gap-lg;
	}
}

.card-group {
	@include alumni {
		border-radius: $border-radius-lg;
		@media (max-width: $screen-md - 1px) {
			border: 1px solid #eee;
			margin-top: $gap;
		}
	}
}

.card {
	@include student {
		background: white;
		box-shadow: $default-box-shadow;
		border-radius: $border-radius-lg;
		border: 1px solid #eee;
		position: relative;
	}
	@include alumni {
		background: white;
		//border-top-left-radius: $border-radius-lg;
		//border-top-right-radius: $border-radius-lg;
		border-radius: $border-radius-lg;
	}
}

.card .card-title.has-controls .controls {
	@include alumni {
		.dropdown, > .title {
			@media (max-width: $screen-sm-min) {
				margin-top: $gap-sm;
				flex: auto;
			}
		}
		.btn-bs {
			@media (max-width: $screen-sm-min) {
				flex-basis: 100%;
				margin-left: 0;
				margin-top: $gap-sm;
			}
		}
	}
}

.card .card-title h2 {
	@include alumni {
		@include font-bold;
		font-size: 22px;
		color: $blue-dk;
	}
}

.table-default .t-body {
	@include student {
		@media (min-width: $screen-sm) {
			border-radius: 0 0 $border-radius-lg $border-radius-lg;
		}
	}
}

//-- Selectors from /modules/user-grid.scss

.user-grid {
	@include student {
		margin-bottom: 0;
	}
}
.user-grid .user-control {
	@include student {}
}
.user-grid .user-control a {
	@include student {
		background: $green-lt;
		stroke: white;
		//padding: $gap-xs;
		border-radius: 50%;
		box-shadow: 0 2px 0px 0px $green;
		display: flex;
		align-items: center;
		width: 24px;
		height: 24px;
	}
}
.user-grid .user-control a .icon {
	@include student {
		display: flex;
		align-items: center;
		margin: 0 auto;
	}
}
.user-grid .user-control svg {
	@include student {
		width: 14px;
		height: 14px;
		top: 1px;
		position: relative;
	}
}

.user-grid {
	.person .role {
		@include student {
			flex-basis: auto;
		}
	}
	.controls {
		@include student {
			align-items: flex-start;
			margin: 3px 0;
			flex-direction: column;
		}

	}
}

// Selectors from base/typography.scss
h5 {
	&.gu-heading {
		color: $blue-dk
	}
}

h6 {
	color: $gray-md;
	&.gu-heading {
		color: $blue-dk
	}
}

.slds-text-heading--medium {
	color: $blue-dk;
}

.item-title {
	color: $blue-dk;
}

.item-authors {
	color: $gray-dk;
}

.slds-list--dotted.bordered > li:before {
	@include student {
		background: $green;
	}
}

//Student profile-pages css

.activity-details {
	@include student {
		.membership-details {
			font-size: 12px;
			color: #A8A9A9;
			span {
				display: block;
			}
		}
	}
}

.card-grid-item {
	@include student {
		min-width: 0;
	}
}

// Selectors from base/table.scss
.card-content .icon-policy {
	@include student {
		width: 32px;
		height: 32px;
		text-align: center;
		background-color: $green-lt;
		display: flex !important;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		box-shadow: 0 2px 0 0 $green;
		@media (max-width: $screen-sm - 1px) {
			margin-left: auto;
		}
		&:hover, &:focus {
			background-color: darken($green-lt, 15%);
		}
		.icon {
			color: white;
		}
		.icon svg {
			width: 14px !important;
			height: 14px !important;
		}
	}
}



