@import "../base/colors";
@import "../base/settings";
@import "../base/mixins";

$brand: 'alumni';
$sidebar-header-height: 390px;

$blue-dk: #0D5397;
$blue: #007DBC;
$link-color:#007DBC;
$form-label-color: $blue-dk;
$blue-lt: #AAD3ED;
$body-bg: #6B666B;
$green:#82B956;
$green-lt:#92D161;

@import "../themes/theme-settings";

.dropdown.profile-subnav {
	background:none;
	> label {
		.title {
			background:$blue;
			border:0;
			height:40px;
			padding-left:$gap;
			color:white;
		}
		> .icon {
			right:$gap;
			stroke:white;
			svg {
				width:12px;
				height:12px;
			}
		}
	}
	input[type="checkbox"]:checked + label .title {
		border-radius:$border-radius $border-radius 0 0;
	}
	.dropdown-items {
		background:white;
		border-radius:0 0 $border-radius $border-radius;
		border:0;
		top: 35px;
		box-shadow:-1px 11px 15px 0px rgba(0, 0, 0, 0.5);
		> a:last-of-type {
			border-radius:0 0 $border-radius $border-radius;
		}
	}
}

.giving-table {
	.field-label {
		margin-right: 0;
	}
	.table-row-item {
		flex-grow: 1;
		padding: 12px;
		&:nth-of-type(1) {
			@include font-semibold;
			@media (min-width:$screen-sm) {
				width: 35%;
			}
		}
		&:nth-of-type(2) {
			@media (min-width:$screen-sm) {
				width: 15%;
			}
		}
		&:nth-of-type(3) {
			@media (min-width:$screen-sm) {
				width: 15%;
			}
		}
		&:nth-of-type(4) {
			@media (min-width:$screen-sm) {
				width: 15%;
			}
		}
		&:nth-of-type(5) {
			@media (min-width:$screen-sm) {
				width: 20%;
			}
		}
	}
}

.giving-hero {
	background-repeat:no-repeat;
	background-size:cover;
	padding:2px;
	border:2px solid white;
	box-shadow:0 0 0 1px $blue;
	border-radius:$border-radius-md;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	color:white;
	position:relative;
	@media (min-width:$screen-md) {
		min-height:300px;
	}
	.progress-bar--horizontal {
		margin:0 auto;
		width:90%;
		position:absolute;
		bottom:-$gap;
		background:#F1EFED;
		box-shadow:0 10px 60px -19px rgba(black,0.8);
	}
	.title,.subtitle {
		line-height:1.2;
	}
	.title {
		font-size:48px;
		@include font-bold;
		text-shadow:0 0 1px rgba(black,0.3);
		@include drop-shadow(0 3px 3px rgba(black,0.6));
	}
	.subtitle {
		@include drop-shadow(0 2px 2px rgba(black,0.5));
		font-size:30px;
	}
}


.giving-card.lg {
	.detail {
		@media (min-width:$screen-sm) {
			padding-left:$gap;
		}
	}
}

.membership-card.lg {
	.title,.status {
		color:$text-color;
	}
	.membership-photo {
		width:70px;
		height:70px;
		min-width:70px;
		min-height:70px;
		border-radius:50%;
		background-size:cover;
		border:1px solid $blue-lt;
	}
}
