@import "../base/colors";
@import "../base/settings";
@import "../base/mixins";

$brand: 'faculty';
$sidebar-header-height: 220px;
$form-label-color: $blue-dk;
$link-color:#6BA4CD;

@import "../themes/theme-settings";
