@import "../base/settings";
@import "../base/colors";
@import "../base/mixins";

$brand: 'student';
$sidebar-header-height: 370px;
$blue-dk: #0A427A;
$blue-lt: #6BA4CD;
$blue: #007DBC;
$form-label-color: $blue-dk;
$green:#82B956;
$green-lt:#92D161;
$default-box-shadow: 0 2px 0 0 #e5e5e5;

@import "../themes/theme-settings";

.dropdown.profile-subnav {
	background:none;
	border-radius:0;
	position:relative;
	z-index:50;
	> label {
		position:relative;
		z-index:50;
		.title {
			//background: linear-gradient(180deg, white 0%, $blue-lt 100%);
			background:white;
			border-radius:$border-radius-lg;
			border:0;
			height:30px;
			padding-left:$gap;
			@include font-semibold;
			box-shadow:$default-box-shadow;
			color:$blue;
		}
		> .icon {
			stroke:$blue-dk;
			svg {
				width:12px;
				height:12px;
			}
		}
	}
	input[type="checkbox"]:checked + label .title {
		border-radius:$border-radius-lg $border-radius-lg 0 0;
	}
	.dropdown-items {
		background:white;
		border-radius:0 0 20px 20px;
		top: 28px;
		padding-top: 0;
		padding-bottom: 0;
		> a:last-of-type {
			border-radius:0 0 20px 20px;
		}
	}
}



.dashboard-grid {
	.ui-widget {
		margin-bottom:$gap;
	}
}
