@import "../base/settings";
@import "../base/colors";
@import "../base/mixins";

label[for="nav-shrink"] {
	color:$text-color;
}
code {
	background:#eee;
	color:#263238;
	min-height:20px;
	line-height:1;
	padding:3px 8px;
	position:relative;
	@include shadow(1);
	display:inline-flex;
	border-top-left-radius:$border-radius;
	border-bottom-left-radius:$border-radius;
	&:only-of-type {
		border-top-right-radius:$border-radius;
		border-bottom-right-radius:$border-radius;
	}
	+ code {
		border-top-left-radius:0;
		border-bottom-left-radius:0;
		&:before {
			border-top-left-radius:0;
			border-bottom-left-radius:0;
		}
	}
	&:before {
		font-size:10px;
		@include font-bold;
		position:absolute;
		text-transform:uppercase;
		left:0;
		top:0;
		padding:0 8px 0 $gap-xs;
		display:flex;
		align-items:center;
		line-height:1;
		height:100%;
		background:#263238;
		border:1px solid #eee;
		color:white;
		border-radius:$border-radius 0 0 $border-radius;
	}
	&.class {
		padding-left:50px;
		&:before {
			content:"class";
			color:#A3D53B;
		}
	}
	&.element {
		padding-left:65px;
		&:before {
			content:"element";
			color:lighten(#F2294E,5%);
		}
	}
	&.attr {
		padding-left:45px;
		&:before {
			content:"attr";
			color:#A3D53B;
		}
	}
	&.hex {
		padding-left:40px;
		&:before {
			content:"hex";
			color:white;
		}
	}
}


.sidebar-heading,.page-header {
	min-height:0;
}
.sidebar-heading {
	&:before,&:after {
		height:auto;
		background:none;
	}
}

.page-header h1 {
	color:#333;
}

.sidebar {
	&.left {
		@media (min-width:$screen-sm) {
			min-width:250px;
		}
	}
}

@mixin brand-logo($color) {
	.brand-logo {
		color:$color;
		padding-left:$gap;
		&:hover,&:focus,&:active {
			text-decoration:none;

		}
		.company {
			font-size:14px;
			line-height:1;
			opacity:0.5;
			margin-bottom:$gap-xs;
			@include font-semibold;
		}
		.title {
			@include font-bold;
			font-size:44px;
			line-height:1;
		}
		.subtitle {
			text-transform:uppercase;
			@include font-semibold;
			line-height:1;
			opacity:0.7;
			font-size:12px;
		}
	}
	#nav-shrink:checked ~ .sidebar.left {
		.sidebar-heading {
			margin-top:$gap-sm;
		}
		.brand-logo {
			display:none;
		}
	}
}

// Default Documentation
body.index {
	@include brand-logo(#444);
	.sidebar.left {
		background:#eee;
	}
	.sidebar-nav {
		> a {
			stroke:currentColor;
			color:$blue-dk;
			padding:$gap-sm $gap;
			&:hover,&:focus {
				background:rgba($blue-dk,0.1);
			}
			&.active {
				background:$blue-dk;
				color:white;
				&.alt {
					background:#333;
				}
			}
		}
	}
}



// Faculty Documentation
body.faculty-index {
	@include brand-logo(white);
	.sidebar.left {
		//background:#eee;
	}
	.sidebar-nav {
		> a {
			&.active.alt {
				background:$blue-dk;
				color:white;
			}
		}
	}
}

body.student-index {
	@include brand-logo(#444);
	.sidebar-nav {
		> a {
			stroke:currentColor;
			&.active {
				&.alt {
					background:#333;
				}
			}
		}
	}
}



.color-blocks {
	display:flex;
	flex-wrap:wrap;
	margin:0 (-$gap-sm) $gap;
	> li {
		width:120px;
		height:120px;
		padding:$gap-sm;
		margin:$gap-sm $gap-xs 0;
		display:flex;
		flex-direction:column;
		.name {
			font-size:18px;
			@include font-semibold;
		}
		code {
			margin-top:auto;
		}
		&.blue {
			background:$blue;
			color:white;
		}
		&.blue-lt {
			background:$blue-lt;
			//color:white;
		}
		&.blue-dk {
			background:$blue-dk;
			color:white;
		}
		&.blue-dk2 {
			background:$blue-dk2;
			color:white;
		}
		&.gray-dk {
			background:$gray-dk;
			color:white;
		}
		&.gray-md {
			background:$gray-md;
			color:white;
		}
		&.gray {
			background:$gray;
		}
		&.gray-lt {
			background:$gray-lt;
		}
		&.tan {
			background:$tan;
		}
		&.blue-lt {
			background:$blue-lt;
		}
		&.blue-dk {
			background:$blue-dk;
			color:white;
		}
		&.blue-dk2 {
			background:$blue-dk2;
			color:white;
		}
		&.red {
			background:$red;
			color:white;
		}
		&.success {
			background:$success;
			color:white;
		}
		&.danger {
			background:$danger;
			color:white;
		}
		&.warning {
			background:$warning;
			color:white;
		}
		&.info {
			background:$info;
			color:white;
		}
	}
}

