include ../../../partials/collapse-sidebar.pug
.sidebar.left.slds-max-medium-hide
  .sidebar-heading
    a.brand-logo(href="index.html")
      .company Georgetown University
      .title GU360
      .subtitle Theme Documentation

  nav.block.nav.sidebar-nav
    include ../../../partials/primary-nav-links.pug
    hr
    - var NavItemID = "desktop"
    include ../../../partials/secondary-nav-links.pug
