block variables
  - var portalName = "documentation"
  block PrimaryNavigation
    - var PrimaryNavItems = [{'url':'index','title':'Default Theme', 'img':'index','key':'theme'}];
  block SecondaryNavigation
    - var SecondaryNavItems = [{'url':'index','title':'Notes', 'img':'documentation','key':'notes'},{'url':'buttons','title':'Buttons', 'img':'documentation','key':'buttons'},{'url':'colors','title':'Colors', 'img':'documentation','key':'colors'},{'url':'expandable-content','title':'Expandable Content', 'img':'documentation','key':'expandable-content'},{'url':'forms','title':'Forms', 'img':'documentation','key':'forms'},{'url':'scaffolding','title':'Scaffolding', 'img':'documentation','key':'scaffolding'},{'url':'typography','title':'Typography', 'img':'documentation','key':'typography'}];

