mixin card-group(addon_class)
  div(class= 'card-group ' + addon_class)
    block

mixin card(addon_class)
  div(class= 'card ' + addon_class)
    block

mixin card-title(title, addon_class, has_controls, control_classes)
  div(class= 'card-title ' + addon_class)
    h2= title
    if has_controls
      div(class= 'controls ' + control_classes)
        block

mixin card-content(addon_class)
  div(class= 'card-content ' + addon_class)
    block
