mixin dropdown(dropdown_id, dropdown_class, dropdown_label, has_caret)
  if has_caret
    div(class= 'dropdown has-caret ' + dropdown_class)
      input(type="checkbox", name= dropdown_id, id= dropdown_id)
      label(for= dropdown_id)
        .title= dropdown_label
        +svg-sprite("img/sprites/base.svg", "arrow-sort", "", "")
      .dropdown-items
        block
  else
    div(class= 'dropdown ' + dropdown_class)
      input(type="checkbox", name= dropdown_id, id= dropdown_id)
      label(for= dropdown_id)
        .title= dropdown_label
      .dropdown-items
        block

mixin user-dropdown(dropdown_id, dropdown_class, user_img, user_name, status_class, user_status)
  div(class= 'dropdown ' + dropdown_class)
    input(type="checkbox", name= dropdown_id, id= dropdown_id)
    label.flex.all(for= dropdown_id)
      .user-photo(style= 'background-image:url(' + user_img + ')')
      .detail
        .name= user_name
        div(class= 'status ' + status_class)= user_status
      +svg-sprite("img/sprites/base.svg", "arrow-sort", "", "")
    .dropdown-items
      block
