mixin input-text(group_class, control_class, input_id, input_placeholder, input_label)
  if input_label
    div(class= 'slds-form-element ' + group_class)
      label.slds-form-element__label.field-label(for= input_id, data-balloon="Help text", data-balloon-pos="up")
        span.label-text= input_label
        .help-block
          +svg-sprite("img/sprites/base.svg", "help", "", "Help")
      div(class= 'slds-form-element__control ' + control_class)
        block
        input.slds-input(id=input_id)&attributes(attributes)
  else
    div(class= 'slds-form-element ' + group_class)
      label.slds-form-element__label.field-label(for= input_id, data-balloon= input_placeholder, data-balloon-pos="up")
        span.slds-assistive-text= input_placeholder
        .help-block
          +svg-sprite("img/sprites/base.svg", "help", "", "Help")
      div(class= 'slds-form-element__control ' + control_class)
        block
        input.slds-input(id=input_id)&attributes(attributes)



mixin textarea(group_class, textarea_id, textarea_title, textarea_label)
  if textarea_label
    div(class= 'slds-form-element ' + group_class)
      label.slds-form-element__label(for=textarea_id)= textarea_label
      .slds-form-element__control
        textarea(id=textarea_id)&attributes(attributes)
          block
  else
    div(class= 'slds-form-element ' + group_class)
      label.slds-assistive-text(for=textarea_id)= textarea_title
      .slds-form-element__control
        textarea(id=textarea_id)&attributes(attributes)
          block

mixin select(group_class, select_id, select_label)
  if select_label
    div(class= group_class)
      label(for= select_id, class="slds-form-element__label")= select_label
      .slds-form-element__control
        .slds-select_container
          select(id= select_id)&attributes(attributes)
            block
  else
    div(class= group_class)
      label.slds-assistive-text(for= select_id)
      .slds-form-element__control
        .slds-select_container
          select(id= select_id)&attributes(attributes)
            block

mixin input-date-mm-yyyy(group_class, group_label, help_text, month_id, month_label, month_placeholder, month_value, year_id, year_label, year_placeholder, year_value)
  div(class= 'date-group--month-year ' + group_class)
    label(for= month_id)= group_label
      small= help_text
    div(class='slds-form-element month')
      label(class='slds-form-element__label', for=month_id)
        span.slds-assistive-text= month_label
      .slds-form-element__control
        .slds-select_container
          select(id=month_id, class='slds-select')
            option(selected)= month_value
            option(value= month_id + '_january') January
            option(value= month_id + '_february') February
            option(value= month_id + '_march') March
            option(value= month_id + '_april') April
            option(value= month_id + '_may') May
            option(value= month_id + '_june') June
            option(value= month_id + '_july') July
            option(value= month_id + '_august') August
            option(value= month_id + '_september') September
            option(value= month_id + '_october') October
            option(value= month_id + '_november') November
            option(value= month_id + '_december') December
    div(class='slds-form-element year')
      label(class='slds-form-element__label', for=year_id)
        span.slds-assistive-text= year_label
      .slds-form-element__control
        input(id=year_id, class='slds-input', type='text', maxlength='4', minlength='4', placeholder= year_placeholder, value= year_value)

mixin input-date-mm-dd-yyyy(group_class, group_label,  month_id, month_label, month_placeholder, month_value, date_id, date_label, date_placeholder, date_value, year_id, year_label, year_placeholder, year_value)
  label(class="slds-form-element__label", for= month_id)= group_label
  div(class= 'date-group--month-year ' + group_class)
    div(class='slds-form-element month')
      label(class='slds-form-element__label', for=month_id)
        span.slds-assistive-text= month_label
      .slds-form-element__control
        .slds-select_container
          select(id=month_id, class='slds-select')
            option(selected)= month_value
            option(value= month_id + '_january') January
            option(value= month_id + '_february') February
            option(value= month_id + '_march') March
            option(value= month_id + '_april') April
            option(value= month_id + '_may') May
            option(value= month_id + '_june') June
            option(value= month_id + '_july') July
            option(value= month_id + '_august') August
            option(value= month_id + '_september') September
            option(value= month_id + '_october') October
            option(value= month_id + '_november') November
            option(value= month_id + '_december') December
    div(class='slds-form-element date')
      label(class='slds-form-element__label', for=date_id)
        span.slds-assistive-text= date_label
      .slds-form-element__control
        .slds-select_container
          select(id=date_id, class='slds-select')
            option(selected)= date_value
            option(value= date_id + '_01') 1
            option(value= date_id + '_02') 2
            option(value= date_id + '_03') 3
            option(value= date_id + '_04') 4
            option(value= date_id + '_05') 5
            option(value= date_id + '_06') 6
            option(value= date_id + '_07') 7
            option(value= date_id + '_08') 8
            option(value= date_id + '_09') 9
            option(value= date_id + '_10') 10
            option(value= date_id + '_11') 11
            option(value= date_id + '_12') 12
            option(value= date_id + '_13') 13
            option(value= date_id + '_14') 14
            option(value= date_id + '_15') 15
            option(value= date_id + '_16') 16
            option(value= date_id + '_17') 17
            option(value= date_id + '_18') 18
            option(value= date_id + '_19') 19
            option(value= date_id + '_20') 20
            option(value= date_id + '_21') 21
            option(value= date_id + '_22') 22
            option(value= date_id + '_23') 23
            option(value= date_id + '_24') 24
            option(value= date_id + '_25') 25
            option(value= date_id + '_26') 26
            option(value= date_id + '_27') 27
            option(value= date_id + '_28') 28
            option(value= date_id + '_29') 29
            option(value= date_id + '_30') 30
            option(value= date_id + '_31') 31
    div(class='slds-form-element year')
      label(class='slds-form-element__label', for=year_id)
        span.slds-assistive-text= year_label
      .slds-form-element__control
        input(id=year_id, class='slds-input', type='text', maxlength='4', minlength='4', placeholder= year_placeholder, value= year_value)


mixin checkbox(group_class, checkbox_id, checkbox_name, checkbox_title, checkbox_label)
  if checkbox_label
    div(class= 'gu-checkbox ' + group_class)
      div.uiInput.uiInputCheckbox
        label.slds-checkbox__label.form-element__label(for=checkbox_id)= checkbox_label
        input(id= checkbox_id, type='checkbox', name= checkbox_name)&attributes(attributes)
  else
    div(class= 'gu-checkbox ' + group_class)
      div.uiInput.uiInputCheckbox
        label.slds-assistive-text(for=checkbox_id)= checkbox_title
        input(id= checkbox_id, type='checkbox', name= checkbox_name)&attributes(attributes)

mixin custom-checkbox(group_class, check_id, check_name, check_title, check_label)
  .slds-form-element.gu-checkbox
    if check_label
      div(class= 'slds-form-element__control gu-checkbox ' + group_class)
        span.slds-checkbox
          input(id= check_id, type='checkbox', name= check_name)&attributes(attributes)
          label.slds-checkbox__label(for= check_id)
            span.slds-checkbox--faux
            span.slds-form-element__label
              span= check_title
              block
    else
      div(class= 'slds-form-element__control gu-checkbox ' + group_class)
        span.slds-checkbox
          input(id= check_id, type='checkbox', name= check_name)&attributes(attributes)
          label.slds-checkbox__label(for= check_id)
            span.slds-checkbox--faux
            span.slds-form-element__label
              span= check_title
              block

mixin custom-radio(group_class, radio_id, radio_name, radio_title, radio_label)
  if radio_label
    .slds-form-element__control
      span.slds-radio
        input(id= radio_id, type='radio', name= radio_name)&attributes(attributes)
        label.slds-radio__label(for= radio_id)
          span.slds-radio--faux
          span.slds-form-element__label
            span= radio_title
            block
  else
    .slds-form-element__control
      span.slds-radio
        input(id= radio_id, type='radio', name= radio_name)&attributes(attributes)
        label.slds-radio__label(for= radio_id)
          span.slds-radio--faux
          span.slds-form-element__label
            span= radio_title
            block

mixin radio(group_class, radio_id, radio_name, radio_title, radio_label)
  if radio_label
    span(class= 'gu-radio ' + group_class)
      div.uiInput.uiInputRadio
        label.slds-radio__label.form-element__label(for=radio_id)= radio_label
        input(id=radio_id, type='radio', name=radio_name)&attributes(attributes)
  else
    span(class= 'gu-radio ' + group_class)
      div.uiInput.uiInputRadio
        label.slds-assistive-text(for=radio_id)= radio_title
        input(id=radio_id, type='radio', name=radio_name)&attributes(attributes)

mixin slds-drop-image(group_id, attachment_label, input_id, file_types, button_text, help_text, max_height)
  .slds-form-element
    span.slds-form-element__label(id= group_id)= attachment_label
    .slds-form-element__control
      .slds-file-selector.slds-file-selector--images
        .slds-file-selector__dropzone(style= 'max-height:' + max_height)
          input.slds-file-selector__input.slds-assistive-text(type='file', accept= file_types, aria-describedby= group_id, id= input_id)
          label.slds-file-selector__body(for= input_id)
            span.slds-file-selector__button.slds-button.slds-button--neutral
              svg.slds-button__icon.slds-button__icon--left(aria-hidden='true')
                use(xlink:href='bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#upload')
              span= button_text
            span.slds-file-selector__text.slds-medium-show= help_text

mixin slds-file-upload(group_id, attachment_label, input_id, file_types, button_text, help_text,height)
  .slds-form-element
    span.slds-form-element__label(id= group_id)= attachment_label
    .slds-form-element__control
      .slds-file-selector.slds-file-selector--files
        .slds-file-selector__dropzone(style= 'height:' + height)
          input.slds-file-selector__input.slds-assistive-text(type='file', accept= file_types, aria-describedby= group_id, id= input_id)
          label.slds-file-selector__body(for= input_id)
            span.slds-file-selector__button.slds-button.slds-button--neutral
              svg.slds-button__icon.slds-button__icon--left(aria-hidden='true')
                use(xlink:href='bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#upload')
              span= button_text
            span.slds-file-selector__text.slds-medium-show= help_text

