mixin grid(addon_class, breakpoint, columns)
  if breakpoint
    div(class= 'facet-grid--flex' + ' ' + addon_class + ' ' + breakpoint + '--' + columns )
      div(data-aura-rendered-by)
        block
  else
    div(class= 'facet-grid--flex' + ' ' + addon_class)
      block

mixin grid-col(addon_class)
  .ui-widget
    block
