mixin faculty-edit-block(block_id, block_label, block_class, is_globe, is_internal, is_private, is_none)
  div(class= 'gu-profile-item ' + block_class)
    label.slds-form-element__label.field-label(for=block_id, data-balloon="Help text", data-balloon-pos="up")
      span.label-text= block_label
      .help-block
        +svg-sprite("img/sprites/base.svg", "help", "", "Help")
    .field-group
      block
      fieldset
        legend.slds-assistive-text Select the visibility settings for this information.
        .controls
          if is_internal
            input(type="radio", id= 'globe_' + block_id, name=block_id)
            label.toggle.globe(for= 'globe_' + block_id)
              +svg-sprite("img/sprites/profile.svg", "globe", "ic-status", "Visible to all")
              span.slds-assistive-text Visible to all
            input(type="radio", id= 'internal_' + block_id, name=block_id, checked)
            label.toggle.internal(for= 'internal_' + block_id)
              +svg-sprite("img/sprites/profile.svg", "internal", "ic-status", "Only visible internally")
              span.slds-assistive-text Only visible internally
            input(type="radio", id= 'private_' + block_id, name=block_id)
            label.toggle.private(for= 'private_' + block_id)
              +svg-sprite("img/sprites/profile.svg", "private", "ic-status", "Only visible to you")
              span.slds-assistive-text Only visible to you
          if is_private
            input(type="radio", id= 'globe_' + block_id, name=block_id)
            label.toggle.globe(for= 'globe_' + block_id)
              +svg-sprite("img/sprites/profile.svg", "globe", "ic-status", "Visible to all")
              span.slds-assistive-text Visible to all
            input(type="radio", id= 'internal_' + block_id, name=block_id)
            label.toggle.internal(for= 'internal_' + block_id)
              +svg-sprite("img/sprites/profile.svg", "internal", "ic-status", "Only visible internally")
              span.slds-assistive-text Only visible internally
            input(type="radio", id= 'private_' + block_id, name=block_id, checked)
            label.toggle.private(for= 'private_' + block_id)
              +svg-sprite("img/sprites/profile.svg", "private", "ic-status", "Only visible to you")
              span.slds-assistive-text Only visible to you
          if is_globe
            input(type="radio", id= 'globe_' + block_id, name=block_id, checked)
            label.toggle.globe(for= 'globe_' + block_id)
              +svg-sprite("img/sprites/profile.svg", "globe", "ic-status", "Visible to all")
              span.slds-assistive-text Visible to all
            input(type="radio", id= 'internal_' + block_id, name=block_id)
            label.toggle.internal(for= 'internal_' + block_id)
              +svg-sprite("img/sprites/profile.svg", "internal", "ic-status", "Only visible internally")
              span.slds-assistive-text Only visible internally
            input(type="radio", id= 'private_' + block_id, name=block_id)
            label.toggle.private(for= 'private_' + block_id)
              +svg-sprite("img/sprites/profile.svg", "private", "ic-status", "Only visible to you")
              span.slds-assistive-text Only visible to you
          if is_none
            input(type="radio", id= 'globe_' + block_id, name=block_id)
            label.toggle.globe(for= 'globe_' + block_id)
              +svg-sprite("img/sprites/profile.svg", "globe", "ic-status", "Visible to all")
              span.slds-assistive-text Visible to all
            input(type="radio", id= 'internal_' + block_id, name=block_id)
            label.toggle.internal(for= 'internal_' + block_id)
              +svg-sprite("img/sprites/profile.svg", "internal", "ic-status", "Only visible internally")
              span.slds-assistive-text Only visible internally
            input(type="radio", id= 'private_' + block_id, name=block_id)
            label.toggle.private(for= 'private_' + block_id)
              +svg-sprite("img/sprites/profile.svg", "private", "ic-status", "Only visible to you")
              span.slds-assistive-text Only visible to you


mixin student-edit-block(block_id, block_label, block_class, is_internal, is_private, is_none)
  div(class= 'gu-profile-item ' + block_class)
    label.slds-form-element__label.field-label(for=block_id, data-balloon="Help text", data-balloon-pos="up")
      span.label-text= block_label
      .help-block
        +svg-sprite("img/sprites/base.svg", "help", "", "Help")
    .field-group
      block
      fieldset
        legend.slds-assistive-text Select the visibility settings for this information.
        .controls
          if is_internal
            input(type="radio", id= 'internal_' + block_id, name=block_id, checked)
            label.toggle.internal(for= 'internal_' + block_id)
              +svg-sprite("img/sprites/profile.svg", "internal", "ic-status", "Only visible internally")
              span.slds-assistive-text Only visible internally
            input(type="radio", id= 'private_' + block_id, name=block_id)
            label.toggle.private(for= 'private_' + block_id)
              +svg-sprite("img/sprites/profile.svg", "private", "ic-status", "Only visible to you")
              span.slds-assistive-text Only visible to you
          if is_private
            input(type="radio", id= 'internal_' + block_id, name=block_id)
            label.toggle.internal(for= 'internal_' + block_id)
              +svg-sprite("img/sprites/profile.svg", "internal", "ic-status", "Only visible internally")
              span.slds-assistive-text Only visible internally
            input(type="radio", id= 'private_' + block_id, name=block_id, checked)
            label.toggle.private(for= 'private_' + block_id)
              +svg-sprite("img/sprites/profile.svg", "private", "ic-status", "Only visible to you")
              span.slds-assistive-text Only visible to you
          if is_none
            input(type="radio", id= 'internal_' + block_id, name=block_id)
            label.toggle.internal(for= 'internal_' + block_id)
              +svg-sprite("img/sprites/profile.svg", "internal", "ic-status", "Only visible internally")
              span.slds-assistive-text Only visible internally
            input(type="radio", id= 'private_' + block_id, name=block_id)
            label.toggle.private(for= 'private_' + block_id)
              +svg-sprite("img/sprites/profile.svg", "private", "ic-status", "Only visible to you")
              span.slds-assistive-text Only visible to you


mixin edit-block-no-permissions(group_class, input_id, input_placeholder, input_label)
  div(class= 'gu-profile-item ' + group_class)
    if input_label
      label.slds-form-element__label.field-label(for=input_id)= input_label
      .field-group
        block
    else
      label.slds-assistive-text(for=input_id)= input_placeholder
      .field-group
        block


mixin control-single-input(group_class, input_state, label_id, input_placeholder, input_label)
  if input_label
    div(class= 'control-input ' + group_class)
      input(class= 'slds-input ' + input_state, id=label_id)&attributes(attributes)
      .input-status
        a.input-cancel(href="#!")
          +svg-sprite("img/sprites/base.svg", "cancel", "cancel", "Cancel")
          span.slds-assistive-text Cancel
        a.input-save(href="#!")
          +svg-sprite("img/sprites/base.svg", "success", "success", "Save")
          span.slds-assistive-text Save
        a.input-edit(href="#!")
          +svg-sprite("img/sprites/base.svg", "edit", "edit", "Edit")
          span.slds-assistive-text Edit

  else
    .control-input
      label.slds-assistive-text= input_placeholder
      input(class= 'slds-input empty ' + input_state, id=label_id)&attributes(attributes)
      .input-status
        a.input-cancel(href="#!")
          +svg-sprite("img/sprites/base.svg", "cancel", "cancel", "Cancel")
          span.slds-assistive-text Cancel
        a.input-save(href="#!")
          +svg-sprite("img/sprites/base.svg", "success", "success", "Save")
          span.slds-assistive-text Save
        a.input-edit(href="#!")
          +svg-sprite("img/sprites/base.svg", "edit", "edit", "Edit")
          span.slds-assistive-text Edit

mixin control-single-select(group_class, input_state, label_id, input_placeholder, input_label, result_value)
  if input_label
    div(class= 'control-input ' + group_class, tabindex="0")
      .value= result_value
      select(class= 'slds-select ' + input_state, id=label_id)&attributes(attributes)
        block
      .input-status
        a.input-cancel(href="#!")
          +svg-sprite("img/sprites/base.svg", "cancel", "cancel", "Cancel")
          span.slds-assistive-text Cancel
        a.input-save(href="#!")
          +svg-sprite("img/sprites/base.svg", "success", "success", "Save")
          span.slds-assistive-text Save
        a.input-edit(href="#!")
          +svg-sprite("img/sprites/base.svg", "edit", "edit", "Edit")
          span.slds-assistive-text Edit

  else
    .control-input
      label.slds-assistive-text= input_placeholder
      select(class= 'slds-select ' + input_state, id=label_id)&attributes(attributes)
        block
      .input-status
        a.input-cancel(href="#!")
          +svg-sprite("img/sprites/base.svg", "cancel", "cancel", "Cancel")
          span.slds-assistive-text Cancel
        a.input-save(href="#!")
          +svg-sprite("img/sprites/base.svg", "success", "success", "Save")
          span.slds-assistive-text Save
        a.input-edit(href="#!")
          +svg-sprite("img/sprites/base.svg", "edit", "edit", "Edit")
          span.slds-assistive-text Edit

mixin control-checkboxes(group_class, input_state, label_id, input_placeholder, input_label, result_value)
  if input_label
    div(class= 'control-input ' + group_class, tabindex="0")
      .value= result_value
      block
      .input-status
        a.input-cancel(href="#!")
          +svg-sprite("img/sprites/base.svg", "cancel", "cancel", "Cancel")
          span.slds-assistive-text Cancel
        a.input-save(href="#!")
          +svg-sprite("img/sprites/base.svg", "success", "success", "Save")
          span.slds-assistive-text Save
        a.input-edit(href="#!")
          +svg-sprite("img/sprites/base.svg", "edit", "edit", "Edit")
          span.slds-assistive-text Edit


mixin item-permissions(label_id, is_globe, is_internal, is_private, is_none)
  .edit.slds-hide
    block
    fieldset
      legend.slds-assistive-text Select the visibility settings for this information.
      .form-group-controls
        if is_internal
          input(type="radio", id= 'globe_' + label_id, name=label_id)
          label.toggle.globe(for= 'globe_' + label_id)
            +svg-sprite("img/sprites/profile.svg", "globe", "ic-status", "Visible to all")
            span.slds-assistive-text Visible to all
          input(type="radio", id= 'internal_' + label_id, name=label_id, checked)
          label.toggle.internal(for= 'internal_' + label_id)
            +svg-sprite("img/sprites/profile.svg", "internal", "ic-status", "Only visible internally")
            span.slds-assistive-text Only visible internally
          input(type="radio", id= 'private_' + label_id, name=label_id)
          label.toggle.private(for= 'private_' + label_id)
            +svg-sprite("img/sprites/profile.svg", "private", "ic-status", "Only visible to you")
            span.slds-assistive-text Only visible to you
        if is_private
          input(type="radio", id= 'globe_' + label_id, name=label_id)
          label.toggle.globe(for= 'globe_' + label_id)
            +svg-sprite("img/sprites/profile.svg", "globe", "ic-status", "Visible to all")
            span.slds-assistive-text Visible to all
          input(type="radio", id= 'internal_' + label_id, name=label_id)
          label.toggle.internal(for= 'internal_' + label_id)
            +svg-sprite("img/sprites/profile.svg", "internal", "ic-status", "Only visible internally")
            span.slds-assistive-text Only visible internally
          input(type="radio", id= 'private_' + label_id, name=label_id, checked)
          label.toggle.private(for= 'private_' + label_id)
            +svg-sprite("img/sprites/profile.svg", "private", "ic-status", "Only visible to you")
            span.slds-assistive-text Only visible to you
        if is_globe
          input(type="radio", id= 'globe_' + label_id, name=label_id, checked)
          label.toggle.globe(for= 'globe_' + label_id)
            +svg-sprite("img/sprites/profile.svg", "globe", "ic-status", "Visible to all")
            span.slds-assistive-text Visible to all
          input(type="radio", id= 'internal_' + label_id, name=label_id)
          label.toggle.internal(for= 'internal_' + label_id)
            +svg-sprite("img/sprites/profile.svg", "internal", "ic-status", "Only visible internally")
            span.slds-assistive-text Only visible internally
          input(type="radio", id= 'private_' + label_id, name=label_id)
          label.toggle.private(for= 'private_' + label_id)
            +svg-sprite("img/sprites/profile.svg", "private", "ic-status", "Only visible to you")
            span.slds-assistive-text Only visible to you
        if is_none
          input(type="radio", id= 'globe_' + label_id, name=label_id)
          label.toggle.globe(for= 'globe_' + label_id)
            +svg-sprite("img/sprites/profile.svg", "globe", "ic-status", "Visible to all")
            span.slds-assistive-text Visible to all
          input(type="radio", id= 'internal_' + label_id, name=label_id)
          label.toggle.internal(for= 'internal_' + label_id)
            +svg-sprite("img/sprites/profile.svg", "internal", "ic-status", "Only visible internally")
            span.slds-assistive-text Only visible internally
          input(type="radio", id= 'private_' + label_id, name=label_id)
          label.toggle.private(for= 'private_' + label_id)
            +svg-sprite("img/sprites/profile.svg", "private", "ic-status", "Only visible to you")
            span.slds-assistive-text Only visible to you
    +edit-block-controls()

