mixin modal-default(modal_id, modal_title, modal_class)
  div(role='dialog', tabindex='-1', aria-labelledby=modal_id, class= 'gu-modal slds-modal ' + modal_class)
    .slds-modal__container
      .slds-modal__header
        button.slds-button.slds-modal__close.slds-button--icon-inverse.btn-close-modal(title='Close')
          svg.slds-button__icon.slds-button__icon--large(aria-hidden='true')
            use(xlink:href='bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#close')
          span.slds-assistive-text Close
        h2.slds-text-heading--medium(id=modal_id)= modal_title
      block
  .slds-backdrop
