mixin page-wrapper(outter_class, inner_class)
  div(class= 'page-content ' + outter_class)
    div(class= 'max-container ' + inner_class)
      block

mixin page-header(page_name, header_class, icon_url)
  div(class= 'page-header ' + header_class)
    .flex.all
      img.icon.lg.slds-m-right--medium(src= icon_url, alt= page_name)
      h1.slds-text-heading--large.slds-m-bottom--x-small= page_name
    block

mixin page-header-controls(has_label, label)
  .controls
    if has_label
      .title= label
    +dropdown("profile-subnav", "profile-subnav", "", true)
      block

mixin page-content-wrapper(class_name)
  div(class= 'page-body ' + class_name)
    block

mixin page-section(addon_class)
  div(class= 'page-section ' + class_name)
    block

mixin box(box_title, box_description, box_class)
  // reset, md, border classes available
  div(class= 'box ' + box_class)
    .title
      h3= box_title
      .description= box_description
    .content

mixin txt-block(label_title, label_class, block_class)
  div(class= 'txt-block ' + block_class)
    div(class= 'title slds-section__title ' + label_class)= label_title
    block

mixin read-more-block(block_id,block_height,link_expand_title,link_collapse_title,is_expanded)
  if is_expanded
    div(class= 'txt-block expandable ' + block_height)
      input(type="checkbox", name=block_id, id=block_id, checked="checked")
      div(class="txt-body")
        label(for=block_id, class="more-link")
          .shown= link_expand_title
          .not-shown= link_collapse_title
        block
  else
    div(class="txt-block expandable")
      input(type="checkbox", name=block_id, id=block_id)
      div(class= 'body ' + block_height)
        label(for=block_id, class="more-link")
          .shown= link_expand_title
          .not-shown= link_collapse_title
        block

mixin icon-block(label_title, sprite_name, icon_id, icon_size, label_class, block_class)
  div(class= 'icon-block ' + block_class)
    .heading
      span(class= 'icon ' + icon_size)
        svg(aria-hidden='true')
          use(xlink:href= 'img/sprites/' + sprite_name + '.svg#' + icon_id)
      div(class= 'title slds-text-heading--small ' + label_class)= label_title
    block

mixin text-link(link_title, link_url, link_class, link_target)
  a(href=link_url,class=link_class,target=link_target)= link_title

mixin header-add-block(element_type, element_classes, label_title, label_class, block_class, has_icon, sprite_name, icon_id, icon_size)
  if has_icon
    div(class= 'icon-block has-controls ' + block_class)
      .heading
        span(class= 'icon ' + icon_size)
          svg(aria-hidden='true')
            use(xlink:href= 'img/sprites/' + sprite_name + '.svg#' + icon_id)
        #{element_type}(class= 'title slds-text-heading--small ' + label_class)= label_title
        a(class="controls")&attributes(attributes)
          .btn-add
            span.label Add
            +svg-sprite("img/sprites/base.svg","add","","Add")
      block
  else
    div(class= 'icon-block has-controls ' + block_class)
      .heading
        #{element_type}(class= 'title slds-text-heading--small ' + label_class)= label_title
        a(class="controls")&attributes(attributes)
          .btn-add
            span.label Add
            +svg-sprite("img/sprites/base.svg","add","","Add")
      block

mixin header-add-img-block(element_type, element_classes, label_title, label_class, block_class, has_icon, image_url, icon_id, icon_size)
  if has_icon
    div(class= 'icon-block has-controls ' + block_class)
      .heading
        span(class= 'icon ' + icon_size)
          img(src=image_url, alt=label_title)
        #{element_type}(class= 'title ' + label_class)= label_title
        a.controls
          .btn-add
            span.label Add
            +svg-sprite("img/sprites/base.svg","add","","Add")
      block
  else
    div(class= 'icon-block has-controls ' + block_class)
      .heading
        #{element_type}(class= 'title slds-text-heading--small ' + label_class)= label_title
        a.controls
          .btn-add
            span.label Add
            +svg-sprite("img/sprites/base.svg","add","","Add")
      block

mixin header-img-block(element_type, element_classes, label_title, label_class, block_class, has_icon, image_url, icon_id, icon_size)
  div(class= 'icon-block has-controls ' + block_class)
    .heading
      span(class= 'icon ' + icon_size)
        img(src=image_url, alt=label_title)
      #{element_type}(class= 'title ' + label_class)= label_title
    block

mixin header-dropdown-add-block(element_type, element_classes, label_title, label_class, block_class, has_icon, sprite_name, icon_id, icon_size, dropdown_id, dropdown_class)
  if has_icon
    div(class= 'icon-block has-controls ' + block_class)
      .heading
        span(class= 'icon ' + icon_size)
          svg(aria-hidden='true')
            use(xlink:href= 'img/sprites/' + sprite_name '.svg#' + icon_id)
        #{element_type}(class= 'title slds-text-heading--small ' + label_class)= label_title
        .controls
          .dropdown.btn-add
            input(type="checkbox", name="dropdown_id", id=dropdown_id)
            label(class=dropdown_class, for=dropdown_id)
              +svg-sprite("img/sprites/base.svg","add","","Add")
            .dropdown-items
              block
  else
    div(class= 'icon-block has-controls ' + block_class)
      .heading
        #{element_type}(class= 'title slds-text-heading--small ' + label_class)= label_title
        .controls
          .dropdown.btn-add
            input(type="checkbox", name="dropdown_id", id=dropdown_id)
            label(class=dropdown_class, for=dropdown_id)
              +svg-sprite("img/sprites/base.svg","add","","Add")
            .dropdown-items
              block

mixin collapse-block(element_type, block_class, label_title, label_class, label_id, is_expanded)
  if is_expanded
    div(class= 'collapse-block ' + block_class)
      input(type="checkbox", id=label_id, checked="checked")
      label.heading(for=label_id)
        #{element_type}(class= 'title slds-text-heading--small ' + label_class)= label_title
        .controls
          .btn-collapse
            +svg-sprite("img/sprites/base.svg","arrow-sort","","Expand / Collapse")
      .collapse-content
        block
  else
    div(class= 'collapse-block ' + block_class)
      input(type="checkbox", id=label_id)
      label.heading(for=label_id)
        #{element_type}(class= 'title slds-text-heading--small ' + label_class)= label_title
        .controls
          .btn-collapse
            +svg-sprite("img/sprites/base.svg","arrow-sort","","Expand / Collapse")
      .collapse-content
        block

mixin list-row(row_class, title, subtitle_element, subtitle, is_read, icon_label, icon_name, is_edit, is_add)
  if is_read
    div(class= 'list-row ' + row_class + ' read')
      .main-column
        .title.slds-text-heading--medium= title
        #{subtitle_element}= subtitle
      .divider.push-left
      block
      .controls
        a.btn-bs(href="#!")
          span.icon
            svg(class="", aria-hidden="true", title= icon_label)
              use(xlink:href= 'img/sprites/base.svg#' + icon_name)
          span.slds-assistive-text= icon_label
  if is_edit
    div(class= 'list-row ' + row_class + ' edit slds-hide')
      block
      .controls.flex
        +btn-action("btn-update btn-cancel", "", "Cancel", "#!", false, "img/sprites/base.svg", "cancel", "", "cancel")
        +btn-action("btn-update btn-save", "", "Save", "#!", false, "img/sprites/base.svg", "save", "", "save")
  if is_add
    div(class= 'list-row ' + row_class + ' add')
      block
      .controls.flex
        +btn-action("btn-update btn-cancel", "", "Cancel", "#!", false, "img/sprites/base.svg", "cancel", "", "cancel")
        +btn-action("btn-update btn-save", "", "Save", "#!", false, "img/sprites/base.svg", "save", "", "save")

mixin list-row-controls(is_edit, is_save)
  if is_edit
    .controls
      a.btn-bs(href="#!")
        +svg-sprite("img/sprites/base.svg", "edit", "", "")
  if is_read
    .controls
      a.btn-bs(href="#!")
        +btn-action("btn-update btn-save", "", "Save", "#!", false, "img/sprites/base.svg", "save", "", "save")

mixin space()
  | !{' '}

mixin read-more(label_title, label_id, block_class)
  input(type="checkbox", name= label_id, id= label_id)
  block
  label.read-more(for= label_id)= label_title

