mixin feed-item(author, avatar_url, handle, social_network, site_url, post_date)
  article.slds-post
    header.slds-post__header.slds-media
      .slds-media__figure
        a.slds-avatar.slds-avatar--circle.slds-avatar--large(title= author)
          img(src= avatar_url, alt= author)
      .slds-media__body
        .slds-grid.slds-grid--align-spread.slds-has-flexi-truncate
          .posted-by
            a(href= site_url, title= author)
              .title= author
              .handle= handle
          a.timestamp(href= site_url,aria-haspopup='true', title='More Options')
            .post-date= post_date
            svg.site-icon(aria-hidden='true')
              use(xlink:href= 'img/sprites/media.svg' + '#' + social_network)
    .slds-post__content.slds-text-longform
      block

mixin message(title,timestamp,subject)
  div(class="message")&attributes(attributes)
    .heading
      div
        a.name= title
      .detail
        .date= timestamp
    .subject= subject
    block

mixin thread-message(title,timestamp,subject)
  div(class="message thread-message")&attributes(attributes)
    .heading
      div
        .name= title
      .detail
        .date= timestamp
    .subject= subject
    block

mixin message-controls()
  .message-controls
    .controls
      block

