mixin svg-sprite(svg_file, svg_id, svg_class, svg_title)
  span.icon
    svg(class=svg_class, aria-hidden="true", title=svg_title)
      use(xlink:href= svg_file + '#' + svg_id, xmlns:xlink="http://www.w3.org/1999/xlink")

mixin svg(svg_file, svg_class, svg_title)
  span.icon
    img(class=svg_class, aria-hidden="true", title=svg_title, src= svg_file)

mixin icon-clear()
  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear", xmlns:xlink="http://www.w3.org/1999/xlink")
