block variables

block active_link
  - var currentPage = 'home';

include ../partials/global-includes.pug

doctype transitional
html(lang="en", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
  head
    block base_url
      base(href="")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    link(rel="icon", type="image/png", href="img/favicon.png")

    block title
      title Home / Community

    include ../partials/stylesheets.pug
    block stylesheets

    include ../partials/scripts.pug

    // Typekit
    script(src="https://use.typekit.net/xdf7yqh.js")
    script.
      //try{Typekit.load({ async: true });}catch(e){}
      (function(d) {
        loadFonts = 1;
        if(window.sessionStorage){
          if(sessionStorage.getItem('useTypekit')==='false'){
            loadFonts = 0;
          }
        }
        if (loadFonts == 1) {
            var config = {
              kitId: 'xdf7yqh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s);
          }
        }
      )(document);

  body
    include ../partials/loading.pug
    include ../partials/mobile-nav.pug
    .page
      block left-sidebar
      .content
        include ../partials/header-authenticated.pug
        .flex.sm.content-wrapper
          block content
          block right-sidebar

    block community-modals
    block modals

    block scripts






