block variables

include ../partials/global-includes.pug

doctype transitional
html(lang="en", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    link(rel="icon", type="image/png", href="img/cropped-favicon-192x192.png")

    block title
      title Site Name / Page Name

    include ../partials/stylesheets.pug
    block stylesheets

  body.landing
    block content

    block scripts
