mixin directory-item-person(img_url, name, action_name, action_url, list_view)
  if list_view
    tr.t-body-row.directory-item
      td.c-body(data-sort-value=name)
        .heading
          .user-photo.sm(style= 'background-image:url(' + img_url + ')')
          .name= name
      td.c-body(data-sort-value="Business Administration")
        .body
          block
      td.c-body.controls
        a.btn-bs(href=action_url)
          span.name= action_name
          +svg-sprite("img/sprites/base.svg", "arrow-right", "", action_name)
  else
    .slds-p-around--small
      .directory-item
        .heading
          .user-photo.lg(style= 'background-image:url(' + img_url + ')')
          .name= name
        .body.slds-text-body--small
          block
        .controls
          a.btn-bs(href=action_url)
            span.name= action_name

