extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'academic-information';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Academic Information / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/table.css")
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  mixin schedule-row(name, date, days, time, location, professor, other_professors, more_label, row_id)
    tr.t-body-row
      td.c-body(data-label="Name")= name
      td.c-body(data-label="Date")= date
      td.c-body(data-label="Days")= days
      td.c-body(data-label="Time")= time
      td.c-body(data-label="Location")= location
      td.c-body(data-label="Professor",data-sort-value= professor)
        a= professor
      td.c-body(data-label="Other Professors")
        .read-more
          input(type="checkbox", name=row_id, id=row_id)
          a= other_professors
          label.read-more.slds-p-left--small(for=row_id)= more_label
          .expand-content
            block

  +page-wrapper("","")
    +page-header("Academic Information", "has-controls", "img/navs/student/academic-information.svg")
      +page-header-controls(true, "Navigate to")
        a.active(href="#") Overview
        a(href="/views/student/academic-policies.html") Policies and Procedures
        a(href="/views/student/academic-forms.html") Forms
        a(href="/views/student/academic-resources.html") Academic Resources
        a(href="/views/student/academic-technology.html") Technology Resources
      .description
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    +page-content-wrapper("")
      .page-section.slds-grid
        .card-group
          .card
            .card-title
              h2 My Program Information
              .card-content.card-content.slds-p-top--medium
                .slds-grid.slds-wrap.slds-grid--pull-padded.slds-grid--vertical-stretch
                  .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--4-of-12
                    .title Program Name
                    .slds-p-vertical--xx-small Program Name
                  .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--4-of-12
                    .title Class Year
                    .slds-p-vertical--xx-small
                      div 2016
                  .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--4-of-12
                    .title Cohort code
                    .slds-p-vertical--xx-small
                      div Cohort code
                  .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--4-of-12
                    .title Major
                    .slds-p-vertical--xx-small Accounting
                  .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--4-of-12
                    .title Expected Graduation Date
                    .slds-p-vertical--xx-small
                      div 2016
                  .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--4-of-12
                    .title Comulative GPA
                    .slds-p-vertical--xx-small
                      div 3.6
                  .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--4-of-12
                    .title Minor
                    .slds-p-vertical--xx-small Political Science
                  .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--4-of-12
                    .title Level
                    .slds-p-vertical--xx-small
                      div level
                  .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--4-of-12
                    .title Earned Credit  Hours
                    .slds-p-vertical--xx-small
                      div 32

          .card
            .card-title.has-controls
              h2 Current Schedule
              .controls
                .slds-grid.slds-grid--vertical-align-center
                  .title.slds-p-right--small View
                  +dropdown("documents-subnav", "dropdown-default", "Current Schedule", true)
                    a(href="#") 2017 Summer
                    a(href="#") 2017 Spring
                    a(href="#") 2016 Winter
                    a(href="#") 2016 Fall
                    a(href="#") 2016 Summer
            .card-content.slds-p-horizontal--large.slds-m-bottom--large
              table.slds-table.slds-table--striped.slds-no-row-hover.table-default(data-sortable)
                thead.t-head
                  tr.t-head-row
                    th.c-head(data-sortable="true") Name
                    th.c-head(data-sortable="true") Date
                    th.c-head(data-sortable="true") Days
                    th.c-head(data-sortable="true") Time
                    th.c-head(data-sortable="true") Location
                    th.c-head(data-sortable="true",colspan="2") Professor
                tbody.t-body
                  +schedule-row("Sample Class Name", "8/31/16 - 12/07/16", "T,R", "9:00am - 11:am", "St. Mary's - Room 107", "Dr. Elissa Batrum", "Maxima Modesitt", "+3 more", "row01")
                    div.slds-m-bottom--x-small
                      a Earlie Margarita
                    div.slds-m-bottom--x-small
                      a Heriberto Berch
                    div.slds-m-bottom--x-small
                      a Risa Pleva
                  +schedule-row("Sample Class Name", "8/31/16 - 12/07/16", "T,R", "9:00am - 11:am", "St. Mary's - Room 107", "Dr. Santos Chiapetto", "Edelmira Malveaux", "+3 more", "row02")
                    div.slds-m-bottom--x-small
                      a Codi Petrovic
                    div.slds-m-bottom--x-small
                      a Buford Bloeser
                    div.slds-m-bottom--x-small
                      a Rachell Rossing
                  +schedule-row("Sample Class Name", "8/31/16 - 12/07/16", "T,R", "9:00am - 11:am", "St. Mary's - Room 107", "Dr. Alycia Kurka", "Noriko Vanner", "+3 more", "row03")
                    div.slds-m-bottom--x-small
                      a Monet Pastora
                    div.slds-m-bottom--x-small
                      a Albina Sovel
                    div.slds-m-bottom--x-small
                      a Iraida Koong
                  +schedule-row("Sample Class Name", "8/31/16 - 12/07/16", "T,R", "9:00am - 11:am", "St. Mary's - Room 107", "Dr. Stefani Adkin", "Carmelina Enkerud", "+3 more", "row04")
                    div.slds-m-bottom--x-small
                      a Gracie Dekorne
                    div.slds-m-bottom--x-small
                      a Gertude Helferty
                    div.slds-m-bottom--x-small
                      a Alisia Issac
                  +schedule-row("Sample Class Name", "8/31/16 - 12/07/16", "T,R", "9:00am - 11:am", "St. Mary's - Room 107", "Dr. Cheri Eshleman", "Shawnna Sheffler", "+3 more", "row05")
                    div.slds-m-bottom--x-small
                      a Dion Raschke
                    div.slds-m-bottom--x-small
                      a Brendon Desolier
                    div.slds-m-bottom--x-small
                      a Bobby Finland
                  +schedule-row("Sample Class Name", "8/31/16 - 12/07/16", "T,R", "9:00am - 11:am", "St. Mary's - Room 107", "Dr. My Cromack", "Rana Frankin", "+3 more", "row06")
                    div.slds-m-bottom--x-small
                      a My Chisolm
                    div.slds-m-bottom--x-small
                      a Georgine Rewenko
                    div.slds-m-bottom--x-small
                      a Yon Mis
                  +schedule-row("Sample Class Name", "8/31/16 - 12/07/16", "T,R", "9:00am - 11:am", "St. Mary's - Room 107", "Dr. Angelica Eakins", "Ema Formey", "+3 more", "row07")
                    div.slds-m-bottom--x-small
                      a Cliff Wanat
                    div.slds-m-bottom--x-small
                      a Hallie Detullio
                    div.slds-m-bottom--x-small
                      a Adolph Blann
                  +schedule-row("Sample Class Name", "8/31/16 - 12/07/16", "T,R", "9:00am - 11:am", "St. Mary's - Room 107", "Dr. Pandora Lampman", "Isidro Genzone", "+3 more", "row08")
                    div.slds-m-bottom--x-small
                      a Annalisa Eitnier
                    div.slds-m-bottom--x-small
                      a Leonie Crispino
                    div.slds-m-bottom--x-small
                      a Geneva Vondrak
                  +schedule-row("Sample Class Name", "8/31/16 - 12/07/16", "T,R", "9:00am - 11:am", "St. Mary's - Room 107", "Dr. Dimple Malatesta", "Daine Remme", "+3 more", "row09")
                    div.slds-m-bottom--x-small
                      a Darby Zabbo
                    div.slds-m-bottom--x-small
                      a Andrew Valree
                    div.slds-m-bottom--x-small
                      a Lottie Rachell
                  +schedule-row("Sample Class Name", "8/31/16 - 12/07/16", "T,R", "9:00am - 11:am", "St. Mary's - Room 107", "Dr. Ernie Perrell", "Hoa Simonetta", "+3 more", "row10")
                    div.slds-m-bottom--x-small
                      a Lizeth Patrin
                    div.slds-m-bottom--x-small
                      a Tessa Hlywa
                    div.slds-m-bottom--x-small
                      a Gwen Ireland

block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.


