extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'academic-information';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Academic Resources / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-student.css")
  link(rel="stylesheet", href="./css/table.css")

block content
  mixin schedule-row(name,date,days,time,location,professor,other_professors,more_label,row_id)
    tr.t-body-row
      td.c-body(data-label="Name")= name
      td.c-body(data-label="Date")= date
      td.c-body(data-label="Days")= days
      td.c-body(data-label="Time")= time
      td.c-body(data-label="Location")= location
      td.c-body(data-label="Professor")
        a= professor
      td.c-body(data-label="Other Professors")
        .read-more
          input(type="checkbox", name=row_id, id=row_id)
          a= other_professors
          label.read-more.slds-p-left--small(for=row_id)= more_label
          .expand-content
            block

  +page-wrapper("","")
    +page-header("Academic Information", "has-controls", "img/navs/student/academic-information.svg")
      +page-header-controls(true, "Navigate to")
        a(href="/views/student/academic-information.html") Overview
        a(href="/views/student/academic-policies.html") Policies and Procedures
        a(href="/views/student/academic-forms.html") Forms
        a.active(href="#") Academic Resources
        a(href="/views/student/academic-technology.html") Technology Resources

    +page-content-wrapper("")
      .page-section.slds-grid.slds-wrap.slds-grid--pull-padded
        .card-group.slds-p-horizontal--small
          .card
            .card-title.has-controls
              h2 Resources and Tools
            .card-content.slds-p-around--large
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
              p Proin sodales pulvinar tempor. Cun sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cun sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.

              h5.slds-m-top--large
                a(href="http://www.library.georgetown.edu/") Georgetown Library Resources
              ul.slds-list--dotted
                li
                  a(href="https://login.proxy.library.georgetown.edu/login?qurl=http%3a%2f%2fwww.refworks.com%2frefworks") My RefWorks

              h5.slds-m-top--large
                a(href="https://academicsupport.georgetown.edu/") Academic Resource Center (ARC)
              ul.slds-list--dotted
                li
                  a(href="https://academicsupport.georgetown.edu/myarcstudent") MyARC

              h5.slds-m-top--large
                a(href="http://writingcenter.georgetown.edu/#_ga=1.239748355.1043391012.1461595216") Writing Center
              ul.slds-list--dotted
                li
                  a(href="https://georgetown.mywconline.com/") My Writing Center

              h5.slds-m-top--large
                a(href="https://mathstat.georgetown.edu/resources/math-assistance-center") Math Center


block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.


