extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'academic-information';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Academic Policies / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-student.css")
  link(rel="stylesheet", href="./css/table.css")

block content
  mixin policy-row(title,preview_url,is_downloadable, download_url)
    if is_downloadable
      tr.t-body-row
        td.c-body(data-label="Title")= title
        td.c-body.shrink-column(data-label="Link")
          a(href= preview_url, target="_blank", class="icon-policy")
            +svg-sprite("img/sprites/base.svg", "file", "glyph", "Preview")
        td.c-body.shrink-column(data-label="Download")
          a(href= download_url, target="_blank" class="icon-policy")
            +svg-sprite("img/sprites/base.svg", "download", "glyph", "Download")
    else
      tr.t-body-row
        td.c-body(data-label="Title")= title
        td.c-body.shrink-column(data-label="Link")
          a(href= preview_url, class="icon-policy")
            +svg-sprite("img/sprites/base.svg", "file", "glyph", "Preview")
        td.c-body

  +page-wrapper("","")
    +page-header("Academic Information", "has-controls", "img/navs/student/academic-information.svg")
      +page-header-controls(true, "Navigate to")
        a(href="/views/student/academic-information.html") Overview
        a.active(href="#") Policies and Procedures
        a(href="/views/student/academic-forms.html") Forms
        a(href="/views/student/academic-resources.html") Academic Resources
        a(href="/views/student/academic-technology.html") Technology Resources

    +page-content-wrapper("")
      .page-section.slds-m-bottom--large
        .card-group
          .card
            .card-title
              p.slds-p-bottom--small.slds-text-body--medium A broad range of policies and procedures guide and govern the activities of members of the Georgetown University community. #[br] This page organizes information about policies in an attempt to make applicable policies more accessible for students.
              p.slds-p-bottom--x-small While we have tried to cover all significant University policies and procedures, and will be updating this page and related pages periodically in an effort to keep them current, there may be applicable policies that are not listed on this page. Individuals should inquire with appropriate University offices about policies and procedures that apply to specific activities. The absence of an applicable policy from this or related web pages does not excuse a member of the University community from complying with that policy.
            .card-content.slds-p-around--large
              h2.slds-m-bottom--small Georgetown Policies and Procedures
              table.slds-table.slds-table--striped.slds-no-row-hover.table-default.slds-m-bottom--xx-large
                tbody.t-body(data-body="true")
                  +policy-row("Student Code of Conduct", "https://studentconduct.georgetown.edu/code-of-student-conduct", true, "#")
                  +policy-row("University Policies", "http://policies.georgetown.edu/universitywidepolicies", false, "")
                  +policy-row("Honor Council", "http://honorcouncil.georgetown.edu/system/policies", false, "")
                  +policy-row("Undergrad Bulletin", "https://grad.georgetown.edu/academics/policies", false, "")

              h2.slds-m-bottom--small School Name Policies and Procedures
              table.slds-table.slds-table--striped.slds-no-row-hover.table-default.slds-m-bottom--xx-large
                tbody.t-body(data-body="true")
                  +policy-row("Sed tempore asperiores placeat", "#", false, "")
                  +policy-row("Aut veniam", "#", false, "")
                  +policy-row("Odio tenetur quia", "#",  true, "#")
                  +policy-row("Aliquam odit soluta", "#", false, "")

              h2.slds-m-bottom--small School Name and Procedures
              table.slds-table.slds-table--striped.slds-no-row-hover.table-default.slds-m-bottom--xx-large
                tbody.t-body(data-body="true")
                  +policy-row("Praesentium architecto vitae ratione", "#", true, "#")
                  +policy-row("Volptas accusantium", "#", true, "#")
                  +policy-row("Similique voluptatibus", "#", true, "#")
                  +policy-row("Dolor expedi", "#", true, "#")



block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.


