extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'academic-information';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Academic Technology / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-student.css")
  link(rel="stylesheet", href="./css/table.css")

block content
  mixin schedule-row(name,date,days,time,location,professor,other_professors,more_label,row_id)
    tr.t-body-row
      td.c-body(data-label="Name")= name
      td.c-body(data-label="Date")= date
      td.c-body(data-label="Days")= days
      td.c-body(data-label="Time")= time
      td.c-body(data-label="Location")= location
      td.c-body(data-label="Professor")
        a= professor
      td.c-body(data-label="Other Professors")
        .read-more
          input(type="checkbox", name=row_id, id=row_id)
          a= other_professors
          label.read-more.slds-p-left--small(for=row_id)= more_label
          .expand-content
            block

  +page-wrapper("","")
    +page-header("Academic Information", "has-controls", "img/navs/student/academic-information.svg")
      +page-header-controls(true, "Navigate to")
        a(href="/views/student/academic-information.html") Overview
        a(href="/views/student/academic-policies.html") Policies and Procedures
        a(href="/views/student/academic-forms.html") Forms
        a(href="/views/student/academic-resources.html") Academic Resources
        a.active(href="") Technology Resources

    +page-content-wrapper("")
      .page-section.slds-grid.slds-wrap.slds-grid--pull-padded
        .slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--2-of-3
          .card
            .card-title.has-controls
              h2 Technology Resources
            .card-content.slds-p-around--large
              p Eius temporibus obcaecati nihil. Ex odit, quisquam exercitationem asperiores ad quae, possimus perferendis molestias culpa similique optio maiores. Eos, mollitia!
        .slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-3
          .card-group
            .card
              .card-title
                h2 UIS Helpdesk
              .card-content.slds-p-around--large
                p
                  a(href="https://uis.georgetown.edu/help") https://uis.georgetown.edu/help

block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
