extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'academic-information';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Academic Forms / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-student.css")
  link(rel="stylesheet", href="./css/table.css")

block content
  mixin form-row(form_name,form_description,due_date, is_past_due)
    if is_past_due
      tr.t-body-row
        td.c-body.name(data-label="Form Name")
          a= form_name
        td.c-body(data-label="Description")= form_description
        td.c-body.brand-error(data-label="Due Date")= due_date
    else
      tr.t-body-row
        td.c-body.name(data-label="Form Name")
          a= form_name
        td.c-body(data-label="Description")= form_description
        td.c-body(data-label="Due Date")= due_date

  +page-wrapper("","")
    +page-header("Academic Information", "has-controls", "img/navs/student/academic-information.svg")
      +page-header-controls(true, "Navigate to")
        a(href="/views/student/academic-information.html") Overview
        a(href="/views/student/academic-policies.html") Policies and Procedures
        a.active(href="#") Forms
        a(href="/views/student/academic-resources.html") Academic Resources
        a(href="/views/student/academic-technology.html") Technology Resources

    +page-content-wrapper("")
      .page-section
        .card-group
          .card
            .card-title
              h2 Academic Forms
            .card-content.slds-p-horizontal--large.slds-p-bottom--large
              table.slds-table.slds-table--striped.slds-no-row-hover.table-default(data-sortable)
                thead.t-head
                  tr.t-head-row
                    th.c-head(data-sortable="true") Form Name
                    th.c-head(data-sortable="false") Description
                    th.c-head(data-sortable="true") Due Date
                tbody.t-body
                  +form-row("Add or Drop Class","Totam, rerum distinctio minima numquam quae debitis assumenda. Possimus, eaque blanditiis","01/30/2017", true)
                  +form-row("Pass or Fail Class","Ipsam nesciunt culpa ea maiores quis delectus labore, officiis voluptatum.","03/20/2017", false)
                  +form-row("Voluptatem mollitia","Distinctio animi expedita ab, ea quam odio maiores, hic officiis.","03/12/2017", false)
                  +form-row("Eos laudantium","Rem dolor ad necessitatibus voluptatum ducimus odio, vel! Neque, accusamus.","04/02/2017", false)
                  +form-row("Fuga quod","Fuga officiis obcaecati, doloribus esse sed reiciendis dignissimos dolorem assumenda.","03/10/2017", false)
                  +form-row("Veniam","Omnis libero voluptate, rerum ipsa accusamus eius officiis excepturi quas.","01/30/2017", false)
                  +form-row("Fuga reprehenderit","Mollitia doloribus aliquam at fugiat. Obcaecati magnam sint, aperiam aliquid.","01/30/2017", false)
                  +form-row("Sapiente quibusdam","Similique adipisci ex ipsam ipsa culpa hic non nulla iusto.","01/30/2017", false)
                  +form-row("Delectus saepe","Iure consequuntur totam odio dolor magnam voluptate, odit culpa autem.","01/30/2017", false)
                  +form-row("Laboriosam nulla","Repudiandae nobis omnis odio eius iste eos veniam porro, consequuntur.","01/30/2017", false)

block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
