extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'calendar';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Calendar / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./bower_components/fullcalendar/dist/fullcalendar.min.css")
  link(rel="stylesheet", href="./css/calendar.css")
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper("","")
    +page-header("Calendar", "has-controls", "img/navs/student/calendar.svg")

    +page-content-wrapper("")
      .page-section
        .card-group.slds-size--1-of-1.slds-small-size--2-of-2.slds-large-size--1-of-2
          .card.calendar.has-toolbar
            .card-content.slds-p-around--large
              #calendar
              .calendar-toolbar

block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script(src='bower_components/moment/min/moment.min.js')
  script(src='bower_components/fullcalendar/dist/fullcalendar.min.js')

  script.
    var data = [
      {
        title: 'All Day Event',
        start: '2017-03-01'
      },
      {
        title: 'Long Event',
        start: '2017-03-07',
        end: '2017-03-10'
      },
      {
        id: 999,
        title: 'Repeating Event',
        start: '2017-03-09T16:00:00'
      },
      {
        id: 999,
        title: 'Repeating Event',
        start: '2017-03-16T16:00:00'
      },
      {
        title: 'Conference',
        start: '2017-03-11',
        end: '2017-03-13'
      },
      {
        title: 'Meeting',
        start: '2017-03-12T10:30:00',
        end: '2017-03-12T12:30:00'
      },
      {
        title: 'Lunch',
        start: '2017-03-12T12:00:00'
      },
      {
        title: 'Meeting',
        start: '2017-03-12T14:30:00'
      },
      {
        title: 'Happy Hour',
        start: '2017-03-12T17:30:00'
      },
      {
        title: 'Dinner',
        start: '2017-03-12T20:00:00'
      },
      {
        title: 'Birthday Party',
        start: '2017-03-13T07:00:00'
      },
      {
        title: 'Click for Google',
        url: 'http://google.com/',
        start: '2017-03-28'
      }
    ];
    // FullCalendar Plugin
    $(document).ready(function() {
      $('#calendar').fullCalendar({
        // put your options and callbacks here
        contentHeight: parent,
        defaultView: 'month',
        events: data,
        header: {
          left: 'prev, next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        }
      });
    });



