extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'campus-life';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Campus Life / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper()
    +page-header("Campus Care", "has-controls", "img/navs/student/campus-life.svg")
      +page-header-controls(true, "Navigate to")
        a.active(href="#") Overview
        a(href="#") Student Groups
        a(href="#") Student Involvement
      .description
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    +page-content-wrapper()
      .page-section.slds-grid.slds-wrap.slds-grid--pull-padded
        .card-group.slds-p-horizontal--small.slds-size--1-of-1.slds-small-size--2-of-2.slds-large-size--1-of-2
          .card
            .card-content.slds-p-around--large
              p.intro To request funding for your student organization, please fill out #[a(href="#") this form], and submit it to #[a(href="#") XXX].


block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.

