extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'campus-care';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Campus Life - Student Wellness / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper("", "")
    +page-header("Campus Care", "has-controls", "img/navs/student/campus-care.svg")
      +page-header-controls(true, "Navigate to")
        a(href="views/student/campus-care.html") Overview
        a(href="views/student/campus-housing.html") Housing
        a.active(href="#") Student Wellness

    +page-content-wrapper("")
      .page-section
        .card-group
          .card
            .card-title
              h2 Student Wellness
            .card-content.slds-p-around--large
              +grid("wrap stretch", "large", "6-of-12")
                +grid-col("")
                  .card-grid-item.md
                    .title Counseling and Phychiatric Services (CAPS)
                    .card-label Location
                    div 1 Darnell Hall - Back of Building
                    .card-label Contact
                    div Appointments: #[a(href="tel:(202) 687-6985") (202) 687-6985]
                    div After Hours Emergencies: #[a(href="tel:(202) 444-4273") (202) 444-4273]
                    a(href="caps.georgetown.edu") http://caps.georgetown.edu
                    .card-description
                      .card-label Description
                      .description CAPS offers a variety of counseling and psychiatric services to students. Evaluations, consultations, and group therapy are free of charge. For ongoing treatment, there is a modest fee of $10 per psychotherapy visit and $15 per psychiatry visit. CAPS will work with students to overcome any financial barriers to treatment.

                +grid-col("")
                  .card-grid-item.md
                    .title Chaplains and Jesuits in Residence
                    .card-label Location
                    div 113 Healy Hall
                    .card-label Contact
                    div Appointments: #[a(href="tel:(202) 687-4300") (202) 687-4300]
                    div After Hours Emergencies: #[a(href="tel:(202) 444-4273") (202) 444-4273]
                    a(href="campusministry.georgetown.edu/residentialministry") http://campusministry.georgetown.edu/residentialministry
                    .card-description
                      .card-label Description
                      .description The Office of Campus Ministry’s full-time chaplains and volunteer residential chaplains are available for all students for conversation, encouragement, and support. These friendly and welcoming ministers embody Georgetown’s commitment to Cura Personalis – caring deeply for the spiritual and emotional well- being of all students. All students – of any or no tradition – are always welcome.

                +grid-col("")
                  .card-grid-item.md
                    .title Georgetown University Police Department (GUPD)
                    .card-label Location
                    div Village C, West Wing - Ground Floor
                    .card-label Contact
                    div Emergencies: #[a(href="tel:(202) 687-4357") (202) 687-4357]
                    div Phone: #[a(href="tel:(202) 444-4343") (202) 444-4343]
                    div TTY: #[a(href="tel:(202) 444-4342") (202) 444-4342]
                    div SafeRides: #[a(href="tel:(202) 784-7433") (202) 784-7433]
                    a(href="police.georgetown.edu") http://police.georgetown.edu
                    .card-description
                      .card-label Description
                      .description GUPD provides security and police services on the Georgetown University Main and Medical Center campuses as well as off campus properties. Utilizing foot patrols, vehicles, and bicycles, the officers patrol the campus twenty-four hours a day, seven days a week. GUPD also opertates the SafeRides program, which provides a free shuttle service or escort in the Georgetown, Burleith and Foxhall neighborhoods.


block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.

