extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'campus-care';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Campus Care / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper("pg-dashboard","")
    +page-header("Campus Care", "has-controls", "img/navs/student/campus-care.svg")
      +page-header-controls(true, "Navigate to")
        a.active(href="#") Overview
        a(href="views/student/campus-housing.html") Housing
        a(href="views/student/campus-wellness.html") Student Wellness

    +page-content-wrapper()
      .page-section.slds-grid.slds-wrap.slds-grid--pull-padded
        .slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--2-of-3
          .card-group
            .card.slds-m-bottom--large
              .card-title
                h2 The Spirit of Georgetown
              .card-content.slds-p-around--large
                p.slds-p-bottom--small Georgetown University, the first Catholic and Jesuit university founded in the United States, enjoys a distinguished heritage and Jesuit tradition. At the core of this tradition are transcendent values, including the integration of learning, faith and service; care for the whole person; character and conviction; religious truth and interfaith understanding; and a commitment to building a more just world. These values are grounded in Georgetown’s origins and touch all of the university community.
                p.slds-p-bottom--small “Cura Personalis” - This Latin phrase translates as “Care of the Person,” and originally was used to describe the responsibility of the Jesuit Superior to care for each man in the community with his unique gifts, challenges, needs and possibilities. This value now is applied more broadly to include the relationship between educators and students, and the professional relationships among all those who work in the University. “Cura Personalis” suggests individualized attention to the needs of the other, distinct respect for his or her unique circumstances and concerns, and an appropriate appreciation for his or her particular gifts and insights. The Chaplains-in Residence and Jesuits-in-Residence program exemplifies the commitment to this value by providing a supportive presence in each student residence hall. Georgetown also offers a wealth of wellness resources to students, faculty and staff.
                div.slds-p-vertical--medium
                  a Read more on the Spirit of Georgetown here.
        .slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-3
          .card-group
            .card
              .card-title
                h2 Campus Ministry
              .card-content.card-content.slds-p-around--large
                img.img-responsive(src="http://placehold.it/400x200")
                p.slds-p-vertical--medium Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                div.slds-p-vertical--medium
                  a.btn-bs.slds-button.slds-button--neutral Learn More

block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.

