extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'campus-care';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Campus Life - Housing / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper("", "")
    +page-header("Campus Care", "has-controls", "img/navs/student/campus-care.svg")
      +page-header-controls(true, "Navigate to")
        a(href="views/student/campus-care.html") Overview
        a.active(href="#") Housing
        a(href="views/student/campus-wellness.html") Student Wellness
      p.slds-p-top--medium Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    +page-content-wrapper("")
      .page-section
        .card-group
          .card
            .card-title
              .icon-block.has-controls.slds-m-top--none.slds-p-top--x-small
                .heading
                  h2(class="title") Housing
                  .controls
                    a.btn-next
                      span Go to StarRez
                      +svg-sprite("img/sprites/base.svg","arrow-right-mini","sm","Go")
            .card-content.card-content.slds-p-around--large
              .slds-grid.slds-wrap.slds-grid--pull-padded.slds-grid--vertical-stretch
                .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-5
                  .title Current Housing
                  .slds-p-vertical--xx-small Harbin Hall
                .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-5
                  .title Lease Term
                  .slds-p-vertical--xx-small
                    div Spring Semester
                .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-5
                  .title Last Payment
                  .slds-p-vertical--xx-small
                    div $1,412.32
                .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-5
                  .title Amount owed
                  .slds-p-vertical--xx-small
                    a.underline $0
                .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-5
                  .title Due Date
                  .slds-p-vertical--xx-small
                    a.underline 4/12/2017

              .slds-grid.slds-wrap.slds-grid--pull-padded.slds-grid--vertical-stretch
                .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-5
                  .title Roomate(s)
                  .slds-p-vertical--xx-small
                    div Jake Sisko
                    div Naomi Wildman
                .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-5
                  .title Community Director
                  .slds-p-vertical--xx-small
                    div Ezequiel Tavano
                .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-5
                  .title Resident Assistant
                  .slds-p-vertical--xx-small
                    div Olive Abts
                .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-5
                  .title Parcel Notification
                  .slds-p-vertical--xx-small
                    div 3/1/2017 - Package Waiting


block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.

