extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'dashboard';

include partials/student-includes.pug
include ../../modules/social.pug

block base_url
  base(href="../../")

block title
  title Dashboard / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/dashboard.css")
  link(rel="stylesheet", href="./css/messaging.css")
  link(rel="stylesheet", href="./css/table.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/quick-links.css")
  link(rel="stylesheet", href="./css/theme-student.css")
  link(rel="stylesheet", href="./bower_components/fullcalendar/dist/fullcalendar.min.css")
  link(rel="stylesheet", href="./css/calendar.css")


block content

  mixin person(role, photo_url, name)
    .person
      .user-control
        .user-photo.sm(style= 'background-image:url(' + photo_url + ')')
        a(href="#", data-balloon="Help text", data-balloon-pos="up")
          +svg-sprite("img/sprites/media.svg","calendar","","")
      .detail
        .role
          span= role

        a.name= name
        .controls
          div
            a(href="mailto:user@domain.com")= name + '@gmail.com'
              //+svg-sprite("img/sprites/media.svg","email","","")
          div
            a.telephone(href="tel:(555) 555-5##5") (555) 555-5##5
          div

  +page-wrapper("pg-dashboard", "")
    +page-header("Dashboard", "has-icon", "img/navs/student/dashboard.svg")
      +grid("wrap", "large", "col-70-30 quick-links")
        +grid-col()
          .icon-list
            .icon-link
              a(href="#")
                img(src="demo/quick-links/student/gms.svg", alt="GMS")
            .icon-link
              a(href="#")
                img(src="demo/quick-links/student/appointments.svg", alt="Appointments")
            .icon-link
              a(href="#")
                img(src="demo/quick-links/student/canvas.svg", alt="Canvas")
            .icon-link
              a(href="#")
                img(src="demo/quick-links/student/blackboard.svg", alt="Blackboard")
            .icon-link
              a(href="#")
                img(src="demo/quick-links/student/student-handbook.svg", alt="Student Handbook")
            .icon-link.add
              a.btn-edit-quicklinks
                span Add
                +svg-sprite("img/sprites/base.svg","add","","")
        +grid-col()
          include ../../partials/quick-link-list.pug
    +page-content-wrapper()
      .page-section.slds-grid.slds-wrap.slds-grid--pull-padded
        .card-group.slds-p-horizontal--small.slds-size--2-of-2.slds-large-size--1-of-2
          .card.scroll-md
            .card-title.has-controls
              .title
                +svg("img/navs/student/message-center.svg", "", "icon-md", "")
                h2 Message Center
            .card-content
              .messaging.message-preview-list
                +message("Dr. Julian Bashir", "03/25/2017 - 2:13 PM", "Assumenda facere consequuntur vero", "View Full Message")
                  p Sed facere voluptatem, in quia cum fugit autem corporis veritatis id iusto officiis quibusdam assumenda dolorum tempora doloremque at culpa maxime saepe odit dolorem deserunt repellendus. Fugiat, molestiae nemo aliquam voluptatem officiis qui culpa libero exercitationem vero? Vitae, eum, consequuntur.
                +message-controls()
                  +btn-pill("btn-default", "", "Mark as read", "#", false)
                +message("Dr. Mary Glow", "02/25/2017 - 3:01 PM", "Quo culpa odio odit", "View Full Message")
                  p Dolores vitae, eligendi. Minus eius autem esse sapiente nesciunt veniam ratione, ducimus fugit a consequuntur. Debitis itaque eos porro. Ut!
                +message-controls()
                  +btn-pill("btn-default", "", "Mark as read", "#", true)
                +message("Dr. Yahaira Bogdanovich", "01/12/2017 - 4:21 PM", "Dicta, nihil aut earum nisi!", "View Full Message")
                  p Mollitia repellat molestiae odit alias dolore libero voluptatem fugiat assumenda nisi quibusdam nostrum incidunt similique odio ex culpa, nihil qui fuga! Nemo dicta vitae odit, quae possimus dolor eligendi illum!
                +message-controls()
                  +btn-pill("btn-default", "", "Mark as read", "#", true)
          .card.scroll-md
            .card-title.has-controls.slds-p-around--medium
              .title
                +svg("img/navs/student/social-feed.svg", "", "icon-md", "")
                h2 Social Feed
              .controls
                a.btn-pill.rounded.btn-edit-feed
                  +svg-sprite("img/sprites/base.svg", "settings-cog", "icon-xs", "Settings")
            .card-content.slds-p-around--large
              .social-feed
                .read
                  +feed-item("Georgetown University", "/demo/avatar_instagram.jpg", "@georgetownuniversity", "instagram", "https://www.instagram.com/georgetownuniversity/", "5h")
                    p Nothing but blue skies, do I see 🎵
                    img.img-responsive(src="https://scontent-ort2-1.cdninstagram.com/t51.2885-15/s480x480/e35/16907019_1100191920091411_407213868037701632_n.jpg")
                  +feed-item("Georgetown University", "/demo/avatar_twitter.png", "@georgetown", "twitter", "https://twitter.com/georgetown", "19h")
                    p We teamed up with #[a(href="https://twitter.com/VICE") @VICE] to give a glimpse of life #[a(href="https://twitter.com/georgetown") @Georgetown]: #[a(href="bit.ly/2kJQsIR") bit.ly/2kJQsIR] #[a(href="https://twitter.com/hashtag/GeorgetownFaces?src=hash") #GeorgetownFaces]
                  +feed-item("Georgetown University", "/demo/avatar_twitter.png", "GeorgetownUniversity", "youtube", "https://www.youtube.com/user/GeorgetownUniversity", "2d")
                    p Georgetown University partnered with the production arm of VICE Media to give a glimpse into life as a Georgetown student in Washington, D.C. Check out some of the faces and places that makes Georgetown home at #[a(href="www.GeorgetownFaces.com") www.GeorgetownFaces.com]
                    .embed-responsive.size-16x9
                      iframe(width="560", height="315", src="https://www.youtube.com/embed/Jy4OUpcsHgk?ecver=1", frameborder="0", allowfullscreen)
                  +feed-item("Georgetown University", "/demo/avatar_facebook.jpg", "@georgetownuniv", "facebook", "https://www.facebook.com/georgetownuniv", "4d")
                    p Biology of global health senior Breanna Walsh (C’17) conducts research in the lab of biology professor Heidi Elmendorf that may one day help identify drugs to combat a common intestinal parasite.
                    img.img-responsive(src="https://www.georgetown.edu/sites/www/files/styles/hero_image/public/walsh.jpg")
                .edit.slds-hide
                  strong Select which of the following social media sites you would like to see in your feed.
                  div.slds-m-top--small
                    +checkbox("", "gu-facebook", "social-feed-selections", "", "GU Facebook")(checked="checked", disabled="disabled")
                  div.slds-m-top--small
                    +checkbox("", "gu-twitter", "social-feed-selections", "", "GU Twitter")(checked="checked", disabled="disabled")
                  div.slds-m-top--small
                    +checkbox("", "gu-instagram", "social-feed-selections", "", "GU Instagram")(checked="checked")
                  div.slds-m-top--small
                    +checkbox("", "gu-youtube", "social-feed-selections", "", "GU YouTube")
                  div.slds-m-top--small
                    +checkbox("", "schoolname-twitter", "social-feed-selections", "", "Schoolname Twitter")(checked="checked")
                  div.slds-m-top--small
                    +checkbox("", "schoolname-facebook", "social-feed-selections", "", "Schoolname Facebook")(checked="checked")
                  div.slds-m-top--small
                    +checkbox("", "schoolname-youtube", "social-feed-selections", "", "Schoolname YouTube")
                  .controls
                    a.btn-pill.btn-save-social-feed Save


        .card-group.slds-p-horizontal--small.slds-size--2-of-2.slds-small-size--2-of-2.slds-large-size--1-of-2
          .card.calendar.scroll-md.has-toolbar
            .card-content.slds-p-around--large
              #calendar
              .calendar-toolbar
                +dropdown("profile-subnav", "profile-subnav", "", true)
                  a.active(href="#") Select Event Source
                  a(href="#") Event Source 1
                  a(href="#") Event Source 2
                  a(href="#") Event Source 3
                  a(href="#") Event Source 4
                +checkbox("", "set-default-source", "default-source", "", "Set as default")

          .card.academic-overview.scroll-md
            .card-title.has-controls
              .title
                +svg("img/navs/student/academic-overview.svg", "", "icon-md", "")
                h2 Academic Overview
              .controls
                a.btn-pill See Full Schedule
            .card-content.slds-p-top--none
              div
                table.slds-table.slds-table--striped.slds-no-row-hover.table-default(data-sortable)
                  thead.t-head
                    tr.t-head-row
                      th.c-head(data-sortable="true") Class
                      th.c-head(data-sortable="true") Day / Time
                      th.c-head(data-sortable="true") Contact
                  tbody.t-body
                    tr.t-body-row
                      td.c-body.title(data-label="Class")
                        a Class Name 1
                      td.c-body.title(data-label="Day / Time") TR 9:00am - 11:00am
                      td.c-body.title(data-label="Contact")
                        a Dr. Penning
                    tr.t-body-row
                      td.c-body.title(data-label="Class")
                        a Class Name 2
                      td.c-body.title(data-label="Day / Time") TR 9:00am - 11:00am
                      td.c-body.title(data-label="Contact")
                        a Dr. Wolffe
                    tr.t-body-row
                      td.c-body.title(data-label="Class")
                        a Class Name 3
                      td.c-body.title(data-label="Day / Time") TR 11:00am - 1:00pm
                      td.c-body.title(data-label="Contact")
                        a Dr. Koshi
                    tr.t-body-row
                      td.c-body.title(data-label="Class")
                        a Class Name 1
                      td.c-body.title(data-label="Day / Time") TR 9:00am - 11:00am
                      td.c-body.title(data-label="Contact")
                        a Dr. Penning
                    tr.t-body-row
                      td.c-body.title(data-label="Class")
                        a Class Name 2
                      td.c-body.title(data-label="Day / Time") TR 9:00am - 11:00am
                      td.c-body.title(data-label="Contact")
                        a Dr. Wolffe
                    tr.t-body-row
                      td.c-body.title(data-label="Class")
                        a Class Name 3
                      td.c-body.title(data-label="Day / Time") TR 11:00am - 1:00pm
                      td.c-body.title(data-label="Contact")
                        a Dr. Koshi
                    tr.t-body-row
                      td.c-body.title(data-label="Class")
                        a Class Name 2
                      td.c-body.title(data-label="Day / Time") TR 9:00am - 11:00am
                      td.c-body.title(data-label="Contact")
                        a Dr. Wolffe
                    tr.t-body-row
                      td.c-body.title(data-label="Class")
                        a Class Name 3
                      td.c-body.title(data-label="Day / Time") TR 11:00am - 1:00pm
                      td.c-body.title(data-label="Contact")
                        a Dr. Koshi
                    tr.t-body-row
                      td.c-body.title(data-label="Class")
                        a Class Name 1
                      td.c-body.title(data-label="Day / Time") TR 9:00am - 11:00am
                      td.c-body.title(data-label="Contact")
                        a Dr. Penning
                    tr.t-body-row
                      td.c-body.title(data-label="Class")
                        a Class Name 2
                      td.c-body.title(data-label="Day / Time") TR 9:00am - 11:00am
                      td.c-body.title(data-label="Contact")
                        a Dr. Wolffe
                    tr.t-body-row
                      td.c-body.title(data-label="Class")
                        a Class Name 3
                      td.c-body.title(data-label="Day / Time") TR 11:00am - 1:00pm
                      td.c-body.title(data-label="Contact")
                        a Dr. Koshi
                    tr.t-body-row
                      td.c-body.title(data-label="Class")
                        a Class Name 1
                      td.c-body.title(data-label="Day / Time") TR 9:00am - 11:00am
                      td.c-body.title(data-label="Contact")
                        a Dr. Penning

      .page-section.slds-m-top--x-large.slds-grid.slds-wrap
        .card-group
          .card
            .card-title.slds-p-around--medium
              .title
                h2 My GU Team
            .card-content.slds-p-around--large
              .user-grid
                +person("My Academic Dean", "https://randomuser.me/api/portraits/men/1.jpg", "Jeanelle Vanoven")
                +person("My Faculty Advisor", "https://randomuser.me/api/portraits/men/2.jpg", "Huong Jermeland")
                +person("My Peer Advisor", "https://randomuser.me/api/portraits/women/3.jpg", "Naoma Sund")
                +person("My Financial Aid Advisor", "https://randomuser.me/api/portraits/women/4.jpg", "Clementina Ohme")
                +person("Georgetown Scholarship Program Advisor", "https://randomuser.me/api/portraits/men/5.jpg", "Garrett Brownley")
                +person("Community Scholar Program Advisor", "https://randomuser.me/api/portraits/men/6.jpg", "Theo Rodriquez")
                +person("International Student Advisor", "https://randomuser.me/api/portraits/men/7.jpg", "Taylor Pierce")
                +person("Athletic Academic Coordinator", "https://randomuser.me/api/portraits/women/8.jpg", "Allison Gilbert")
                +person("My Resident Assistant", "https://randomuser.me/api/portraits/women/9.jpg", "Gemma Murray")
                +person("My Community Director", "https://randomuser.me/api/portraits/men/10.jpg", "Joe Coleman")

block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block modals
  include ../../partials/modal-meeting-request.pug
  include partials/modal-student-quick-links.pug

block scripts
  script(src='bower_components/moment/min/moment.min.js')
  script(src='bower_components/fullcalendar/dist/fullcalendar.min.js')

  script.

    // Social feed settings toggle
    $('.btn-edit-feed').click(function () {
      $(".social-feed .read").addClass('slds-hide');
      $(".social-feed .edit").removeClass('slds-hide');
      $(this).addClass('slds-hide');
    });

    $('.btn-save-social-feed').click(function () {
      $(".social-feed .read").removeClass('slds-hide');
      $(".social-feed .edit").addClass('slds-hide');
      $('.btn-edit-feed').removeClass('slds-hide');
    });

    // Calendar sample data
    var data = [
      {
        title: 'All Day Event',
        start: '2017-04-01'
      },
      {
        title: 'Long Event',
        start: '2017-04-07',
        end: '2017-04-10'
      },
      {
        id: 999,
        title: 'Repeating Event',
        start: '2017-04-09T16:00:00'
      },
      {
        id: 999,
        title: 'Repeating Event',
        start: '2017-04-16T16:00:00'
      },
      {
        title: 'Conference',
        start: '2017-04-11',
        end: '2017-04-13'
      },
      {
        title: 'Meeting',
        start: '2017-04-12T10:30:00',
        end: '2017-04-12T12:30:00'
      },
      {
        title: 'Lunch',
        start: '2017-04-12T12:00:00'
      },
      {
        title: 'Meeting',
        start: '2017-04-12T14:30:00'
      },
      {
        title: 'Happy Hour',
        start: '2017-04-12T17:30:00'
      },
      {
        title: 'Dinner',
        start: '2017-04-12T20:00:00'
      },
      {
        title: 'Birthday Party',
        start: '2017-04-13T07:00:00'
      },
      {
        title: 'Click for Google',
        url: 'http://google.com/',
        start: '2017-04-28'
      }
    ];

    // FullCalendar Plugin
    $(document).ready(function() {
      $('#calendar').fullCalendar({
        // put your options and callbacks here
        contentHeight: 205,
        defaultView: 'listMonth',
        events: data,
        customButtons: {
          allCalendarsButton: {
            text: 'See All Calendars',
            click:function(event, jsEvent, view){
              window.location.href = '/views/student/calendar.html';
            }
          }
        },
        header: {
          left: 'prev title next',
          center: '',
          right: 'allCalendarsButton'
        }
      });
    });




