extends ../../layout/default-authenticated.pug

include partials/student-includes.pug
include ../../pages/faculty/mixins/directory-item-person.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'directory-faculty';
  - var directoryPage = 'faculty';

block title
  title Directory / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/table.css")
  link(rel="stylesheet", href="./css/card-person.css")
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  include ../../partials/directory-faculty-list-content.pug
  include ../../partials/modal-directory-search.pug

block right-sidebar

block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
    $(document).ready(function() {
      $('.btn-list').addClass('active');
    });


