extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'documents';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Documents / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/table.css")
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  mixin document-item(name,date,notes)
    tr.t-body-row
      td.c-body(data-label="Name", data-sort-value= name)
        a= name
      td.c-body(data-label="Last Updated")= date
      td.c-body(data-label="Notes")= notes
      td.c-body.controls
        a.btn-bs.btn-edit-document
          +svg-sprite("img/sprites/base.svg", "edit", "edit", "Edit")
          span.slds-assistive-text Edit


  +page-wrapper("pg-dashboard","")
    +page-header("My Documents", "", "img/navs/student/documents.svg")
      .description
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    +page-content-wrapper("")
      .page-section
        .card-group
          .card
            .card-title.has-controls
              h2 All Documents
              .controls
                .title.slds-p-right--small View
                +dropdown("documents-subnav", "dropdown-default", "All", true)
                  a(href="#") MBA
                  a(href="#") Other
                +btn-default("btn-upload-document", "", "Upload", "#", false)

            .card-content
              .slds-p-horizontal--large
                table.slds-table.slds-table--striped.slds-no-row-hover.table-default.slds-m-bottom--large(data-sortable)
                  thead.t-head
                    tr.t-head-row
                      th.c-head(data-sortable="true") Name
                      th.c-head(data-sortable="true") Last Updated
                      th.c-head(data-sortable="false") Notes
                      th.c-head(data-sortable="false")
                  tbody.t-body
                    +document-item("Applicant Official", "09/01/2016", "Quaerat tempore fuga nulla, quas aut vel. Laudantium aut animi, officia quibusdam.")
                    +document-item("Applicant Official", "09/01/2016", "Exercitationem dolorum perferendis quo odio odit reprehenderit vitae. Temporibus corporis eveniet harum.")
                    +document-item("Applicant Official", "09/01/2016", "Aspernatur doloremque nesciunt voluptatem, praesentium optio cumque Facilis magnam, modi unde commodi")
                    +document-item("Applicant Official", "09/01/2016", "Quos sapiente facere, dolorum eveniet vero eligendi iure aspernatur. Officia, quidem, iure")
                    +document-item("Applicant Official", "09/01/2016", "Magnam, nihil aut architecto fugit sapiente aspernatur molestiae ipsum dolore. Vel, placeat.")
                    +document-item("Applicant Official", "09/01/2016", "Beatae, culpa consequuntur tempora reiciendis iste vel id voluptate. Veniam sunt, officia.")
                    +document-item("Applicant Official", "09/01/2016", "Maxime laudantium neque rerum tenetur nemo obcaecati fuga aperiam sapiente, cumque vitae")
                    +document-item("Applicant Official", "09/01/2016", "Consectetur voluptatem exercitationem qui ipsa impedit earum provident reprehenderit. A optio, quo")
                    +document-item("Applicant Official", "09/01/2016", "In suscipit explicabo laboriosam dicta temporibus porro odio fugiat unde distinctio fugit")
                    +document-item("Applicant Official", "09/01/2016", "Tempore voluptas quasi atque, quibusdam nisi a distinctio iure, expedita obcaecati facere.")

block modals
  +modal-default("upload-document", "Upload document", "upload-document-modal")
    .slds-modal__content
      .slds-p-around--large
        p.txt-intro Please take a moment to fill out the information below so we can route your document appropriately.
        +select("slds-grid slds-grid--vertical-align-center", "file-type", "Select file type")(class="slds-select")
          option(disabled,selected)
          option() Audio Name Pronunciation
          option() External Syllabi for Transfer Credit
          option() Internal Syllabi for Transfer Credit
          option() Resume
          option() External Recommendation Form
          option() Clinical Clearance Forms
          option() Four Year Plans
          option() Unofficial Transcripts
          option() Professional Development Plan
          option() Credentialing Exam Paperwork
          option() State Licensure Paperwork
          option() Employment Credentialing Paperwork
        +textarea("slds-m-vertical--small","uploaded-document-notes","Document Notes")(placeholder="Add note (optional)", class="slds-textarea", rows="5")
        +slds-file-upload("upload-document","","upload-document-file",".word, .docx, .pdf, .doc", "Choose a file to upload", "Or drop one here", "")
      .slds-modal__footer
        .slds-p-horizontal--large.slds-p-top--small.slds-p-bottom--large
          button.btn-bs.slds-button.slds-button--neutral.btn-close-modal Cancel
          button.btn-bs.slds-button.slds-button--brand.btn-close-modal Upload

  +modal-default("edit-document", "Edit document", "edit-document-modal")
    .slds-modal__content
      .slds-p-around--large
        p.txt-intro You can only edit your notes on the document. If there are changes to the document itself, please upload a new one.

        table.table-default
          thead.t-head
            tr.t-head-row
              th.c-head Document Name
              th.c-head Upload Date
          tbody.t-body
            tr.t-body-row
              td.c-body(data-label="Document Name") Add / Drop Form
              td.c-body(data-label="Upload Date") 3/12/2016
        +textarea("slds-m-top--medium","uploaded-document-notes","Document Notes", "Document Notes")(placeholder="Add note (optional)", class="slds-textarea", rows="5")
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.

      .slds-modal__footer
        .slds-p-horizontal--large.slds-p-top--small.slds-p-bottom--large
          button.btn-bs.slds-button.slds-button--neutral.btn-close-modal Cancel
          button.btn-bs.slds-button.slds-button--brand.btn-close-modal Save

block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
    $('.btn-upload-document').click(function () {
      $("[aria-labelledby='upload-document']").addClass('slds-fade-in-open');
      $("[aria-labelledby='upload-document'] + .slds-backdrop").addClass('slds-backdrop--open');
    });
    $('.btn-edit-document').click(function () {
      $("[aria-labelledby='edit-document']").addClass('slds-fade-in-open');
      $("[aria-labelledby='edit-document'] + .slds-backdrop").addClass('slds-backdrop--open');
    });
