extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'emergency-information';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Emergency Information / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper("pg-dashboard","")
    +page-header("Emergency Information", "has-controls", "img/navs/student/emergency-information.svg")
    +page-content-wrapper()
      .slds-grid.slds-wrap.slds-grid--pull-padded
        .slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--2-of-3
          .card-group
            .card.slds-m-bottom--large
              .card-content.slds-p-around--large
                ul.slds-grid.slds-wrap.slds-grid--pull-padded-large.slds-list--dotted
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-introduction-resources/", target="_blank") Introduction &amp; Resources
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="https://netid-mgmt.georgetown.edu/emergencycontact/#_ga=1.246320772.1242176550.1482113519", target="_blank") Manage my HOYAlerts
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-building-floor-marshals/", target="_blank") Building and Floor Marshals
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="https://studenthealth.georgetown.edu/crisis-counseling/sexual-assault-relationship-violence", target="_blank") Crisis Counseling for Sexual Assault and Relationship Violence
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-evacuation-guidelines/", target="_blank") Evacuation Guidelines
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="https://studenthealth.georgetown.edu/medical-care", target="_blank") Student Health Center
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-shelter-place-guidelines/", target="_blank") Shelter-In-Place Guidelines
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="https://police.georgetown.edu/", target="_blank") Georgetown University Police Department
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-medical-emergency/", target="_blank") Medical Emergency
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-hazmat-incident/", target="_blank") Hazmat Incidents
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-fire-procedure/", target="_blank") Fire
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-power-outage-2/", target="_blank") Power Outage
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-elevator-failure/", target="_blank") Elevator Failure
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-security-threat-suspicious-package/", target="_blank") Suspicious Packages
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-security-threat-suspicious-vehicle/", target="_blank") Suspicious Vehicle
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-security-threat-bomb-threat/", target="_blank") Bomb Threat
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-security-threat-active-shooter/", target="_blank") Active Shooter
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-natural-hazards/", target="_blank") Natural Hazard


        .slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-3
          .card-group
            .card
              .card-title
                h2 Emergency Responders
              .card-content.slds-p-around--large
                .slds-text-heading--medium.slds-p-bottom--xx-small Law Campus Dial DPS
                div.slds-p-bottom--medium
                  a(href="tel:(202) 662-9325") (202) 662-9325

                .slds-text-heading--medium.slds-p-bottom--xx-small Main / Medical Campus Dial GUPD
                div.slds-p-bottom--medium
                  a(href="tel:(202) 687-4343") (202) 687-4343

                .slds-text-heading--medium.slds-p-bottom--xx-small SCS Campus Dial Security Desk
                div.slds-p-bottom--medium
                  a(href="tel:(202) 784-7375") (202) 784-7375
            .card
              .card-title
                h2 CAPS
              .card-content.slds-p-around--large
                .slds-text-heading--medium.slds-p-bottom--xx-small During business hours
                div.slds-p-bottom--medium
                  a(href="tel:(202) 687-6985") (202) 687-6985

                .slds-text-heading--medium.slds-p-bottom--xx-small After-hours emergencies
                div.slds-p-bottom--medium
                  a(href="tel:(202) 444-7243") (202) 444-PAGE (7243)
                  div Ask to speak to on-call clinician

                a.slds-text-heading--medium.slds-p-bottom--xx-small Mental Health Resources



block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.

