extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'financial-information';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Financial Information / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper("", "")
    +page-header("Financial Information", "has-controls", "img/navs/student/financial-information.svg")
      +page-header-controls(true, "Navigate to")
        a.active(href="#") Overview
        a(href="/views/student/financial-services.html") Financial Services
        a(href="/views/student/financial-billing.html") Billing and Payments
    +page-content-wrapper("")
      .page-section.slds-grid.slds-wrap.slds-grid--pull-padded
        .slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--2-of-3
          .card-group
            .card.slds-m-bottom--large
              .card-title
                h2 Overview
              .card-content.slds-p-around--large
                p.txt-intro Our mission is to make it financially possible for every qualified applicant to enroll at Georgetown University, ensuring that we recruit and retain a talented and diverse learning community.

        .slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-3
          .card-group
            .card
              .card-title
                h2 Financial Aid OFfice
                div.slds-p-top--x-small.slds-p-bottom--x-large
                  a.telephone(href="tel:(202) 687-4547")
                    +svg-sprite("img/sprites/media.svg","phone","icon-xs","")
                    span (202) 687-4547


block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.

