extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'financial-information';

include partials/student-includes.pug
include ../../modules/social.pug

block base_url
  base(href="../../")

block title
  title Financial Services / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper()
    +page-header("Financial Information", "has-controls", "img/navs/student/financial-information.svg")
      +page-header-controls(true, "Navigate to")
        a(href="/views/student/financial-information.html") Overview
        a.active(href="#") Financial Services
        a(href="/views/student/financial-billing.html") Billing and Payments
    +page-content-wrapper()
      .page-section.slds-grid.slds-wrap.slds-grid--pull-padded
        .slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--2-of-3
          .card-group
            .card.slds-m-bottom--large
              .card-title
                h2 Office of Student Financial Services
              .card-content.slds-p-around--large
                p.txt-intro Our mission is to make it financially possible for every qualified applicant to enroll at Georgetown University, ensuring that we recruit and retain a talented and diverse learning community.
                p The Office of Student Financial Services (OSFS) provides counseling services to prospective and current students and their families about:
                ul.slds-list--dotted.bordered
                  li.slds-m-bottom--small Options available for financing higher education costs
                  li.slds-m-bottom--small Eligibility for assistance
                  li.slds-m-bottom--small Applying for an obtaining funding
                  li.slds-m-bottom--small Budgeting expenses and paying bills
                  li.slds-m-bottom--small For both undergraduate and graduate students, the OSFS determines eligibility for assistance from federal, state and private financial aid programs based ont he rules and regulations established by those external agencies.
                p.slds-m-bottom--small We also determine elegibility for Georgetown scholarships to undergraduates and assist in the selection of graduate students who receive university fellowships and scholarships.
                p.slds-m-bottom--small The office is responsible for delivering funds, which may incldue loans, employment, grants and scholarships from both public and private sources, to eligible recipients. There are more than 125 student financial assistance programs managed by or coordinated through the OSFS.
        .slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-3
          .card-group
            .card
              .card-title
                h2 Financial Aid OFfice
                div.slds-p-vertical--x-small
                  a.telephone(href="tel:(202) 687-4547")
                    +svg-sprite("img/sprites/media.svg","phone","icon-xs","")
                    span (202) 687-4547
              .card-content.slds-p-around--large
                .bordered
                  p Please use #[a(href="#") MyAccess] to check the status of your financial aid application. You can also use this system to learn if any required items are missing from your file. If your financial aid award is available, you can view and / or accept the award offer on #[a(href="#") MyAccess].
                  +btn-pill("btn-block slds-m-top--medium", "", "MyAccess", "#", false)
                h2.slds-m-vertical--large Recent Tweets
                .social-feed
                  +feed-item("Georgetown OSFS", "/demo/avatar_twitter.png", "@georgetownOSFS", "twitter", "https://twitter.com/georgetownosfsosfs", "19h")
                    p Are you applying to college this year? Add #[a(href="https://twitter.com/Georgetown") @Georgetown] to your list! We guarantee to meet FULL NEED for all qualified undergrad applicants.
                  +feed-item("Georgetown OSFS", "/demo/avatar_twitter.png", "@georgetownOSFS", "twitter", "https://twitter.com/georgetownosfs", "2d")
                    p If applying for PLUS loans for 1718: apps available sometime this month on #[a(href="https://t.co/p0lbC4jEMN") studentloans.gov]  - do NOT accidentally complete 1617 app!
                  +feed-item("Georgetown OSFS", "/demo/avatar_twitter.png", "@georgetownOSFS", "twitter", "https://twitter.com/georgetownosfs", "4d")
                    p Stop by today if you have questions about applying for the 1718 school year!
                    img.img-responsive(src="https://pbs.twimg.com/media/C5rVHNWWQAA2Czi.jpg")

block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.

