extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'navigating-georgetown';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title GUTS / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper()
    +page-header("Navigating Georgetown", "has-controls", "img/navs/student/navigating-georgetown.svg")
      +page-header-controls(true, "Navigate to")
        a(href="views/student/navigating-the-hilltop.html") Overview
        a.active(href="#") GUTS
        a(href="views/student/navigating-bookstore.html") Bookstore
        a(href="views/student/navigating-dining.html") Dining
    +page-content-wrapper()
      .page-section.slds-grid.slds-wrap.slds-grid--pull-padded
        .slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--2-of-3
          .card-group
            .card
              .card-title
                h2 Georgetown University Transportation Shuttle (GUTS)
              .card-content.slds-p-around--large
                p.slds-m-bottom--small.slds-text-body--medium The Georgetown University Transportation Shuttle (GUTS) is a free shuttle bus for faculty, staff, students, and others affilitated with Georgetown University and Medstar Georgetown University Hospital. GUTS buses connect the Main Campus with two Metro stations, the Georgetown University Law Center, Capitol Hill, and Arlington, Virginia.
                p.slds-m-bottom--small Buses run on five routes, connecting the campus with Metro stations at Rosslyn (Blue, Orange, and Silver Lines) and Dupont Circle (Red Line), the Georgetown University Law Center, the U.S. House of Representatives, university offices on Wisconsin Avenue, and stops in Arlington, Virginia.
                p.slds-m-bottom--large GUTS buses operate between 5 a.m. and 12 midnight, and all buses are free. Riders should be prepared to show their university ID, Medstar GUH ID, or other identification. See the schedules and stop locations for the five routes below. Buses with handicapped access are available on all GUTS routes. Contact OTM at (202) 687-4372 for assistance.

                hr

                .slds-text-heading--medium Dupont Circle
                p.slds-m-bottom--large The Dupont Circle route connects the Main Campus with the Dupont Circle metro station at 20th &amp; Massachusetts Avenue, NW. The Dupont route operates Monday through Friday from 6:00am to 12:00am. During the fall and spring semesters, the Dupont route operates on a limited Saturday schedule from 12:10pm to 6:15pm.

                .slds-text-heading--medium Rosslyn
                p.slds-m-bottom--large The Rosslyn route connects the Main Campus with the Rosslyn metro station at 19th and Moore Streets. The Rosslyn route operates Monday through Friday from 5:00am to 12:00am. During the fall and spring semesters, the Rosslyn route operates on a limited Saturday schedule from 11:30am to 5:35pm.

                .slds-text-heading--medium Wisconsin Avenue
                p.slds-m-bottom--large The Wisconsin Avenue shuttle operates Monday through Friday from 7:00am to 7:00pm, and connects the Main Campus with university offices at 3300 Whitehaven Street, 2115 Wisconsin, and 2121 Wisconsin.

                .slds-text-heading--medium Law Center
                p.slds-m-bottom--large The Law Center route connects the Main Campus with the Georgetown University Law Center and the U.S. House of Representatives. The Law Center route operates Monday through Friday from 7:55am to 10:10pm.

                .slds-text-heading--medium Arlington
                p.slds-m-bottom--large The Arlington route connects the Main Campus with multiple points in Arlington, Virginia, including graduate student housing at the Virginian Suites. The Arlington route operates Monday through Friday from 7:10am to 11:15am and from 4:20pm to 10:20pm.
        .slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-3
          .card-group
            .card
              .card-title
                h2 View the GUTS Routes
              .card-content.card-content.slds-p-around--large
                ul.slds-list--dotted
                  li.slds-p-horizontal--xx-large.slds-p-vertical--x-small.slds-p-left--none
                    a.slds-text-body--medium(href="https://transportation.georgetown.edu/guts/dupont", target="_blank") Dupont
                  li.slds-p-horizontal--xx-large.slds-p-vertical--x-small.slds-p-left--none
                    a.slds-text-body--medium(href="https://transportation.georgetown.edu/guts/rosslyn", target="_blank") Rosslyn
                  li.slds-p-horizontal--xx-large.slds-p-vertical--x-small.slds-p-left--none
                    a.slds-text-body--medium(href="https://transportation.georgetown.edu/guts/wisconsin-avenue", target="_blank") Wisconsin Avenue
                  li.slds-p-horizontal--xx-large.slds-p-vertical--x-small.slds-p-left--none
                    a.slds-text-body--medium(href="https://transportation.georgetown.edu/guts/law-center", target="_blank") Law Center
                  li.slds-p-horizontal--xx-large.slds-p-vertical--x-small.slds-p-left--none
                    a.slds-text-body--medium(href="https://transportation.georgetown.edu/guts/arlington", target="_blank") Arlington
                  li.slds-p-horizontal--xx-large.slds-p-vertical--x-small.slds-p-left--none
                    a.slds-text-body--medium(href="https://transportation.georgetown.edu/guts/busturnaround", target="_blank") McDonough Bus Turnaround


block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.

