extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'navigating-georgetown';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Navigating Georgetown / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper("","")
    +page-header("Navigating Georgetown", "slds-m-bottom--large has-controls", "img/navs/student/navigating-georgetown.svg")
      +page-header-controls(true, "Navigate to")
        a.active(href="#") Overview
        a(href="views/student/navigating-guts.html") GUTS
        a(href="views/student/navigating-bookstore.html") Bookstore
        a(href="views/student/navigating-dining.html") Dining
    +page-content-wrapper("")
      .page-section
        .card-group
          .card
            .card-title
              h2 Overview
            .card-content
              .embed-responsive.size-16x9.slds-m-horizontal--large.slds-m-bottom--large
                iframe(src="https://maps.georgetown.edu/", frameborder="0")


block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.

