extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'navigating-georgetown';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Dining / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper("", "")
    +page-header("Navigating Georgetown", "has-controls", "img/navs/student/navigating-georgetown.svg")
      +page-header-controls(true, "Navigate to")
        a(href="views/student/navigating-the-hilltop.html") Overview
        a(href="views/student/navigating-guts.html") GUTS
        a(href="views/student/navigating-bookstore.html") Bookstore
        a.active(href="#") Dining
    +page-content-wrapper()
      .page-section.slds-grid.slds-wrap

        .card-group
          .card
            .card-title
              h2 Dining
              p.slds-m-bottom--xx-small.description Updated listings for dining options across the campus can be found at the #[a(href="https://studentliving.georgetown.edu/dining", target="_blank") Student Living site].
              p.description You can also #[a(href="https://auxiliary.georgetown.edu/sites/auxiliary/files/styles/hero_image/public/dining_map_0.jpg", target="_blank") download a map of dining locations here].
              hr
            .card-content.slds-p-around--large
              .slds-grid.slds-wrap.slds-grid--pull-padded-large
                .slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--large.slds-p-bottom--large
                  .slds-text-heading--medium LEO's Dining Hall
                  div.slds-m-bottom--small Find us on the South side of campus next to New South.
                  div 37th and O St
                  div Washington, DC 20057
                  div.slds-m-top--medium
                    a(href="https://www.google.com/maps?q=vital+vittles+georgetown&hl=en&ll=38.910233,-77.074183&spn=0.003719,0.008256&sll=38.910237,-77.074199&sspn=0.029754,0.066047&hq=vital+vittles&hnear=Georgetown+University,+3700+O+St+NW,+Washington,+District+of+Columbia+20057&t=m&z=18&iwloc=A", target="_blank") View map
                .slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--large.slds-p-bottom--large
                  .slds-text-heading--medium Epicurian
                  div.slds-m-bottom--small Find us on the west side of Darnall Hall, next to the Wisconsin Ave GUTS bus and North of Leavey Center.
                  div 37th and O St
                  div Washington, DC 20057
                  .slds-m-top--medium
                    a(href="http://www.epicureanandcompany.com/", target="_blank") http://www.epicureanandcompany.com/
                  .slds-m-top--medium
                    a(href="tel:202-625-2222") (202) 625-2222
              hr
              .slds-text-heading--large.slds-m-top--large The Corp
              p.slds-m-vertical--small Students of Georgetown, Inc., commonly known as “The Corp”, is a public, non-profit, and charitable organization at Georgetown University in Washington, D.C. It consists of seven subsidiary companies generating annual revenues in excess of $5 million. Only undergraduate students of Georgetown University work as employees or sit as members of The Corp’s Board of Directors, distinguishing business operations at The Corp from other student-run companies. #[a(href="http://www.thecorp.org/", target="_blank") Learn More]

              .slds-text-heading--large.slds-m-top--x-large Meal Plans
              p.slds-m-vertical--small Meal plans are convenient, flexible, and loaded with options. Your meal plan includes dining locations all across campus with a range of menus and offerings. You’ll get guaranteed value, whether you eat on campus three times a week or three times a day! We’ve got you covered. See our Meal Plan options below for more information. #[a(href="http://georgetown.campusdish.com/Commerce/Catalog/ShopSubCategory.aspx?category=All_Products_7904&lid=7904&root=Meal_Plan", target="_blank") Learn More]




block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.

