extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'navigating-georgetown';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Bookstore / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper("", "")
    +page-header("Navigating Georgetown", "has-controls", "img/navs/student/navigating-georgetown.svg")
      +page-header-controls(true, "Navigate to")
        a(href="views/student/navigating-the-hilltop.html") Overview
        a(href="views/student/navigating-guts.html") GUTS
        a.active(href="#") Bookstore
        a(href="views/student/navigating-dining.html") Dining
    +page-content-wrapper("")
      .page-section.slds-grid.slds-wrap

        .card-group
          .card
            .card-title
              h2 Bookstore
            .card-content.slds-p-around--large
              .slds-grid.slds-wrap.slds-grid--pull-padded-large
                .slds-size--3-of-3.slds-large-size--1-of-3.slds-p-horizontal--large.slds-p-bottom--x-large
                  .slds-text-heading--medium Main Campus Bookstore
                  div General Manager: Sudie Wheatle
                  div Leavey Center
                  div.slds-m-bottom--small Washington, DC 20057
                  div
                    a(href="mailto:GUCampusStore@georgetown.edu") GUCampusStore@georgetown.edu
                  div
                    a(href="tel:202-687-7482") (202) 687-7482
                .slds-size--3-of-3.slds-large-size--1-of-3.slds-p-horizontal--large.slds-p-bottom--x-large
                  .slds-text-heading--medium Law Center Bookstore
                  div McDonough Hall
                  div.slds-m-bottom--small Washington, DC 20001
                  div
                    a(href="mailto:GUCampusStore@georgetown.edu") GUCampusStore@georgetown.edu
                  div
                    a(href="tel:202-662-9676") (202) 662-9676
                .slds-size--3-of-3.slds-large-size--1-of-3.slds-p-horizontal--large.slds-p-bottom--x-large
                  .slds-text-heading--medium Georgetown and Barnes &amp; Noble
                  a(href="http://georgetown.bncollege.com/webapp/wcs/stores/servlet/BNCBHomePage?storeId=88131&catalogId=10001&langId=-1", target="_blank") Visit the site to show your textbooks!





block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.

