extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'profile';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Profile / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/profile.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/photo-upload.css")
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper("","")
    +page-header("Profile", "has-controls", "img/navs/student/profile.svg")
      +page-header-controls(true, "Navigate to")
        a.active(href="#") Basic Information
        a(href="views/student/profile-contact.html") Contact
        a(href="views/student/profile-family.html") Family
        a(href="views/student/profile-releases.html") Information Releases
        a(href="views/student/profile-education.html") Education
        a(href="views/student/profile-gocard.html") Go-Card
        a(href="views/student/profile-housing.html") Housing
        a(href="views/student/profile-interests.html") Interests / Activities

    +page-content-wrapper("")
      .page-section
        .profile-edit
          .profile-summary
            .alert.warning
              +svg-sprite("img/sprites/base.svg", "flag", "", "")
              span We have made changes to the information below. Please accept or reject the changes
          .profile-header
            .photo-block

              .user-photo.xl(style="background-image:url(https://randomuser.me/api/portraits/men/15.jpg)")
              .controls
                +btn-pill("btn-primary btn-upload-photo", "", "Update Photo", "#")
                +btn-pill("btn-default btn-clear-photo", "", "Remove", "#")


            div
              +student-edit-block("full_first-name", "Full First Name", "", true, false, false)
                +control-single-input("", "", "full_first-name", "", "Full First Name")(value="Anthony")

              +student-edit-block("full_middle-name", "Full Middle Name", "", true, false, false)
                +control-single-input("", "pristine", "full_middle-name", "", "Full Middle Name")

              +student-edit-block("full_last-name", "Full Last Name", "", true, false, false)
                +control-single-input("", "", "full_last-name", "", "Full Last Name")(value="Montemorano")

          .card-group
            .card
              .card-content.box
                .card-title
                  h2(class="title slds-text-heading--small slds-m-bottom--large") Names
                .facet-grid.slds-grid.slds-wrap
                  div
                    .ui-widget
                      +student-edit-block("preferred_firstname", "Preferred First Name", "", true, false, false)
                        +control-single-input("", "", "preferred_firstname", "", "Preferred First Name")(value="Tony")
                    .ui-widget
                      +edit-block-no-permissions("", "full-suffix", "", "Full Suffix")
                        +control-single-input("", "pristine", "full-suffix", "", "Full Suffix")
                    .ui-widget
                      +edit-block-no-permissions("", "title", "", "Title")
                        +control-single-input("", "", "title", "", "Title")(value="Mr.")
                    .ui-widget
                      +edit-block-no-permissions("", "gender", "", "Gender")
                        +control-single-select("touch-input slds-input", "", "gender", "", "Gender", "Male")
                          option(value="Female") Female
                          option(value="Male", selected) Male
                          option(value="Other") Other
                    .ui-widget
                      +edit-block-no-permissions("", "ethnicity", "","Ethnicity")
                        +control-single-select("touch-input slds-input", "", "ethnicity", "", "Ethnicity", "Caucasian")(value="Caucasian")
                          option(value="Arctic (Siberian, Eskimo)") Arctic (Siberian, Eskimo)
                          option(value="Caucasian", selected) Caucasian
                          option(value="Indigenous Australian") Indigenous Australian
                          option(value="Native American") Native American
                          option(value="North East Asian (Mongol, Tibetan, Korean Japanese, etc)") North East Asian (Mongol, Tibetan, Korean Japanese, etc)
                          option(value="Pacific (Polynesian, Micronesian, etc)") Pacific (Polynesian, Micronesian, etc)
                          option(value="South East Asian (Chinese, Thai, Malay, Filipino, etc)") South East Asian (Chinese, Thai, Malay, Filipino, etc)
                          option(value="West African, Bushmen, Ethiopian") West African, Bushmen, Ethiopian
                          option(value="Other Race") Other Race

                    .ui-widget
                      +edit-block-no-permissions("", "dob", "", "Date of Birth")
                        +control-single-input("", "pristine", "dob", "", "Date of Birth")(type="date")

                    .ui-widget
                      +edit-block-no-permissions("", "alumni", "", "Alumni")
                        +control-single-input("", "update", "alumni", "", "Alumni")(value="No", disabled)
                      .change-block
                        .content
                          .title Recommended update:
                          fieldset(class="slds-form-element gu-radio")
                            .radio-group-vertical
                              +custom-radio("", "alumni_new", "alumni_recommendation", "Yes")(checked)
                                span.txt-small.txt-uppercase.slds-p-left--x-small (New)
                              +custom-radio("", "alumni_current", "alumni_recommendation", "No")
                                span.txt-small.txt-uppercase.slds-p-left--x-small (Current)
                        +update-block-controls()
                    .ui-widget
                      +edit-block-no-permissions("", "us-citizen-yes", "", "U.S. Citizen")
                        +control-checkboxes("touch-input slds-input", "", "us-citizen-yes", "", "U.S. Citizen", "Yes")

                          .slds-input.touch-input
                            .value Yes

              .card-content.box
                .card-title
                  h2(class="title slds-text-heading--small slds-m-bottom--large") Other Information
                .facet-grid.slds-grid.slds-wrap
                  div
                    .ui-widget
                      +edit-block-no-permissions("", "expected-graduation-date", "","Expected Graduation Date")
                        +control-single-input("", "", "expected-graduation-date", "", "Expected Graduation Date")(value="Fall 2017")

                    .ui-widget
                      +edit-block-no-permissions("", "gu-id", "","GUID")
                        +control-single-input("", "", "gu-id", "", "GUID")(value="#247322")

block modals
  include ../../partials/modal-photo-upload.pug

block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.

