extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'profile';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Profile / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/profile.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper("pg-dashboard","")
    +page-header("Profile", "has-controls", "img/navs/student/profile.svg")
      +page-header-controls(true, "Navigate to")
        a(href="views/student/profile.html") Basic Information
        a(href="views/student/profile-contact.html") Contact
        a(href="views/student/profile-family.html") Family
        a(href="views/student/profile-releases.html") Information Releases
        a.active Education
        a(href="views/student/profile-gocard.html") Go-Card
        a(href="views/student/profile-housing.html") Housing
        a(href="views/student/profile-interests.html") Interests / Activities


    +page-content-wrapper()
        .page-section
          .card-group
            .card
              .card-content
                .box.slds-m-bottom--large.slds-m-top--large
                  h2(class="title slds-text-heading--small slds-m-bottom--small")
                  .slds-grid.slds-wrap
                    .slds-col.slds-xlarge-size--1-of-2

                    .slds-col.slds-xlarge-size--1-of-2


                .box.slds-m-bottom--large
                  h2(class="title slds-text-heading--small slds-m-bottom--small")
                  .slds-grid.slds-wrap

                    .slds-col.slds-xlarge-size--1-of-2

                    .slds-col.slds-xlarge-size--1-of-2




block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
