extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'profile';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Profile / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/profile.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper("pg-dashboard","")
    +page-header("Profile", "has-controls", "../img/navs/student/profile.svg")
      +page-header-controls(true, "Navigate to")
        a(href="views/student/profile.html") Basic Information
        a(href="views/student/profile-contact.html") Contact
        a(href="views/student/profile-family.html") Family
        a(href="views/student/profile-releases.html") Information Releases
        a(href="views/student/profile-education.html") Education
        a(href="views/student/profile-gocard.html") Go-Card
        a(href="views/student/profile-housing.html") Housing
        a.active Interests / Activities
    +page-content-wrapper()
        .page-section.slds-grid.slds-wrap.slds-grid--pull-padded
          .slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--2-of-3
            .card
              .card-title.has-controls
                h2 Activities
              .card-content.slds-p-around--large
                .activity-details
                  label.slds-form-element__label.field-label Club Name loreum Ipsum
                  .membership-details.slds-m-bottom--medium
                    span.membership-status Member
                    span.membership-year 2016-present
                  p Eius temporibus obcaecati nihil. Ex odit, quisquam exercitationem asperiores ad quae, possimus perferendis molestias culpa similique optio maiores. Eos, mollitia!
                  hr
                .activity-details
                  label.slds-form-element__label.field-label Club Name loreum Ipsum
                  .membership-details.slds-m-bottom--medium
                    span.membership-status President
                    span.membership-year 2016-present
                  hr
                .activity-details
                  label.slds-form-element__label.field-label Club Name loreum Ipsum
                  .membership-details.slds-m-bottom--medium
                    span.membership-status Secretary
                    span.membership-year 2016-present
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                  hr
          .slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-3
            .card-group
              .card
                .card-title
                  h2 Interests
                .card-content.slds-p-around--large
                  .student-intrests.slds-m-bottom--medium
                    label.slds-form-element__label.field-label Varsity Sports
                    .intrests-elements
                      p Basketball
                      p Crew
                      p Intramural Sports
                  .student-intrests.slds-m-bottom--medium
                    label.slds-form-element__label.field-label Programs in Washington
                    .intrests-elements
                      p Close
                      p Presidential Classroom
                  .student-intrests.slds-m-bottom--medium
                    label.slds-form-element__label.field-label Other School Activities
                    .intrests-elements
                      p FBLA/DECA
                      p Language Club
                      p Pep Club
                      p Tour Guide





block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
