extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'profile';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Profile / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/profile.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper("pg-dashboard","")
    +page-header("Profile", "has-controls", "../img/navs/student/profile.svg")
      +page-header-controls(true, "Navigate to")
        a(href="views/student/profile.html") Basic Information
        a(href="views/student/profile-contact.html") Contact
        a(href="views/student/profile-family.html") Family
        a.active Information Releases
        a(href="views/student/profile-education.html") Education
        a(href="views/student/profile-gocard.html") Go-Card
        a(href="views/student/profile-housing.html") Housing
        a(href="views/student/profile-interests.html") Interests / Activities

    +page-content-wrapper()
        .page-section
          .card-group
            .card
              .card-title
                h2(class="title slds-m-bottom--large") Information Release Forms

              +collapse-block("div", "card-content box", "FERPA Release of Information", "", "ferpa-release-of-information")
                .slds-p-horizontal--x-large.slds-p-bottom--small
                  h3 Permission to Disclose Education Records
                  p
                    | It is the policy of Georgetown University, in accordance with the Family Education Rights and Privacy Act (FERPA), to withhold disclosure of personally identifiable information from education records unless the student has consented to disclosure or FERPA allows disclosure. By signing this form, you give consent to disclose your educational records to your parent(s), legal guardian(s), tuition provider(s) or other designated person(s). The purpose of the consent is to allow Georgetown University and its representatives to release education record(s) or information contained in your education records. Such information includes course schedules, reports of concern, grades, disciplinary records, financial aid and student account information. To your parent(s) or other person(s) that you may designate, even when you are no longer listed as a dependent on your parent’s income tax return, or you have graduated and left the College, unless you revoke this permission by notifying the Registrar’s Office in writing of your intent to do so.
                  br
                  p
                    | PLEASE READ: In accordance with the Family Educational Rights and Privacy Act of 1974 (FERPA), the undersigned student hereby permits Georgetown University and its representatives to disclose their information retained in educational records  to the following individual(s) or agency(ies):

                  .slds-grid.slds-wrap.slds-m-top--large.slds-m-bottom--large
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--4-of-12.slds-m-bottom--small
                      +dropdown("all-records-dropdown", "dropdown-default", "None", true)
                        a(href="#") None
                        a(href="#") None
                        a(href="#") None
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--8-of-12.slds-m-bottom--small
                      p All Records and information
                  .slds-grid.slds-wrap.slds-m-top--large.slds-m-bottom--small
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--4-of-12.slds-m-bottom--small
                      +dropdown("grades-dropdown", "dropdown-default", "None", true)
                        a(href="#") None
                        a(href="#") None
                        a(href="#") None
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--8-of-12.slds-m-bottom--small
                      p Grades and academic standing (i.e. transcripts)
                  .slds-grid.slds-wrap.slds-m-top--large.slds-m-bottom--small
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--4-of-12.slds-m-bottom--small
                      +dropdown("academic-dropdown", "dropdown-default", "None", true)
                        a(href="#") None
                        a(href="#") None
                        a(href="#") None
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--8-of-12.slds-m-bottom--small
                      p Academic Information(i.e. attendance, enrollment)
                  .slds-grid.slds-wrap.slds-m-top--large.slds-m-bottom--small
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--4-of-12.slds-m-bottom--small
                      +dropdown("dicipline-dropdown", "dropdown-default", "None", true)
                        a(href="#") None
                        a(href="#") None
                        a(href="#") None
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--8-of-12.slds-m-bottom--small
                      p Discipline records
                  .slds-grid.slds-wrap.slds-m-top--large.slds-m-bottom--small
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--4-of-12.slds-m-bottom--small
                      +dropdown("tution-records-dropdown", "dropdown-default", "None", true)
                        a(href="#") None
                        a(href="#") None
                        a(href="#") None
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--8-of-12.slds-m-bottom--small
                      p Tuition and fee status
                  .slds-grid.slds-wrap.slds-m-top--large.slds-m-bottom--small
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--4-of-12.slds-m-bottom--small
                      +dropdown("other-dropdown", "dropdown-default", "None", true)
                        a(href="#") None
                        a(href="#") None
                        a(href="#") None
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--8-of-12.slds-m-bottom--small
                      p Other, please specify:

                  p Molestiae animi, culpa ipsum aliquid libero repellat inventore iure suscipit, quasi, praesentium placeat quidem pariatur non tenetur consequatur officiis ratione.

                  .slds-m-top--large
                    .slds-m-bottom--small
                     +custom-checkbox("", "privacy-policy", "privacy-policy-check", "I have read and understand the contents of this consent form pertaining to the Family Educational Rights and Privacy Act of 1974.")
                    .slds-m-bottom--small
                      +custom-checkbox("", "signed", "signed-check", "My selections here override those in my signed release")(checked="checked")
                    .slds-m-bottom--small
                      +custom-checkbox("", "check-01", "check-01", "Checking this box…")

                  .slds-m-top--large.slds-text-align--right
                    button.slds-button.btn-pill Save


              +collapse-block("div", "card-content box", "Student Directory Release of Information", "", "student-directory-release-of-information")

              +collapse-block("div", "card-content box", "Sample", "", "student-directory-release-of-information")




block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
