extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'profile';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Profile / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/profile.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper("pg-dashboard","")
    +page-header("Profile", "has-controls", "../img/navs/student/profile.svg")
     +page-header-controls(true, "Navigate to")
        a(href="views/student/profile.html") Basic Information
        a(href="views/student/profile-contact.html") Contact
        a.active Family
        a(href="views/student/profile-releases.html") Information Releases
        a(href="views/student/profile-education.html") Education
        a(href="views/student/profile-gocard.html") Go-Card
        a(href="views/student/profile-housing.html") Housing
        a(href="views/student/profile-interests.html") Interests / Activities

    +page-content-wrapper()
        .page-section
          .card-group
            .card
              .card-content.box.slds-m-bottom--large.slds-m-top--large
                .card-title
                  h2(class="title slds-text-heading--small slds-m-bottom--small") Parent/Guardian Information
                  .slds-grid.slds-wrap
                    .slds-col.slds-xlarge-size--1-of-2
                      +edit-block-no-permissions("", "parent-name", "", "Parent Name ")
                        +control-single-input("", "", "parent-name", "", "parent Name")(value="Learner, Father")
                      +edit-block-no-permissions("", "preferred-address", "", "Preferred Address")
                        +control-single-input("", "", "preferred-address", "", "Preferred Address")(value="Mailing")
                      +edit-block-no-permissions("", "home-address-1", "", "Home Address 1")
                        +control-single-input("", "", "home-address-1", "", "Home Address 1")(value="123 Main Street")
                      +edit-block-no-permissions("", "home-address-2", "", "Home Address 2")
                        +control-single-input("", "pristine", "home-address-2", "", "Home Address 2")(value="")
                      +edit-block-no-permissions("", "home-city", "", "Home City")
                        +control-single-input("", "", "home-city", "", "Home City")(value="Seattle")
                      +edit-block-no-permissions("", "home-state", "", "Home State")
                        +control-single-input("", "", "home-state", "", "Home State")(value="WA")
                      +edit-block-no-permissions("", "home-zip", "", "Home Zip")
                        +control-single-input("", "", "home-zip", "", "Home Zip")(value="55555")
                      +edit-block-no-permissions("", "home-country", "", "Home Country")
                        +control-single-input("", "", "home-country", "", "Home Country")(value="USA")
                      .slds-p-bottom--small
                      +edit-block-no-permissions("", "mailing-address", "", "Mailing Address 1")
                        +control-single-input("", "", "mailing-address", "", "Mailing Address 1")(value="PO BOX 42124")
                      +edit-block-no-permissions("", "mailing-address-2", "", "Mailing Address 2")
                        +control-single-input("", "pristine", "mailing-address-2", "", "Mailing Address 2")(value="")
                      +edit-block-no-permissions("", "mailing-city", "", "Mailing City")
                        +control-single-input("", "", "mailing-city", "", "Mailing City")(value="Seattle")
                      +edit-block-no-permissions("", "mailing-state", "", "Mailing State")
                        +control-single-input("", "", "mailing-state", "", "Mailing State")(value="WA")
                      +edit-block-no-permissions("", "mailing-zip", "", "Mailing Zip")
                        +control-single-input("", "", "mailing-zip", "", "Mailing Zip")(value="55555")
                      +edit-block-no-permissions("", "mailing-country", "", "Mailing Country")
                        +control-single-input("", "", "mailing-country", "", "Mailing Country")(value="USA")
                      .slds-p-bottom--small
                      +edit-block-no-permissions("", "preferred-email", "", "Preferred Email")
                        +control-single-input("", "", "preferred-email", "", "Preferred Email")(value="GU Email")
                      +edit-block-no-permissions("", "home-email-address", "", "Home Email Address")
                        +control-single-input("", "", "home-email-address", "", "Home Email Address")(value="lucinda.learner1234@gmail.com")
                      +edit-block-no-permissions("", "work-email-address", "", "Work Email Address")
                        +control-single-input("", "", "work-email-address", "", "Work Email Address")(value="llearner@google.com")
                      .slds-p-bottom--small
                      +edit-block-no-permissions("", "preferred-phone", "", "Preferred Phone")
                        +control-single-input("", "", "preferred-phone", "", "Preferred Phone")(value="Mobile")
                      +edit-block-no-permissions("", "mobile-phone", "", "Mobile Phone")
                        +control-single-input("", "", "mobile-phone", "", "Mobile Phone")(value="555-555-5555")
                      +edit-block-no-permissions("", "home-phone", "", "Home Phone")
                        +control-single-input("", "", "home-phone", "", "Home Phone")(value="555-555-5555")
                      +edit-block-no-permissions("", "work-phone", "", "Work Phone")
                        +control-single-input("", "", "work-phone", "", "Work Phone")(value="555-555-5555")

                    .slds-col.slds-xlarge-size--1-of-2
                      +edit-block-no-permissions("", "parent-name-p", "", "Parent Name ")
                        +control-single-input("", "", "parent-name-p", "", "parent Name")(value="Learner, Father")
                      +edit-block-no-permissions("", "preferred-address-p", "", "Preferred Address")
                        +control-single-input("", "", "preferred-address-p", "", "Preferred Address")(value="Mailing")
                      +edit-block-no-permissions("", "home-address-1-p", "", "Home Address 1")
                        +control-single-input("", "", "home-address-1-p", "", "Home Address 1")(value="123 Main Street")
                      +edit-block-no-permissions("", "home-address-2-p", "", "Home Address 2")
                        +control-single-input("", "pristine", "home-address-2-p", "", "Home Address 2")(value="")
                      +edit-block-no-permissions("", "home-city-p", "", "Home City")
                        +control-single-input("", "", "home-city-p", "", "Home City")(value="Seattle")
                      +edit-block-no-permissions("", "home-state-p", "", "Home State")
                        +control-single-input("", "", "home-state-p", "", "Home State")(value="WA")
                      +edit-block-no-permissions("", "home-zip-p", "", "Home Zip")
                        +control-single-input("", "", "home-zip-p", "", "Home Zip")(value="55555")
                      +edit-block-no-permissions("", "home-country-p", "", "Home Country")
                        +control-single-input("", "", "home-country-p", "", "Home Country")(value="USA")
                      .slds-p-bottom--small
                      +edit-block-no-permissions("", "mailing-address-p", "", "Mailing Address 1")
                        +control-single-input("", "", "mailing-address-p", "", "Mailing Address 1")(value="PO BOX 42124")
                      +edit-block-no-permissions("", "mailing-address-2-p", "", "Mailing Address 2")
                        +control-single-input("", "pristine", "mailing-address-2-p", "", "Mailing Address 2")(value="")
                      +edit-block-no-permissions("", "mailing-city-p", "", "Mailing City")
                        +control-single-input("", "", "mailing-city-p", "", "Mailing City")(value="Seattle")
                      +edit-block-no-permissions("", "mailing-state-p", "", "Mailing State")
                        +control-single-input("", "", "mailing-state-p", "", "Mailing State")(value="WA")
                      +edit-block-no-permissions("", "mailing--zip-p", "", "Mailing Zip")
                        +control-single-input("", "", "mailing--zip", "", "Mailing Zip")(value="55555")
                      +edit-block-no-permissions("", "mailing-country-p", "", "Mailing Country")
                        +control-single-input("", "", "mailing-country-p", "", "Mailing Country")(value="USA")
                      .slds-p-bottom--small
                      +edit-block-no-permissions("", "preferred-email-p", "", "Preferred Email")
                        +control-single-input("", "", "preferred-email-p", "", "Preferred Email")(value="GU Email")
                      +edit-block-no-permissions("", "home-email-address-p", "", "Home Email Address")
                        +control-single-input("", "", "home-email-address-p", "", "Home Email Address")(value="lucinda.learner1234@gmail.com")
                      +edit-block-no-permissions("", "work-email-address-p", "", "Work Email Address")
                        +control-single-input("", "", "work-email-address-p", "", "Work Email Address")(value="llearner@google.com")
                      .slds-p-bottom--small
                      +edit-block-no-permissions("", "preferred-phone-p", "", "Preferred Phone")
                        +control-single-input("", "", "preferred-phone-p", "", "Preferred Phone")(value="Mobile")
                      +edit-block-no-permissions("", "mobile-phone-p", "", "Mobile Phone")
                        +control-single-input("", "", "mobile-phone-p", "", "Mobile Phone")(value="555-555-5555")
                      +edit-block-no-permissions("", "home-phone-p", "", "Home Phone")
                        +control-single-input("", "", "home-phone-p", "", "Home Phone")(value="555-555-5555")
                      +edit-block-no-permissions("", "work-phone-p", "", "Work Phone")
                        +control-single-input("", "", "work-phone-p", "", "Work Phone")(value="555-555-5555")


block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
