extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'profile';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Profile / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/profile.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper("pg-dashboard","")
    +page-header("Profile", "has-controls", "../img/navs/student/profile.svg")
      +page-header-controls(true, "Navigate to")
        a(href="views/student/profile.html") Basic Information
        a(href="views/student/profile-contact.html") Contact
        a(href="views/student/profile-family.html") Family
        a(href="views/student/profile-releases.html") Information Releases
        a(href="views/student/profile-education.html") Education
        a(href="views/student/profile-gocard.html") Go-Card
        a.active Housing
        a(href="views/student/profile-interests.html") Interests / Activities

    +page-content-wrapper()
        .page-section
          .card-group
            .card
              .card-title.profile-housing
                .icon-block.has-controls.slds-m-top--none.slds-p-top--x-small
                  .heading
                    h2(class="title") Housing
                    .controls
                      a.btn-next
                        span Go to StarRez
                        +svg-sprite("img/sprites/base.svg","arrow-right-mini","sm","Go")
              .card-content.card-content.slds-p-around--large
                .slds-grid.slds-wrap.slds-grid--pull-padded.slds-grid--vertical-stretch
                  .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-6
                    .title Current Housing
                    .slds-p-vertical--xx-small Harbin Hall
                  .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-6
                    .title Roomates(s)
                    .slds-p-vertical--xx-small
                      div Jake Sisko
                      div Naomi Wildman
                  .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-6
                    .title Lease Term
                    .slds-p-vertical--xx-small
                      div Spring Semester
                  .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-6
                    .title Last Payment
                    .slds-p-vertical--xx-small
                      div $1,412.32
                  .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-6
                    .title Amount owed
                    .slds-p-vertical--xx-small
                      a.underline $0
                  .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-6
                    .title Due Date
                    .slds-p-vertical--xx-small
                      a.underline 4/12/2017


                .slds-grid.slds-wrap.slds-grid--pull-padded.slds-grid--vertical-stretch
                  .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-5
                    .title RHO Manager
                    .slds-p-vertical--xx-small
                      div Brenda Flores
                  .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-5
                    .title Community Director
                    .slds-p-vertical--xx-small
                      div Deanna Troi
                  .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-5
                    .title Resident Assistant
                    .slds-p-vertical--xx-small
                      div Natasha Yar
                  .card-grid-item.slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-5
                    .title Parcel Notification
                    .slds-p-vertical--xx-small
                      div 3/1/2017 - Package Waiting



block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
