extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'profile';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Profile / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/profile.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  block content
    +page-wrapper("pg-dashboard","")
      +page-header("Profile", "has-controls", "img/navs/student/profile.svg")
        +page-header-controls(true, "Navigate to")
          a(href="views/student/profile.html") Basic Information
          a.active Contact
          a(href="views/student/profile-family.html") Family
          a(href="views/student/profile-releases.html") Information Releases
          a(href="views/student/profile-education.html") Education
          a(href="views/student/profile-gocard.html") Go-Card
          a(href="views/student/profile-housing.html") Housing
          a(href="views/student/profile-interests.html") Interests / Activities

      +page-content-wrapper()
        .page-section
          .card-group
            .card
              .card-content.box.slds-m-top--large
                .card-title
                  h2(class="title slds-text-heading--small slds-m-bottom--small") Email & Phone
                  .slds-grid.slds-wrap
                    .slds-col.slds-xlarge-size--1-of-2
                      +edit-block-no-permissions("", "preferred-email", "", "Preferred Email")
                        +control-single-input("","", "preferred-email", "", "Preferred Email")(value="GU Email")
                      +student-edit-block("gu-email-address", "GU Email Address", "", true, false, false)
                        +control-single-input("","pristine", "gu-email-address", "", "GU Email Address")
                      +edit-block-no-permissions("", "home-email-address", "", "Home Email Address")
                        +control-single-input("","", "home-email-address", "", "Home Email Address")(value="lucinda.learner1234@gmail.com")
                      +edit-block-no-permissions("", "work-email-address", "", "Work Email Address")
                        +control-single-input("","", "work-email-address", "", "Work Email Address")(value="llearner@google.com")



                    .slds-col.slds-xlarge-size--1-of-2
                      +edit-block-no-permissions("", "preferred-phone", "", "Preferred Phone")
                        +control-single-input("","", "preferred-phone", "", "Preferred Phone")(value="GU Email")
                      +edit-block-no-permissions("", "mobile-phone", "", "Mobile Phone")
                        +control-single-input("","", "mobile-phone", "", "Mobile Phone")(value="555-555-5555")
                      +edit-block-no-permissions("", "home-phone", "", "Home Phone")
                        +control-single-input("","", "home-phone", "", "Home Phone")(value="555-555-5555")
                      +edit-block-no-permissions("", "work-phone", "", "Work Phone")
                        +control-single-input("","", "work-phone", "", "Work Phone")(value="555-555-5555")

              .card-content.box
                .card-title
                  h2(class="title slds-text-heading--small slds-m-bottom--small") Addresses
                  .slds-grid.slds-wrap

                    .slds-col.slds-xlarge-size--1-of-2
                      +edit-block-no-permissions("", "preferred-address", "", "Preferred Address")
                        +control-single-input("","", "preferred-address", "", "Preferred Address")(value="Mailing")
                    .slds-size--1-of-1

                    .slds-col.slds-xlarge-size--1-of-2
                      +edit-block-no-permissions("", "home-address", "", "Home Address 1")
                        +control-single-input("","pristine", "home-address-2", "", "Home Address 2")(value="")
                      +edit-block-no-permissions("", "home-address-2", "", "Home Address 2")
                        +control-single-input("","", "home-address", "", "Home Address")(value="123 Main Street")
                      +edit-block-no-permissions("", "home-city", "", "Home City")
                        +control-single-input("","", "home-city", "", "Home City")(value="Seattle")
                      +edit-block-no-permissions("", "home-state", "", "Home State")
                        +control-single-input("","", "home-state", "", "Home State")(value="WA")
                      +edit-block-no-permissions("", "home-zip", "", "Home Zip")
                        +control-single-input("","", "home-zip", "", "Home Zip")(value="55555")
                      +edit-block-no-permissions("", "home-country", "", "Home Country")
                        +control-single-input("","", "home-country", "", "Home Country")(value="USA")

                    .slds-col.slds-xlarge-size--1-of-2
                      +edit-block-no-permissions("", "mailing-address", "", "Mailing Address")
                        +control-single-input("","", "mailing-address", "", "Mailing Address")(value="PO BOX 42124")
                      +edit-block-no-permissions("", "mailing-address-2", "", "Mailing Address 2")
                        +control-single-input("","pristine", "mailing-address-2", "", "Mailing Address 2")(value="")
                      +edit-block-no-permissions("", "mailing-address-city", "", "Mailing City")
                        +control-single-input("","", "mailing-address-city", "", "Mailing City")(value="Seattle")
                      +edit-block-no-permissions("", "home-state", "", "Mailing State")
                        +control-single-input("","", "mailing-address-state", "", "Mailing State")(value="WA")
                      +edit-block-no-permissions("", "mailing-address-zip", "", "Mailing Zip")
                        +control-single-input("","", "mailing-address-zip", "", "Mailing Zip")(value="55555")
                      +edit-block-no-permissions("", "mailing-address-country", "", "Mailing Country")
                        +control-single-input("","", "mailing-address-country", "", "Mailing Country")(value="USA")

              .card-content.box
                .card-title
                  h2(class="title slds-text-heading--small slds-m-bottom--small") Emergency Contact
                  .slds-grid.slds-wrap

                    .slds-col.slds-xlarge-size--1-of-2
                      +edit-block-no-permissions("", "name", "", "Name")
                        +control-single-input("","", "name", "", "Name")(value="Sue Smith")
                      +edit-block-no-permissions("", "email", "", "Email")
                        +control-single-input("","", "email", "", "Email")(value="ll237@georgetown.edu")


                    .slds-col.slds-xlarge-size--1-of-2
                      +edit-block-no-permissions("", "relationship", "", "Relationship")
                        +control-single-input("","", "relationship", "", "Relationship")(value="Friend")
                      +edit-block-no-permissions("", "mobile-number", "", "Mobile Number")
                        +control-single-input("","", "mobile-number", "", "Mobile Number")(value="555-555-5555")

block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
