extends ../../layout/default-unauthenticated.pug

block base_url
  base(href="../../")

block title
  title Dashboard / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/dashboard.css")
  link(rel="stylesheet", href="./css/messaging.css")
  link(rel="stylesheet", href="./css/table.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/quick-links.css")
  link(rel="stylesheet", href="./bower_components/fullcalendar/dist/fullcalendar.min.css")
  link(rel="stylesheet", href="./css/calendar.css")
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-content-wrapper()
    .page-content.blank
      .max-container
        .page-section
          .card-group.card-narrow
            .card
              .card-title
                h1 Welcome to Georgetown University!
                p.txt-intro Please take a moment to fill out the information below so we can route your document appropriately.
              .card-content.slds-p-around--large
                .slds-grid.slds-wrap.slds-grid--pull-padded
                  .slds-p-horizontal--small.slds-size--1-of-2
                    +input-text("gu-form-group", "upload-modal_last-name", "Last Name")(type="text", class="slds-input", placeholder="", value="")
                  .slds-p-horizontal--small.slds-size--1-of-2
                    +input-text("gu-form-group", "upload-modal_first-name", "First Name")(type="text", class="slds-input", placeholder="", value="")
                .slds-grid.slds-wrap.slds-grid--pull-padded
                  .slds-p-horizontal--small.slds-size--1-of-2
                    +input-date-mm-dd-yyyy("", "Date of birth", "dob-month", "", "MM", "", "dob-date", "", "DD", "", "dob-year", "", "YYYY", "")
                  .slds-p-horizontal--small.slds-size--1-of-2
                    +input-text("gu-form-group", "upload-modal_department", "Application ID Number")(type="text", class="slds-input", placeholder="", value="")
                hr
                .slds-grid.slds-wrap.slds-grid--pull-padded
                  .slds-p-horizontal--small.slds-size--1-of-2
                    +select("gu-form-group", "upload-modal_document-type", "Select document type")(class="slds-select")
                      option() Applicant Official Transcript
                      option() Applicant Unofficial Transcript
                      option() Applicant Resume
                      option() Applicant Writing Sample
                      option() Unofficial AP score
                      option() Unofficial GMAT
                      option() Unofficial GRE
                      option() Unofficial TOFEL
                      option() Unofficial IELTS
                      option() Supplemental Application Form
                      option() Unofficial Pre-requisite Course Plan
                      option() External Course Syllabi
                .slds-grid.slds-wrap.slds-grid--pull-padded
                  .slds-p-horizontal--small.slds-size--2-of-2
                    +textarea("gu-form-group", "upload-modal_notes", "", "Notes (optional)")(class="slds-textarea")
                  .slds-p-horizontal--small.slds-size--2-of-2
                    +slds-file-upload("upload-document","","upload-document-file",".word, .docx, .pdf, .doc", "Choose a file to upload", "Or drop one here", "")
              .card-footer.slds-p-horizontal--large.slds-p-vertical--small.slds-clearfix
                .slds-float--right
                  button.btn-bs.slds-button.slds-button--neutral Cancel
                  button.btn-bs.slds-button.slds-button--brand Continue

block scripts
  script(src='bower_components/moment/min/moment.min.js')
  script(src='bower_components/fullcalendar/dist/fullcalendar.min.js')

  script.
    $(document).ready(function() {
      $("[aria-labelledby='upload-modal']").addClass('slds-fade-in-open');
      $("[aria-labelledby='upload-modal'] + .slds-backdrop").addClass('slds-backdrop--open');
    });


