/* LAYOUT SPECIFC STYLES */

@font-face {
  font-family: "Whitney Book";
  src: url(/resource/whitneyfonts/whitney-Book.otf) format("opentype");
}

.THIS  .internal-card {
  border-radius: 5px;
  padding: 20px 10px 20px 10px;
  margin-top: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 1.5rem;
  margin-right: 1rem;
}

.THIS .page-body {
  border-radius: 5px;
  padding: .5rem 2rem 2rem;
  margin-right: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.THIS .page-title {
  display: inline-flex;
}

.THIS .page-title > h2 {
  padding-left: 40px;
}

.THIS .page-title > img {
  height: 35px;
  position: absolute;
  left: 0;
  top: 17px;
}

.THIS h2, .THIS h3 {
  color: rgb(215,0,50);
}

.THIS h2 {
  font-size: 28px;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -10px;
  font-family: 'Whitney Book', Arial, sans-serif;
}

.THIS h3 {
  font-size: 24px;
  padding-bottom: 30px;
  font-family: 'Whitney Book', Arial, sans-serif;
}

.THIS h4 {
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 20px;
  color: rgb(215,0,50);
}

.THIS span {
  font-weight: 600;
}

.THIS p {
  font-size: 14px;
  margin: 0;
  padding-bottom: 10px;
}

.THIS .page-section-main {
  padding: 1rem;
  margin: 0;
}

.THIS > .header-BG:before {
  height: 350px;
  background-position: 0 135px;
}

.THIS > .header-BG {
  height: 280px;
}

.THIS > .header-BG:after {
  height: 250px;
}

/* END LAYOUT SPECIFC STYLES */

.THIS .page-content {
  padding: 2rem;
  width: 100%;
  z-index: 2;
}

.THIS .page-header {
  margin-top: 60px;

}

@media (min-width: 1025px) {
  .THIS .page-content {
    padding-bottom: 8rem;
  }
}

.THIS .page-content .block:not(.reset) {
  padding: 0 1rem;
}

.THIS .max-container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  margin-top: 30px;
}

.THIS .pg-dashboard .page-header.has-controls {
  margin-bottom: 0;
}

.THIS .pg-dashboard .page-section.has-controls .icon.lg {
  margin-right: 12px;
  top: 5px;
  width: 30px;
  height: 30px;
  position: relative;
}

/*Prior CSS*/
@media (min-width:1024px) {
  .THIS .page-header {
    margin-bottom: 0;
  }
}

@media (max-width: 1023px) {
  .THIS .page-header {
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1200px) {
  .THIS .card-group {
    height: 100%;
  }

  .THIS .card:not(.scroll-md) {
    height: auto;
  }
}

.THIS .dashboard-title {
  font-size: 2rem;

}

@media (min-width: 991px) {
  .THIS .dashboard-title {
    color: white;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-shadow: 0 1px 1px #222;
  }
}

@media (max-width: 480px) {
  .THIS .card {
    border: 0;
    box-shadow: none;
  }
}

.THIS .forceCommunityFeedPublisher {
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .THIS .forceCommunityFeedPublisher {
    margin: 0 1.5rem 1.5rem;
  }

  .THIS .height-match .card:last-of-type {
    flex: 1;
  }
}