<template>
	<lightning:card title="Test LWC by Gaurav" icon-name="custom:custom14">
		<div class="slds-m-around_medium">
			<p>Hello This is test LWC by {varname}</p>
			<lightning-input label="Name" value={varname} onchange={changeHandler}>
			</lightning-input>
		</div>
	</lightning:card>
</template>