.pg-awards .award .item-title { font-weight: 600; font-size: 14px; }

.pg-awards .award .item-authors { color: #333; }

.pg-awards .award .item-source { font-style: italic; color: #999; }

.pg-awards .collapse-block + .icon-block { margin-top: 36px; }
