.calendar.has-toolbar .fc-toolbar { margin-bottom: 80px; }

@media (max-width: 767px) { .calendar.has-toolbar .fc-right { display: none; } }

.calendar.has-toolbar .fc-left button { border: 0; padding: 0; color: #007DBC; }

.calendar .fc-toolbar > * > * { margin-left: 12px; }

.calendar h2 { line-height: 24px; font-weight: 700; }

.calendar .card-content { position: relative; }

.calendar .card-content > select, .calendar .card-content > .gu-checkbox { position: absolute; }

.calendar .card-content > select { width: calc(100% - 180px); min-width: 160px; top: 65px; }

.calendar .card-content .gu-checkbox { right: 1.5rem; top: 70px; }

.calendar .fc.fc-unthemed td { border-color: #E5F2F9; }

.calendar .fc.fc-unthemed .fc-list-view { border-color: transparent; }

.calendar .fc.fc-unthemed .fc-list-empty { background: white; border: 0; }

.calendar .fc.fc-unthemed .fc-head-container { border-color: transparent; }

.calendar .fc.fc-unthemed .fc-content-skeleton thead td { background: rgba(229, 242, 249, 0.5); border-top-color: #dbedf7; border-right-color: #dbedf7; border-left-color: #dbedf7; }

.calendar .fc .fc-event { background: #0E4876; font-weight: 600; color: white; border-color: transparent; }

.calendar .fc .fc-event .fc-content { padding: 2px; }

.calendar .fc .fc-title { font-size: 11px; }

.calendar .fc .fc-today { background: #d0e8f4; }

.calendar .fc .fc-time { font-weight: 600; }

.calendar .fc thead { border: 1px solid transparent; box-shadow: 0 1px 3px 0 rgba(14, 39, 70, 0.15); border-radius: 4px 4px 0 0; }

.calendar .fc th { border: 0; padding-top: 6px; padding-bottom: 6px; font-weight: 600; font-size: 15px; }

.calendar .fc td { vertical-align: middle; }

.calendar .fc button { position: relative; text-decoration: none; -webkit-appearance: none; white-space: normal; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; box-shadow: none; border-radius: 3px; font-size: 14px; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border: 1px solid #0E4876; padding: 0 12px; background: white; color: #0E4876; text-shadow: none; font-weight: 600; }

.calendar .fc button.fc-state-active { background: #007DBC; border-color: #007DBC; }

.calendar .fc .fc-body { border-radius: 0 0 4px 4px; box-shadow: 0 1px 3px 0 rgba(14, 39, 70, 0.15); }

.calendar .fc .fc-state-default.fc-state-active { color: white; }

.calendar .fc .fc-state-default.fc-state-active:hover, .calendar .fc .fc-state-default.fc-state-active:focus { color: white; }

.calendar .fc .fc-state-default.fc-state-active:hover:hover, .calendar .fc .fc-state-default.fc-state-active:hover:focus, .calendar .fc .fc-state-default.fc-state-active:focus:hover, .calendar .fc .fc-state-default.fc-state-active:focus:focus { background: #007DBC; border-color: #007DBC; color: white; }

.calendar .fc .fc-state-default.fc-state-active:hover, .calendar .fc .fc-state-default.fc-state-active:focus { background: #E5F2F9; }

.calendar .fc .fc-state-default .fc-left h2 { line-height: 30px; }

.calendar .fc .fc-state-default .fc-row { border-color: white; }

.calendar .fc .fc-state-default .fc-body { border-radius: 0 0 4px 4px; box-shadow: 0 1px 3px 0 rgba(14, 39, 70, 0.15); }

.calendar .fc .fc-state-default .fc-button-group button { border-radius: 0; }

.calendar .fc .fc-state-default .fc-button-group button:first-of-type { border-top-left-radius: 3px; border-bottom-left-radius: 3px; }

.calendar .fc .fc-state-default .fc-button-group button:last-of-type { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }

.calendar-toolbar { position: absolute; width: calc(100% - 3rem); left: 0; right: 0; margin: 0 auto; top: 62px; box-shadow: inset 0px 2px 0px 0px rgba(229, 226, 226, 0.55); background-color: #f5f5f5; padding: 15px 18px; display: -webkit-box; display: -ms-flexbox; display: flex; border-radius: 10px; }

.calendar-toolbar .dropdown { max-width: calc(100% - 130px); margin-right: 15px; width: 100%; }

.calendar .fc button { border-radius: 100px; text-transform: capitalize; outline: none; -webkit-transition: color 50ms linear, background-color 50ms linear; transition: color 50ms linear, background-color 50ms linear; }

.calendar .fc button + button { margin-left: 10px; }

.calendar .fc .fc-state-default { border: none; padding: 0px 20px; }

.calendar .fc .fc-left button { background-color: #FBFBFB; box-shadow: 0 1px 0 0 #E4E4E4; }

.calendar .fc .fc-left button.fc-prev-button, .calendar .fc .fc-left button.fc-next-button { height: 26px; width: 26px; line-height: 26px; }

.calendar .fc .fc-left button.fc-prev-button .fc-icon, .calendar .fc .fc-left button.fc-next-button .fc-icon { top: 0; }

.calendar .fc .fc-left button.fc-prev-button:hover, .calendar .fc .fc-left button.fc-prev-button:focus, .calendar .fc .fc-left button.fc-next-button:hover, .calendar .fc .fc-left button.fc-next-button:focus { background-color: #eeeeee; }

.calendar .fc .fc-left .fc-state-disabled { padding: 0px 20px; }

.fc-state-default.fc-allCalendarsButton-button { padding: 8px 24px; border: 0; border-radius: 25px; font-size: 13px; color: white; line-height: 14px; float: none; }
