.grid-controls { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 0 0 24px 0; }

@media (max-width: 767px) { .grid-controls .btn-bs { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; width: 150px; } }

.grid-controls .letters { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; min-height: 40px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; min-width: 100px; }

@media (max-width: 767px) { .grid-controls .letters { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; } }

.grid-controls .letters .dropdown { display: none; }

@media (max-width: 767px) { .grid-controls .letters .dropdown { display: block; margin-right: 24px; min-width: 140px; } }

@media (min-width: 768px) { .grid-controls .letters .dropdown { margin: 0 36px; min-width: 80px; } }

@media (min-width: 480px) { .grid-controls .letters .dropdown label .title { min-width: 180px; } }

@media (max-width: 480px) { .grid-controls .letters .dropdown label .title { width: 100%; } }

@media (max-width: 767px) { .grid-controls .letters .dropdown label .title { height: 40px; } }

.grid-controls .letters .wrapper { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; box-shadow: 0 1px 3px 0 rgba(14, 39, 70, 0.15); border-radius: 3px; border: 1px solid #CFEBFF; margin: 0 36px; display: none; }

@media (min-width: 768px) { .grid-controls .letters .wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; } }

.grid-controls .letters a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; height: 40px; }

.grid-controls .letters a.active, .grid-controls .letters a:hover { background: #E5F2F9; text-decoration: none; }

.grid-controls .letters a.active { font-weight: 600; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; }

.grid-controls .btn-round + .btn-round { margin-left: 12px; margin-top: 0; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; }

@media (max-width: 1200px) { .grid-controls .controls { margin-left: auto; } }

@media (max-width: 767px) { .grid-controls .controls { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; display: none; } }

.grid-filters { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 0 0 24px 0; }

.grid-filters .badge-label { font-weight: 600; margin-right: 12px; }

@media (max-width: 767px) { .grid-filters .badge-label { -ms-flex-preferred-size: 100%; flex-basis: 100%; margin-bottom: 6px; } }

.grid-filters .slds-badge { margin-bottom: 6px; margin-left: 0; margin-right: 12px; }

.grid-filters .slds-button__icon { height: 10px; width: 10px; }

.grid-content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.grid-content.grid-items { -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

.grid-content.grid-items > div { min-width: 235px; width: 25%; }

@media (max-width: 599px) { .grid-content.grid-items > div { width: 100%; } }

@media (min-width: 768px) and (max-width: 1479px) { .grid-content.grid-items > div { width: 33%; } }

@media (min-width: 600px) and (max-width: 767px) { .grid-content.grid-items > div { min-width: 50%; } }

tr.directory-item > .c-body { vertical-align: middle; padding: 12px 24px; }

@media (max-width: 767px) { tr.directory-item > .c-body { text-align: center; padding: 0; } }

tr.directory-item .heading { background: none; }

@media (max-width: 767px) { tr.directory-item .heading { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 12px 0; } }

@media (min-width: 768px) { tr.directory-item .heading .user-photo { background-size: 45px; width: 45px; height: 45px; border: 0; } }

@media (max-width: 767px) { tr.directory-item .heading .user-photo { background-size: 115px; width: 115px; height: 115px; } }

tr.directory-item .heading .name { margin: 0 24px; }

@media (max-width: 767px) { tr.directory-item .heading .name { margin: 24px 24px 6px; } }

@media (min-width: 768px) { tr.directory-item .body { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; } }

@media (min-width: 1200px) { tr.directory-item .body { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

@media (max-width: 767px) { tr.directory-item .body { padding: 12px; } }

tr.directory-item .tags { margin: 12px 0 0 16px; }

@media (max-width: 767px) { tr.directory-item .tags { padding: 0 0 6px 0; } }

@media (min-width: 1200px) { tr.directory-item .tags { margin: 0 0 0 24px; }
  tr.directory-item .tags:before { content: ""; width: 2px; background: #eee; position: absolute; height: 100%; left: -20px; }
  tr.directory-item .tags .tag { margin: 3px; } }

@media (min-width: 768px) { tr.directory-item .tags { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; } }

@media (max-width: 767px) { tr.directory-item .controls { border-top: 1px solid #0E4876 !important; width: 100% !important; }
  tr.directory-item .controls .btn-bs { border-radius: 0 !important; } }

div.directory-item { box-shadow: 0 1px 3px rgba(51, 51, 51, 0.12), 0 1px 2px rgba(51, 51, 51, 0.24); }

@media (min-width: 600px) { div.directory-item { height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 0; } }

div.directory-item .heading { padding: 12px; text-align: left; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

div.directory-item .heading img { width: 100px; height: 100px; margin-bottom: 12px; }

div.directory-item .body { text-align: center; padding: 12px 0; }

div.directory-item .copy { padding: 0 24px; }

div.directory-item .tags { margin: 12px 0 0; border-top: 1px solid #eee; padding: 18px 12px 0; width: 100%; }

@media (min-width: 600px) { div.directory-item .controls { margin-top: auto; } }

div.directory-item .btn-bs { font-size: 16px; stroke: currentColor; width: 100%; height: 45px; }

@media (min-width: 768px) { div.directory-item .btn-bs { position: relative; } }

div.directory-item .btn-bs:hover, div.directory-item .btn-bs:focus, div.directory-item .btn-bs:active { text-decoration: none; color: white; }

@media (min-width: 768px) { div.directory-item .btn-bs svg { width: 20px; height: 30px; } }

@media (max-width: 767px) { div.directory-item .btn-bs svg { display: none; } }

.directory-item .heading { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.directory-item .heading > img { height: 80px; width: 80px; border-radius: 50%; }

.directory-item .heading .name { margin: 24px 0 6px; font-size: 20px; font-weight: 600; line-height: 1; }

.directory-item .body { line-height: 1.2; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; font-size: 12px; }

.directory-item .tags { padding-top: 0; position: relative; }

@media (max-width: 767px) { .directory-item .tags { margin-bottom: 6px; } }

.directory-item .controls { position: relative; }

.list-items td { vertical-align: middle; }

.list-items th { position: relative; padding-top: 18px; padding-bottom: 18px; }

.list-items th:first-of-type { padding-left: 12px; }

.list-items th:last-of-type { padding-right: 12px; }

.list-items .card.person > td { vertical-align: middle; }

@media (max-width: 767px) { .list-items .card.person > td { padding: 0; border-bottom: 0; } }

@media (min-width: 768px) { .list-items .card.person { border-radius: 0; box-shadow: none; } }

.list-items .card.person .heading { padding: 12px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: left; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

@media (min-width: 768px) { .list-items .card.person .heading { width: 200px; } }

@media (min-width: 1200px) { .list-items .card.person .heading { width: 300px; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; padding: 0; } }

.list-items .card.person .heading > img { height: 80px; width: 80px; border-radius: 50%; }

.list-items .card.person .heading .name { margin: 6px 0 0; font-size: 20px; color: #0E4876; line-height: 1; }

@media (min-width: 768px) { .list-items .card.person .copy { text-align: left; } }
