.add-block { padding: 6px 0; border-bottom: 1px dotted #ddd; }

.add-block .controls { padding: 0 0 12px; }

.add-block .slds-checkbox [type=checkbox]:checked + .slds-checkbox--faux:after, .add-block .slds-checkbox [type=checkbox]:checked + .slds-checkbox__label .slds-checkbox--faux:after, .edit-block .slds-checkbox [type=checkbox]:checked + .slds-checkbox--faux:after, .edit-block .slds-checkbox [type=checkbox]:checked + .slds-checkbox__label .slds-checkbox--faux:after { height: .25rem; width: .5rem; }

.add-block .slds-checkbox [type=checkbox] + .slds-checkbox__label .slds-checkbox--faux, .edit-block .slds-checkbox [type=checkbox] + .slds-checkbox__label .slds-checkbox--faux { width: 16px; height: 16px; }

.add-block .slds-form-element__label, .edit-block .slds-form-element__label { margin-bottom: 0; line-height: 16px; font-size: 12px; font-weight: 600; }

.add-block .slds-form-element__label small, .edit-block .slds-form-element__label small { display: block; }

.add-block .help-block, .edit-block .help-block { color: rgba(0, 125, 188, 0.25); }

.add-block .toggleEndDate, .edit-block .toggleEndDate { margin-bottom: 12px; }

.add-block .gu-form-group, .edit-block .gu-form-group { margin-bottom: 12px; }

.add-block .flex .gu-form-group + .gu-form-group, .edit-block .flex .gu-form-group + .gu-form-group { margin-left: 24px; }

.add-block .horizontal, .edit-block .horizontal { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.add-block .horizontal > label, .edit-block .horizontal > label { width: 90px; }

.add-block .horizontal .slds-form-element__control, .add-block .horizontal .checks-horizontal, .edit-block .horizontal .slds-form-element__control, .edit-block .horizontal .checks-horizontal { -webkit-flex: 1; -ms-flex: 1; flex: 1; }

.add-block .item, .edit-block .item { margin-bottom: 12px; -webkit-flex: 1; -ms-flex: 1; flex: 1; }

.add-block .item.drop-zone, .edit-block .item.drop-zone { width: 100%; background: #EEF8FF; }

.add-block .item.drop-zone .slds-file-selector, .edit-block .item.drop-zone .slds-file-selector { background: white; width: 100%; }

.add-block .item.drop-zone .slds-file-selector__dropzone, .edit-block .item.drop-zone .slds-file-selector__dropzone { width: 100%; }

.add-block .item.drop-zone .slds-file-selector__body, .edit-block .item.drop-zone .slds-file-selector__body { height: 100%; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.add-block .item .slds-form-element__label, .edit-block .item .slds-form-element__label { display: -webkit-flex; display: -ms-flexbox; display: flex; }

.add-block .item .slds-input + .slds-input, .edit-block .item .slds-input + .slds-input { margin-top: 6px; }

.add-block .item .checkbox-group-horizontal .slds-form-element + .slds-form-element, .edit-block .item .checkbox-group-horizontal .slds-form-element + .slds-form-element { padding-top: 0; }

@media (max-width: 767px) { .add-block .controls.flex, .edit-block .controls.flex { -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; }
  .add-block .controls.flex .right, .edit-block .controls.flex .right { margin-left: auto; display: -webkit-flex; display: -ms-flexbox; display: flex; } }

.edit-block + .edit-block { margin-bottom: 0; }

.edit-block + .edit-block > .list-row { border-top: 0; }

.edit-block [data-balloon]:after, .edit-block [data-balloon]:before { display: none; }

.edit-block .has-help [data-balloon]:after, .edit-block .has-help [data-balloon]:before { display: block; }

.edit-block .has-help .help-block { margin-left: auto; }

.edit-block .list-row.read { padding-left: 12px; }

.edit-block .list-row.read:hover { padding-left: 12px; }

.edit-block .list-row:not(.slds-hide) { display: -webkit-flex; display: -ms-flexbox; display: flex; }

.edit-block .list-row.edit { margin: 6px 0 24px; display: block; }

.edit-block .read { display: block; position: relative; color: #58656E; transition: all 0.10s; }

@media (min-width: 1025px) { .edit-block .read { padding: 12px 48px 12px 0; } }

.edit-block .read.slds-hide { display: none !important; }

.edit-block .read:hover { background-color: #EEF8FF; text-decoration: none; padding-left: 9px; box-shadow: inset 0 0 2px #D4E7F5; border-radius: 3px; }

.edit-block .read:hover .icons { display: block; }

.edit-block .read .icons { display: none; position: absolute; right: 12px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); color: #007DBC; stroke: currentColor; }

.edit-block .read .icons .icon > svg { width: 20px; height: 20px; }

.edit-block .read .years { display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; margin: 0; }

.edit-block .read .years li { list-style: none; }

.edit-block .read .years li + li:before { content: "-"; margin: 0 3px; }

.edit-block .read .years:before { content: "-"; margin: 0 6px 0 3px; }

.edit-block .edit { margin-bottom: 12px; background: #EEF8FF; border-radius: 3px; box-shadow: inset 0 0 2px #D4E7F5; padding-top: 12px; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.edit-block .edit:not(.slds-hide) .item { padding: 0 12px; }

.edit-block .edit .controls { padding: 12px 12px; background: white; border-style: solid; border-width: 0 1px 1px 1px; border-color: rgba(212, 231, 245, 0.5); }

@media (min-width: 768px) { .edit-block .edit .controls { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; } }

.edit-block .edit .controls .right, .edit-block .edit .controls .left { display: -webkit-flex; display: -ms-flexbox; display: flex; }

.edit-block .item { position: relative; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.edit-block .item .slds-form-element { padding: 0; }

.edit-block .item .slds-form-element + .slds-form-element { padding-top: 12px; }

.edit-block .item .gu-form-group { margin-bottom: 0; }

.edit-block .item + .controls { border-top: 1px solid #D4E7F5; }

.edit-block .item .btn-clear { cursor: pointer; fill: currentColor; color: rgba(153, 153, 153, 0.5); }

.edit-block .item .btn-clear svg { width: 16px; height: 16px; }

.form-group-controls { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; border-top: 1px solid #D4E7F5; border-bottom: 1px solid #D4E7F5; padding: 8px 12px; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; position: relative; }

.form-group-controls .title { margin-right: 12px; font-weight: 600; }

.form-group-controls .toggle { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin: 0 6px; color: #9d9d9d; box-shadow: 0 0 0 1px #ccc; border-radius: 50%; height: 30px; width: 30px; background: white; }

.form-group-controls .toggle .icon { display: -webkit-flex; display: -ms-flexbox; display: flex; }

.form-group-controls .toggle.internal .ic-status { width: 20px; height: 20px; position: relative; }

.form-group-controls input[type="radio"] { position: absolute; opacity: 0; }

.form-group-controls input[type="radio"]:checked + .toggle .ic-status { stroke: white; -webkit-animation: icon-blip 0.15s forwards; animation: icon-blip 0.15s forwards; }

.form-group-controls input[type="radio"]:nth-of-type(1) { right: 105px; }

.form-group-controls input[type="radio"]:nth-of-type(2) { right: 65px; }

.form-group-controls input[type="radio"]:nth-of-type(3) { right: 25px; }

.form-group-controls .ic-status { stroke: currentColor; width: 16px; height: 16px; transition: all 0.15s; }

@-webkit-keyframes pad-up { from { padding: 0; }
  to { padding: 12px; } }

@keyframes pad-up { from { padding: 0; }
  to { padding: 12px; } }

.change-block { padding-left: 36px; transition: all 0.15s; top: -24px; position: relative; max-width: 450px; }

.change-block .content { background: #E5F2F9; padding: 12px 24px 24px; border: 1px solid #d0e8f4; }

.change-block .content .title { padding: 0; font-size: 16px; font-weight: 600; margin-bottom: 12px; color: #444; }

.change-block .controls { padding: 12px 12px; background: white; border-width: 0 1px 1px; border-style: solid; border-color: rgba(212, 231, 245, 0.5); }

@media (min-width: 768px) { .change-block .controls { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; } }
