.giving-table .field-label { margin-right: 0; }

.giving-table .table-row-item { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; padding: 12px; }

.giving-table .table-row-item:nth-of-type(1) { font-weight: 600; }

@media (min-width: 768px) { .giving-table .table-row-item:nth-of-type(1) { width: 35%; } }

@media (min-width: 768px) { .giving-table .table-row-item:nth-of-type(2) { width: 15%; } }

@media (min-width: 768px) { .giving-table .table-row-item:nth-of-type(3) { width: 15%; } }

@media (min-width: 768px) { .giving-table .table-row-item:nth-of-type(4) { width: 15%; } }

@media (min-width: 768px) { .giving-table .table-row-item:nth-of-type(5) { width: 20%; } }

.giving-hero { background-repeat: no-repeat; background-size: cover; padding: 2px; border: 2px solid white; box-shadow: 0 0 0 1px #007DBC; border-radius: 8px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; color: white; position: relative; }

@media (min-width: 1025px) { .giving-hero { min-height: 300px; } }

.giving-hero .progress-bar-container { margin: 0 auto; width: 90%; position: absolute; bottom: -24px; background: #F1EFED; box-shadow: 0 10px 60px -19px rgba(0, 0, 0, 0.8); }

.giving-hero .title, .giving-hero .subtitle { line-height: 1.2; }

.giving-hero .title { font-size: 48px; font-weight: 700; text-shadow: 0 0 1px rgba(0, 0, 0, 0.3); -webkit-filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.6)); -moz-filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.6)); -ms-filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.6)); filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.6)); }

.giving-hero .subtitle { -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5)); -moz-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5)); -ms-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5)); filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5)); font-size: 30px; }

.amount { font-size: 20px; }

.amount.campaign-goal { color: #007DBC; }

.amount.amount-raised { color: #F0C711; font-weight: bold; }
