.pg-login { overflow: hidden; background: #012849; }

@media (max-width: 767px) { .pg-login { margin: 0; padding: 36px; } }

.pg-login:before { background-image: url("../img/splash.jpg"); background-repeat: no-repeat; background-size: 100vh; content: ""; position: absolute; right: -50%; width: 100%; height: 100%; }

.landing { color: white; background-color: #012849 !important; width: 100%; min-height: 100vh; }

.landing .wrapper { min-height: 100%; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; max-width: 440px; }

.landing .gu-logo { width: 400px; height: auto; position: relative; z-index: 5; }

.landing .login-form { margin-top: 36px; width: 100%; position: relative; z-index: 5; }

.landing .gu-form-group { width: 100%; }

.landing .gu-form-group .gu-checkbox label { color: white; }

.landing .gu-form-group .slds-form-element__label { color: white; font-size: 13px; font-weight: 600; }

.landing .gu-form-group .slds-checkbox .slds-checkbox--faux { background: none; border-color: white; }

.landing .gu-form-group .slds-checkbox [type=checkbox]:checked + .slds-checkbox__label .slds-checkbox--faux { border-color: white; background: white; }

.landing .slds-input { border-radius: 2px; height: 40px; font-size: 16px; }

.landing .remember-me { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }

.landing .controls { display: -webkit-flex; display: -ms-flexbox; display: flex; margin-top: 36px; margin-bottom: 48px; }

@media (max-width: 767px) { .landing .controls { -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; } }

.landing .controls .btn-bs { border: 1px solid white; width: 50%; line-height: 38px; color: white; }

@media (max-width: 767px) { .landing .controls .btn-bs { display: block; width: 100%; } }

@media (min-width: 768px) { .landing .controls .btn-bs + .btn-bs { margin-left: 12px; } }

.landing .controls .btn-bs:hover, .landing .controls .btn-bs:focus, .landing .controls .btn-bs:active { background: white; color: #58656E; }

.landing .helper { text-align: center; }

.landing .helper a { color: #00C3E2; }

.landing .pg-login.links .wrapper { margin: 36px auto; max-width: 1200px; width: 100%; z-index: 50; position: relative; z-index: 100; }

.landing .pg-login.links .wrapper h1 { margin: 48px 0 0; }

.landing .pg-login.links .wrapper div { width: 100%; }

.landing .pg-login.links .wrapper .gu-logo { margin: 0 auto; }

.landing .pg-login.links .wrapper .uiOutputRichText > p { text-align: center; margin-bottom: 70px; }

.landing .pg-login.links .card-group { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; width: auto; -webkit-flex: 1; -ms-flex: 1; flex: 1; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; margin: 36px; -webkit-flex: none; -ms-flex: none; flex: none; }

.landing .pg-login.links .card-group a.card-block { background: rgba(255, 255, 255, 0.75); display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; border-radius: 10px; margin-bottom: 24px; }

@media (min-width: 1025px) { .landing .pg-login.links .card-group a.card-block { width: auto; -webkit-flex: 1; -ms-flex: 1; flex: 1; margin: 0 12px; } }

.landing .pg-login.links .card-group a.card-block .title { border-bottom: 0; }

.landing .pg-login.links .card-group .card-block { width: 100%; padding: 0 24px; margin: 0 auto; }

@media (min-width: 768px) { .landing .pg-login.links .card-group .card-block { width: 50%; } }

@media (min-width: 1025px) { .landing .pg-login.links .card-group .card-block { width: 33%; } }

.landing .pg-login.links .card-group .card-block .wrapper { padding: 0; background: rgba(255, 255, 255, 0.75); border-radius: 4px; margin: 0 auto 48px; }

.landing .pg-login.links .card-group .card-block .title { padding: 24px 0; text-align: center; color: #0E4876; font-size: 20px; line-height: 1; font-weight: bold; border-bottom: 1px solid #0E4876; }

.landing .pg-login.links .card-group .card-block .body { text-align: center; padding: 36px 0; }

.landing .pg-login.links .card-group .card-block .body > div { padding: 6px; }

.landing .pg-login.links .card-group .card-block .body a { color: #0E4876; }

footer nav { -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; font-size: 13px; }

footer nav > a { color: white; display: block; padding: 12px 0; }
