.list-items td { vertical-align: middle; }

.list-items th { position: relative; padding-top: 15px; padding-bottom: 15px; }

.list-items th:first-of-type { padding-left: 10px; }

.list-items th:last-of-type { padding-right: 10px; }
