html { position: relative; min-height: 100%; }

body { text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; font-smooth: always; margin: 0; color: #58656E; min-height: 100vh; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; font-size: 14px; font-family: "proxima-nova", sans-serif; }

a { cursor: pointer; -webkit-transition: all 0.15s ease; transition: all 0.15s ease; text-decoration: none; }

a:hover, a:focus, a:active { text-decoration: underline; color: #005b89; }

hr { height: 2px; padding: 0; margin: 24px 0; background-color: rgba(229, 242, 249, 0.7); border: 0; }

.slds-hide { display: none !important; }

.hidden-xs, .hidden-sm, .hidden-md, .hidden-lg { display: block; }

@media (max-width: 480px) { .hidden-xs { display: none; } }

@media (max-width: 768px) and (min-width: 481px) { .hidden-sm { display: none; } }

.visible-xs, .visible-sm, .visible-md, .visible-lg { display: none; }

@media (max-width: 480px) { .visible-xs { display: block; } }

@media (max-width: 768px) and (min-width: 481px) { .visible-sm { display: block; } }

.full-width { width: 100%; }

h1 { font-size: 32px; font-weight: 600; }

h2 { font-size: 24px; font-weight: 600; }

h3 { font-size: 20px; font-weight: 600; }

h4 { font-size: 18px; font-weight: 600; }

h5 { font-size: 16px; font-weight: 600; }

h6 { font-size: 14px; font-weight: 600; text-transform: uppercase; }

strong { font-weight: 600; }

label { font-weight: 600; color: #777; }

.underline { text-decoration: underline; }

.txt-italic { font-style: italic; }

.txt-reset { font-weight: normal; line-height: 1; }

.txt-uppercase { text-transform: uppercase; }

.txt-small { font-size: 85%; }

.txt-date { color: rgba(88, 101, 110, 0.7); font-size: 95%; font-style: italic; line-height: 1.2; margin-bottom: 5px; }

.highlight { font-weight: 600; display: inline-block; background: rgba(255, 255, 0, 0.4); }

.txt-intro { font-size: 16px; padding-bottom: 24px; }

.txt-lg { font-size: 22px; }

.txt-gray { color: #999; }

.brand-error { color: #d9534f; }

h3.slds-section__title, .title.slds-section__title { font-size: 20px; font-weight: 400; }

.slds-text-heading--medium { font-weight: 600; font-size: 16px; }

.slds-text-body--medium { line-height: 1.2; font-size: 18px; }

.item-title { font-weight: 600; font-size: 16px; }

.field-label { display: block; margin-bottom: 6px; color: #BC4339; font-size: 20px; line-height: 1.2; }

.wf-loading { -webkit-transition: all 0.15s; transition: all 0.15s; opacity: 0; }

.wf-loading .page { visibility: hidden; }

.wf-active, .wf-inactive { -webkit-transition: all 0.15s; transition: all 0.15s; opacity: 1; }

.wf-active .page, .wf-inactive .page { visibility: visible; }

.slds-list--dotted.bordered { list-style: none; }

.slds-list--dotted.bordered > li { position: relative; }

.slds-list--dotted.bordered > li:before { content: ""; width: 6px; height: 6px; display: block; position: absolute; background: #0E4876; border-radius: 50%; left: -15px; top: 8px; }

button[data-balloon] { overflow: visible; }

[data-balloon] { position: relative; }

[data-balloon]:after { opacity: 0; pointer-events: none; -webkit-transition: all .18s ease-out .18s; transition: all .18s ease-out .18s; background: white; border-radius: 4px; color: #007DBC; content: attr(data-balloon); font-size: 12px; padding: .5em 1em; position: absolute; white-space: nowrap; z-index: 10; max-width: 400px; font-weight: 600; -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5)); -moz-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5)); -ms-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5)); filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5)); }

[data-balloon]:before { background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22white%22%20transform%3D%22rotate(0)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E"); background-size: 100% auto; width: 18px; height: 6px; opacity: 0; pointer-events: none; -webkit-transition: all .18s ease-out .18s; transition: all .18s ease-out .18s; content: ''; position: absolute; z-index: 10; z-index: 11; -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.5)); -moz-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.5)); -ms-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.5)); filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.5)); }

[data-balloon]:after, [data-balloon]:before { color: #58656E; }

[data-balloon]:hover:before, [data-balloon]:hover:after, [data-balloon][data-balloon-visible]:before, [data-balloon][data-balloon-visible]:after { filter: alpha(opactiy=100); opacity: 1; pointer-events: auto; }

[data-balloon].font-awesome:after { font-family: FontAwesome; }

[data-balloon][data-balloon-break]:after { white-space: pre; }

[data-balloon][data-balloon-pos="up"]:after { bottom: 100%; left: 50%; margin-bottom: 11px; -webkit-transform: translate(-50%, 10px); -ms-transform: translate(-50%, 10px); transform: translate(-50%, 10px); -webkit-transform-origin: top; -ms-transform-origin: top; transform-origin: top; }

[data-balloon][data-balloon-pos="up"]:before { bottom: 100%; left: 50%; margin-bottom: 5px; -webkit-transform: translate(-50%, 10px); -ms-transform: translate(-50%, 10px); transform: translate(-50%, 10px); -webkit-transform-origin: top; -ms-transform-origin: top; transform-origin: top; }

[data-balloon][data-balloon-pos="up"]:hover:after, [data-balloon][data-balloon-pos="up"][data-balloon-visible]:after { -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); }

[data-balloon][data-balloon-pos="up"]:hover:before, [data-balloon][data-balloon-pos="up"][data-balloon-visible]:before { -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); }

[data-balloon][data-balloon-pos='down']:after { left: 50%; margin-top: 11px; top: 100%; -webkit-transform: translate(-50%, -10px); -ms-transform: translate(-50%, -10px); transform: translate(-50%, -10px); }

[data-balloon][data-balloon-pos='down']:before { background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22white%22%20transform%3D%22rotate(180 18 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E"); background-size: 100% auto; width: 18px; height: 6px; left: 50%; margin-top: 5px; top: 100%; -webkit-transform: translate(-50%, -10px); -ms-transform: translate(-50%, -10px); transform: translate(-50%, -10px); }

[data-balloon][data-balloon-pos='down']:hover:after, [data-balloon][data-balloon-pos='down'][data-balloon-visible]:after { -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); }

[data-balloon][data-balloon-pos='down']:hover:before, [data-balloon][data-balloon-pos='down'][data-balloon-visible]:before { -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); }

[data-balloon][data-balloon-pos='left']:after { margin-right: 11px; right: 100%; top: 50%; -webkit-transform: translate(10px, -50%); -ms-transform: translate(10px, -50%); transform: translate(10px, -50%); }

[data-balloon][data-balloon-pos='left']:before { background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22white%22%20transform%3D%22rotate(-90 18 18)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E"); background-size: 100% auto; width: 6px; height: 18px; margin-right: 5px; right: 100%; top: 50%; -webkit-transform: translate(10px, -50%); -ms-transform: translate(10px, -50%); transform: translate(10px, -50%); }

[data-balloon][data-balloon-pos='left']:hover:after, [data-balloon][data-balloon-pos='left'][data-balloon-visible]:after { -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); }

[data-balloon][data-balloon-pos='left']:hover:before, [data-balloon][data-balloon-pos='left'][data-balloon-visible]:before { -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); }

[data-balloon][data-balloon-pos='right']:after { left: 100%; margin-left: 11px; top: 50%; -webkit-transform: translate(-10px, -50%); -ms-transform: translate(-10px, -50%); transform: translate(-10px, -50%); }

[data-balloon][data-balloon-pos='right']:before { background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22white%22%20transform%3D%22rotate(90 6 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E"); background-size: 100% auto; width: 6px; height: 18px; left: 100%; margin-left: 5px; top: 50%; -webkit-transform: translate(-10px, -50%); -ms-transform: translate(-10px, -50%); transform: translate(-10px, -50%); }

[data-balloon][data-balloon-pos='right']:hover:after, [data-balloon][data-balloon-pos='right'][data-balloon-visible]:after { -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); }

[data-balloon][data-balloon-pos='right']:hover:before, [data-balloon][data-balloon-pos='right'][data-balloon-visible]:before { -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); }

[data-balloon][data-balloon-length='small']:after { white-space: normal; width: 80px; }

[data-balloon][data-balloon-length='medium']:after { white-space: normal; width: 150px; }

[data-balloon][data-balloon-length='large']:after { white-space: normal; width: 260px; }

[data-balloon][data-balloon-length='xlarge']:after { white-space: normal; width: 380px; }

@media screen and (max-width: 768px) { [data-balloon][data-balloon-length='xlarge']:after { white-space: normal; width: 90vw; } }

[data-balloon][data-balloon-length='fit']:after { white-space: normal; width: 100%; }

.gu-header { position: relative; z-index: 10; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media (min-width: 1025px) { .gu-header { padding: 24px 24px 12px; } }

@media (max-width: 1023px) { .gu-header { background: #0E4876; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; } }

@media (min-width: 768px) { .gu-header .controls { margin-left: auto; } }

.gu-header .controls, .gu-header .user { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.gu-header .mobile-search { border-radius: 50%; border: 1px solid white; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; margin: 18px 24px 18px 84px; }

@media (min-width: 1025px) { .gu-header .mobile-search { display: none; } }

.gu-header .mobile-search .icon { width: 30px; height: 30px; color: white; stroke: currentColor; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.gu-header .mobile-search:hover, .gu-header .mobile-search:focus { background-color: #007DBC; }

.gu-header .mobile-search svg { width: 12px; height: 12px; }

@media (max-width: 767px) { .gu-header .mobile-search { display: -webkit-box; display: -ms-flexbox; display: flex; min-width: 30px; min-height: 30px; } }

.gu-header .alert { padding-top: 3px; padding-bottom: 3px; }

.gu-header .alert strong { font-weight: 700; }

@media (min-width: 1025px) { .gu-header .alert { position: relative; z-index: 15; margin-top: -3px; margin-left: auto; margin-right: -12px; text-decoration: none; }
  .gu-header .alert + .user-nav { margin-left: 0; } }

.gu-header .messages { color: white; margin: 0 48px 0 auto; position: relative; }

.gu-header .messages:after { content: ""; background-color: rgba(255, 255, 255, 0.1); height: 100%; width: 2px; display: block; position: absolute; top: 0; right: -24px; }

.gu-header .messages .circle { position: absolute; top: -6px; right: -12px; width: 20px; height: 20px; max-width: 20px; background: #d9534f; border-radius: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.gu-header .messages .number { font-weight: 700; text-shadow: 0 1px 1px #a02622; }

@media (min-width: 1025px) { .gu-header .messages { margin-left: auto; }
  .gu-header .messages + .user-nav { margin-left: 0; } }

@media (min-width: 1025px) { .gu-header .user-nav { margin-left: auto; } }

@media (max-width: 1024px) { .gu-header .user-nav { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; } }

.gu-header .user-nav .title { font-weight: 600; font-size: 16px; }

.gu-header .user-nav .dropdown { background: none; min-width: 100%; }

.gu-header .user-nav .dropdown input[type="checkbox"]:checked + label { color: white; }

.gu-header .user-nav .dropdown input[type="checkbox"]:checked + label .icon { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.gu-header .user-nav .dropdown > label { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: white; font-size: 18px; font-weight: 400; }

.gu-header .user-nav .dropdown .status { font-size: 14px; text-transform: uppercase; font-weight: 700; }

.gu-header .user-nav .dropdown .status.success { color: #93C461; }

.gu-header .user-nav .dropdown .status.warning { color: #f0ad4e; }

@media (min-width: 1025px) { .gu-header .user-nav .dropdown .user-photo { margin-right: 24px; width: 50px; height: 50px; min-width: 50px; min-height: 50px; } }

@media (min-width: 768px) { .gu-header .user-nav .dropdown .user-photo { margin-right: 24px; } }

@media (max-width: 1024px) { .gu-header .user-nav .dropdown .user-photo { width: 40px; height: 40px; min-width: 40px; min-height: 40px; } }

.gu-header .user-nav .dropdown .icon { position: relative; }

@media (min-width: 1025px) { .gu-header .user-nav .dropdown .icon { margin-left: 24px; } }

@media (max-width: 1024px) { .gu-header .user-nav .dropdown .icon { margin-left: 12px; margin-right: 24px; } }

.gu-header .user-nav .dropdown .icon svg { width: 16px; height: 16px; stroke: currentColor; }

.gu-header .user-nav .dropdown .dropdown-items hr { margin: 0; height: 1px; background-color: #eee; }

.gu-header .user { position: relative; max-height: 70px; padding-right: 24px; }

@media (max-width: 1024px) { .gu-header .user { margin-left: auto; } }

@media (max-width: 480px) { .gu-header .user { padding-right: 0; } }

.gu-header .user.logged-out > a { color: rgba(255, 255, 255, 0.7); font-size: 16px; text-decoration: none; }

.gu-header .user.logged-out > a:hover, .gu-header .user.logged-out > a:focus { color: white; }

.gu-header .user.logged-out .icon { stroke: currentColor; padding-left: 12px; }

.gu-header .user.logged-out .icon svg { -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg); width: 24px; height: 24px; }

.gu-header .user .title { color: white; font-size: 16px; line-height: 1.2; font-weight: 400; }

.gu-header .user .detail { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.gu-header .user .detail a { color: white; stroke: currentColor; margin-left: 24px; }

@media (max-width: 480px) { .gu-header .user .detail a { margin-left: 0; } }

.gu-header .user .detail a.btn-round { border-color: white; }

@media (max-width: 480px) { .gu-header .user .detail a.btn-round { height: 25px; width: 25px; }
  .gu-header .user .detail a.btn-round svg { width: 12px; height: 12px; } }

.gu-header .user .detail .icon { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; }

.gu-header .user-img { position: relative; margin: 6px 24px 6px 36px; }

.gu-header .user-img img { width: 60px; height: 60px; min-width: 60px; min-height: 60px; border-radius: 50%; box-shadow: 0 0 0 2px #012849, 0 0 0 3px white; }

@media (max-width: 1024px) { .gu-header .user-img img { width: 40px; height: 40px; min-width: 40px; min-height: 40px; } }

.gu-header .user-img .notification-count { position: absolute; left: -15px; top: 0; border-radius: 50%; height: 28px; width: 28px; display: block; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: white; font-size: 12px; font-weight: 600; }

.gu-header .search-btn { color: white; stroke: currentColor; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background: none; -webkit-transition: all 0.15s; transition: all 0.15s; border: 1px solid white; }

@media (max-width: 1024px) { .gu-header .search-btn { padding: 6px 12px; font-weight: 700; text-transform: uppercase; } }

@media (min-width: 1025px) { .gu-header .search-btn { height: 32px; width: 32px; min-height: 32px; min-width: 32px; border-radius: 50%; } }

.gu-header .search-btn .icon { width: 14px; height: 14px; display: -webkit-box; display: -ms-flexbox; display: flex; }

.gu-header .search-btn svg { width: 14px; height: 14px; }

.site-search { margin: 0 auto 0 0; position: relative; z-index: 50; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -ms-flex-preferred-size: 100%; flex-basis: 100%; }

@media (min-width: 1025px) { .site-search { max-width: 500px; } }

@media (max-width: 1024px) { .site-search { overflow: hidden; padding: 0; height: 0; visiblity: hidden; -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }
  .site-search .search-btn, .site-search input, .site-search .dropdown { display: none; }
  .site-search.active { visibility: visible; height: auto; padding: 12px 24px; }
  .site-search.active .search-btn, .site-search.active input, .site-search.active .dropdown { display: block; } }

@media (max-width: 479px) { .site-search { -ms-flex-wrap: wrap; flex-wrap: wrap; } }

.site-search .search-input { width: 100%; stroke: currentColor; z-index: 2; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media (max-width: 1024px) { .site-search .search-input { background: white; } }

@media (max-width: 479px) { .site-search .search-input { -ms-flex-preferred-size: 100%; flex-basis: 100%; margin-bottom: 12px; } }

.site-search .search-input > input { background: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; border: 0; border-bottom: 1px solid white; border-radius: 0; height: 32px; color: white; font-weight: 600; }

.site-search .search-input > input::-moz-selection { color: white; background: #d8edff; }

.site-search .search-input > input::selection { color: white; background: #d8edff; }

@media (min-width: 768px) { .site-search .search-input > input { min-width: 300px; } }

.site-search .search-input > input:focus, .site-search .search-input > input:active { background: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; outline: none; box-shadow: none; }

@media (min-width: 1025px) { .site-search .search-input ::-webkit-input-placeholder { color: white; } }

.site-search .search-filters { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; min-width: 140px; margin-right: 12px; }

@media (min-width: 480px) { .site-search .search-filters { max-width: 180px; } }

@media (min-width: 480px) { .site-search .search-filters { margin-left: 12px; } }

@media (max-width: 479px) { .site-search .search-filters { margin-left: 0; } }

.site-search .search-filters.dropdown { background: none; }

.site-search .search-filters.dropdown input[type="checkbox"]:checked + label .title { border-color: white; }

.site-search .search-filters.dropdown input[type="checkbox"]:checked ~ .dropdown-items { margin-top: -2px; border-radius: 0; background: #007DBC; border: 0; border-radius: 0 0 3px 3px; border-top: 1px solid white; }

.site-search .search-filters.dropdown input[type="checkbox"]:focus + label > .title { background: #007DBC; border-color: white; }

.site-search .search-filters.dropdown button { text-align: left; padding: 6px 12px !important; background: transparent; color: white; line-height: 1.8; font-size: 14px; font-weight: 600; border-radius: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.site-search .search-filters.dropdown button:before { content: ""; background: url("../img/checkbox.svg"); background-size: cover; width: 20px; height: 20px; margin-right: 12px; }

.site-search .search-filters.dropdown button + button { margin-left: 0; }

.site-search .search-filters.dropdown button.active:before { background: url("../img/checkbox_checked.svg"); }

.site-search .search-filters.dropdown label { stroke: white; border: 0; }

.site-search .search-filters.dropdown label > .title { border-radius: 0; font-size: 14px; font-weight: 600; height: 32px; color: white; border: 1px solid white; border-radius: 4px; }

.badge.red { background-image: -webkit-radial-gradient(top left, circle, #EA053B, #880011); background-image: radial-gradient(circle at top left, #EA053B, #880011); }

.content-wrapper { min-height: calc(100% - 125px); position: relative; }

.page { margin: 0 auto; position: relative; }

@media (max-width: 767px) { .page { margin: 0; } }

@media (min-width: 768px) { .page { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; height: 100%; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
  .page .sidebar.left { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .page .sidebar.right { -webkit-box-ordinal-group: 6; -ms-flex-order: 5; order: 5; }
  .page .content { -webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4; width: 100%; overflow: auto; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
  .page #nav-shrink { -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; }
  .page label[for="nav-shrink"] { -webkit-box-ordinal-group: -1; -ms-flex-order: -2; order: -2; display: block; } }

.page-content { padding: 36px 24px 96px; position: relative; width: 100%; z-index: 2; }

.page-content .block:not(.reset) { padding: 0 12px; }

.max-container { max-width: 1155px; margin: 0 auto; width: 100%; }

.item-group { margin-bottom: 36px; }

.page-header { position: relative; }

@media (min-width: 1025px) { .page-header { margin-bottom: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; } }

.page-header.vertical { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.page-header .description { margin-top: 6px; -ms-flex-preferred-size: 100%; flex-basis: 100%; }

@media (min-width: 768px) { .page-header .description { padding-right: 48px; } }

@media (max-width: 1024px) { .page-header .description { margin-bottom: 24px; } }

.page-header .description p { max-width: 800px; }

.page-header .description p:not(:last-of-type) { margin: 12px 0; }

.page-header.has-icon { stroke: currentColor; }

.page-header.has-icon > div:first-of-type { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.page-header.has-icon .icon { position: relative; margin-right: 18px; }

.page-header.has-icon .icon.lg { top: 5px; width: 30px; height: 30px; }

.page-header.has-icon .dropdown .icon { margin-right: 0; }

.page-header.has-controls > .icon { width: 30px; height: 30px; }

@media (max-width: 767px) { .page-header.has-controls .icon.lg { -ms-flex-item-align: start; align-self: flex-start; } }

.page-header.has-controls .controls { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

@media (min-width: 768px) { .page-header.has-controls .controls { margin-left: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .page-header.has-controls .controls > .title { margin-right: 12px; font-size: 16px; } }

@media (max-width: 767px) { .page-header.has-controls .controls { margin: 12px 0; } }

.page-header.has-controls .controls .slds-form-element__label { display: none; }

.page-header h1 { margin: 0; line-height: 1.1; font-weight: 700; font-size: 28px; }

@media (min-width: 1025px) { .page-header h1 { font-size: 34px; } }

.page-header .ui-widget { width: 100%; }

.page-intro { margin-bottom: 24px; }

.page-section .page-title, .page-section .slds-text-heading--medium { font-size: 24px; font-weight: 700; }

.page-section.has-controls { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; -ms-flex-wrap: wrap; flex-wrap: wrap; }

@media (max-width: 767px) { .page-section.has-controls { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

@media (min-width: 768px) { .page-section.has-controls .slds-form-element + .dropdown { margin-left: 12px; } }

.page-section.has-controls .controls { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

@media (min-width: 768px) { .page-section.has-controls .controls { margin-left: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .page-section.has-controls .controls > .title { margin-right: 12px; font-size: 14px; font-weight: 600; } }

@media (max-width: 767px) { .page-section.has-controls .controls { margin: 12px 0; } }

.page-section.has-controls .controls .slds-form-element__label { display: none; }

.page-section .toolbar { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-preferred-size: 100%; flex-basis: 100%; padding: 6px 12px; margin-top: 12px; font-weight: 600; }

.section-footer { margin-bottom: 36px; padding-bottom: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; }

.controls.flex { display: -webkit-box; display: -ms-flexbox; display: flex; }

@media (min-width: 768px) { .controls.flex .right { margin-left: auto; }
  .controls.flex .btn-bs { min-width: 60px; }
  .controls.flex .btn-bs + .btn-bs { margin-left: 12px; } }

@media (max-width: 767px) { .controls.flex { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

@media (min-width: 768px) { .flex.sm { display: -webkit-box; display: -ms-flexbox; display: flex; } }

@media (min-width: 1025px) { .flex.md { display: -webkit-box; display: -ms-flexbox; display: flex; } }

@media (min-width: 1200px) { .flex.lg { display: -webkit-box; display: -ms-flexbox; display: flex; } }

.flex.all { display: -webkit-box; display: -ms-flexbox; display: flex; }

.bordered { border: 1px solid #eee; border-radius: 15px; padding: 24px; }

ul.bordered { padding: 24px 24px 10px 48px; margin: 24px 0; }

.slds-xlarge-size--1-of-2 { width: 100%; }

@media (min-width: 76em) { .slds-xlarge-size--1-of-2 { width: 50%; } }

.slds-xlarge-size--1-of-3 { width: 100%; }

@media (min-width: 76em) { .slds-xlarge-size--1-of-3 { width: 33.333%; } }

@media (min-width: 1200px) { .sidebar { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.sidebar.right { border-radius: 3px; background: white; }

@media (min-width: 768px) { .sidebar.right { width: 260px; min-width: 260px; margin-left: 12px; } }

@media (min-width: 1200px) { .sidebar.right { width: 300px; min-width: 300px; margin-left: 24px; } }

.sidebar.right .user-heading { background: #EEF8FF; padding: 12px 0 6px; border-radius: 3px 3px 0 0; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 24px; }

.sidebar.right .user-heading .btn-block { position: relative; width: calc(100% - 40px); top: 24px; }

.sidebar.right .user-heading .user-photo { margin-top: 12px; }

.sidebar.right .user-heading .btn-edit { position: absolute; right: 20px; top: 36px; }

.sidebar.right .block.has-bg { background: white; border-radius: 3px 3px 0 0; }

.sidebar.right .block .icon-link { margin-bottom: 12px; word-break: break-all; line-height: 1.1; }

.sidebar .program-information { margin-top: 6px; position: relative; z-index: 5; padding: 24px 24px 24px 36px; }

.sidebar .program-information .title { margin-bottom: 24px; }

.sidebar .program-information .heading { font-weight: 600; text-transform: uppercase; line-height: 1; font-size: 12px; }

.sidebar .program-information .result { font-size: 18px; }

.sidebar-heading { color: white; padding: 36px 0 24px; }

.sidebar-heading .brand-logo { position: relative; z-index: 2; max-width: 100%; display: block; padding: 24px 24px 0 24px; }

.sidebar-heading .brand-logo img { -webkit-filter: drop-shadow(0 2px 0 rgba(0, 0, 0, 0.2)); -moz-filter: drop-shadow(0 2px 0 rgba(0, 0, 0, 0.2)); -ms-filter: drop-shadow(0 2px 0 rgba(0, 0, 0, 0.2)); filter: drop-shadow(0 2px 0 rgba(0, 0, 0, 0.2)); }

.sidebar-heading .title { font-size: 22px; line-height: 1; }

.mission-statement { padding: 24px 36px 36px 36px; font-weight: 600; font-style: italic; }

.sidebar-nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; min-height: 300px; }

.sidebar-nav > a { display: -webkit-box; display: -ms-flexbox; display: flex; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.sidebar-nav > a:hover, .sidebar-nav > a:focus, .sidebar-nav > a:active { text-decoration: none; }

.sidebar-nav .name { font-size: 18px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: all 0.15s; transition: all 0.15s; }

.sidebar-nav.alt > a { color: white; }

.sidebar-nav.alt > a:hover, .sidebar-nav.alt > a:focus, .sidebar-nav.alt > a:active { background: rgba(255, 255, 255, 0.15); }

.sidebar-nav.alt > a.active { background: white; }

.field-label { font-size: 20px; color: #007DBC; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.field-label.slds-form-element__label { font-size: 20px; color: #007DBC; }

.field-label .label-text { padding-right: 12px; }

.date-group--month-year { margin-bottom: 12px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.date-group--month-year > label { margin-right: 14px; line-height: 1; width: 90px; }

.date-group--month-year small { display: block; }

.date-group--month-year .month, .date-group--month-year .date { margin-right: 12px; }

.date-group--month-year .year { max-width: 80px; padding-top: 0 !important; }

.gu-form-group { margin-bottom: 24px; }

.has-help .help-block { display: block; }

.help-block { color: #ddd; display: none; }

.help-block svg { width: 14px; height: 14px; fill: currentColor; }

.gu-checkbox { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; }

.gu-checkbox .uiInputCheckbox { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.gu-checkbox .form-element__label { padding: 2px 0 0 6px; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; line-height: 1; }

.gu-checkbox [type="checkbox"] { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }

.gu-checkbox .slds-checkbox .slds-form-element__label { color: #444; font-size: 14px; font-weight: 600; }

.gu-checkbox .slds-checkbox .slds-checkbox--faux { width: 24px; height: 24px; border-width: 2px; border-color: #999; }

.gu-checkbox .slds-checkbox .slds-checkbox__label { display: -webkit-box; display: -ms-flexbox; display: flex; }

.gu-checkbox .slds-checkbox [type="checkbox"] { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }

.gu-checkbox .slds-checkbox [type="checkbox"]:checked + .slds-checkbox--faux:after, .gu-checkbox .slds-checkbox [type="checkbox"]:checked + .slds-checkbox__label .slds-checkbox--faux:after { height: 6px; width: 12px; }

.gu-checkbox .slds-checkbox [type="checkbox"]:checked + .slds-checkbox__label .slds-checkbox--faux { border-color: #007DBC; }

.gu-checkbox .slds-checkbox [type="checkbox"]:checked + .slds-checkbox__label .slds-form-element__label { color: #007DBC; }

.gu-radio .uiInputRadio { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.gu-radio .form-element__label { padding: 2px 0 0 6px; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; line-height: 1; }

.gu-radio .slds-radio .slds-form-element__label { color: #444; font-size: 14px; font-weight: 600; }

.gu-radio .slds-radio .slds-radio--faux { width: 24px; height: 24px; border-width: 2px; border-color: #999; }

.gu-radio .slds-radio [type="radio"] { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }

.gu-radio .slds-radio [type="radio"]:checked + .slds-radio--faux:after, .gu-radio .slds-radio [type="radio"]:checked + .slds-radio__label .slds-radio--faux:after { width: 12px; height: 12px; }

.gu-radio .slds-radio [type="radio"]:checked + .slds-radio__label .slds-radio--faux { border-color: #007DBC; }

.gu-radio .slds-radio [type="radio"]:checked + .slds-radio__label .slds-form-element__label { color: #007DBC; }

.radio-group-horizontal, .checkbox-group-horizontal { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.radio-group-horizontal .slds-form-element:not(:last-of-type), .checkbox-group-horizontal .slds-form-element:not(:last-of-type) { margin-right: 12px; }

@media (max-width: 1024px) { .radio-group-horizontal .slds-form-element:not(:last-of-type), .checkbox-group-horizontal .slds-form-element:not(:last-of-type) { margin-bottom: 12px; } }

.radio-group-vertical .slds-form-element__control:not(:last-of-type), .checkbox-group-vertical .slds-form-element__control:not(:last-of-type) { margin-bottom: 12px; }

.slds-input[disabled], .slds-input.slds-is-disabled { background: #f6f6f6; border-color: #fff; }

.slds-input__icon { stroke: currentColor; }

.slds-file-selector { width: 100%; }

.slds-file-selector .slds-file-selector__dropzone { width: 100%; }

.slds-form-element__label { font-size: 16px; font-weight: 400; }

.slds-input-has-icon--right .slds-input { padding-right: 38px; }

.slds-input-has-icon--right .slds-input__icon { right: 12px; }

.edit-block .slds-button-group-list + .slds-button-group-list.slds-box { left: 0; right: initial !important; margin-left: 0; }

[disabled] { opacity: 0.5; pointer-events: none; }

@media (max-width: 767px) { .slds-button + .slds-button { margin-left: 0; } }

.btn-reset { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; padding: 0; text-decoration: none; -webkit-appearance: none; white-space: normal; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; box-shadow: none; border: 0; background: none; }

.btn-bs { border-radius: 2px; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 14px; font-weight: 600; }

@media (max-width: 767px) { .btn-bs { width: 100%; }
  .btn-bs + .btn-bs { margin-top: 12px; } }

.btn-bs:hover, .btn-bs:focus, .btn-bs:active { text-decoration: none; }

.btn-bs.slds-button { line-height: 1.2; min-height: 34px; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.btn-bs.btn-block { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; width: 100%; margin: 0; }

.btn-bs.btn-block + .btn-block { margin-top: 12px; }

.btn-bs.disabled { pointer-events: none; }

.btn-block { display: block; text-align: center; }

.btn-pill { padding: 6px 24px; border-radius: 30px; font-size: 13px; line-height: 18px; white-space: nowrap; display: inline-block; }

.btn-pill.btn-default { border: 2px solid rgba(238, 238, 238, 0.2); background: white; color: #58656E; }

.btn-pill.btn-default:hover { background: #eee; color: #58656E; border-color: #eee; }

.btn-pill.rounded { padding: 6px; }

.btn-pill.rounded .icon { stroke: currentColor; }

.btn-pill + .btn-pill { margin-left: 12px; }

.btn-round { border-radius: 50%; height: 45px; width: 45px; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; min-width: 0; }

.btn-round svg { width: 16px; height: 16px; }

.btn-group { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.btn-group .btn-bs + .btn-bs { margin-left: 24px; }

.btn-lg { font-size: 20px; }

.btn-lg svg { width: 16px; height: 16px; min-width: 16px; min-height: 16px; }

.btn-back { stroke: currentColor; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 24px; }

.btn-back svg { width: 12px; height: 12px; margin-right: 12px; }

.btn-back span { font-size: 14px; font-weight: 600; text-transform: uppercase; }

.btn-add, .btn-next { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; stroke: currentColor; -webkit-transition: all 0.15s; transition: all 0.15s; }

.btn-add { border-radius: 50%; height: 26px; }

.btn-next { text-decoration: none; font-size: 16px; }

.btn-next .icon { margin-left: 6px; border-radius: 50%; height: 26px; width: 26px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.btn-next:hover { text-decoration: none; }

.btn-action { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 13px; }

.btn-action:hover { text-decoration: none; }

.btn-action .title { font-weight: 600; margin-right: 6px; display: block; }

.btn-action .icon svg { width: 20px; height: 20px; }

.btn-action.btn-save svg { stroke: currentColor; }

.btn-action.btn-remove svg { stroke: currentColor; }

.btn-action.btn-cancel svg { stroke: currentColor; }

.btn-action + .btn-action { margin-left: 24px; }

.load-more button { background: none; font-weight: 600; padding-top: 12px; width: 100%; }

.gu-pill { border-radius: 20px; padding: 2px 10px; font-weight: bold; }

.telephone .icon { margin-right: 12px; stroke: currentColor; }

.page-header .dropdown { min-width: 220px; }

.dropdown { position: relative; z-index: 10; display: block; min-width: 200px; background: white; }

.dropdown .dropdown-items { margin-top: 6px; border-radius: 3px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: absolute; display: none; }

.dropdown .dropdown-items > a { font-size: 14px; padding: 12px 24px; line-height: 1; }

.dropdown .dropdown-items > a:focus, .dropdown .dropdown-items > a:active, .dropdown .dropdown-items > a:hover { text-decoration: none; }

.dropdown label { display: block; }

.dropdown label > .title { height: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-left: 12px; padding-right: 48px; position: relative; border-radius: 3px; font-weight: 400; -webkit-user-select: none; }

.dropdown label .icon { -webkit-transition: all 0.15s; transition: all 0.15s; }

.dropdown input[type="checkbox"] { clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute; white-space: nowrap; width: 1px; }

.dropdown input[type="checkbox"]:checked + label .icon { -webkit-transform: translateY(-50%) rotate(180deg); -ms-transform: translateY(-50%) rotate(180deg); transform: translateY(-50%) rotate(180deg); }

.dropdown input[type="checkbox"]:checked ~ .dropdown-items { display: -webkit-box; display: -ms-flexbox; display: flex; }

.dropdown.has-caret label > .icon { position: absolute; right: 18px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.dropdown.has-caret label > .icon svg { width: 16px; height: 16px; }

.dropdown:not(.has-caret) > .title:after { margin-left: 12px; content: ""; background-image: url("../img/caret-down.svg"); width: 12px; height: 12px; background-size: cover; background-repeat: no-repeat; display: block; }

.dropdown:not(.has-caret) input[type="checkbox"]:checked ~ .title:after { -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg); }

.nav-dropdown { position: relative; }

.nav-dropdown .dropdown-items { display: none; position: relative; width: 100%; }

.nav-dropdown .dropdown-items > a { display: block; }

.nav-dropdown .dropdown-items > a:hover { background: #eee; text-decoration: none; }

.nav-dropdown > label { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.nav-dropdown > label:after { margin-left: 12px; content: ""; background-image: url("../img/caret-down.svg"); width: 12px; height: 12px; background-size: cover; background-repeat: no-repeat; display: block; }

.nav-dropdown input[type="checkbox"] { display: none; }

.nav-dropdown input[type="checkbox"]:checked ~ .dropdown-items { display: block; }

.nav-dropdown input[type="checkbox"]:checked + label:after { -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg); }

.nav-dropdown.active + .dropdown-items { display: block; }

.nav-dropdown.active > label:after { -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg); }

.block { padding: 24px; }

.block.reset.all { padding: 0; }

.block.reset.vertical { padding: 0 24px; }

.block.reset.horizontal { padding: 24px 0; }

.block.reset.top { padding-top: 0; }

.block.reset.bottom { padding-bottom: 0; }

.block .border-end { background: white; margin-bottom: 24px; padding-bottom: 24px; }

.block.logo { position: relative; z-index: 2; padding: 12px 0; height: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.block.logo img { max-width: 100%; height: auto; }

.block.logo .title { font-size: 16px; text-align: center; padding: 12px; }

.block.quick-links { position: relative; z-index: 2; padding: 24px 0 0; }

.block.nav { border: 0; position: relative; padding: 12px 0 0; z-index: 2; }

.txt-block + .txt-block { padding-top: 24px; }

.txt-block.sm { margin-top: 12px; }

.txt-block a:not(.btn-bs) { text-decoration: underline; }

.txt-block .title { margin-bottom: 6px; line-height: 1.2; }

.txt-block .name { font-weight: 600; font-size: 14px; }

.txt-block.expandable { display: block; position: relative; padding-bottom: 24px; margin-bottom: 36px; }

.txt-block.expandable .more-link, .txt-block.expandable [type=checkbox] { right: 0; position: absolute; bottom: 0; }

.txt-block.expandable .more-link .shown { display: block; }

.txt-block.expandable .more-link .not-shown { display: none; }

.txt-block.expandable [type=checkbox] { opacity: 0; position: absolute; }

.txt-block.expandable [type=checkbox]:checked ~ .body { max-height: 100%; overflow: visible; }

.txt-block.expandable [type=checkbox]:checked ~ .body .more-link .shown { display: none; }

.txt-block.expandable [type=checkbox]:checked ~ .body .more-link .not-shown { display: block; }

.txt-block.expandable .body { max-height: 60px; overflow: hidden; }

.txt-block.expandable .body.three { max-height: 80px; }

.block.person { display: -webkit-box; display: -ms-flexbox; display: flex; }

.block.person img { width: 50px; height: 50px; margin-right: 12px; border: 2px solid #ddd; }

.block.person .detail { padding-right: 12px; }

.block.person .name { font-weight: 600; font-size: 14px; display: inline-block; margin-bottom: 3px; }

.block.person .role { color: #333; line-height: 1.2; margin-bottom: 6px; }

.block.person .industry { font-size: 12px; line-height: 1.2; }

.user-photo { position: relative; padding-bottom: 0; background-size: cover; border-radius: 50%; box-shadow: 0 0 0 3px white, 0 0 0 4px #0E4876; }

.user-photo.sm, .user-photo.md, .user-photo.lg, .user-photo.xl { display: block; background-position: center; background-repeat: no-repeat; padding: 0; margin: 4px; }

.user-photo.xl { width: 175px; height: 175px; background-size: 175px; }

.user-photo.lg { width: 105px; height: 105px; background-size: 105px; }

.user-photo.lg .btn-xxs { position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.user-photo.md { width: 70px; height: 70px; min-width: 70px; min-height: 70px; background-size: 70px; }

.user-photo.sm { width: 40px; height: 40px; background-size: 40px; }

.user-card { display: -webkit-box; display: -ms-flexbox; display: flex; }

.user-card:hover { text-decoration: none; }

.user-card.lg img { width: 75px; height: 75px; box-shadow: 0 0 0 3px white, 0 0 0 4px #0E4876; border-radius: 50%; }

.user-card .detail { padding-left: 24px; }

.user-card .name { font-weight: 600; color: #0E4876; font-size: 16px; }

.user-card .role { color: #999; }

@media (max-width: 1024px) { .social-icons { margin-bottom: 24px; } }

.social-icons.is-center { margin: 12px 0 0; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; display: -webkit-box; display: -ms-flexbox; display: flex; }

.social-icons.is-end { margin: 12px 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.social-icons .icon-link { stroke: none !important; fill: CurrentColor; width: 40px; height: 40px; border-radius: 50%; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.social-icons .icon-link.has-border { border: 2px solid #E5F2F9; }

.social-icons .icon-link.has-border:hover { background: #E5F2F9; }

.social-icons.has-bg { position: relative; z-index: 5; }

.social-icons.has-bg > a { background-color: white; }

.social-icons.has-bg > a:hover, .social-icons.has-bg > a:focus { -webkit-transform: translateY(-2px); -ms-transform: translateY(-2px); transform: translateY(-2px); }

.social-icons > a { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; background-size: 24px; }

.social-icons > a:not(:last-of-type) { margin-right: 12px; }

.img-responsive { max-width: 100%; height: auto; }

.embed-responsive { position: relative; height: 0; overflow: hidden; }

.embed-responsive.size-16x9 { padding-bottom: 56.25%; }

.embed-responsive.size-4x3 { padding-bottom: 75%; }

.embed-responsive iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.contact-card { border: 1px solid #E5F2F9; border-radius: 4px; }

@media (max-width: 1024px) { .contact-card { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; } }

@media (min-width: 1025px) { .contact-card { padding: 12px; } }

.contact-card .card-detail-wraper { max-width: 210px; margin: 0 auto; display: block; font-weight: 600; }

@media (min-width: 1025px) { .contact-card .card-detail-wraper { color: rgba(255, 255, 255, 0.7); } }

@media (max-width: 1024px) { .contact-card .card-detail-wraper { padding: 12px; } }

@media (min-width: 1025px) { .contact-card .card-detail-wraper:hover { color: white; } }

@media (max-width: 1024px) { .contact-card .card-detail-wraper:not(:last-of-type) { padding-bottom: 0; } }

@media (min-width: 1025px) { .contact-card .card-detail-wraper:not(:last-of-type) { margin-bottom: 8px; } }

.contact-card .icon { width: 15px; height: 15px; stroke: none; fill: currentColor; display: inline-block; margin-right: 10px; }

@media (min-width: 1025px) { .contact-card .icon { color: white; } }

.contact-card .icon svg { width: 15px; height: 15px; }

@media (min-width: 1024px) { .mobile-nav, .nav-trigger, label[for="nav-trigger"] { display: none; } }

@media (max-width: 1023px) { .page { position: relative; top: 0; bottom: 100%; left: 0; z-index: 1; -webkit-transition: left 0.2s; transition: left 0.2s; min-height: 100vh; background: white; }
  .mobile-nav { background: #eee; width: 100%; height: 100%; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 0; width: 260px; }
  .mobile-nav > label { display: block; width: 100%; border-bottom: 1px solid #ddd; padding: 0; color: white; }
  .mobile-nav > label .title { padding: 12px 24px; font-size: 14px; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; }
  .mobile-nav > label .dropdown-items > a { padding: 12px; padding-left: 36px; }
  .mobile-nav > a { display: block; color: #007DBC; stroke: currentColor; padding: 12px 24px; font-size: 14px; border-bottom: 1px solid #ddd; line-height: 1; font-weight: 600; }
  .mobile-nav > a.active { color: #0E4876; }
  .mobile-nav > a.icon-link.lg img { width: 24px; height: 24px; }
  #nav-trigger { position: absolute; clip: rect(0, 0, 0, 0); top: 25px; left: 25px; }
  #nav-trigger + label { -webkit-transition: left 0.2s; transition: left 0.2s; }
  #nav-trigger:checked { left: 284px; }
  #nav-trigger:checked + label { left: 284px; }
  #nav-trigger:checked ~ .page { left: 260px; box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05); position: absolute; overflow: hidden; width: calc(100% - 200px); }
  #nav-trigger:checked ~ .page .content { overflow: hidden; min-width: 340px; }
  #nav-trigger:checked ~ .page .site-search { opacity: 0; }
  label[for="nav-trigger"] { position: absolute; left: 24px; top: 20px; z-index: 2; height: 30px; width: 30px; cursor: pointer; color: white; } }

@media (max-width: 1023px) and (min-width: 768px) { label[for="nav-trigger"] { top: 20px; } }

@media (max-width: 1023px) { label[for="nav-trigger"] svg { width: 24px; height: 24px; stroke: currentColor; } }

.icon-link { background-repeat: no-repeat; background-position: left center; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; stroke: currentColor; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.icon-link.xs img, .icon-link.xs svg { width: 16px; height: 16px; min-width: 16px; min-height: 16px; }

.icon-link.sm img, .icon-link.sm svg { width: 20px; height: 20px; min-width: 20px; min-height: 20px; }

.icon-link.lg img, .icon-link.lg svg { width: 30px; height: 30px; min-width: 30px; min-height: 30px; }

.icon-link.lg > span:not(.icon) { padding-left: 18px; }

.icon-link.glyph { fill: currentColor; stroke: none; }

.icon-link > span:not(.icon) { padding-left: 12px; }

.icon-xs { width: 16px; height: 16px; min-width: 16px; min-height: 16px; }

.icon-sm { width: 20px; height: 20px; min-width: 20px; min-height: 20px; }

.icon-md { width: 30px; height: 30px; min-width: 30px; min-height: 30px; }

.icon-block { position: relative; width: 100%; margin-top: 36px; }

.icon-block + .collapse-block { margin-top: 24px; }

.icon-block.has-controls > .heading { position: relative; padding-right: 36px; }

.icon-block.has-controls > .heading:before { content: ""; height: 2px; width: 100%; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.icon-block.has-controls > .heading h2.title { font-size: 24px; }

.icon-block.has-controls > .heading .controls { position: absolute; cursor: pointer; right: 0; background: white; padding-left: 12px; display: -webkit-box; display: -ms-flexbox; display: flex; }

.icon-block.has-controls > .heading .controls .dropdown { min-width: 0; }

.icon-block.has-controls > .heading .controls .dropdown-items { min-width: 160px; top: 24px; }

.icon-block.has-controls > .heading .controls .dropdown-items > a { text-decoration: none; font-size: 14px; padding: 6px 24px; }

.icon-block.has-controls > .heading .controls .icon svg { width: 24px; height: 24px; }

.icon-block.has-controls > .heading a.controls { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-decoration: none; }

.icon-block.has-controls > .heading a.controls > span { display: block; margin-right: 6px; }

.icon-block.has-controls .icon img { width: 24px; height: 24px; }

.icon-block a:not(.btn-*) { text-decoration: underline; }

.icon-block .read + .read { margin-top: 12px; }

.icon-block .heading { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; stroke: currentColor; color: #0E4876; margin-bottom: 12px; }

.icon-block .heading > .icon { background: white; }

.icon-block .heading .icon { position: relative; }

.icon-block .heading .icon img { width: 24px; height: 24px; }

.icon-block .heading .icon svg { width: 24px; height: 24px; }

.icon-block .heading .icon.md svg { width: 30px; height: 30px; }

.icon-block .heading .icon + .title { padding-left: 12px; }

.icon-block .heading .title { background: white; position: relative; padding-right: 12px; line-height: 1; font-size: 16px; }

.icon-block .heading div.title { font-weight: 700; }

.icon-block .heading h2 { font-size: 24px; font-weight: 700; }

.card { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.card.padded { padding: 12px; }

.card .card-title { padding: 24px 24px 0; }

.card .card-title h2 { line-height: 1.2; font-size: 24px; font-weight: 700; }

.card .card-title .title { display: -webkit-box; display: -ms-flexbox; display: flex; }

.card .card-title.has-controls { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

@media (min-width: 1025px) { .card .card-title.has-controls { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; } }

.card .card-title.has-controls .icon + h2 { margin-right: auto; margin-left: 18px; }

.card .card-title.has-controls .controls { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

@media (min-width: 768px) { .card .card-title.has-controls .controls { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; } }

.card .card-title.has-controls .controls .btn-bs { width: auto; margin-left: 12px; }

.card .card-title + .card-content:not(.collapse-block) { padding-top: 24px; }

.card.scroll-md .card-content { height: 373px; overflow-y: scroll; border-bottom: 24px solid white; border-radius: 0 0 15px 15px; padding-bottom: 0; }

.card.scroll-md .card-title { padding-bottom: 18px; }

.card.scroll-md .card-title + .card-content { height: 300px; padding-top: 0; }

.card-group { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 100%; }

@media (min-width: 1200px) { .card-group { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; } }

.card-group.card-narrow { max-width: 600px; margin: 0 auto; }

@media (max-width: 1025px) { .card-group + .card-group { margin-top: 36px; } }

.card-group.slds-grid { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.card-group.slds-grid .card + .card { margin: 0; }

.card-group .card + .card { margin-top: 36px; }

.card-grid-item { font-size: 13px; min-width: 180px; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.card-grid-item.md { min-width: 240px; }

.card-grid-item .card-label { text-transform: uppercase; font-size: 12px; font-weight: 600; margin-top: 12px; color: rgba(88, 101, 110, 0.7); }

.card-grid-item .title { font-size: 16px; font-weight: 600; }

.card-grid-item .card-description { padding-top: 12px; margin-top: auto; }

.card-grid-item .description { padding-bottom: 36px; border-bottom: 1px solid #eee; margin-bottom: 36px; }

@media (max-width: 1024px) { .page-section.slds-grid > div + div .card-group { margin-top: 25px; } }

.list-group .add-block + .edit-block { margin-top: 12px; }

.list-group .add-block { padding-right: 0; }

.list-row { -ms-flex-wrap: wrap; flex-wrap: wrap; background: rgba(229, 242, 249, 0.2); border: 1px solid #dbedf7; padding: 15px; }

.list-row:not(.slds-hide) { display: -webkit-box; display: -ms-flexbox; display: flex; }

@media (max-width: 480px) { .list-row { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.list-row + .list-row { border-top: 0; }

.list-row.has-controls { padding-right: 50px; position: relative; }

.list-row.has-controls .controls { position: absolute; right: 0; top: 0; width: 35px; height: 100%; }

.list-row.has-controls .controls .btn-bs { border-radius: 0 2px 2px 0; }

.list-row.has-controls .controls a { stroke: currentColor; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.list-row.has-controls .controls a:hover { background: #007DBC; color: white; }

.list-row.has-controls .controls svg { width: 20px; height: 20px; }

.list-row.add { background: none; }

.list-row.add + .list-row { border: 1px solid #dbedf7; }

@media (min-width: 768px) { .list-row.add .label-card.lg { max-width: 275px; width: 275px; } }

@media (min-width: 768px) { .list-row.add .label-card.md { max-width: 175px; width: 175px; } }

.list-row.edit { background: #eee; padding: 0; }

.list-row.edit .divider { border-left: 1px solid #d5d4d4; }

@media (min-width: 768px) { .list-row.edit .label-card.lg { max-width: 285px; width: 285px; } }

@media (min-width: 768px) { .list-row.edit .label-card.md { max-width: 185px; width: 185px; } }

.list-row .main-column { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.list-row .main-column > a { -ms-flex-item-align: start; align-self: flex-start; }

@media (min-width: 1200px) { .list-row .main-column { padding-right: 36px; } }

.list-row .divider { display: block; border-left: 1px solid #dbedf7; padding-right: 24px; margin-left: 15px; }

.list-row .push-left { margin-left: 24px; }

@media (min-width: 1200px) { .list-row .push-left { margin-left: auto; } }

.list-row .icon-btn { stroke: currentColor; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.list-row .icon-btn svg { width: 28px; height: 28px; }

.list-row .label-card { display: -webkit-box; display: -ms-flexbox; display: flex; }

@media (min-width: 768px) { .list-row .label-card.lg { max-width: 250px; width: 250px; } }

@media (min-width: 768px) { .list-row .label-card.md { max-width: 150px; width: 150px; } }

.list-row .label-card .gu-form-group { width: 100%; }

.list-row .label-card .icon { margin-right: 12px; margin-top: 6px; }

.list-row .label-card .icon svg { stroke: currentColor; width: 32px; height: 32px; }

.list-row .label-card .label, .list-row .label-card label { font-size: 12px; color: #0E4876; font-weight: 600; }

.gu-modal .slds-modal__header { text-align: left; border-bottom-color: #E5F2F9; }

.gu-modal .slds-modal__header h2 { font-size: 24px; font-weight: 700; }

.gu-modal .slds-modal__footer { background: transparent; border: 0; box-shadow: none; padding: 0; }

@media (max-width: 480px) { .slds-modal__footer .slds-button + .slds-button { margin-left: 0; } }

.read-more { position: relative; }

.read-more [type="checkbox"] { opacity: 0; position: absolute; }

.read-more [type="checkbox"]:checked ~ .expand-content { height: auto; overflow: auto; padding-top: 12px; margin-top: 12px; padding-bottom: 24px; border-top: 1px solid #eee; border-bottom: 1px solid #eee; }

.read-more .title, .read-more .read-more { display: inline; }

.read-more .read-more { margin-left: 24px; }

.read-more .expand-content { -webkit-transition: all 0.15s; transition: all 0.15s; overflow: hidden; height: 0; padding-left: 12px; padding-right: 12px; }

.gu360-loading-text { margin: 36px 0; height: 34px; }

.gu360-loading-text .slds-spinner { left: 20px; }

.gu360-loading-text .message { padding-left: 50px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 34px; font-weight: 600; color: #0E4876; }

@-webkit-keyframes overlay-in { 0% { background-color: transparent; }
  100% { background-color: rgba(255, 255, 255, 0.9); } }

@keyframes overlay-in { 0% { background-color: transparent; }
  100% { background-color: rgba(255, 255, 255, 0.9); } }

@-webkit-keyframes overlay-out { 0% { background-color: rgba(255, 255, 255, 0.9); }
  100% { background-color: transparent; } }

@keyframes overlay-out { 0% { background-color: rgba(255, 255, 255, 0.9); }
  100% { background-color: transparent; } }

.gu-spinner { height: 100vh; background-color: rgba(255, 255, 255, 0.9); position: fixed; }

.gu-spinner.fade-out { -webkit-animation: overlay-out 0.25s forwards; animation: overlay-out 0.25s forwards; }

.gu-spinner .loading-text { position: absolute; -webkit-transform: translate(-50%); -ms-transform: translate(-50%); transform: translate(-50%); top: calc(50% - 10px); right: calc(50% - 130px); color: #007DBC; font-weight: 700; text-transform: uppercase; }

.gu-spinner .slds-spinner:after, .gu-spinner .slds-spinner:before, .gu-spinner .slds-spinner__dot-a:after, .gu-spinner .slds-spinner__dot-a:before, .gu-spinner .slds-spinner__dot-b:after, .gu-spinner .slds-spinner__dot-b:before { background: rgba(0, 125, 188, 0.75); }

[data-tooltip] { position: relative; cursor: pointer; }

[data-tooltip]:before { position: absolute; visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, -webkit-transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24); transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, -webkit-transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24); transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24); transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24), -webkit-transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); pointer-events: none; z-index: 1001; border: 6px solid transparent; background: transparent; content: ""; bottom: 100%; left: 50%; margin-left: -6px; margin-bottom: -12px; border-top-color: #0E4876; }

[data-tooltip]:after { position: absolute; visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, -webkit-transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24); transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, -webkit-transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24); transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24); transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24), -webkit-transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); pointer-events: none; z-index: 1000; padding: 8px; background-color: #0E4876; border-radius: 4px; color: #fff; content: attr(data-tooltip); font-size: 14px; line-height: 1.2; bottom: 100%; left: 50%; -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); text-align: center; }

[data-tooltip]:hover:before { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-transform: translateY(-12px); -ms-transform: translateY(-12px); transform: translateY(-12px); }

[data-tooltip]:hover:after { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-transform: translate(-50%, -12px); -ms-transform: translate(-50%, -12px); transform: translate(-50%, -12px); }

[data-tooltip]:focus:before { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-transform: translateY(-12px); -ms-transform: translateY(-12px); transform: translateY(-12px); }

[data-tooltip]:focus:after { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-transform: translateY(-12px); -ms-transform: translateY(-12px); transform: translateY(-12px); }

.tooltip { position: relative; cursor: pointer; }

.tooltip:before { position: absolute; visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, -webkit-transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24); transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, -webkit-transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24); transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24); transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24), -webkit-transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); pointer-events: none; z-index: 1001; border: 6px solid transparent; background: transparent; content: ""; bottom: 100%; left: 50%; margin-left: -6px; margin-bottom: -12px; border-top-color: #000; border-top-color: rgba(51, 51, 51, 0.9); }

.tooltip:after { position: absolute; visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, -webkit-transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24); transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, -webkit-transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24); transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24); transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24), -webkit-transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); pointer-events: none; z-index: 1000; padding: 8px; background-color: #000; background-color: rgba(51, 51, 51, 0.9); color: #fff; content: attr(data-tooltip); font-size: 14px; line-height: 1.2; bottom: 100%; left: 50%; margin-left: -80px; }

.tooltip:hover:before { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-transform: translateY(-12px); -ms-transform: translateY(-12px); transform: translateY(-12px); }

.tooltip:hover:after { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-transform: translateY(-12px); -ms-transform: translateY(-12px); transform: translateY(-12px); }

.tooltip:focus:before { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-transform: translateY(-12px); -ms-transform: translateY(-12px); transform: translateY(-12px); }

.tooltip:focus:after { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-transform: translateY(-12px); -ms-transform: translateY(-12px); transform: translateY(-12px); }

.tooltip-top:before { bottom: 100%; left: 50%; margin-left: -6px; margin-bottom: -12px; border-top-color: #000; border-top-color: rgba(51, 51, 51, 0.9); }

.tooltip-top:after { bottom: 100%; left: 50%; margin-left: -80px; }

.tooltip-top:hover:before { -webkit-transform: translateY(-12px); -ms-transform: translateY(-12px); transform: translateY(-12px); }

.tooltip-top:hover:after { -webkit-transform: translateY(-12px); -ms-transform: translateY(-12px); transform: translateY(-12px); }

.tooltip-top:focus:before { -webkit-transform: translateY(-12px); -ms-transform: translateY(-12px); transform: translateY(-12px); }

.tooltip-top:focus:after { -webkit-transform: translateY(-12px); -ms-transform: translateY(-12px); transform: translateY(-12px); }

.tooltip-left:before { right: 100%; bottom: 50%; left: auto; margin-left: 0; margin-right: -12px; margin-bottom: 0; border-top-color: transparent; border-left-color: #000; border-left-color: rgba(51, 51, 51, 0.9); top: 3px; }

.tooltip-left:after { right: 100%; bottom: 50%; left: auto; margin-left: 0; margin-bottom: -16px; }

.tooltip-left:hover:before { -webkit-transform: translateX(-12px); -ms-transform: translateX(-12px); transform: translateX(-12px); }

.tooltip-left:hover:after { -webkit-transform: translateX(-12px); -ms-transform: translateX(-12px); transform: translateX(-12px); }

.tooltip-left:focus:before { -webkit-transform: translateX(-12px); -ms-transform: translateX(-12px); transform: translateX(-12px); }

.tooltip-left:focus:after { -webkit-transform: translateX(-12px); -ms-transform: translateX(-12px); transform: translateX(-12px); }

.tooltip-bottom:before { top: 100%; bottom: auto; left: 50%; margin-top: -12px; margin-bottom: 0; border-top-color: transparent; border-bottom-color: #000; border-bottom-color: rgba(51, 51, 51, 0.9); }

.tooltip-bottom:after { top: 100%; bottom: auto; left: 50%; }

.tooltip-bottom:hover:before { -webkit-transform: translateY(12px); -ms-transform: translateY(12px); transform: translateY(12px); }

.tooltip-bottom:hover:after { -webkit-transform: translateY(12px); -ms-transform: translateY(12px); transform: translateY(12px); }

.tooltip-bottom:focus:before { -webkit-transform: translateY(12px); -ms-transform: translateY(12px); transform: translateY(12px); }

.tooltip-bottom:focus:after { -webkit-transform: translateY(12px); -ms-transform: translateY(12px); transform: translateY(12px); }

.tooltip-right:before { bottom: 50%; left: 100%; margin-bottom: 0; margin-left: -12px; border-top-color: transparent; border-right-color: #000; border-right-color: rgba(51, 51, 51, 0.9); top: 3px; }

.tooltip-right:after { bottom: 50%; left: 100%; margin-left: 0; margin-bottom: -16px; }

.tooltip-right:hover:before { -webkit-transform: translateX(12px); -ms-transform: translateX(12px); transform: translateX(12px); }

.tooltip-right:hover:after { -webkit-transform: translateX(12px); -ms-transform: translateX(12px); transform: translateX(12px); }

.tooltip-right:focus:before { -webkit-transform: translateX(12px); -ms-transform: translateX(12px); transform: translateX(12px); }

.tooltip-right:focus:after { -webkit-transform: translateX(12px); -ms-transform: translateX(12px); transform: translateX(12px); }

.collapse-block { width: 100%; position: relative; margin-top: 36px; }

.collapse-block + .collapse-block { margin-top: 12px; }

.collapse-block + .icon-block { margin-top: 24px; }

.collapse-block .collapse-content { overflow: hidden; height: 0; -webkit-transition: all 0.15s; transition: all 0.15s; }

.collapse-block [type="checkbox"] { opacity: 0; position: absolute; top: 0; }

.collapse-block [type="checkbox"]:checked ~ .collapse-content { height: auto; overflow: visible; padding: 12px 0; }

.collapse-block [type="checkbox"]:checked ~ .heading .btn-collapse .icon svg { -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg); }

.collapse-block > .heading { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0; height: 40px; cursor: pointer; }

.collapse-block > .heading .title { background: white; position: relative; padding-right: 12px; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; }

.collapse-block > .heading h3 { font-size: 20px; color: #BC4339; font-weight: 400; }

.collapse-block > .heading .controls { position: absolute; cursor: pointer; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); right: 0; background: white; margin-top: -2px; padding-left: 12px; }

.collapse-block > .heading .controls .icon svg { width: 16px; height: 16px; }

.collapse-block .btn-collapse { border-radius: 50%; height: 26px; width: 26px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background: none; }

.collapse-block .btn-collapse .icon svg { background: transparent !important; -webkit-transition: all 0.15s; transition: all 0.15s; }

.collapse-block + .page-section { margin-top: 48px; }

.user-grid { margin: 0 -12px 36px; -ms-flex-wrap: wrap; flex-wrap: wrap; display: -webkit-box; display: -ms-flexbox; display: flex; }

@media (max-width: 767px) { .user-grid { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.user-grid .icon svg { width: 16px; height: 16px; }

.user-grid .user-control { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.user-grid .user-control > a { margin-top: 12px; stroke: currentColor; color: #007DBC; }

.user-grid .user-control > a:not(:last-of-type) { margin-right: 12px; }

.user-grid .person { padding-left: 24px; padding-right: 24px; }

@media (min-width: 768px) { .user-grid .person { width: 33%; } }

.user-grid .controls { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 12px; margin-bottom: 12px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.user-grid .controls a { display: -webkit-box; display: -ms-flexbox; display: flex; stroke: currentColor; }

.user-grid .controls a:not(:first-of-type) { margin-left: 12px; }

.person { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding-bottom: 36px; }

@media (min-width: 480px) { .person { min-width: 250px; width: 100%; } }

.person .detail { margin-left: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.person .name { line-height: 1.2; font-weight: 600; font-size: 16px; color: #012849; }

.person .role { -ms-flex-preferred-size: 100%; flex-basis: 100%; margin-bottom: 3px; line-height: 1.3; font-size: 13px; font-weight: 600; color: rgba(0, 0, 0, 0.5); }

.user-update-card { padding: 0 36px 0 12px; }

@media (min-width: 1025px) { .user-update-card { width: 33%; min-height: 130px; } }

@media (max-width: 1024px) { .user-update-card { width: 50%; } }

@media (max-width: 767px) { .user-update-card { width: 100%; } }

.user-update-card > .edit-block .edit { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.user-update-card > .edit-block .read { display: -webkit-box; display: -ms-flexbox; display: flex; }

.user-update-card .user-card { margin-bottom: 28px; }

.user-update-card .edit, .user-update-card .read { padding: 14px 0 14px 14px; position: relative; width: 100%; }

.user-update-card .read:hover { background: #EEF8FF; box-shadow: inset 0 0 2px #D4E7F5; padding-left: 12px; }

.user-update-card .read .detail { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.user-update-card .read .controls { display: block; }

.user-update-card .detail { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin-left: 0; margin-top: 10px; padding-right: 14px; }

.user-update-card .edit { background: #EEF8FF; display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 0; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 0; }

.user-update-card .edit .img-edit { position: relative; z-index: 10; border-radius: 50%; height: 60px; width: 60px; margin: 14px 0 14px 14px; }

.user-update-card .edit .img-edit:hover { background: white; }

.user-update-card .edit .img-edit:hover img { -webkit-animation: photo-out 0.15s forwards; animation: photo-out 0.15s forwards; }

.user-update-card .edit .img-edit:hover .action { -webkit-animation: icon-in 0.15s forwards; animation: icon-in 0.15s forwards; color: white; }

.user-update-card .edit .img-edit:hover .action svg { fill: currentColor; }

.user-update-card .edit .img-edit img { width: 60px; height: 60px; }

.user-update-card .edit .img-edit svg { width: 16px; height: 16px; }

.user-update-card .edit .img-edit .action { opacity: 0; position: absolute; width: 100%; padding: 1px 0; left: 0; top: 0; height: 100%; border-radius: 50%; background: #0E4876; color: #0E4876; text-shadow: 0 0 1px rgba(255, 255, 255, 0.5); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.user-update-card .edit .img-edit .action .helper { font-size: 9px; font-weight: 700; margin-top: 6px; text-transform: uppercase; width: 100%; text-align: center; line-height: 1; }

.user-update-card .edit .controls { -ms-flex-preferred-size: 100%; flex-basis: 100%; }

.user-update-card .controls { display: none; margin-bottom: 0; height: 100%; }

.user-update-card .controls .btn-bs { height: 100%; stroke: currentColor; padding: 12px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-radius: 0 3px 3px 0; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.user-update-card .controls .btn-bs:hover, .user-update-card .controls .btn-bs:focus { background: #007DBC; color: white; }

.user-update-card .controls svg { width: 16px; height: 16px; }

.social-feed article { padding-left: 0; padding-right: 0; }

.social-feed header { padding: 0; margin-bottom: 6px; }

.social-feed .posted-by > a:hover { text-decoration: none; }

.social-feed .posted-by > a:hover .title { text-decoration: underline; }

.social-feed .title { font-weight: 600; font-size: 16px; }

.social-feed .handle { color: rgba(88, 101, 110, 0.8); font-size: 13px; }

.social-feed .timestamp { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; color: rgba(88, 101, 110, 0.8); font-size: 13px; }

.social-feed .timestamp:hover { text-decoration: none; }

.social-feed .post-date { margin-right: 12px; }

.social-feed .site-icon { width: 20px; height: 20px; }

@media (min-width: 768px) { .social-feed .slds-post__content { padding-left: 72px; } }

.social-feed .edit .controls { position: absolute; bottom: 24px; right: 24px; }

.alert { padding: 6px 24px; border-radius: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-wrap: wrap; flex-wrap: wrap; line-height: 24px; }

.alert.card { border-radius: 15px 15px 0 0; }

.alert.show-mobile { display: none; }

@media (max-width: 767px) { .alert.show-mobile { display: -webkit-box; display: -ms-flexbox; display: flex; border-radius: 0; } }

.alert.hide-mobile { display: none; }

@media (min-width: 768px) { .alert.hide-mobile { display: -webkit-box; display: -ms-flexbox; display: flex; } }

.alert .title { font-weight: 600; text-transform: uppercase; }

.alert .title + span { padding-left: 12px; }

.alert .alert-heading { display: -webkit-box; display: -ms-flexbox; display: flex; }

.alert .icon { stroke: currentColor; margin-right: 12px; padding-top: 4px; }

.alert .icon svg { width: 15px; height: 15px; }

@media (min-width: 768px) { .alert.horizontal { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .alert.horizontal .alert-heading { width: auto; }
  .alert.horizontal .alert-controls { width: auto; margin-left: auto; } }

.alert.warning { background: #f0ad4e; color: white; border-color: #f0ad4e; box-shadow: 0 3px 0 0 #ec971f; text-shadow: 0 1px 1px #b06d0f; font-weight: 600; }

.alert.warning .alert-content { font-size: 16px; font-weight: 600; }

.alert.warning .btn-bs.slds-button--neutral { background: transparent; color: white; border-color: #f8d9ac; }

.alert.warning .btn-bs.slds-button--neutral:focus, .alert.warning .btn-bs.slds-button--neutral:hover { background: white; color: #f0ad4e; }

.card-group .card.alert + .card { margin-top: 3px; border-radius: 0 0 15px 15px; }

.facet-grid > div { width: 100%; }

.facet-grid.has-padding { margin-left: -24px; margin-right: -24px; }

.facet-grid.has-padding .ui-widget { padding-left: 24px; padding-right: 24px; }

.facet-grid > div { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%; }

.facet-grid > div > div { width: 100%; }

@media (min-width: 1025px) { .facet-grid > div > div { width: 50%; } }

.facet-grid--two-col > div { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%; }

.facet-grid--two-col > div .ui-widget { width: 100%; }

.facet-grid--two-col .icon-block .heading .title { font-size: 16px; }

.facet-grid--flex > div { min-width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; margin: 0 -12px; }

.facet-grid--flex.wrap > div { -ms-flex-wrap: wrap; flex-wrap: wrap; }

.facet-grid--flex.stretch > div { -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

.facet-grid--flex.fill .ui-widget, .facet-grid--flex.wrap .ui-widget { -webkit-box-flex: 1; -ms-flex: auto 1; flex: auto 1; }

.facet-grid--flex .ui-widget { width: 100%; padding-left: 12px; padding-right: 12px; }

.large--col-70-30 { width: 100%; }

@media (min-width: 1025px) { .large--col-70-30 > div .ui-widget:first-of-type { width: 70%; }
  .large--col-70-30 > div .ui-widget:not(:first-of-type) { width: 30%; } }

.x-small--1-of-12, .small--1-of-12, .medium--1-of-12, .large--1-of-12, .x-small--2-of-12, .small--2-of-12, .medium--2-of-12, .large--2-of-12, .x-small--3-of-12, .small--3-of-12, .medium--3-of-12, .large--3-of-12, .x-small--4-of-12, .small--4-of-12, .medium--4-of-12, .large--4-of-12, .x-small--5-of-12, .small--5-of-12, .medium--5-of-12, .large--5-of-12, .x-small--6-of-12, .small--6-of-12, .medium--6-of-12, .large--6-of-12, .x-small--7-of-12, .small--7-of-12, .medium--7-of-12, .large--7-of-12, .x-small--8-of-12, .small--8-of-12, .medium--8-of-12, .large--8-of-12, .x-small--9-of-12, .small--9-of-12, .medium--9-of-12, .large--9-of-12, .x-small--10-of-12, .small--10-of-12, .medium--10-of-12, .large--10-of-12, .x-small--11-of-12, .small--11-of-12, .medium--11-of-12, .large--11-of-12, .x-small--12-of-12, .small--12-of-12, .medium--12-of-12, .large--12-of-12 { position: relative; min-height: 1px; }

.x-small--1-of-12 .ui-widget { width: 8.3333333333%; max-width: 8.3333333333%; }

.x-small--2-of-12 .ui-widget { width: 16.6666666667%; max-width: 16.6666666667%; }

.x-small--3-of-12 .ui-widget { width: 25%; max-width: 25%; }

.x-small--4-of-12 .ui-widget { width: 33.3333333333%; max-width: 33.3333333333%; }

.x-small--5-of-12 .ui-widget { width: 41.6666666667%; max-width: 41.6666666667%; }

.x-small--6-of-12 .ui-widget { width: 50%; max-width: 50%; }

.x-small--7-of-12 .ui-widget { width: 58.3333333333%; max-width: 58.3333333333%; }

.x-small--8-of-12 .ui-widget { width: 66.6666666667%; max-width: 66.6666666667%; }

.x-small--9-of-12 .ui-widget { width: 75%; max-width: 75%; }

.x-small--10-of-12 .ui-widget { width: 83.3333333333%; max-width: 83.3333333333%; }

.x-small--11-of-12 .ui-widget { width: 91.6666666667%; max-width: 91.6666666667%; }

.x-small--12-of-12 .ui-widget { width: 100%; max-width: 100%; }

@media (min-width: 767px) { .small--1-of-12 .ui-widget { width: 8.3333333333%; max-width: 8.3333333333%; }
  .small--2-of-12 .ui-widget { width: 16.6666666667%; max-width: 16.6666666667%; }
  .small--3-of-12 .ui-widget { width: 25%; max-width: 25%; }
  .small--4-of-12 .ui-widget { width: 33.3333333333%; max-width: 33.3333333333%; }
  .small--5-of-12 .ui-widget { width: 41.6666666667%; max-width: 41.6666666667%; }
  .small--6-of-12 .ui-widget { width: 50%; max-width: 50%; }
  .small--7-of-12 .ui-widget { width: 58.3333333333%; max-width: 58.3333333333%; }
  .small--8-of-12 .ui-widget { width: 66.6666666667%; max-width: 66.6666666667%; }
  .small--9-of-12 .ui-widget { width: 75%; max-width: 75%; }
  .small--10-of-12 .ui-widget { width: 83.3333333333%; max-width: 83.3333333333%; }
  .small--11-of-12 .ui-widget { width: 91.6666666667%; max-width: 91.6666666667%; }
  .small--12-of-12 .ui-widget { width: 100%; max-width: 100%; } }

@media (min-width: 990px) { .medium--1-of-12 .ui-widget { width: 8.3333333333%; max-width: 8.3333333333%; }
  .medium--2-of-12 .ui-widget { width: 16.6666666667%; max-width: 16.6666666667%; }
  .medium--3-of-12 .ui-widget { width: 25%; max-width: 25%; }
  .medium--4-of-12 .ui-widget { width: 33.3333333333%; max-width: 33.3333333333%; }
  .medium--5-of-12 .ui-widget { width: 41.6666666667%; max-width: 41.6666666667%; }
  .medium--6-of-12 .ui-widget { width: 50%; max-width: 50%; }
  .medium--7-of-12 .ui-widget { width: 58.3333333333%; max-width: 58.3333333333%; }
  .medium--8-of-12 .ui-widget { width: 66.6666666667%; max-width: 66.6666666667%; }
  .medium--9-of-12 .ui-widget { width: 75%; max-width: 75%; }
  .medium--10-of-12 .ui-widget { width: 83.3333333333%; max-width: 83.3333333333%; }
  .medium--11-of-12 .ui-widget { width: 91.6666666667%; max-width: 91.6666666667%; }
  .medium--12-of-12 .ui-widget { width: 100%; max-width: 100%; } }

@media (min-width: 1199px) { .large--1-of-12 .ui-widget { width: 8.3333333333%; max-width: 8.3333333333%; }
  .large--2-of-12 .ui-widget { width: 16.6666666667%; max-width: 16.6666666667%; }
  .large--3-of-12 .ui-widget { width: 25%; max-width: 25%; }
  .large--4-of-12 .ui-widget { width: 33.3333333333%; max-width: 33.3333333333%; }
  .large--5-of-12 .ui-widget { width: 41.6666666667%; max-width: 41.6666666667%; }
  .large--6-of-12 .ui-widget { width: 50%; max-width: 50%; }
  .large--7-of-12 .ui-widget { width: 58.3333333333%; max-width: 58.3333333333%; }
  .large--8-of-12 .ui-widget { width: 66.6666666667%; max-width: 66.6666666667%; }
  .large--9-of-12 .ui-widget { width: 75%; max-width: 75%; }
  .large--10-of-12 .ui-widget { width: 83.3333333333%; max-width: 83.3333333333%; }
  .large--11-of-12 .ui-widget { width: 91.6666666667%; max-width: 91.6666666667%; }
  .large--12-of-12 .ui-widget { width: 100%; max-width: 100%; } }

.box-grid .ui-widget { margin-bottom: 24px; }

.box-grid .box { height: 100%; margin: 0; padding: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; background: -webkit-linear-gradient(top, #F5FAFC 0%, #FFFFFF 100%); background: linear-gradient(180deg, #F5FAFC 0%, #FFFFFF 100%); }

@media (max-width: 767px) { .box-grid .box { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.box-grid .box.lg { border: 1px solid #E6EBEE; }

.box-grid .box.lg .detail .title { font-size: 20px; }

.box-grid .box.sm { border: 1px solid #B7D3E2; }

.box-grid .box .detail { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 100%; }

.box-grid .box .detail .title { color: #007DBC; line-height: 1.1; font-size: 16px; font-weight: 600; margin-bottom: 12px; padding-right: 6px; }

@media (max-width: 767px) { .box-grid .box .detail .title { margin-top: 24px; } }

.box-grid .box .detail .description { line-height: 1.3; margin-bottom: 24px; }

.box-grid .box .detail .controls { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: auto; }

@media (max-width: 767px) { .box-grid .box .detail .controls { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.box-grid .box .detail .controls.spaced { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.box-grid .box .detail .controls .slds-btn { min-height: 34px; }

.box-grid .box .detail .controls .success-msg { margin-bottom: -5px; max-width: 100%; height: auto; }

.box-grid a.box { color: #58656E; text-decoration: none; }

.box-grid a.box:hover { box-shadow: 0 0 0 2px #007DBC; }

.box-grid a.box .title { color: #007DBC; }

@-webkit-keyframes icon-in { 0% { opacity: 0;
    background: white; }
  100% { opacity: 1;
    background: #0E4876;
    box-shadow: 0 0 0 4px #E5F2F9, 0 0 0 6px #0E4876; } }

@keyframes icon-in { 0% { opacity: 0;
    background: white; }
  100% { opacity: 1;
    background: #0E4876;
    box-shadow: 0 0 0 4px #E5F2F9, 0 0 0 6px #0E4876; } }

@-webkit-keyframes photo-out { 0% { opacity: 1; }
  100% { opacity: 0; } }

@keyframes photo-out { 0% { opacity: 1; }
  100% { opacity: 0; } }

@-webkit-keyframes icon-blip { 0% { -webkit-transform: scale(0.5); transform: scale(0.5); }
  75 { -webkit-transform: scale(1.5); transform: scale(1.5); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }

@keyframes icon-blip { 0% { -webkit-transform: scale(0.5); transform: scale(0.5); }
  75 { -webkit-transform: scale(1.5); transform: scale(1.5); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }

label[for="nav-shrink"] { position: absolute; left: 24px; top: 24px; color: white; fill: currentColor; z-index: 5; cursor: pointer; }

@media (max-width: 1023px) { label[for="nav-shrink"] { display: none; } }

label[for="nav-shrink"] svg { width: 30px; height: 30px; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

#nav-shrink { position: absolute; clip: rect(0, 0, 0, 0); left: 20px; top: 20px; }

@media (max-width: 1199px) { #nav-shrink:not(:checked) ~ label[for="nav-shrink"] svg { -webkit-transform: rotate(0); -ms-transform: rotate(0); transform: rotate(0); }
  #nav-shrink:not(:checked) ~ .sidebar.left { -webkit-transition: width 0.15s cubic-bezier(0.27, 0.55, 0.37, 0.75); transition: width 0.15s cubic-bezier(0.27, 0.55, 0.37, 0.75); width: 75px; min-width: 75px; }
  #nav-shrink:not(:checked) ~ .sidebar.left .sidebar-heading { padding: 24px 0; }
  #nav-shrink:not(:checked) ~ .sidebar.left .program-information, #nav-shrink:not(:checked) ~ .sidebar.left .mission-statement, #nav-shrink:not(:checked) ~ .sidebar.left .program-logo { display: none; }
  #nav-shrink:not(:checked) ~ .sidebar.left .collapsed { display: block; }
  #nav-shrink:not(:checked) ~ .sidebar.left .expanded { display: none; }
  #nav-shrink:not(:checked) ~ .sidebar.left .sidebar-nav a > .name, #nav-shrink:not(:checked) ~ .sidebar.left .quick-links a > .name { padding: 0; opacity: 0; } }

@media (min-width: 1200px) { #nav-shrink:checked ~ label[for="nav-shrink"] svg { -webkit-transform: rotate(0); -ms-transform: rotate(0); transform: rotate(0); }
  #nav-shrink:checked ~ .sidebar.left { -webkit-transition: width 0.15s cubic-bezier(0.27, 0.55, 0.37, 0.75); transition: width 0.15s cubic-bezier(0.27, 0.55, 0.37, 0.75); width: 75px; min-width: 75px; }
  #nav-shrink:checked ~ .sidebar.left .sidebar-heading { padding: 24px 0; }
  #nav-shrink:checked ~ .sidebar.left .program-information, #nav-shrink:checked ~ .sidebar.left .mission-statement, #nav-shrink:checked ~ .sidebar.left .program-logo { display: none; }
  #nav-shrink:checked ~ .sidebar.left .collapsed { display: block; }
  #nav-shrink:checked ~ .sidebar.left .expanded { display: none; }
  #nav-shrink:checked ~ .sidebar.left .sidebar-nav a, #nav-shrink:checked ~ .sidebar.left .quick-links a { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  #nav-shrink:checked ~ .sidebar.left .sidebar-nav a > .name, #nav-shrink:checked ~ .sidebar.left .quick-links a > .name { padding: 0; opacity: 0; width: 0; } }

.sidebar.left .collapsed { display: none; width: 50px; height: 100px; position: absolute; top: 40px; left: 12px; }

.slds-input:focus { outline: none; box-shadow: 0 0 0px 2px #007DBC; border-color: transparent; }

.edit-block:focus > .edit, .field-group .control-input .slds-input.unsaved, .slds-input.update, .touch-input.unsaved { outline: none; box-shadow: 0 0 0px 2px #007DBC; border-color: transparent; border: 0; }

.edit-block:focus { border-radius: 4px; outline: none; }

.edit-block:focus .edit .controls { border-radius: 0 0 4px 4px; }

.uiOutputRichText > p { margin-bottom: 18px; }

.flex > .slds-col .gu-profile-item { padding: 0; }

.cGU360_GridComponent { padding: 12px 0 0 12px; }

.field-group > div { width: 100%; }

/*
Generated from /scss/main.scss on:
2017-05-01T15:26:48Z
*/
