@media (min-width: 1025px) { .messaging .message { padding-left: 24px; padding-right: 24px; } }

.messaging .message:not(:last-of-type) .message-controls { border-bottom: 2px solid rgba(0, 125, 188, 0.2); }

.messaging .message + .message { padding-top: 24px; }

.messaging .message .heading { width: 100%; }

@media (min-width: 1025px) { .messaging .message .heading { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; } }

.messaging .message .detail { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: auto; min-width: 200px; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; font-size: 13px; }

.messaging .message .name { font-weight: 700; font-size: 16px; color: #333; }

.messaging .message .subject { font-weight: 700; margin-bottom: 12px; }

.messaging .message .message-content { padding-left: 24px; padding-right: 24px; }

.message-controls { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; padding: 24px; }

.message-controls .controls { padding-left: 12px; position: relative; z-index: 5; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; }

.message-controls .controls .btn-pill { padding: 3px 24px; }

.thread-message { background: #E5F2F9; }

.message-thread-list { margin: 24px 24px 0; }

.message-thread-list a.box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.message-thread-list .box .message { margin-bottom: 0; }

.message-thread-list .box .message:first-of-type { padding-top: 24px; }

.message-thread-list .box .message:last-of-type { padding-bottom: 24px; border-radius: 0 0 12px 12px; }

.message-thread-list .box .message.thread-message { padding-left: 36px; padding-right: 36px; }

.message-thread-list .box .message.thread-message + .thread-message { border-top: 1px solid #d0e8f4; }

.message-thread-list .box .thread-container { display: none; }

.message-thread-list .box .thread-container .message:first-of-type { padding-top: 24px; padding-bottom: 24px; border-top: 2px solid #d0e8f4; }

.message-thread-list .box .thread-container .message + .message-controls { background: #E5F2F9; border-radius: 0 0 12px 12px; }

.message-thread-list .message-footer { margin-left: 24px; margin-right: 24px; }
