.edit-photo-modal .slds-modal__content { min-height: 304px; max-height: 100%; }

.edit-photo-modal .slds-modal__footer { padding: 24px; }

.edit-photo { position: relative; z-index: 50000; }

.edit-photo .uploaded-canvas { overflow: hidden; height: calc(70vh - 120px); max-height: 400px; position: relative; }

.edit-photo .uploaded-canvas #original_photo { position: absolute; height: 100%; max-width: 100%; max-height: 800px; margin: 0 auto; top: 0; left: 0; right: 0; bottom: 0; background-size: contain; background-repeat: no-repeat; background-position: center; }

.edit-photo .uploaded-canvas #original_photo { z-index: 5; }

.edit-photo .uploaded-canvas .overlay-block { cursor: -webkit-grab; cursor: grab; }

.edit-photo .uploaded-canvas .overlay-block:active { cursor: -webkit-grabbing; cursor: grabbing; }

.edit-photo .controls { background: #eee; -webkit-flex: 1; -ms-flex: 1; flex: 1; padding: 0 24px 12px 24px; min-width: 250px; min-height: 50px; }

.edit-photo .controls .control-row { -webkit-transform: translate(-50%); -ms-transform: translate(-50%); transform: translate(-50%); left: 50%; position: absolute; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.edit-photo .controls .control-row > label { top: 12px; position: relative; margin-right: 24px; }

input[type=range] { box-sizing: border-box; font-size: 16px; line-height: 1; height: 2em; background-color: transparent; cursor: pointer; -webkit-appearance: none; width: 100%; }

input[type=range]::-webkit-slider-thumb { -webkit-appearance: none; }

input[type=range]:focus { outline: none; }

input[type=range]::-ms-track { width: 100%; cursor: pointer; background: transparent; border-color: transparent; color: transparent; }

input[type=range]::-webkit-slider-thumb { -webkit-appearance: none; width: 2em; height: 2em; margin-top: 0; background-color: #007DBC; border-radius: 1em; border: 2px solid rgba(14, 72, 118, 0.5); cursor: pointer; }

input[type=range]::-moz-range-thumb { width: 2em; height: 2em; margin-top: 0; background-color: #007DBC; border-radius: 1em; border: 2px solid rgba(14, 72, 118, 0.5); cursor: pointer; }

input[type=range]::-ms-thumb { width: 2em; height: 2em; margin-top: 0; background-color: #007DBC; border-radius: 1em; border: 2px solid rgba(14, 72, 118, 0.5); cursor: pointer; }

input[type=range]:hover::-webkit-slider-thumb { border-color: rgba(14, 72, 118, 0.7); }

input[type=range]:hover::-moz-range-thumb { border-color: rgba(14, 72, 118, 0.7); }

input[type=range]:hover::-ms-thumb { border-color: rgba(14, 72, 118, 0.7); }

input[type=range]:active::-webkit-slider-thumb { border-color: #0e4876; }

input[type=range]:active::-moz-range-thumb { border-color: #0e4876; }

input[type=range]:active::-ms-thumb { border-color: #0e4876; }

input[type=range]::-webkit-slider-runnable-track { width: 100%; cursor: pointer; height: 1em; border-bottom: 2px solid rgba(14, 72, 118, 0.5); background-color: transparent; }

input[type=range]::-moz-range-track { width: 100%; cursor: pointer; height: 1em; border-bottom: 2px solid rgba(14, 72, 118, 0.5); background-color: transparent; }

input[type=range]::-ms-track { background: transparent; border-color: transparent; color: transparent; }
