.pg-profile .edit-block .edit { margin: 12px 6px 12px 0; }

.pg-profile .slds-col:not(:only-of-type) .slds-col:nth-of-type(odd) .icon-block { padding-right: 12px; }

.pg-profile .slds-col:not(:only-of-type) .slds-col:nth-of-type(odd) .gu-profile-item { margin-right: 24px; }

.pg-profile .slds-col:not(:only-of-type) .slds-col:nth-of-type(even) .icon-block { padding-left: 12px; }

.pg-profile .slds-col:not(:only-of-type) .slds-col:nth-of-type(even) .gu-profile-item { margin-left: 24px; }

@media (min-width: 1200px) { .pg-profile .slds-col:nth-of-type(odd) .icon-block { padding-right: 24px; }
  .pg-profile .slds-col:nth-of-type(even) .icon-block { padding-left: 24px; } }

.pg-profile .page-section > .slds-wrap { margin-bottom: 48px; }

.read-only .slds-text-longform + .slds-text-longform:not(.txt-block) { margin-top: 18px; }

.user-photo-update { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background: #E5F2F9; border: 1px solid #d0e8f4; border-radius: 3px; }

@media (min-width: 1025px) { .user-photo-update { margin-left: auto; } }

@media (min-width: 768px) { .user-photo-update { width: 160px; } }

.user-photo-update .user-photo { margin: 18px 0; }

@media (min-width: 768px) { .user-photo-update { margin-left: auto; } }

.user-photo-update img { width: 125px; height: 125px; border-radius: 50%; margin: 24px; box-shadow: 0 0 0 5px #E5F2F9, 0 0 0 6px #0E4876; }

.user-photo-update .btn-bs { border-radius: 0 0 3px 3px; }

.page-header .position { font-size: 14px; margin-bottom: 12px; }

.page-header .role { color: #0E4876; font-size: 14px; line-height: 1.2; max-width: 800px; }

.page-header .role:not(:last-of-type) { margin-bottom: 6px; }

@media (min-width: 1025px) { .profile-summary { padding: 0 24px 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

.profile-summary .name { font-size: 24px; font-weight: 700; }

@media (max-width: 1024px) { .profile-summary .name { padding-left: 24px; padding-bottom: 12px; } }

@media (min-width: 1026px) { .profile-summary .name { color: white; } }

.profile-summary .batch-year { font-size: 18px; line-height: 1; }

.profile-summary .program { border-left: 2px solid rgba(255, 255, 255, 0.2); padding-left: 36px; margin-left: 36px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 28px; font-weight: 700; }

@media (min-width: 1025px) { .profile-summary .program { color: white; } }

@media (max-width: 767px) { .profile-summary .program { padding-left: 0; margin-left: 0; } }

.profile-header { border: 1px solid #eee; border-bottom: 0; border-top-left-radius: 15px; border-top-right-radius: 15px; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; }

@media (min-width: 1025px) { .profile-header { background: white; padding: 36px 24px 24px 24px; }
  .profile-header > div { min-width: 50%; } }

@media (max-width: 1024px) { .profile-header { padding-bottom: 36px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.profile-header p + p { margin-top: 12px; }

@media (min-width: 1025px) { .profile-header .bump-left { margin-left: auto; } }

.profile-header + .card-group > .card { border-top-left-radius: 0; border-top-right-radius: 0; border-top: 0; }

@media (max-width: 1024px) { .profile-header .name-block { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; } }

.profile-header .view-profile-btn .icon { margin-right: 12px; color: white; fill: currentColor; }

.profile-header .view-profile-btn svg { width: 16px; height: 16px; min-width: 16px; min-height: 16px; }

.profile-view h3, .profile-edit h3 { color: #007DBC; font-weight: 300; margin-bottom: 6px; }

.profile-view .description, .profile-edit .description { margin-top: 6px; }

.profile-edit .btn-pill { text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.profile-edit .btn-pill:not(:last-of-type) { margin-bottom: 18px; }

.profile-edit .btn-pill.btn-primary { padding-top: 6px; padding-bottom: 6px; }

.profile-edit .btn-pill.btn-default { color: #999; padding-top: 2px; background: none; padding-bottom: 2px; font-size: 12px; }

.profile-edit .btn-pill.btn-default:hover { background: #999; color: white; border-color: #999; }

@media (min-width: 1025px) { .profile-view { padding-top: 36px; } }

@media (min-width: 1025px) { .profile-view .profile-header { padding-left: 210px; padding-bottom: 0; min-height: 0; } }

@media (min-width: 1025px) { .profile-view .photo-block { position: absolute; top: -100px; left: 24px; margin-right: 24px; } }

.profile-view .slds-grid { width: 100%; }

@-webkit-keyframes icon-fade { 50% { -webkit-transform: scale(1.5); transform: scale(1.5);
    opacity: 1; }
  100% { -webkit-transform: scale(0); transform: scale(0);
    opacity: 0; } }

@keyframes icon-fade { 50% { -webkit-transform: scale(1.5); transform: scale(1.5);
    opacity: 1; }
  100% { -webkit-transform: scale(0); transform: scale(0);
    opacity: 0; } }

@-webkit-keyframes border-fade { 0% { }
  100% { border-color: #d8dde6;
    box-shadow: none; } }

@keyframes border-fade { 0% { }
  100% { border-color: #d8dde6;
    box-shadow: none; } }

.gu-profile-item { margin-top: 12px; width: 100%; padding-left: 24px; padding-right: 24px; position: relative; }

@media (min-width: 481px) { .gu-profile-item { padding-left: 36px; padding-right: 36px; } }

@media (min-width: 768px) { .gu-profile-item { max-width: 480px; } }

.gu-profile-item:not([class*="slds"]) { margin-bottom: 36px; }

.gu-profile-item .slds-input { padding-left: 8px; }

.gu-profile-item.office-hours { margin-bottom: 0; margin-top: 0; }

.gu-profile-item .edit-block .read { padding-top: 6px; padding-bottom: 6px; }

.gu-profile-item [data-balloon]:after, .gu-profile-item [data-balloon]:before { display: none; }

.gu-profile-item.has-help [data-balloon]:after, .gu-profile-item.has-help [data-balloon]:before { display: block; }

.gu-profile-item.has-help .help-block { margin-left: auto; }

.gu-profile-item .touch-input .radio-group-vertical, .gu-profile-item .touch-input .radio-group-horizontal, .gu-profile-item .touch-input .checkbox-group-vertical, .gu-profile-item .touch-input .checkbox-group-horizontal { position: absolute; top: -9999px; left: -9999px; }

.gu-profile-item .field-group { display: -webkit-box; display: -ms-flexbox; display: flex; color: #58656E; }

@media (min-width: 481px) { .gu-profile-item .field-group { -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

@media (max-width: 480px) { .gu-profile-item .field-group { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.gu-profile-item .field-group .edit-block { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.gu-profile-item .field-group .edit-block .edit { margin-top: 0; }

@media (min-width: 481px) { .gu-profile-item .field-group > fieldset { margin-left: auto; padding-left: 24px; } }

.gu-profile-item .field-group > fieldset .controls { display: -webkit-box; display: -ms-flexbox; display: flex; }

.gu-profile-item .control-input { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.gu-profile-item .control-input.touch-input { padding: 0; border-color: transparent; }

.gu-profile-item .control-input.touch-input .value { color: #16325c; border-radius: .25rem; width: 100%; -webkit-transition: border .1s linear,background-color .1s linear; transition: border .1s linear,background-color .1s linear; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; line-height: 32px; min-height: calc(1.875rem + (1px * 2)); -webkit-transition: all 0.175s; transition: all 0.175s; }

.gu-profile-item .control-input.touch-input:hover { background: #EEF8FF; }

.gu-profile-item .control-input.touch-input:hover .value { padding: 0 1rem 0 .75rem; box-shadow: inset 0 0 2px #D4E7F5; background: #EEF8FF; }

.gu-profile-item .control-input.touch-input:hover .slds-select { background: #EEF8FF; box-shadow: none; }

.gu-profile-item .control-input.touch-input:focus { background: #EEF8FF; }

.gu-profile-item .control-input.touch-input.unsaved { padding-left: 0; border: 1px solid #eee; }

.gu-profile-item .control-input.touch-input.unsaved .value { visibility: hidden; position: absolute; z-index: -1; }

.gu-profile-item .control-input.touch-input.unsaved .slds-select { visibility: visible; position: relative; z-index: 1; border: 0; width: calc(100% - 60px); }

.gu-profile-item .control-input.touch-input.unsaved .slds-select + .input-status .input-save { visibility: visible; color: #93C461; }

.gu-profile-item .control-input.touch-input.unsaved .slds-select + .input-status .input-cancel { display: -webkit-box; display: -ms-flexbox; display: flex; visibility: visible; color: #d9534f; }

.gu-profile-item .control-input.touch-input.unsaved .slds-select + .input-status .input-edit { display: none; }

.gu-profile-item .control-input.touch-input.unsaved .slds-select:focus { box-shadow: none; border-radius: 0; }

.gu-profile-item .control-input.touch-input.unsaved .slds-select.cancel { border-color: #d9534f; box-shadow: inset 0 0 0 1px #d9534f; padding-left: 8px; }

.gu-profile-item .control-input.touch-input.unsaved .slds-select.cancel + .input-status .input-cancel { display: -webkit-box; display: -ms-flexbox; display: flex; color: #d9534f; visibility: visible; }

.gu-profile-item .control-input.touch-input.unsaved .slds-select.cancel:hover { background: white; }

.gu-profile-item .control-input.touch-input.unsaved .slds-select.cancel:focus + .input-status .input-edit { display: none; }

.gu-profile-item .control-input .slds-input + .slds-input { margin-top: 6px; }

@media (max-width: 480px) { .gu-profile-item .controls { margin-top: 6px; } }

.gu-profile-item .controls [type=radio]:nth-of-type(2) { margin-left: 55px; }

.gu-profile-item .controls [type=radio]:nth-of-type(3) { margin-left: 95px; }

.gu-profile-item .controls [type=radio]:checked + .toggle { -webkit-animation: icon-blip 0.15s forwards; animation: icon-blip 0.15s forwards; }

.gu-profile-item .controls .toggle { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0 6px; color: #c4c3c3; box-shadow: 0 0 0px 1px #ccc; border-radius: 50%; height: 30px; width: 30px; }

@media (max-width: 767px) { .gu-profile-item .controls .toggle { margin: 6px; } }

.gu-profile-item .controls .toggle.internal .ic-status { width: 20px; height: 20px; position: relative; }

.gu-profile-item .controls input[type="radio"] { position: absolute; opacity: 0; }

.gu-profile-item .ic-status { stroke: currentColor; width: 16px; height: 16px; -webkit-transition: all 0.15s; transition: all 0.15s; }

.input-status { position: absolute; right: 6px; top: 6px; display: -webkit-box; display: -ms-flexbox; display: flex; }

.input-status .input-edit { display: none; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: 6px; }

.input-status .input-save, .input-status .input-cancel { visibility: hidden; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: 6px; -webkit-transition: none; transition: none; }

.input-status .title { text-align: right; padding-right: 6px; font-size: 13px; font-weight: 600; }

.input-status + .slds-input { margin-top: 6px; }

.input-status svg { stroke: currentColor; width: 20px; height: 20px; }

.input-status svg.success { stroke: #93C461; }

.input-status svg.cancel { stroke: #ccc; }

.control-input { position: relative; }

.control-input:hover .slds-input { box-shadow: inset 0 0 2px #D4E7F5; background: #EEF8FF; padding-left: 8px; }

.control-input:hover .slds-input + .input-status .input-edit { display: -webkit-box; display: -ms-flexbox; display: flex; }

.control-input:hover .slds-input.success + .input-status .input-edit { display: none; }

.control-input .slds-input { padding-right: 66px; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding-left: 0; border-color: transparent; -webkit-transition: all 0.175s; transition: all 0.175s; color: #58656E; }

.control-input .slds-input[type=date] { padding-left: 8px; }

.control-input .slds-input:focus { background: white; padding-left: 8px; }

.control-input .slds-input.update { background: white; padding-left: 8px; background: #eee; }

.control-input .slds-input:focus + .input-status .input-save, .control-input .slds-input.unsaved + .input-status .input-save { visibility: visible; color: #93C461; }

.control-input .slds-input:focus + .input-status .input-cancel, .control-input .slds-input.unsaved + .input-status .input-cancel { display: -webkit-box; display: -ms-flexbox; display: flex; visibility: visible; color: #d9534f; }

.control-input .slds-input:focus + .input-status .input-edit, .control-input .slds-input.unsaved + .input-status .input-edit { display: none; }

.control-input .slds-input:focus.cancel, .control-input .slds-input.unsaved.cancel { border-color: #d9534f; box-shadow: inset 0 0 0 1px #d9534f; padding-left: 8px; }

.control-input .slds-input:focus.cancel + .input-status .input-cancel, .control-input .slds-input.unsaved.cancel + .input-status .input-cancel { display: -webkit-box; display: -ms-flexbox; display: flex; color: #d9534f; visibility: visible; }

.control-input .slds-input:focus.cancel:hover, .control-input .slds-input.unsaved.cancel:hover { background: white; }

.control-input .slds-input:focus.cancel:focus + .input-status .input-edit, .control-input .slds-input.unsaved.cancel:focus + .input-status .input-edit { display: none; }

.control-input .slds-input.unsaved { background: white; padding-left: 8px; }

.control-input .slds-input.pristine { border-color: rgba(88, 101, 110, 0.2); }

.control-input .slds-input.default:focus + .input-status .input-save { visibility: visible; color: #93C461; }

.control-input .slds-input.default:focus + .input-status .input-cancel { display: -webkit-box; display: -ms-flexbox; display: flex; visibility: visible; color: #d9534f; }

.control-input .slds-input.default:focus + .input-status .input-edit { display: none; }

.control-input .slds-input.cancel { border-color: #d9534f; box-shadow: inset 0 0 0 1px #d9534f; padding-left: 8px; }

.control-input .slds-input.cancel + .input-status .input-cancel { display: -webkit-box; display: -ms-flexbox; display: flex; color: #d9534f; visibility: visible; }

.control-input .slds-input.cancel:hover { background: white; }

.control-input .slds-input.cancel:focus + .input-status .input-edit { display: none; }

.control-input .slds-select { visibility: hidden; position: absolute; z-index: -1; top: 0; }

.pg-profile .office-hours .field-group:not(:first-of-type) { margin-top: 24px; border-top: 1px solid #eee; padding-top: 24px; }

.pg-profile .office-hours .field-row { display: -webkit-box; display: -ms-flexbox; display: flex; }

.pg-profile .office-hours .field-row.row { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.pg-profile .office-hours .field-row.col { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.pg-profile .office-hours .field-row.col .slds-form-element { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.pg-profile .office-hours .field-row.col .slds-form-element:not(:last-of-type) { margin-right: 24px; }

.pg-profile .office-hours .field-row.col > span { display: block; margin-right: 24px; }

.pg-profile .office-hours .field-row .slds-form-element.xs { max-width: 60px; }

.pg-profile .office-hours .field-row .slds-form-element.sm { max-width: 100px; }
