.progress--radial.progress--0:after { width: 0%; }

.progress--radial.progress--0:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(left, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(90deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--1:after { width: 1%; }

.progress--radial.progress--1:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(356.4deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(93.6deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--2:after { width: 2%; }

.progress--radial.progress--2:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(352.8deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(97.2deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--3:after { width: 3%; }

.progress--radial.progress--3:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(349.2deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(100.8deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--4:after { width: 4%; }

.progress--radial.progress--4:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(345.6deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(104.4deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--5:after { width: 5%; }

.progress--radial.progress--5:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(342deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(108deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--6:after { width: 6%; }

.progress--radial.progress--6:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(338.4deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(111.6deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--7:after { width: 7%; }

.progress--radial.progress--7:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(334.8deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(115.2deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--8:after { width: 8%; }

.progress--radial.progress--8:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(331.2deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(118.8deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--9:after { width: 9%; }

.progress--radial.progress--9:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(327.6deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(122.4deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--10:after { width: 10%; }

.progress--radial.progress--10:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(324deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(126deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--11:after { width: 11%; }

.progress--radial.progress--11:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(320.4deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(129.6deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--12:after { width: 12%; }

.progress--radial.progress--12:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(316.8deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(133.2deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--13:after { width: 13%; }

.progress--radial.progress--13:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(313.2deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(136.8deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--14:after { width: 14%; }

.progress--radial.progress--14:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(309.6deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(140.4deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--15:after { width: 15%; }

.progress--radial.progress--15:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(306deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(144deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--16:after { width: 16%; }

.progress--radial.progress--16:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(302.4deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(147.6deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--17:after { width: 17%; }

.progress--radial.progress--17:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(298.8deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(151.2deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--18:after { width: 18%; }

.progress--radial.progress--18:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(295.2deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(154.8deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--19:after { width: 19%; }

.progress--radial.progress--19:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(291.6deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(158.4deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--20:after { width: 20%; }

.progress--radial.progress--20:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(288deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(162deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--21:after { width: 21%; }

.progress--radial.progress--21:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(284.4deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(165.6deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--22:after { width: 22%; }

.progress--radial.progress--22:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(280.8deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(169.2deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--23:after { width: 23%; }

.progress--radial.progress--23:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(277.2deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(172.8deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--24:after { width: 24%; }

.progress--radial.progress--24:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(273.6deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(176.4deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--25:after { width: 25%; }

.progress--radial.progress--25:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(top, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(180deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--26:after { width: 26%; }

.progress--radial.progress--26:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(266.4deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(183.6deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--27:after { width: 27%; }

.progress--radial.progress--27:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(262.8deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(187.2deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--28:after { width: 28%; }

.progress--radial.progress--28:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(259.2deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(190.8deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--29:after { width: 29%; }

.progress--radial.progress--29:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(255.6deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(194.4deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--30:after { width: 30%; }

.progress--radial.progress--30:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(252deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(198deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--31:after { width: 31%; }

.progress--radial.progress--31:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(248.4deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(201.6deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--32:after { width: 32%; }

.progress--radial.progress--32:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(244.8deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(205.2deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--33:after { width: 33%; }

.progress--radial.progress--33:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(241.2deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(208.8deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--34:after { width: 34%; }

.progress--radial.progress--34:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(237.6deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(212.4deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--35:after { width: 35%; }

.progress--radial.progress--35:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(234deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(216deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--36:after { width: 36%; }

.progress--radial.progress--36:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(230.4deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(219.6deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--37:after { width: 37%; }

.progress--radial.progress--37:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(226.8deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(223.2deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--38:after { width: 38%; }

.progress--radial.progress--38:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(223.2deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(226.8deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--39:after { width: 39%; }

.progress--radial.progress--39:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(219.6deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(230.4deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--40:after { width: 40%; }

.progress--radial.progress--40:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(216deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(234deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--41:after { width: 41%; }

.progress--radial.progress--41:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(212.4deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(237.6deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--42:after { width: 42%; }

.progress--radial.progress--42:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(208.8deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(241.2deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--43:after { width: 43%; }

.progress--radial.progress--43:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(205.2deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(244.8deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--44:after { width: 44%; }

.progress--radial.progress--44:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(201.6deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(248.4deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--45:after { width: 45%; }

.progress--radial.progress--45:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(198deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(252deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--46:after { width: 46%; }

.progress--radial.progress--46:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(194.4deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(255.6deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--47:after { width: 47%; }

.progress--radial.progress--47:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(190.8deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(259.2deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--48:after { width: 48%; }

.progress--radial.progress--48:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(187.2deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(262.8deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--49:after { width: 49%; }

.progress--radial.progress--49:after { background-image: -webkit-linear-gradient(left, #eee 50%, transparent 50%, transparent), -webkit-linear-gradient(183.6deg, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(266.4deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--50:after { width: 50%; }

.progress--radial.progress--50:after { background-image: -webkit-linear-gradient(right, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-90deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--51:after { width: 51%; }

.progress--radial.progress--51:after { background-image: -webkit-linear-gradient(176.4deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-86.4deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--52:after { width: 52%; }

.progress--radial.progress--52:after { background-image: -webkit-linear-gradient(172.8deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-82.8deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--53:after { width: 53%; }

.progress--radial.progress--53:after { background-image: -webkit-linear-gradient(169.2deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-79.2deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--54:after { width: 54%; }

.progress--radial.progress--54:after { background-image: -webkit-linear-gradient(165.6deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-75.6deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--55:after { width: 55%; }

.progress--radial.progress--55:after { background-image: -webkit-linear-gradient(162deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-72deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--56:after { width: 56%; }

.progress--radial.progress--56:after { background-image: -webkit-linear-gradient(158.4deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-68.4deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--57:after { width: 57%; }

.progress--radial.progress--57:after { background-image: -webkit-linear-gradient(154.8deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-64.8deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--58:after { width: 58%; }

.progress--radial.progress--58:after { background-image: -webkit-linear-gradient(151.2deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-61.2deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--59:after { width: 59%; }

.progress--radial.progress--59:after { background-image: -webkit-linear-gradient(147.6deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-57.6deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--60:after { width: 60%; }

.progress--radial.progress--60:after { background-image: -webkit-linear-gradient(144deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-54deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--61:after { width: 61%; }

.progress--radial.progress--61:after { background-image: -webkit-linear-gradient(140.4deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-50.4deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--62:after { width: 62%; }

.progress--radial.progress--62:after { background-image: -webkit-linear-gradient(136.8deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-46.8deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--63:after { width: 63%; }

.progress--radial.progress--63:after { background-image: -webkit-linear-gradient(133.2deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-43.2deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--64:after { width: 64%; }

.progress--radial.progress--64:after { background-image: -webkit-linear-gradient(129.6deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-39.6deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--65:after { width: 65%; }

.progress--radial.progress--65:after { background-image: -webkit-linear-gradient(126deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-36deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--66:after { width: 66%; }

.progress--radial.progress--66:after { background-image: -webkit-linear-gradient(122.4deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-32.4deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--67:after { width: 67%; }

.progress--radial.progress--67:after { background-image: -webkit-linear-gradient(118.8deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-28.8deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--68:after { width: 68%; }

.progress--radial.progress--68:after { background-image: -webkit-linear-gradient(115.2deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-25.2deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--69:after { width: 69%; }

.progress--radial.progress--69:after { background-image: -webkit-linear-gradient(111.6deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-21.6deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--70:after { width: 70%; }

.progress--radial.progress--70:after { background-image: -webkit-linear-gradient(108deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-18deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--71:after { width: 71%; }

.progress--radial.progress--71:after { background-image: -webkit-linear-gradient(104.4deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-14.4deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--72:after { width: 72%; }

.progress--radial.progress--72:after { background-image: -webkit-linear-gradient(100.8deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-10.8deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--73:after { width: 73%; }

.progress--radial.progress--73:after { background-image: -webkit-linear-gradient(97.2deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-7.2deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--74:after { width: 74%; }

.progress--radial.progress--74:after { background-image: -webkit-linear-gradient(93.6deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(-3.6deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--75:after { width: 75%; }

.progress--radial.progress--75:after { background-image: -webkit-linear-gradient(bottom, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(0deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--76:after { width: 76%; }

.progress--radial.progress--76:after { background-image: -webkit-linear-gradient(86.4deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(3.6deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--77:after { width: 77%; }

.progress--radial.progress--77:after { background-image: -webkit-linear-gradient(82.8deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(7.2deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--78:after { width: 78%; }

.progress--radial.progress--78:after { background-image: -webkit-linear-gradient(79.2deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(10.8deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--79:after { width: 79%; }

.progress--radial.progress--79:after { background-image: -webkit-linear-gradient(75.6deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(14.4deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--80:after { width: 80%; }

.progress--radial.progress--80:after { background-image: -webkit-linear-gradient(72deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(18deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--81:after { width: 81%; }

.progress--radial.progress--81:after { background-image: -webkit-linear-gradient(68.4deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(21.6deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--82:after { width: 82%; }

.progress--radial.progress--82:after { background-image: -webkit-linear-gradient(64.8deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(25.2deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--83:after { width: 83%; }

.progress--radial.progress--83:after { background-image: -webkit-linear-gradient(61.2deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(28.8deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--84:after { width: 84%; }

.progress--radial.progress--84:after { background-image: -webkit-linear-gradient(57.6deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(32.4deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--85:after { width: 85%; }

.progress--radial.progress--85:after { background-image: -webkit-linear-gradient(54deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(36deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--86:after { width: 86%; }

.progress--radial.progress--86:after { background-image: -webkit-linear-gradient(50.4deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(39.6deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--87:after { width: 87%; }

.progress--radial.progress--87:after { background-image: -webkit-linear-gradient(46.8deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(43.2deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--88:after { width: 88%; }

.progress--radial.progress--88:after { background-image: -webkit-linear-gradient(43.2deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(46.8deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--89:after { width: 89%; }

.progress--radial.progress--89:after { background-image: -webkit-linear-gradient(39.6deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(50.4deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--90:after { width: 90%; }

.progress--radial.progress--90:after { background-image: -webkit-linear-gradient(36deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(54deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--91:after { width: 91%; }

.progress--radial.progress--91:after { background-image: -webkit-linear-gradient(32.4deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(57.6deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--92:after { width: 92%; }

.progress--radial.progress--92:after { background-image: -webkit-linear-gradient(28.8deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(61.2deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--93:after { width: 93%; }

.progress--radial.progress--93:after { background-image: -webkit-linear-gradient(25.2deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(64.8deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--94:after { width: 94%; }

.progress--radial.progress--94:after { background-image: -webkit-linear-gradient(21.6deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(68.4deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--95:after { width: 95%; }

.progress--radial.progress--95:after { background-image: -webkit-linear-gradient(18deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(72deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--96:after { width: 96%; }

.progress--radial.progress--96:after { background-image: -webkit-linear-gradient(14.4deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(75.6deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--97:after { width: 97%; }

.progress--radial.progress--97:after { background-image: -webkit-linear-gradient(10.8deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(79.2deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--98:after { width: 98%; }

.progress--radial.progress--98:after { background-image: -webkit-linear-gradient(7.2deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(82.8deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--99:after { width: 99%; }

.progress--radial.progress--99:after { background-image: -webkit-linear-gradient(3.6deg, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(86.4deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--100:after { width: 100%; }

.progress--radial.progress--100:after { background-image: -webkit-linear-gradient(left, #82B956 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #82B956 50%, white 50%, white); background-image: linear-gradient(90deg, #82B956 50%, transparent 50%, transparent), linear-gradient(270deg, #82B956 50%, white 50%, white); }

.progress--radial.progress--100:after { background-image: -webkit-linear-gradient(left, #F0C711 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #F0C711 50%, #eee 50%, #eee); background-image: linear-gradient(90deg, #F0C711 50%, transparent 50%, transparent), linear-gradient(270deg, #F0C711 50%, #eee 50%, #eee); }

.progress-bar--horizontal .progress-bar { display: block; width: 100%; height: 12px; position: relative; z-index: 5; padding-right: 8px; padding-top: 2px; }

@media all and (min--moz-device-pixel-ratio: 0) and (min-resolution: 3e1dpcm) { .progress-bar--horizontal .progress-bar { height: 10px; } }

.progress-bar--horizontal .progress-bar[value] { background-color: transparent; border: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 0; }

.progress-bar--horizontal .progress-bar[value] + .progress-circle { background: #eee; }

.progress-bar--horizontal .progress-bar[value]::-ms-fill { background-color: #0074d9; border: 0; }

.progress-bar--horizontal .progress-bar[value]::-moz-progress-bar { background-color: #0074d9; margin-right: 8px; }

.progress-bar--horizontal .progress-bar[value]::-webkit-progress-inner-element { background-color: #eee; }

.progress-bar--horizontal .progress-bar[value]::-webkit-progress-value { background-color: #0074d9; }

.progress-bar--horizontal .progress-bar[value]::-webkit-progress-bar { background-color: #eee; }

.progress-bar--horizontal .progress-circle { width: 36px; height: 36px; position: absolute; right: 3px; top: -12px; z-index: 5; border-radius: 50%; }

.progress-bar--horizontal .progress-circle:before { content: ""; width: 6px; height: 6px; background: white; border-radius: 50%; display: block; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); position: absolute; left: 50%; top: 50%; }

@media (max-width: 1025px) { .progress-bar--horizontal .progress-group { margin-left: -24px; margin-right: -24px; -ms-flex-preferred-size: 100%; flex-basis: 100%; padding: 24px; } }

@media (max-width: 768px) { .progress-bar--horizontal .progress-group { padding: 24px 24px 0; margin-bottom: 12px; } }

.progress-bar--horizontal .progress-group .wrapper { background: white; border: 1px solid #eee; border-radius: 12px; height: 14px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.3)); filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.3)); }

.progress-bar--horizontal .progress-group .step { width: 25%; position: relative; }

.progress-bar--horizontal .progress-group .step:after { content: ""; height: 42px; width: 42px; background: white; border-radius: 50%; display: block; position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.progress-bar--horizontal .progress-group .step:first-of-type .progress-bar { padding-left: 4px; }

.progress-bar--horizontal .progress-group .step:first-of-type .progress-bar[value]::-moz-progress-bar { border-radius: 5px 0 0 5px; }

.progress-bar--horizontal .progress-group .step:first-of-type .progress-bar[value]::-webkit-progress-value { border-radius: 5px 0 0 5px; }

.progress-bar--horizontal .progress-group .step:not(:first-of-type) .progress-bar[value]::-moz-progress-bar { border-radius: 0; }

.progress-bar--horizontal .progress-group .step:not(:first-of-type) .progress-bar[value]::-webkit-progress-value { border-radius: 0; }

.progress-bar--horizontal .progress-group .step.step01 .progress-bar[value]::-moz-progress-bar { background-color: #010C4E; }

.progress-bar--horizontal .progress-group .step.step01 .progress-bar[value]::-webkit-progress-value { background-color: #010C4E; }

.progress-bar--horizontal .progress-group .step.step01 .progress-bar[value="100"] + .progress-circle { background-color: #010C4E; }

.progress-bar--horizontal .progress-group .step.step02 .progress-bar[value]::-moz-progress-bar { background-color: #002D88; }

.progress-bar--horizontal .progress-group .step.step02 .progress-bar[value]::-webkit-progress-value { background-color: #002D88; }

.progress-bar--horizontal .progress-group .step.step02 .progress-bar[value="100"] + .progress-circle { background-color: #002D88; }

.progress-bar--horizontal .progress-group .step.step03 .progress-bar[value]::-moz-progress-bar { background-color: #017AA9; }

.progress-bar--horizontal .progress-group .step.step03 .progress-bar[value]::-webkit-progress-value { background-color: #017AA9; }

.progress-bar--horizontal .progress-group .step.step03 .progress-bar[value="100"] + .progress-circle { background-color: #017AA9; }

.progress-bar--horizontal .progress-group .step.step04 .progress-bar[value]::-moz-progress-bar { background-color: #03C2B2; }

.progress-bar--horizontal .progress-group .step.step04 .progress-bar[value]::-webkit-progress-value { background-color: #03C2B2; }

.progress-bar--horizontal .progress-group .step.step04 .progress-bar[value="100"] + .progress-circle { background-color: #03C2B2; }

.progress--container-radial { background: #eee; padding: 10px; border-radius: 50%; box-shadow: inset 0 0 2px #ccc; position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -ms-flex-item-align: start; align-self: flex-start; }

@media (max-width: 767px) { .progress--container-radial { margin: 0 auto; } }

.progress--container-radial .progress--radial { position: relative; display: inline-block; width: 140px; height: 140px; border-radius: 50%; background-color: #eee; }

.progress--container-radial .progress--radial:before { content: ''; position: absolute; top: 5px; left: 5px; width: 130px; height: 130px; border-radius: 50%; background-color: white; border: 10px solid #eee; }

.progress--container-radial .progress--radial:after { content: ''; display: inline-block; width: 100%; height: 100%; border-radius: 50%; background-color: #82B956; }

.progress--container-radial .complete-indicator { display: none; position: absolute; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); top: -3px; }

.progress--container-radial .progress--100 ~ .complete-indicator { display: block; }

.progress--container-radial .progress--100:after { background-image: -webkit-linear-gradient(left, #F0C711 50%, transparent 50%, transparent), -webkit-linear-gradient(right, #F0C711 50%, white 50%, white); background-image: linear-gradient(90deg, #F0C711 50%, transparent 50%, transparent), linear-gradient(270deg, #F0C711 50%, white 50%, white); }

.progress--container-radial .progress-photo { position: absolute; border-radius: 50%; width: 115px; height: 115px; left: 23px; top: 23px; }
