.quick-links { width: 100%; }

@media (min-width: 768px) { .quick-links { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; } }

.quick-links .icon-list, .quick-links .link-list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

@media (max-width: 767px) { .quick-links .icon-list, .quick-links .link-list { padding-bottom: 36px; } }

.quick-links .icon-list { margin: 12px -12px; }

.quick-links .icon-link { padding: 12px 12px 0; position: relative; }

.quick-links .icon-link img, .quick-links .icon-link a { border-radius: 50%; }

.quick-links .icon-link a { display: block; -webkit-transition: all 0.15s; transition: all 0.15s; }

.quick-links .icon-link a:hover, .quick-links .icon-link a:focus { -webkit-transition: all 0.15s; transition: all 0.15s; }

.quick-links .icon-link .btn-edit-quicklinks { color: white; font-weight: 600; stroke: rgba(255, 255, 255, 0.5); text-decoration: none; display: -webkit-box; display: -ms-flexbox; display: flex; }

.quick-links .icon-link .btn-edit-quicklinks:focus, .quick-links .icon-link .btn-edit-quicklinks:hover { background: #0E4876; stroke: white; border-color: transparent; }

.quick-links .text-link { padding: 6px 0; }

@media (min-width: 1024px) { .quick-links .text-link { color: white; } }

.quick-links .btn-edit-quicklinks { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.quick-links .btn-edit-quicklinks .icon { width: 24px; height: 24px; }

.quick-links .btn-edit-quicklinks .icon svg { width: 24px; height: 24px; }

@media (min-width: 1023px) { .page-header .quick-links { min-height: 240px; } }

.link-list { min-width: 240px; margin: 0; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.link-list .edit-block .read { padding-top: 3px; padding-bottom: 3px; padding-left: 0; border: 2px solid transparent; }

.link-list .edit-block .read a { display: block; }

.link-list .edit-block .read:hover .icons { width: 20px; stroke: currentColor; right: 6px; }

.link-list .icon-block { margin-top: 12px; }

.link-list .icon-block.has-controls > .heading { padding-right: 90px; }

.link-list .icon-block.has-controls > .heading .title { margin-bottom: 0; font-size: 20px; }

.link-list .icon-block.has-controls > .heading .controls { font-weight: 600; }

.link-list .icon-block.has-controls > .heading .controls svg { stroke: currentColor; }

.link-list .icon-block .heading > .title { margin-bottom: 6px; font-weight: bold; }

.link-list .icon-block .controls .icon { margin-right: 0; }

.link-list .add-block { background: white; padding: 12px 12px 0; }

.link-list .edit-block { margin-bottom: 5px; }
