.tabbed-nav { position: relative; }

@media (min-width: 768px) { .tabbed-nav { margin: 0 -30px; } }

.tabbed-nav:after { content: ""; display: table; clear: both; position: absolute; top: 0; right: 0; height: 60px; width: 50px; z-index: 1; pointer-events: none; visibility: visible; opacity: 1; -webkit-transition: opacity .3s 0s, visibility 0s 0s; transition: opacity .3s 0s, visibility 0s 0s; }

@media (min-width: 768px) { .tabbed-nav:after { display: none; } }

.tabbed-nav.is-ended:after { visibility: hidden; opacity: 0; -webkit-transition: opacity .3s 0s, visibility 0s .3s; transition: opacity .3s 0s, visibility 0s .3s; }

.tabbed-nav nav { -webkit-overflow-scrolling: touch; background: #f8f7ee; }

@media (min-width: 768px) { .tabbed-nav nav { position: absolute; top: 0; left: 0; height: 100%; z-index: 1; } }

@media (min-width: 1025px) { .tabbed-nav nav { position: relative; float: none; background: transparent; box-shadow: none; } }

.tabbed-nav-navigation { width: 360px; box-shadow: inset 0 1px 9px #d0e8f4; border-top: 1px solid #E5F2F9; }

@media (min-width: 768px) { .tabbed-nav-navigation { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 0 30px; } }

@media (min-width: 1025px) { .tabbed-nav-navigation { width: auto; background-color: rgba(229, 242, 249, 0.5); } }

.tabbed-nav-navigation a { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 60px; text-align: center; padding: 0 20px; font-size: 16px; color: #1377a9; }

@media (min-width: 768px) { .tabbed-nav-navigation a { height: 50px; } }

.tabbed-nav-navigation a:hover, .tabbed-nav-navigation a:focus, .tabbed-nav-navigation a:active { text-decoration: none; }

.tabbed-nav-navigation a.selected { background-color: #ffffff; color: #007DBC; -webkit-filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.1)); -moz-filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.1)); -ms-filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.1)); -o-filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.1)); filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.1)); }

.tabbed-nav-navigation a.selected:before { height: 5px; background: white; width: 100%; content: ""; position: absolute; top: -5px; z-index: 150; left: 0; border-radius: 4px 3px 0 0; }

.tabbed-nav-content { background: #ffffff; }

@media (min-width: 768px) { .tabbed-nav-content { min-height: 480px; padding: 0 10px; } }

@media (min-width: 1025px) { .tabbed-nav-content { min-height: 0; } }

.tabbed-nav-content li { display: none; padding: 1.4em; }

@media (min-width: 768px) { .tabbed-nav-content li { padding: 10px; } }

@media (min-width: 1025px) { .tabbed-nav-content li { padding: 20px; } }

.tabbed-nav-content li.selected { display: block; -webkit-animation: cd-fade-in 0.5s; animation: cd-fade-in 0.5s; }

@-webkit-keyframes cd-fade-in { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes cd-fade-in { 0% { opacity: 0; }
  100% { opacity: 1; } }
