.table-default { width: 100%; font-size: 13px; }

.table-default.slds-table td, .table-default.slds-table th { white-space: normal; line-height: 1.2; }

.table-default .c-head { padding-top: 18px; padding-bottom: 18px; }

.table-default[data-sortable] .c-head:not([data-sortable="false"]):after { display: inline-block; width: 16px; height: 16px; background-size: 16px; background-repeat: no-repeat; position: absolute; top: calc(50% - 9px); right: 6px; content: ""; margin-left: auto; }

.table-default [data-sorted-direction="descending"], .table-default [data-sorted-direction="ascending"], .table-default [data-sorted="false"] { position: relative; cursor: pointer; }

.table-default [data-sorted-direction="descending"]:after { background-image: url("../img/sort-down.svg"); }

.table-default [data-sorted-direction="ascending"]:after { background-image: url("../img/sort-up.svg"); }

.table-default [data-sorted="false"]:after { background-image: url("../img/sortable.svg"); opacity: 0.2; }

.table-default [data-sortable="false"]:after { display: none; cursor: pointer; }

.table-default[data-sortable] .c-head:not([data-sorted-direction="descending"]):not([data-sorted-direction="ascending"]):after { background-image: url("../img/sortable.svg"); opacity: 0.2; }

.table-default .t-head { border: 0; box-shadow: 0 1px 3px 0 rgba(14, 39, 70, 0.15); border-radius: 4px 4px 0 0; }

.table-default .t-head .t-head-row .c-head { position: relative; padding: 12px 36px 12px 12px; font-weight: 600; font-size: 14px; }

.table-default .t-head .t-head-row .c-head:first-of-type { padding-left: 12px; }

.table-default .t-head .t-head-row .c-head:last-of-type { padding-right: 12px; }

.table-default .t-head .t-head-row .c-head > a { display: block; color: #888; }

.table-default .t-head .t-head-row .c-head > a:hover { color: #0E4876; text-decoration: none; }

@media (min-width: 768px) { .table-default .t-body { border-radius: 0 0 4px 4px; box-shadow: 0 1px 3px 0 rgba(14, 39, 70, 0.15); } }

.table-default .t-body .t-body-row.detail-row > td { background: #F1F9FF; }

.table-default .t-body .t-body-row.detail-row > td hr { background: #d8eeff; }

.table-default .t-body .t-body-row.expand-row { cursor: pointer; }

.table-default .t-body .t-body-row.expand-row:nth-of-type(even) > td { background: #f4f6f9; }

.table-default .t-body .t-body-row.expand-row:nth-of-type(odd) > td { background: white; }

.table-default .t-body .t-body-row .c-body { padding: 12px; vertical-align: top; }

@media (max-width: 767px) { .table-default .t-body .t-body-row .c-body { min-height: 40px; } }

@media (min-width: 768px) { .table-default .t-body .t-body-row .c-body:first-of-type { padding-left: 12px; }
  .table-default .t-body .t-body-row .c-body:last-of-type { padding-right: 12px; } }

.table-default .t-body .t-body-row .c-body.auto { width: auto; }

.table-default .t-body .t-body-row .c-body.full { width: 100%; }

@media (min-width: 768px) { .table-default .t-body .t-body-row .c-body.shrink-column { width: 1%; } }

.table-default .t-body .t-body-row .c-body.shrink-column > a { display: block; }

.table-default .t-body .t-body-row .c-body.shrink-column > a > .icon svg { position: relative; fill: currentColor; top: auto; right: auto; -webkit-transform: none; -ms-transform: none; transform: none; width: 18px; height: 18px; }

.table-default .t-body .controls { padding: 0; position: relative; width: 34px; }

.table-default .t-body .controls .btn-bs { width: 100%; border-radius: 0 3px 3px 0; }

.table-default .t-body .btn-bs { width: auto; padding: 12px; height: 100%; stroke: currentColor; border-radius: 0; }

.table-default .t-body .btn-bs:hover, .table-default .t-body .btn-bs:focus, .table-default .t-body .btn-bs:active { color: white; }

@media (min-width: 768px) { .table-default .t-body .btn-bs { top: 0; right: 0; position: absolute; } }

@media (max-width: 767px) { .table-default .t-body .btn-bs { display: block; } }

.table-default .t-body .btn-bs .name { font-size: 16px; }

@media (min-width: 768px) { .table-default .t-body .btn-bs .name { display: none; } }

@media (min-width: 768px) { .table-default .t-body .btn-bs svg { display: block; width: 20px; height: 20px; } }

@media (max-width: 767px) { .table-default .t-body .btn-bs svg { display: none; } }

.table-default .t-body .read-more .read-more { margin-left: 0; }

@media (min-width: 1025px) { .table-default th.name, .table-default td.name { width: 30%; font-weight: 600; } }

.table-default .divider { border-left: 2px solid #E5F2F9; padding-left: 24px; position: relative; }

.table-default .divider .label { font-size: 12px; }

.table-default .divider > span { font-size: 14px; }

.table-default .icon.slds-hide { display: none; }

.table-default .row-controls { display: -webkit-flex; display: -ms-flexbox; display: flex; }

.table-default .row-controls .icon { margin: 0 12px; stroke: currentColor; }

.table-default .row-controls .icon svg { width: 20px; height: 20px; }

@media screen and (max-width: 767px) { .table-default { border: 0; }
  .table-default .t-head { display: none; }
  .table-default .t-body-row { margin-bottom: 24px; display: block; border: 1px solid #eee; background: white; }
  .table-default .c-body { text-align: right; font-size: 13px; border-bottom: 1px solid #eee; border-top: 0 !important; }
  .table-default .c-body:last-child { border-bottom: 0; }
  .table-default .c-body:before { content: attr(data-label); float: left; text-transform: uppercase; font-weight: 600; }
  .table-default .t-body .c-body { display: block !important; }
  .table-default .block-column { text-align: left; }
  .table-default .block-column:before { float: none; display: block; margin-bottom: 6px; } }

@-webkit-keyframes fadein { from { padding: 0 24px; }
  to { padding: 24px; } }

@keyframes fadein { from { padding: 0 24px; }
  to { padding: 24px; } }

@-webkit-keyframes fadeout { 0% { padding: 24px;
    opacity: 1; }
  50% { padding: 0 24px; }
  100% { height: 0;
    opacity: 0; } }

@keyframes fadeout { 0% { padding: 24px;
    opacity: 1; }
  50% { padding: 0 24px; }
  100% { height: 0;
    opacity: 0; } }

.faux-table { box-shadow: 0 1px 3px 0 rgba(14, 39, 70, 0.15); }

.faux-table hr { background-color: #cae3f4; }

.faux-table .table-row-item.sortable { position: relative; cursor: pointer; }

.faux-table .table-row-item.sortable:after { background-image: url("../img/sortable.svg"); display: inline-block; width: 16px; height: 16px; background-size: 16px; background-repeat: no-repeat; position: absolute; top: calc(50% - 9px); right: 6px; content: ""; margin-left: auto; opacity: 0.2; }

.faux-table .table-row-item.descending:after { background-image: url("../img/sort-down.svg"); opacity: 1; }

.faux-table .table-row-item.ascending:after { background-image: url("../img/sort-up.svg"); opacity: 1; }

.faux-table .table-row { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

@media (max-width: 767px) { .faux-table .table-row { -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; } }

.faux-table .table-row.expand { cursor: pointer; }

.faux-table .table-row:not(.expand) { border-bottom: 1px solid #cae3f4; }

.faux-table .table-row:not(.table-header) .table-row-item { display: -webkit-flex; display: -ms-flexbox; display: flex; line-height: 1.2; }

.faux-table .table-row:not(.table-header) .table-row-item:not(:last-of-type) { border-bottom: 1px solid #dfeef8; }

@media (max-width: 767px) { .faux-table .table-row:not(.table-header) .table-row-item:before { min-width: 150px; width: 150px; display: block; content: attr(data-label); text-transform: uppercase; font-weight: 600; } }

@media (max-width: 767px) { .faux-table .table-row:not(.table-header) .table-row-item .icon-link > span:not(.icon) { padding-left: 0; } }

.faux-table .table-row.table-header { border: 1px solid #d4e9f6; font-size: 16px; font-weight: 600; border-radius: 3px; box-shadow: 0 1px 2px #AAD3ED; }

@media (max-width: 767px) { .faux-table .table-row.table-header { display: none; } }

.faux-table .table-row-container:not(:last-of-type) { border-width: 0 1px; border-style: solid; border-color: #cae3f4; }

.faux-table .table-row-container:last-of-type { border: 1px solid #cae3f4; }

.faux-table .table-row-container:nth-child(odd) .table-row { background-color: #f4f4f4; }

.faux-table .table-row-container .table-row-collapsed { background-color: #e9f4fa; border-top: 1px solid #cae3f4; }

.faux-table .table-row-container .table-row-collapsed.hidden { padding: 0 24px; -webkit-animation: fadeout 0.15s forwards; animation: fadeout 0.15s forwards; overflow: hidden; border: 0; }

.faux-table .table-row-container .table-row-collapsed:not(.hidden) { -webkit-animation: fadein 0.15s forwards; animation: fadein 0.15s forwards; padding: 24px; }
