.site-search { display: none; }

@media (max-width: 1023px) { .site-search { background: #007DBC; } }

.site-search .search-filters.dropdown button:focus { background: #005b89; }

.site-search .search-btn:hover, .site-search .search-btn:focus { background: #007DBC; }

body { background-color: #FAFAFA !important; }

@media (max-width: 1023px) { body { background-color: #007DBC; } }

.gu-header { padding-left: 6px; }

@media (max-width: 1023px) { .gu-header { padding-left: 60px; height: 65px; } }

@media (max-width: 1023px) { .gu-header .dropdown .dropdown-items { min-width: 180px; right: 0; } }

.gu-header .detail .status { text-transform: uppercase; font-weight: 800; font-size: 14px; }

.gu-header .detail .status.success { color: #93C461; }

@media (max-width: 767px) { .gu-header .user-nav .dropdown .detail { display: none; } }

@media (max-width: 767px) { .gu-header .user-nav .user-photo { margin-right: 0; } }

a { color: #007DBC; }

h2 { color: #0A427A; }

.slds-form-element__label { color: #0A427A; }

.btn-bs.slds-button--brand { background: #0A427A; color: white; border: 1px solid #0A427A; }

.btn-bs.slds-button--brand:hover, .btn-bs.slds-button--brand:focus, .btn-bs.slds-button--brand:active { background: #007DBC; border: 1px solid #007DBC; }

.btn-bs.slds-button--brand-secondary { background: #007DBC; color: white; border-color: #007DBC; }

.btn-bs.slds-button--brand-secondary:hover, .btn-bs.slds-button--brand-secondary:focus, .btn-bs.slds-button--brand-secondary:active { background: #005b89; }

.btn-bs.slds-button--neutral { background: white; border: 1px solid #007DBC; color: #007DBC; }

.btn-bs.slds-button--neutral.btn-wired { background-color: transparent; color: white; border-color: white; }

.btn-bs.slds-button--neutral.btn-wired:hover, .btn-bs.slds-button--neutral.btn-wired:focus, .btn-bs.slds-button--neutral.btn-wired:active { color: #007DBC; background-color: white; }

.btn-bs.slds-button--neutral.muted { border-color: #eee; color: #999; }

.btn-bs.slds-button--neutral:hover, .btn-bs.slds-button--neutral:focus, .btn-bs.slds-button--neutral:active { background: #eee; }

.btn-bs.btn-default-lt { background: white; border: 2px solid #eee; color: #aaa; }

.btn-bs.btn-default-lt:hover, .btn-bs.btn-default-lt:active, .btn-bs.btn-default-lt:focus, .btn-bs.btn-default-lt.active { border-color: #007DBC; color: #999; }

.btn-bs.btn-round { border: 1px solid #007DBC; stroke: currentColor; }

.btn-bs.btn-round:hover, .btn-bs.btn-round:focus, .btn-bs.btn-round.active { background: #007DBC; stroke: white; }

.btn-add { stroke: #007DBC; background: none; }

.btn-add:hover { border-color: #0A427A; stroke: #0A427A; }

.btn-next { font-size: 16px; stroke: #007DBC; }

.btn-next .icon { border: 2px solid rgba(0, 125, 188, 0.2); }

.btn-next:hover .icon { border-color: #007DBC; }

.btn-action.btn-save { color: #7ab042; }

.btn-action.btn-remove { color: rgba(217, 83, 79, 0.7); }

.btn-action.btn-remove:hover { color: #d9534f; }

.btn-action.btn-cancel { color: #999; }

@media (min-width: 1025px) { .page-content { padding-top: 12px; } }

.page-content .dropdown.dropdown-default .title { background-color: #FBFBFB; color: #007DBC; box-shadow: 0 2px 0 0 #E4E4E4; }

.page-content .dropdown > label .title { background: #92D161; border-radius: 15px; border: 0; height: 30px; padding-left: 24px; font-weight: 600; box-shadow: 0 3px 0px 0px #82B956; color: white; }

.page-content .dropdown.dropdown-default > label .icon { stroke: #007DBC; }

.page-content .dropdown.dropdown-default .title { background-color: #FBFBFB; color: #007DBC; box-shadow: 0 2px 0 0 #E4E4E4; }

.page-content .dropdown > label .icon { stroke: white; }

.page-content .dropdown input[type="checkbox"]:checked + label .title { border-radius: 15px 15px 0 0; }

.page-content .dropdown .dropdown-items { background: white; border-radius: 0 0 20px 20px; top: 28px; padding-top: 0; padding-bottom: 0; }

.page-content .dropdown .dropdown-items > a:last-of-type { border-radius: 0 0 20px 20px; }

.max-container { height: 100%; position: relative; }

.page-section.section-alt .card { border-top: 0; border-bottom: 0; box-shadow: none; border-radius: 0; }

@media (max-width: 1024px) { .page-header { margin-top: 0; } }

@media (min-width: 1025px) { .page-header { padding: 0 24px; } }

.page-header.has-controls .controls > .title { font-weight: 600; font-size: 14px; }

@media (min-width: 768px) { .page-header.has-controls .controls > .title { color: white; } }

.page-header.has-controls .controls > .title .page-section.has-controls .controls > .title { color: white; display: block; font-weight: 600; }

@media (min-width: 1024px) { .page-header.has-controls .controls > .title.has-controls .controls .title { color: white; } }

.page-header.has-controls .controls > .title.page-section.has-controls .controls { min-width: 330px; }

@media (max-width: 767px) { .page-header.has-controls .controls > .title.page-section.has-controls .controls { min-width: 0; } }

.page-header.has-controls .controls > .title.page-section.has-controls .controls > .title { display: none; }

@media (min-width: 1024px) { .page-header.has-controls .controls > .title.page-section.has-controls .controls > .title { color: white; display: block; font-weight: 600; } }

@media (min-width: 1024px) { .page-header.has-icon { color: white; } }

@media (min-width: 1024px) { .page-header h1 { color: white; } }

.page-header p { max-width: 800px; }

@media (min-width: 1024px) { .page-header p { color: white; } }

.page-header.page-section.has-controls .controls { min-width: 330px; }

.page-header.page-section.has-controls .controls > .title { display: block; }

@media (max-width: 767px) { .page-header.page-section.has-controls .controls > .title { margin-bottom: 5px; } }

@media (min-width: 1024px) { .page-header.page-section.has-controls .controls > .title { display: block; } }

@media (min-width: 1024px) { .page-header.page-section.has-controls .controls > .title { color: white; } }

.page-header.page-section.has-controls .profile-header .controls { min-width: 0; }

@media (min-width: 1025px) { .card-content.box { margin-left: 24px; margin-right: 24px; } }

@media (max-width: 1024px) { .card-content.box { border: 0; } }

.card-content.box > .name { padding-top: 36px; padding-left: 36px; }

.box { margin-bottom: 24px; border: 1px solid #eee; border-radius: 15px; }

.site-search { display: none; }

.list-row .label-card .icon { color: #007DBC; }

@media (min-width: 768px) { .sidebar.left { width: 300px; min-width: 300px; } }

.sidebar.left .block.nav { padding-top: 0; }

.sidebar .program-logo { position: relative; z-index: 5; text-align: center; padding: 12px 24px 0 36px; }

.sidebar .program-logo h3 { border-top: 1px solid rgba(255, 255, 255, 0.5); border-bottom: 1px solid rgba(255, 255, 255, 0.5); padding: 6px 0; }

.sidebar .program-information { margin: auto 36px 24px; background: white; border-radius: 8px; box-shadow: 0 2px 0 0 #e5e5e5; }

.sidebar-nav { background: none; }

.sidebar-nav.alt > a.active { color: #007DBC; }

.sidebar-nav > a { padding: 12px 24px; margin: 6px 0; color: #012849; }

.sidebar-nav > a:hover, .sidebar-nav > a:focus, .sidebar-nav > a:active { color: #007DBC; background: rgba(255, 255, 255, 0.8); }

.sidebar-nav > a.active { border-left-color: #BEDCF3; background: #BEDCF3; color: #012849; border-bottom: 2px solid #A9CBE8; }

.sidebar-heading { min-height: 370px; }

.sidebar-heading:before { position: absolute; left: 0; content: ""; background-image: url("../img/student-header.svg"); background-repeat: no-repeat; background-size: cover; background-position: center bottom; width: 100%; height: 370px; z-index: 2; top: 0; }

.sidebar-heading:after { position: absolute; right: 0; content: ""; width: 100%; background-image: -webkit-linear-gradient(0, #6BA4CD 40%, #0A427A 100%); background-image: linear-gradient(0, #6BA4CD 40%, #0A427A 100%); max-height: 370px; height: 100%; top: 0; z-index: 1; }

.sidebar-heading .brand-logo { text-align: center; padding-bottom: 12px; }

.mobile-nav a.icon-link { display: -webkit-box; display: -ms-flexbox; display: flex; }

.mobile-nav a.icon-link:hover, .mobile-nav a.icon-link:focus, .mobile-nav a.icon-link:active { color: #007DBC; background: rgba(255, 255, 255, 0.8); text-decoration: none; }

.mobile-nav a.icon-link.active { border-left-color: #BEDCF3; background: #BEDCF3; color: #012849; border-bottom: 2px solid #A9CBE8; }

.directory-item .heading > img { border: 4px solid #007DBC; }

.directory-item .heading .name { color: #007DBC; }

@media (max-width: 767px) { tr.directory-item .heading { background: rgba(0, 125, 188, 0.1); } }

div.directory-item .heading { background: rgba(0, 125, 188, 0.1); }

div.directory-item .btn-bs { border-top: 1px solid #007DBC; }

div.directory-item .btn-bs:hover, div.directory-item .btn-bs:focus, div.directory-item .btn-bs:active { background: #007DBC; }

.directory-item-group .name { font-size: 18px; display: -webkit-box; display: -ms-flexbox; display: flex; }

.directory-item-group .description { max-width: 400px; padding-right: 36px; }

@media (max-width: 767px) { .list-items .card.person .heading { background: rgba(0, 125, 188, 0.1); } }

.list-items .card.person .heading > img { border: 4px solid #007DBC; }

.custom-checkbox .read .icons { stroke: #007DBC; }

.message-preview-list .message .message-footer .divider { background: rgba(0, 125, 188, 0.3); }

.quick-links .link-list { min-width: 300px; }

@media (max-width: 1024px) { .quick-links .link-list { margin: 24px 0; } }

@media (min-width: 1025px) { .quick-links .link-list { margin-left: auto; padding-left: 24px; margin-top: -24px; } }

.quick-links .link-list .icon-block { margin: 0; }

.quick-links .link-list .icon-block .heading > .title { color: white; background: none; font-size: 24px; }

.quick-links .link-list .icon-block.has-controls > .heading .controls { color: white; background: none; border-radius: 15px; border: 2px solid transparent; }

.quick-links .link-list .icon-block.has-controls > .heading .controls:hover { border-color: white; }

@media (max-width: 1024px) { .quick-links .link-list .icon-block.has-controls > .heading .title, .quick-links .link-list .icon-block.has-controls > .heading .controls { color: #007DBC; background: white; } }

.quick-links .link-list .edit-block .read:hover, .quick-links .link-list .edit-block .read:focus { background: none; box-shadow: none; padding-left: 12px; border-color: rgba(0, 125, 188, 0.5); }

@media (min-width: 1025px) { .quick-links .link-list .edit-block .read:hover, .quick-links .link-list .edit-block .read:focus { border-color: white; } }

@media (min-width: 1025px) { .quick-links .link-list .edit-block .read:hover .icons, .quick-links .link-list .edit-block .read:focus .icons { color: white; } }

@media (min-width: 1025px) { .quick-links .link-list .edit-block .read a, .quick-links .link-list .edit-block .read .slds-text-longform { color: white; } }

.quick-links .icon-link a { width: 90px; height: 90px; border-width: 1px; border-color: #1068c1; background: #538cb9; border: 1px solid rgba(255, 255, 255, 0.5); }

@media (max-width: 1023px) { .quick-links .icon-link a { width: 75px; height: 75px; } }

.quick-links .icon-link a:hover, .quick-links .icon-link a:focus { border-color: white; box-shadow: inset 0 0px 1px white; background: #77a4c8; -webkit-transition: all 0.15s; transition: all 0.15s; -webkit-filter: drop-shadow(1px 1px 3px rgba(10, 66, 122, 0.3)); -moz-filter: drop-shadow(1px 1px 3px rgba(10, 66, 122, 0.3)); -ms-filter: drop-shadow(1px 1px 3px rgba(10, 66, 122, 0.3)); filter: drop-shadow(1px 1px 3px rgba(10, 66, 122, 0.3)); }

.quick-links .icon-link .btn-edit-quicklinks { background: #6598c0; }

.quick-links .icon-link .btn-edit-quicklinks span, .quick-links .icon-link .btn-edit-quicklinks .icon { -webkit-filter: drop-shadow(1px 1px 1px rgba(10, 66, 122, 0.5)); -moz-filter: drop-shadow(1px 1px 1px rgba(10, 66, 122, 0.5)); -ms-filter: drop-shadow(1px 1px 1px rgba(10, 66, 122, 0.5)); filter: drop-shadow(1px 1px 1px rgba(10, 66, 122, 0.5)); margin-right: 0; }

.quick-links .icon-link .btn-edit-quicklinks:hover, .quick-links .icon-link .btn-edit-quicklinks:focus { border-color: white; box-shadow: inset 0 0px 1px white; background: #77a4c8; -webkit-transition: all 0.15s; transition: all 0.15s; }

.quick-links .icon-link img { -webkit-filter: drop-shadow(1px 1px 1px rgba(10, 66, 122, 0.5)); -moz-filter: drop-shadow(1px 1px 1px rgba(10, 66, 122, 0.5)); -ms-filter: drop-shadow(1px 1px 1px rgba(10, 66, 122, 0.5)); filter: drop-shadow(1px 1px 1px rgba(10, 66, 122, 0.5)); }

.table-default .t-body .t-body-row .c-body { border-bottom: 1px solid rgba(0, 125, 188, 0.1); }

.table-default .t-body .btn-bs:hover, .table-default .t-body .btn-bs:focus, .table-default .t-body .btn-bs:active { background: #007DBC; }

h3.slds-section__title, .title.slds-section__title { color: #007DBC; }

.social-icons.has-bg > a:hover, .social-icons.has-bg > a:focus { box-shadow: 0 1px 3px 0 rgba(14, 39, 70, 0.15), 0 0 0 1px #007DBC; }

.gu-modal .slds-modal__header h2 { color: #007DBC; }

.read-more .read-more { color: #007DBC; }

.cGU360_GridComponent.builder-component:hover { border: 1px dotted #007DBC; }

.gu-profile-item .controls input[type="radio"]:checked + .toggle { background: #82B956; box-shadow: 0 0 0px 2px #82B956; color: white; }

.gu-profile-item .controls input[type="radio"]:focus + .toggle { box-shadow: 0 0 0 2px white, 0 0 0px 4px #82B956; color: white; }

.control-input:hover .slds-input + .input-status .input-edit { color: #007DBC; }

.control-input .slds-input:focus { box-shadow: 0 0 0 1px rgba(0, 125, 188, 0.55); border-color: rgba(0, 125, 188, 0.5); }

.control-input .slds-input.unsaved { box-shadow: 0 0 0 1px rgba(0, 125, 188, 0.55); border-color: rgba(0, 125, 188, 0.5); }

.profile-header .user-photo { box-shadow: 0 0 0 1px #EEF8FF, 0 0px 0 4px #EEF8FF, 0 8px 0 0 #d0e8f4; }

.profile-header .user-photo .name-wrapper { color: white; top: -50px; position: absolute; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media (min-width: 1023px) { .profile-header .user-photo .alert { margin-left: auto; }
  .profile-header .user-photo .alert .icon svg { margin-right: 10px; } }

.profile-header .user-photo .name { margin-right: 10px; }

.profile-edit .photo-block { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media (min-width: 1025px) { .profile-edit .photo-block { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; padding-left: 36px; } }

.profile-edit .photo-block .controls { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; max-height: 160px; border-radius: 20px; padding: 24px 24px 24px 95px; margin: 0 0 0 -80px; border: 1px solid #d0e8f4; background: #eff7fb; }

.profile-edit .photo-block .btn-bs { max-width: 160px; margin-top: 25px; }

.calendar .fc .fc-state-default { background-color: #9dc87a; color: white; box-shadow: 0 2px 0 0 #82B956; border: none; padding: 0px 20px; }

.calendar .fc .fc-state-default:hover, .calendar .fc .fc-state-default:focus { background-color: #82B956; }

.calendar .fc .fc-state-default.fc-state-active { background-color: #82B956; box-shadow: inset 0 2px 0 0 #72A93F; }

.calendar .fc .fc-state-default.fc-state-active:hover, .calendar .fc .fc-state-default.fc-state-active:focus { background-color: #82B956; }

.calendar .fc .fc-left .fc-state-disabled { color: white; background-color: #b7d79e; }

.fc-state-default.fc-allCalendarsButton-button { background-color: #92D161; color: white; }

.fc-state-default.fc-allCalendarsButton-button:not(.default) { box-shadow: 0 2px 0px 0px #82B956; text-shadow: 0 0 3px #58656E; }

.fc-state-default.fc-allCalendarsButton-button:hover, .fc-state-default.fc-allCalendarsButton-button:focus { background: #82B956; color: white; }

.grid-controls { background: white; border-top-left-radius: 15px; border-top-right-radius: 15px; }

@media (min-width: 768px) { .grid-controls { padding: 24px; } }

.grid-filters { background: white; }

@media (min-width: 768px) { .grid-filters { padding-left: 24px; padding-right: 24px; border-left: 1px solid #eee; border-right: 1px solid #eee; } }

.grid-content { background: white; box-shadow: 0 2px 0 0 #e5e5e5; border-left: 1px solid #eee; border-right: 1px solid #eee; margin: 0; }

@media (min-width: 768px) { .grid-content { padding: 0 24px 24px; border-radius: 0 0 15px 15px; } }

.block.logo { border-top: 1px solid rgba(255, 255, 255, 0.3); border-bottom: 1px solid rgba(255, 255, 255, 0.3); background: rgba(24, 133, 177, 0.5); }

.block .border-end { border-bottom: 2px solid rgba(107, 164, 205, 0.7); }

.txt-block.expandable .more-link { color: #007DBC; }

.collapse-block { width: auto; margin-top: 0; }

.collapse-block.box { padding-top: 0; }

.collapse-block.box:not(:last-of-type) { margin-bottom: 12px; }

.collapse-block [type="checkbox"]:checked ~ .collapse-content { position: relative; top: -10px; }

.collapse-block .btn-collapse { stroke: #007DBC; }

.collapse-block > .heading { height: auto; padding: 24px 0; margin-left: 36px; margin-right: 36px; position: relative; }

.collapse-block > .heading .title { font-size: 20px; font-weight: 700; color: #0A427A; }

.collapse-block .collapse-content h3 { color: #007DBC; font-weight: 300; }

.btn-success.active { background-color: #82B956; color: white; }

.btn-give.active { background-image: url(../img/give-active.svg); }

.btn-give.btn-lg { background-size: 16px; }

.btn-pill { font-weight: 700; background: #92D161; color: white; margin-bottom: 6px; }

.btn-pill:hover, .btn-pill:focus { text-decoration: none; }

.btn-pill.btn-default { border: 2px solid rgba(0, 125, 188, 0.2); background: white; color: #007DBC; }

.btn-pill.btn-default:hover { background: #007DBC; color: white; border-color: #007DBC; }

.btn-pill:not(.btn-default) { box-shadow: 0 2px 0px 0px #82B956; text-shadow: 0 0 3px #58656E; }

.btn-pill:hover, .btn-pill:focus { background: #82B956; color: white; }

.load-more button { color: #007DBC; border-top: 1px solid #eee; }

.dropdown .dropdown-items { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.15); background: white; border: 1px solid #ddd; }

.dropdown .dropdown-items > a { color: #444; }

.dropdown .dropdown-items > a:hover { background: #eee; }

.dropdown .dropdown-items > a:focus, .dropdown .dropdown-items > a:active, .dropdown .dropdown-items > a.active { background: #007DBC; color: white; }

.dropdown label { stroke: #007DBC; }

.dropdown label > .title { border: 1px solid #ccc; color: #0A427A; }

.dropdown input[type="checkbox"]:checked + label { color: #007DBC; }

.dropdown input[type="checkbox"]:checked + label .title { border-color: #007DBC; }

.dropdown input[type="checkbox"]:focus + label > .title { border-color: #007DBC; }

.card { background: white; box-shadow: 0 2px 0 0 #e5e5e5; border-radius: 15px; border: 1px solid #eee; position: relative; }

@media (min-width: 768px) { .table-default .t-body { border-radius: 0 0 15px 15px; } }

.user-grid { margin-bottom: 0; }

.user-grid .user-control a { background: #92D161; stroke: white; border-radius: 50%; box-shadow: 0 2px 0px 0px #82B956; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 24px; height: 24px; }

.user-grid .user-control a .icon { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0 auto; }

.user-grid .user-control svg { width: 14px; height: 14px; top: 1px; position: relative; }

.user-grid .person .role { -ms-flex-preferred-size: auto; flex-basis: auto; }

.user-grid .controls { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; margin: 3px 0; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

h5.gu-heading { color: #0A427A; }

h6 { color: #999; }

h6.gu-heading { color: #0A427A; }

.slds-text-heading--medium { color: #0A427A; }

.item-title { color: #0A427A; }

.item-authors { color: #333; }

.slds-list--dotted.bordered > li:before { background: #82B956; }

.activity-details .membership-details { font-size: 12px; color: #A8A9A9; }

.activity-details .membership-details span { display: block; }

.card-grid-item { min-width: 0; }

.card-content .icon-policy { width: 32px; height: 32px; text-align: center; background-color: #92D161; display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border-radius: 50%; box-shadow: 0 2px 0 0 #82B956; }

@media (max-width: 767px) { .card-content .icon-policy { margin-left: auto; } }

.card-content .icon-policy:hover, .card-content .icon-policy:focus { background-color: #6bb234; }

.card-content .icon-policy .icon { color: white; }

.card-content .icon-policy .icon svg { width: 14px !important; height: 14px !important; }

.dropdown.profile-subnav { background: none; border-radius: 0; position: relative; z-index: 50; }

.dropdown.profile-subnav > label { position: relative; z-index: 50; }

.dropdown.profile-subnav > label .title { background: white; border-radius: 15px; border: 0; height: 30px; padding-left: 24px; font-weight: 600; box-shadow: 0 2px 0 0 #e5e5e5; color: #007DBC; }

.dropdown.profile-subnav > label > .icon { stroke: #0A427A; }

.dropdown.profile-subnav > label > .icon svg { width: 12px; height: 12px; }

.dropdown.profile-subnav input[type="checkbox"]:checked + label .title { border-radius: 15px 15px 0 0; }

.dropdown.profile-subnav .dropdown-items { background: white; border-radius: 0 0 20px 20px; top: 28px; padding-top: 0; padding-bottom: 0; }

.dropdown.profile-subnav .dropdown-items > a:last-of-type { border-radius: 0 0 20px 20px; }

.dashboard-grid .ui-widget { margin-bottom: 24px; }
