label[for="nav-shrink"] { color: #58656E; }

code { background: #eee; color: #263238; min-height: 20px; line-height: 1; padding: 3px 8px; position: relative; box-shadow: 0 1px 3px rgba(51, 51, 51, 0.12), 0 1px 2px rgba(51, 51, 51, 0.24); display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }

code:only-of-type { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

code + code { border-top-left-radius: 0; border-bottom-left-radius: 0; }

code + code:before { border-top-left-radius: 0; border-bottom-left-radius: 0; }

code:before { font-size: 10px; font-weight: 700; position: absolute; text-transform: uppercase; left: 0; top: 0; padding: 0 8px 0 6px; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; line-height: 1; height: 100%; background: #263238; border: 1px solid #eee; color: white; border-radius: 4px 0 0 4px; }

code.class { padding-left: 50px; }

code.class:before { content: "class"; color: #A3D53B; }

code.element { padding-left: 65px; }

code.element:before { content: "element"; color: #f34162; }

code.attr { padding-left: 45px; }

code.attr:before { content: "attr"; color: #A3D53B; }

code.hex { padding-left: 40px; }

code.hex:before { content: "hex"; color: white; }

.sidebar-heading, .page-header { min-height: 0; }

.sidebar-heading:before, .sidebar-heading:after { height: auto; background: none; }

.page-header h1 { color: #333; }

@media (min-width: 768px) { .sidebar.left { min-width: 250px; } }

body.index .brand-logo { color: #444; padding-left: 24px; }

body.index .brand-logo:hover, body.index .brand-logo:focus, body.index .brand-logo:active { text-decoration: none; }

body.index .brand-logo .company { font-size: 14px; line-height: 1; opacity: 0.5; margin-bottom: 6px; font-weight: 600; }

body.index .brand-logo .title { font-weight: 700; font-size: 44px; line-height: 1; }

body.index .brand-logo .subtitle { text-transform: uppercase; font-weight: 600; line-height: 1; opacity: 0.7; font-size: 12px; }

body.index #nav-shrink:checked ~ .sidebar.left .sidebar-heading { margin-top: 12px; }

body.index #nav-shrink:checked ~ .sidebar.left .brand-logo { display: none; }

body.index .sidebar.left { background: #eee; }

body.index .sidebar-nav > a { stroke: currentColor; color: #0E4876; padding: 12px 24px; }

body.index .sidebar-nav > a:hover, body.index .sidebar-nav > a:focus { background: rgba(14, 72, 118, 0.1); }

body.index .sidebar-nav > a.active { background: #0E4876; color: white; }

body.index .sidebar-nav > a.active.alt { background: #333; }

body.faculty-index .brand-logo { color: white; padding-left: 24px; }

body.faculty-index .brand-logo:hover, body.faculty-index .brand-logo:focus, body.faculty-index .brand-logo:active { text-decoration: none; }

body.faculty-index .brand-logo .company { font-size: 14px; line-height: 1; opacity: 0.5; margin-bottom: 6px; font-weight: 600; }

body.faculty-index .brand-logo .title { font-weight: 700; font-size: 44px; line-height: 1; }

body.faculty-index .brand-logo .subtitle { text-transform: uppercase; font-weight: 600; line-height: 1; opacity: 0.7; font-size: 12px; }

body.faculty-index #nav-shrink:checked ~ .sidebar.left .sidebar-heading { margin-top: 12px; }

body.faculty-index #nav-shrink:checked ~ .sidebar.left .brand-logo { display: none; }

body.faculty-index .sidebar-nav > a.active.alt { background: #0E4876; color: white; }

body.student-index .brand-logo { color: #444; padding-left: 24px; }

body.student-index .brand-logo:hover, body.student-index .brand-logo:focus, body.student-index .brand-logo:active { text-decoration: none; }

body.student-index .brand-logo .company { font-size: 14px; line-height: 1; opacity: 0.5; margin-bottom: 6px; font-weight: 600; }

body.student-index .brand-logo .title { font-weight: 700; font-size: 44px; line-height: 1; }

body.student-index .brand-logo .subtitle { text-transform: uppercase; font-weight: 600; line-height: 1; opacity: 0.7; font-size: 12px; }

body.student-index #nav-shrink:checked ~ .sidebar.left .sidebar-heading { margin-top: 12px; }

body.student-index #nav-shrink:checked ~ .sidebar.left .brand-logo { display: none; }

body.student-index .sidebar-nav > a { stroke: currentColor; }

body.student-index .sidebar-nav > a.active.alt { background: #333; }

.color-blocks { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -12px 24px; }

.color-blocks > li { width: 120px; height: 120px; padding: 12px; margin: 12px 6px 0; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.color-blocks > li .name { font-size: 18px; font-weight: 600; }

.color-blocks > li code { margin-top: auto; }

.color-blocks > li.blue { background: #007DBC; color: white; }

.color-blocks > li.blue-lt { background: #E5F2F9; }

.color-blocks > li.blue-dk { background: #0E4876; color: white; }

.color-blocks > li.blue-dk2 { background: #012849; color: white; }

.color-blocks > li.gray-dk { background: #333; color: white; }

.color-blocks > li.gray-md { background: #999; color: white; }

.color-blocks > li.gray { background: #ddd; }

.color-blocks > li.gray-lt { background: #eee; }

.color-blocks > li.tan { background: #E7E4E2; }

.color-blocks > li.blue-lt { background: #E5F2F9; }

.color-blocks > li.blue-dk { background: #0E4876; color: white; }

.color-blocks > li.blue-dk2 { background: #012849; color: white; }

.color-blocks > li.red { background: #BC4339; color: white; }

.color-blocks > li.success { background: #93C461; color: white; }

.color-blocks > li.danger { background: #d9534f; color: white; }

.color-blocks > li.warning { background: #f0ad4e; color: white; }

.color-blocks > li.info { background: #5bc0de; color: white; }
