@media (max-width: 1023px) { .site-search { background: #007DBC; } }

.site-search .search-filters.dropdown button:focus { background: #005b89; }

@media (max-width: 1024px) { .site-search .search-filters > label:before { content: ""; } }

.site-search .search-btn:hover, .site-search .search-btn:focus { background: #007DBC; }

body { background-color: #012849 !important; background-image: url("../img/menu_bg.jpg") !important; background-repeat: no-repeat !important; background-position: -21px -86px !important; background-size: 509px 598px !important; }

@media (min-width: 1025px) { .gu-header { min-height: 125px; } }

@media (max-width: 1023px) { .gu-header { background-color: #012849; } }

@media (max-width: 1023px) { .gu-header .dropdown .dropdown-items { min-width: 180px; right: 0; } }

.gu-header .user-nav { margin-left: auto; }

.gu-header .user-nav .dropdown .detail { top: initial; }

@media (max-width: 767px) { .gu-header .user-nav .dropdown .detail { display: none; } }

@media (max-width: 767px) { .gu-header .user-nav .user-photo { margin-right: 0; } }

a { color: #6BA4CD; }

h2 { color: #0E4876; }

.slds-form-element__label { color: #0E4876; }

.btn-bs.slds-button--brand { background: #0E4876; color: white; border: 1px solid #0E4876; }

.btn-bs.slds-button--brand:hover, .btn-bs.slds-button--brand:focus, .btn-bs.slds-button--brand:active { background: #007DBC; border: 1px solid #007DBC; }

.btn-bs.slds-button--brand-secondary { background: #007DBC; color: white; border-color: #007DBC; }

.btn-bs.slds-button--brand-secondary:hover, .btn-bs.slds-button--brand-secondary:focus, .btn-bs.slds-button--brand-secondary:active { background: #005b89; }

.btn-bs.slds-button--neutral { background: white; border: 1px solid #007DBC; color: #007DBC; }

.btn-bs.slds-button--neutral.btn-wired { background-color: transparent; color: white; border-color: white; }

.btn-bs.slds-button--neutral.btn-wired:hover, .btn-bs.slds-button--neutral.btn-wired:focus, .btn-bs.slds-button--neutral.btn-wired:active { color: #007DBC; background-color: white; }

.btn-bs.slds-button--neutral.muted { border-color: #eee; color: #999; }

.btn-bs.slds-button--neutral:hover, .btn-bs.slds-button--neutral:focus, .btn-bs.slds-button--neutral:active { background: #eee; }

.btn-bs.btn-default-lt { background: white; border: 2px solid #eee; color: #aaa; }

.btn-bs.btn-default-lt:hover, .btn-bs.btn-default-lt:active, .btn-bs.btn-default-lt:focus, .btn-bs.btn-default-lt.active { border-color: #007DBC; color: #999; }

.btn-bs.btn-round { border: 1px solid #007DBC; stroke: currentColor; }

.btn-bs.btn-round:hover, .btn-bs.btn-round:focus, .btn-bs.btn-round.active { background: #007DBC; stroke: white; }

.btn-add { background: none; }

.btn-add:hover { border-color: #0E4876; stroke: #0E4876; }

.btn-next { font-size: 16px; stroke: #007DBC; }

.btn-next .icon { border: 2px solid rgba(0, 125, 188, 0.2); }

.btn-next:hover .icon { border-color: #007DBC; }

.btn-action.btn-save { color: #7ab042; }

.btn-action.btn-remove { color: rgba(217, 83, 79, 0.7); }

.btn-action.btn-remove:hover { color: #d9534f; }

.btn-action.btn-cancel { color: #999; }

@media (max-width: 1023px) { .page { background: white; } }

.page-content { background: white; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 3px 3px 0 0; }

@media (min-width: 1025px) { .page-content { padding-left: 36px; padding-right: 36px; } }

.page-content .dropdown.dropdown-default .title { background-color: #FBFBFB; color: #007DBC; box-shadow: 0 2px 0 0 #E4E4E4; }

.page-section.has-controls .dropdown { min-width: 220px; }

.page-section .page-title { color: #0E4876; }

.page-header h1 { color: #012849; }

.page-header.has-controls .controls > .title { font-weight: 600; font-size: 14px; }

@media (min-width: 768px) { .page-header.has-controls .controls > .title { color: #007DBC; } }

.page-header.has-controls .controls > .title .page-section.has-controls .controls > .title { color: white; display: block; font-weight: 600; }

@media (min-width: 1024px) { .page-header.has-controls .controls > .title.has-controls .controls .title { color: white; } }

.page-header.has-controls .controls > .title.page-section.has-controls .controls { min-width: 330px; }

@media (max-width: 767px) { .page-header.has-controls .controls > .title.page-section.has-controls .controls { min-width: 0; } }

.page-header.has-controls .controls > .title.page-section.has-controls .controls > .title { display: none; }

@media (min-width: 1024px) { .page-header.has-controls .controls > .title.page-section.has-controls .controls > .title { color: white; display: block; font-weight: 600; } }

.page-header p { max-width: 800px; }

.page-header.page-section.has-controls .controls > .title { display: block; }

@media (max-width: 767px) { .page-header.page-section.has-controls .controls > .title { margin-bottom: 5px; } }

@media (min-width: 1024px) { .page-header.page-section.has-controls .controls > .title { display: block; } }

.page-header.page-section.has-controls .profile-header .controls { min-width: 0; }

.box { margin-bottom: 24px; }

@media (min-width: 768px) { .content-wrapper { padding-right: 12px; } }

@media (min-width: 1200px) { .content-wrapper { padding-right: 24px; } }

@media (max-width: 1024px) { .site-search .search-filters > label:before { content: ""; } }

.list-row .label-card .icon { color: #007DBC; }

.sidebar.left { background-color: none; -webkit-transition: all 0.15s cubic-bezier(0.27, 0.55, 0.37, 0.75); transition: all 0.15s cubic-bezier(0.27, 0.55, 0.37, 0.75); }

@media (min-width: 768px) { .sidebar.left { width: 250px; min-width: 250px; } }

.sidebar.left hr { background-color: rgba(255, 255, 255, 0.2); margin-left: 24px; margin-right: 24px; }

.sidebar-nav { background: none; }

.sidebar-nav.alt > a.active { color: #007DBC; }

.sidebar-nav > a { stroke: currentColor; padding: 18px 24px; color: white; }

.sidebar-nav > a:hover, .sidebar-nav > a:focus, .sidebar-nav > a:active { color: white; background: rgba(255, 255, 255, 0.3); }

.sidebar-nav > a.active { border-left-color: #BC4339; background: white; color: #012849; }

@media (min-width: 1024px) { .sidebar-heading { min-height: 221px; }
  .sidebar-heading:before { position: absolute; left: 0; content: ""; z-index: 2; top: 0; }
  .sidebar-heading:after { position: absolute; right: 0; content: ""; width: 100%; max-height: 220px; height: 100%; top: 0; } }

.mobile-nav { background-color: #011a30; }

.mobile-nav a.icon-link { color: white; border-color: rgba(255, 255, 255, 0.3); }

.mobile-nav a.icon-link use > svg { stroke: white; }

.mobile-nav a.icon-link:hover, .mobile-nav a.icon-link:focus, .mobile-nav a.icon-link:active { color: white; background: rgba(255, 255, 255, 0.3); text-decoration: none; }

.mobile-nav a.icon-link.active { background-color: white; color: #012849; }

.directory-item .heading > img { border: 4px solid #007DBC; }

.directory-item .heading .name { color: #007DBC; }

@media (max-width: 767px) { tr.directory-item .heading { background: rgba(0, 125, 188, 0.1); } }

div.directory-item .heading { background: rgba(0, 125, 188, 0.1); }

div.directory-item .btn-bs { border-top: 1px solid #007DBC; }

div.directory-item .btn-bs:hover, div.directory-item .btn-bs:focus, div.directory-item .btn-bs:active { background: #007DBC; }

.directory-item-group .name { font-size: 18px; display: -webkit-box; display: -ms-flexbox; display: flex; }

.directory-item-group .description { max-width: 400px; padding-right: 36px; }

@media (max-width: 767px) { .list-items .card.person .heading { background: rgba(0, 125, 188, 0.1); } }

.list-items .card.person .heading > img { border: 4px solid #007DBC; }

.custom-checkbox .read .icons { stroke: #007DBC; }

.icon-block.has-controls > .heading .title { color: #0E4876; }

.facet-grid--two-col .icon-block.has-controls > .heading .title { color: #0E4876; }

.form-group-controls input[type="radio"]:checked + .toggle.globe { background: #007DBC; box-shadow: 0 0 0 1px #007DBC; }

.form-group-controls input[type="radio"]:checked + .toggle.internal { background: #007DBC; box-shadow: 0 0 0 1px #007DBC; }

.form-group-controls input[type="radio"]:checked + .toggle.private { background: #007DBC; box-shadow: 0 0 0 1px #007DBC; }

.form-group-controls input[type="radio"]:focus + .toggle.globe { box-shadow: 0 0 0 2px white, 0 0 0px 4px #007DBC; }

.form-group-controls input[type="radio"]:focus + .toggle.internal { box-shadow: 0 0 0 2px white, 0 0 0px 4px #007DBC; }

.form-group-controls input[type="radio"]:focus + .toggle.private { box-shadow: 0 0 0 2px white, 0 0 0px 4px #007DBC; }

.message-preview-list .message .message-footer .divider { background: rgba(0, 125, 188, 0.3); }

.quick-links .link-list { width: 100%; }

.quick-links .link-list .edit-block .read:hover, .quick-links .link-list .edit-block .read:focus { padding-left: 12px; border-color: #d0e8f4; }

.quick-links .link-list .edit-block .read:hover .icons, .quick-links .link-list .edit-block .read:focus .icons { color: #007DBC; }

.quick-links .link-list .edit-block .read a, .quick-links .link-list .edit-block .read .slds-text-longform { color: #007DBC; }

.quick-links .icon-link a { width: 94px; height: 94px; border: 2px solid rgba(0, 125, 188, 0.2); }

@media (min-width: 1024px) { .quick-links .icon-link a { width: 104px; height: 104px; } }

.quick-links .icon-link a:hover, .quick-links .icon-link a:focus { border-color: rgba(14, 72, 118, 0.5); }

.quick-links .icon-link .btn-edit-quicklinks { background: #007DBC; }

.quick-links .icon-link .btn-edit-quicklinks:focus, .quick-links .icon-link .btn-edit-quicklinks:hover { background: #0E4876; stroke: white; border-color: transparent; }

.table-default .t-body .t-body-row .c-body { border-bottom: 1px solid rgba(0, 125, 188, 0.1); }

.table-default .t-body .btn-bs:hover, .table-default .t-body .btn-bs:focus, .table-default .t-body .btn-bs:active { background: #007DBC; }

h3.slds-section__title, .title.slds-section__title { color: #007DBC; }

.social-icons.has-bg > a:hover, .social-icons.has-bg > a:focus { box-shadow: 0 1px 3px 0 rgba(14, 39, 70, 0.15), 0 0 0 1px #007DBC; }

.gu-modal .slds-modal__header h2 { color: #007DBC; }

.read-more .read-more { color: #007DBC; }

.cGU360_GridComponent.builder-component:hover { border: 1px dotted #007DBC; }

.gu-profile-item .controls input[type="radio"]:checked + .toggle { background: #007DBC; box-shadow: 0 0 0px 2px #007DBC; color: white; }

.gu-profile-item .controls input[type="radio"]:focus + .toggle { box-shadow: 0 0 0 2px white, 0 0 0px 4px #007DBC; color: white; }

.control-input:hover .slds-input + .input-status .input-edit { color: #007DBC; }

.control-input .slds-input:focus { box-shadow: 0 0 0 1px rgba(0, 125, 188, 0.55); border-color: rgba(0, 125, 188, 0.5); }

.control-input .slds-input.unsaved { box-shadow: 0 0 0 1px rgba(0, 125, 188, 0.55); border-color: rgba(0, 125, 188, 0.5); }

.block.logo { border-top: 1px solid rgba(255, 255, 255, 0.3); border-bottom: 1px solid rgba(255, 255, 255, 0.3); background: rgba(24, 133, 177, 0.5); }

.block .border-end { border-bottom: 2px solid rgba(229, 242, 249, 0.7); }

.txt-block.expandable .more-link { color: #007DBC; }

.collapse-block [type="checkbox"]:checked ~ .heading .btn-collapse { background: #007DBC; border-color: #007DBC; }

.collapse-block [type="checkbox"]:checked ~ .heading .btn-collapse .icon { stroke: white; }

.collapse-block .btn-collapse { border: 1px solid #0E4876; stroke: #0E4876; }

.collapse-block .btn-collapse:hover { border-color: #007DBC; stroke: #007DBC; }

.collapse-block > .heading:before { content: ""; height: 2px; width: 100%; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); background: rgba(0, 125, 188, 0.1); }

.collapse-block > .heading h3 { color: #007DBC; }

@media (max-width: 767px) { .collapse-block > .heading h3 { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: calc(100% - 50px); } }

.icon-block.has-controls > .heading:before { background: rgba(0, 125, 188, 0.1); }

.gu-pill { background: #0E4876; border-color: #0E4876; }

.gu-pill:hover { background: #0E4876; border-color: #0E4876; }

.gu-pill > a { color: white; }

.gu-pill > a:hover, .gu-pill > a:focus, .gu-pill button:hover, .gu-pill button:focus { color: white; text-decoration: none; }

.gu-pill button { color: rgba(255, 255, 255, 0.5); margin-left: 12px; }

.btn-success.active { background-color: #02C88E; color: white; }

.btn-give.active { background-image: url(../img/give-active.svg); }

.btn-give.btn-lg { background-size: 16px; }

.btn-pill { font-weight: 700; }

.btn-pill:hover, .btn-pill:focus { text-decoration: none; }

.btn-pill.btn-default { border: 2px solid rgba(0, 125, 188, 0.2); background: white; color: #007DBC; }

.btn-pill.btn-default:hover { background: #007DBC; color: white; border-color: #007DBC; }

.load-more button { color: #007DBC; border-top: 1px solid #eee; }

.dropdown .dropdown-items { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.15); background: white; border: 1px solid #ddd; }

.dropdown .dropdown-items > a { color: #444; }

.dropdown .dropdown-items > a:hover { background: #eee; }

.dropdown .dropdown-items > a:focus, .dropdown .dropdown-items > a:active, .dropdown .dropdown-items > a.active { background: #007DBC; color: white; }

.dropdown label { stroke: #007DBC; }

.dropdown label > .title { border: 1px solid #ccc; color: #0E4876; }

.dropdown input[type="checkbox"]:checked + label { color: #007DBC; }

.dropdown input[type="checkbox"]:checked + label .title { border-color: #007DBC; }

.dropdown input[type="checkbox"]:focus + label > .title { border-color: #007DBC; }

h5.gu-heading { color: #0E4876; }

h6 { color: #999; }

h6.gu-heading { color: #0E4876; }

.slds-text-heading--medium { color: #0E4876; }

.item-title { color: #0E4876; }

.item-authors { color: #333; }
