@media (max-width: 1023px) { .site-search { background: #007DBC; } }

.site-search .search-filters.dropdown button:focus { background: #005b89; }

.site-search .search-btn:hover, .site-search .search-btn:focus { background: #007DBC; }

body { background: #6B666B !important; }

.gu-header { padding-left: 6px; }

@media (max-width: 1023px) { .gu-header { padding-left: 60px; height: 65px; } }

@media (max-width: 1023px) { .gu-header .dropdown .dropdown-items { min-width: 180px; right: 0; } }

@media (max-width: 767px) { .gu-header .user-nav .dropdown .detail { display: none; } }

@media (max-width: 767px) { .gu-header .user-nav .user-photo { margin-right: 0; } }

h2 { color: #0D5397; }

.slds-form-element__label { color: #0D5397; }

.btn-bs.slds-button--brand { background: #0D5397; color: white; border: 1px solid #0D5397; }

.btn-bs.slds-button--brand:hover, .btn-bs.slds-button--brand:focus, .btn-bs.slds-button--brand:active { background: #007DBC; border: 1px solid #007DBC; }

.btn-bs.slds-button--brand-secondary { background: #007DBC; color: white; border-color: #007DBC; }

.btn-bs.slds-button--brand-secondary:hover, .btn-bs.slds-button--brand-secondary:focus, .btn-bs.slds-button--brand-secondary:active { background: #005b89; }

.btn-bs.slds-button--neutral { background: white; border: 1px solid #007DBC; color: #007DBC; }

.btn-bs.slds-button--neutral.btn-wired { background-color: transparent; color: white; border-color: white; }

.btn-bs.slds-button--neutral.btn-wired:hover, .btn-bs.slds-button--neutral.btn-wired:focus, .btn-bs.slds-button--neutral.btn-wired:active { color: #007DBC; background-color: white; }

.btn-bs.slds-button--neutral.muted { border-color: #eee; color: #999; }

.btn-bs.slds-button--neutral:hover, .btn-bs.slds-button--neutral:focus, .btn-bs.slds-button--neutral:active { background: #eee; }

.btn-bs.btn-default-lt { background: white; border: 2px solid #eee; color: #aaa; }

.btn-bs.btn-default-lt:hover, .btn-bs.btn-default-lt:active, .btn-bs.btn-default-lt:focus, .btn-bs.btn-default-lt.active { border-color: #007DBC; color: #999; }

.btn-bs.btn-round { border: 1px solid #007DBC; stroke: currentColor; }

.btn-bs.btn-round:hover, .btn-bs.btn-round:focus, .btn-bs.btn-round.active { background: #007DBC; stroke: white; }

.btn-add:hover { border-color: #0D5397; stroke: #0D5397; }

.btn-next { font-size: 16px; stroke: #007DBC; }

.btn-next .icon { border: 2px solid rgba(0, 125, 188, 0.2); }

.btn-next:hover .icon { border-color: #007DBC; }

.btn-action.btn-save { color: #7ab042; }

.btn-action.btn-remove { color: rgba(217, 83, 79, 0.7); }

.btn-action.btn-remove:hover { color: #d9534f; }

.btn-action.btn-cancel { color: #999; }

.page-content { padding: 24px 24px 0 24px; }

@media (min-width: 1025px) { .page-content { padding-top: 12px; padding-left: 0; } }

.page-content .dropdown.dropdown-default .title { background-color: #FBFBFB; color: #007DBC; box-shadow: 0 2px 0 0 #E4E4E4; }

.max-container { height: 100%; position: relative; }

@media (max-width: 1024px) { .page-header { padding: 0; } }

@media (min-width: 1025px) { .page-header { color: white; padding: 0 24px; } }

.page-header.has-controls .controls > .title { font-weight: 600; font-size: 14px; }

@media (min-width: 768px) { .page-header.has-controls .controls > .title { color: white; } }

.page-header.has-controls .controls > .title .page-section.has-controls .controls > .title { color: white; display: block; font-weight: 600; }

@media (min-width: 1024px) { .page-header.has-controls .controls > .title.has-controls .controls .title { color: white; } }

.page-header.has-controls .controls > .title.page-section.has-controls .controls { min-width: 330px; }

@media (max-width: 767px) { .page-header.has-controls .controls > .title.page-section.has-controls .controls { min-width: 0; } }

.page-header.has-controls .controls > .title.page-section.has-controls .controls > .title { display: none; }

@media (min-width: 1024px) { .page-header.has-controls .controls > .title.page-section.has-controls .controls > .title { color: white; display: block; font-weight: 600; } }

.page-header .icon.lg { -webkit-filter: drop-shadow(1px 0 2px #093968); -moz-filter: drop-shadow(1px 0 2px #093968); -ms-filter: drop-shadow(1px 0 2px #093968); filter: drop-shadow(1px 0 2px #093968); }

.page-header p { max-width: 800px; }

.page-header.page-section.has-controls .controls > .title { display: block; }

@media (max-width: 767px) { .page-header.page-section.has-controls .controls > .title { margin-bottom: 5px; } }

@media (min-width: 1024px) { .page-header.page-section.has-controls .controls > .title { display: block; } }

.page-header.page-section.has-controls .profile-header .controls { min-width: 0; }

@media (min-width: 1025px) { .card-content.box { margin-left: 24px; margin-right: 24px; } }

@media (max-width: 1024px) { .card-content.box { border-top-left-radius: 0; border-top-right-radius: 0; border-top: 0; } }

.card-content.box > .name { padding-top: 36px; padding-left: 36px; }

.box { margin-bottom: 24px; border: 1px solid #eee; border-radius: 15px; }

.content-wrapper { min-height: calc(100% - 90px); }

.list-row .label-card .icon { color: #007DBC; }

@media (min-width: 768px) { .sidebar { width: 300px; min-width: 300px; } }

.sidebar.left hr { background-color: rgba(255, 255, 255, 0.2); }

.sidebar .program-logo { position: relative; z-index: 5; text-align: center; padding: 12px 24px 0 24px; }

.sidebar .program-logo h3 { border-top: 1px solid rgba(255, 255, 255, 0.5); border-bottom: 1px solid rgba(255, 255, 255, 0.5); padding: 6px 0; }

.sidebar .program-information { margin-top: auto; }

.sidebar-nav { background: none; }

.sidebar-nav.alt > a.active { color: #007DBC; }

.sidebar-nav > a { padding: 12px 24px; margin: 6px 0; color: white; }

.sidebar-nav > a:hover, .sidebar-nav > a:focus, .sidebar-nav > a:active { color: white; background: rgba(255, 255, 255, 0.3); }

.sidebar-nav > a.active { border-left-color: #0D5397; background: #0D5397; color: white; }

.sidebar-heading { min-height: 390px; }

.sidebar-heading:before { position: absolute; left: 0; content: ""; background-image: url("../img/alumni-header.svg"); background-repeat: no-repeat; background-size: 100%; background-position: center bottom; width: 100%; height: 390px; z-index: 2; top: 0; }

.sidebar-heading:after { position: absolute; right: 0; content: ""; width: 100%; background-image: -webkit-linear-gradient(top, #0B437C 50%, #185490 60%); background-image: linear-gradient(180deg, #0B437C 50%, #185490 60%); max-height: 390px; height: 100%; top: 0; z-index: 1; }

.sidebar-heading .brand-logo { padding-top: 75px; text-align: center; }

.mobile-nav { background-color: #6B666B; }

.mobile-nav a.icon-link { color: white; border-color: rgba(255, 255, 255, 0.3); }

.mobile-nav a.icon-link:hover, .mobile-nav a.icon-link:focus, .mobile-nav a.icon-link:active { color: white; background: rgba(255, 255, 255, 0.3); text-decoration: none; }

.mobile-nav a.icon-link.active { background: #0D5397; color: white; }

.directory-item .heading > img { border: 4px solid #007DBC; }

.directory-item .heading .name { color: #007DBC; }

@media (max-width: 767px) { tr.directory-item .heading { background: rgba(0, 125, 188, 0.1); } }

div.directory-item .heading { background: rgba(0, 125, 188, 0.1); }

div.directory-item .btn-bs { border-top: 1px solid #007DBC; }

div.directory-item .btn-bs:hover, div.directory-item .btn-bs:focus, div.directory-item .btn-bs:active { background: #007DBC; }

.directory-item-group .name { font-size: 18px; display: -webkit-box; display: -ms-flexbox; display: flex; }

.directory-item-group .description { max-width: 400px; padding-right: 36px; }

@media (max-width: 767px) { .list-items .card.person .heading { background: rgba(0, 125, 188, 0.1); } }

.list-items .card.person .heading > img { border: 4px solid #007DBC; }

.custom-checkbox .read .icons { stroke: #007DBC; }

.form-group-controls input[type="radio"]:checked + .toggle.globe { background: #007DBC; box-shadow: 0 0 0 1px #007DBC; }

.form-group-controls input[type="radio"]:checked + .toggle.internal { background: #007DBC; box-shadow: 0 0 0 1px #007DBC; }

.form-group-controls input[type="radio"]:checked + .toggle.private { background: #007DBC; box-shadow: 0 0 0 1px #007DBC; }

.form-group-controls input[type="radio"]:focus + .toggle.globe { box-shadow: 0 0 0 2px white, 0 0 0px 4px #007DBC; }

.form-group-controls input[type="radio"]:focus + .toggle.internal { box-shadow: 0 0 0 2px white, 0 0 0px 4px #007DBC; }

.form-group-controls input[type="radio"]:focus + .toggle.private { box-shadow: 0 0 0 2px white, 0 0 0px 4px #007DBC; }

.message-preview-list .message .message-footer .divider { background: rgba(0, 125, 188, 0.3); }

.page-header .quick-links { min-height: 200px; }

.quick-links .link-list { min-width: 300px; }

@media (max-width: 1024px) { .quick-links .link-list { margin: 24px 0; } }

@media (min-width: 1025px) { .quick-links .link-list { margin-left: auto; padding-left: 24px; margin-top: -24px; } }

.quick-links .link-list .icon-block { margin: 0; }

.quick-links .link-list .icon-block .heading > .title { color: white; background: none; font-size: 24px; }

.quick-links .link-list .icon-block.has-controls > .heading .controls { color: white; background: none; border-radius: 15px; border: 2px solid transparent; }

.quick-links .link-list .icon-block.has-controls > .heading .controls:hover { border-color: white; }

@media (max-width: 1024px) { .quick-links .link-list .icon-block.has-controls > .heading .title, .quick-links .link-list .icon-block.has-controls > .heading .controls { color: #007DBC; background: white; } }

.quick-links .link-list .edit-block .read:hover, .quick-links .link-list .edit-block .read:focus { background: none; box-shadow: none; padding-left: 12px; }

@media (min-width: 1025px) { .quick-links .link-list .edit-block .read:hover, .quick-links .link-list .edit-block .read:focus { border-color: white; } }

@media (min-width: 1025px) { .quick-links .link-list .edit-block .read:hover .icons, .quick-links .link-list .edit-block .read:focus .icons { color: white; } }

@media (min-width: 1025px) { .quick-links .link-list .edit-block .read a, .quick-links .link-list .edit-block .read .slds-text-longform { color: white; } }

.quick-links .icon-link a { width: 90px; height: 90px; border-width: 1px; border-color: #137add; background: #538cb9; border: 1px solid rgba(255, 255, 255, 0.5); }

@media (max-width: 1023px) { .quick-links .icon-link a { width: 75px; height: 75px; } }

.quick-links .icon-link a:hover, .quick-links .icon-link a:focus { border-color: white; box-shadow: inset 0 0px 1px white; background: #77a4c8; -webkit-transition: all 0.15s; transition: all 0.15s; -webkit-filter: drop-shadow(1px 1px 3px rgba(13, 83, 151, 0.3)); -moz-filter: drop-shadow(1px 1px 3px rgba(13, 83, 151, 0.3)); -ms-filter: drop-shadow(1px 1px 3px rgba(13, 83, 151, 0.3)); filter: drop-shadow(1px 1px 3px rgba(13, 83, 151, 0.3)); }

.quick-links .icon-link .btn-edit-quicklinks { background: #6598c0; }

.quick-links .icon-link .btn-edit-quicklinks span, .quick-links .icon-link .btn-edit-quicklinks .icon { -webkit-filter: drop-shadow(1px 1px 1px rgba(13, 83, 151, 0.5)); -moz-filter: drop-shadow(1px 1px 1px rgba(13, 83, 151, 0.5)); -ms-filter: drop-shadow(1px 1px 1px rgba(13, 83, 151, 0.5)); filter: drop-shadow(1px 1px 1px rgba(13, 83, 151, 0.5)); margin-right: 0; }

.quick-links .icon-link .btn-edit-quicklinks:hover, .quick-links .icon-link .btn-edit-quicklinks:focus { border-color: white; box-shadow: inset 0 0px 1px white; background: #77a4c8; -webkit-transition: all 0.15s; transition: all 0.15s; }

.quick-links .icon-link img { -webkit-filter: drop-shadow(1px 1px 1px rgba(13, 83, 151, 0.5)); -moz-filter: drop-shadow(1px 1px 1px rgba(13, 83, 151, 0.5)); -ms-filter: drop-shadow(1px 1px 1px rgba(13, 83, 151, 0.5)); filter: drop-shadow(1px 1px 1px rgba(13, 83, 151, 0.5)); }

.table-default .t-body .t-body-row .c-body { border-bottom: 1px solid rgba(0, 125, 188, 0.1); }

.table-default .t-body .btn-bs:hover, .table-default .t-body .btn-bs:focus, .table-default .t-body .btn-bs:active { background: #007DBC; }

h3.slds-section__title, .title.slds-section__title { color: #007DBC; }

.social-icons.has-bg > a:hover, .social-icons.has-bg > a:focus { box-shadow: 0 1px 3px 0 rgba(14, 39, 70, 0.15), 0 0 0 1px #007DBC; }

.gu-modal .slds-modal__header h2 { color: #007DBC; }

.read-more .read-more { color: #007DBC; }

.cGU360_GridComponent.builder-component:hover { border: 1px dotted #007DBC; }

.gu-profile-item .controls input[type="radio"]:checked + .toggle { background: #007DBC; box-shadow: 0 0 0px 2px #007DBC; color: white; }

.gu-profile-item .controls input[type="radio"]:focus + .toggle { box-shadow: 0 0 0 2px white, 0 0 0px 4px #007DBC; color: white; }

.control-input:hover .slds-input + .input-status .input-edit { color: #007DBC; }

.control-input .slds-input:focus { box-shadow: 0 0 0 1px rgba(0, 125, 188, 0.55); border-color: rgba(0, 125, 188, 0.5); }

.control-input .slds-input.unsaved { box-shadow: 0 0 0 1px rgba(0, 125, 188, 0.55); border-color: rgba(0, 125, 188, 0.5); }

.profile-header { position: relative; min-height: 140px; padding-top: 25px; }

@media (max-width: 1024px) { .profile-header { padding-left: 25px; padding-right: 25px; } }

@media (min-width: 1025px) { .profile-header > div { min-width: inherit; } }

.profile-header .user-photo { box-shadow: 0 0 0 1px #EEF8FF, 0 -1px 0 5px #EEF8FF, 0 6px 0 0 #ddd; }

@media (max-width: 1199px) { .profile-header .user-photo { margin: 0 auto 20px auto; } }

.profile-header .user-photo .name { top: -70px; }

.profile-header .user-photo .name-block { width: 100%; }

@media (min-width: 1025px) { .profile-header .profile-change { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; padding-bottom: 36px; }
  .profile-header .profile-change p { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
  .profile-header .profile-change .slds-button { margin-left: 48px; } }

@media (max-width: 1024px) { .profile-header .profile-change .slds-button { margin-top: 24px; } }

@media (max-width: 1024px) { .profile-view .profile-header .slds-grid .slds-col:last-child { -webkit-box-ordinal-group: -1; -ms-flex-order: -2; order: -2; }
  .profile-view .profile-header .slds-grid .slds-col:last-child .social-icons.is-end { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }

.profile-view + .card-group { border-top-left-radius: 0; border-top-right-radius: 0; }

.profile-edit + .card-group { border-top-left-radius: 0; border-top-right-radius: 0; }

@media (min-width: 1025px) { .profile-edit .profile-summary { padding-left: 235px; } }

@media (min-width: 1025px) { .profile-edit .profile-header { padding-left: 235px; padding-right: 48px; } }

.profile-edit .photo-block { position: absolute; left: 24px; top: -70px; }

@media (max-width: 1024px) { .profile-edit .photo-block { position: static; margin-bottom: 24px; } }

.profile-edit .photo-block .btn-bs { width: 100%; margin-top: 12px; }

.profile-summary { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media (min-width: 1025px) { .profile-summary { padding-left: 235px; } }

.profile-summary .summary-content { width: 100%; }

@media (min-width: 1025px) { .profile-summary .summary-content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

.profile-summary .view-profile-btn { background-color: #82B956; border-color: #82B956; color: white; padding-left: 36px; padding-right: 36px; }

.profile-summary .view-profile-btn:hover, .profile-summary .view-profile-btn:focus { background-color: #699c40; border-color: #699c40; }

.profile-summary .view-profile-btn svg { width: 16px; height: 16px; fill: currentColor; margin-right: 12px; }

@media (min-width: 1025px) { .profile-summary .view-profile-btn { margin-left: auto; } }

@media (max-width: 1024px) { .profile-summary .view-profile-btn { margin-bottom: 24px; } }

@media (max-width: 1024px) { .profile-summary .name { padding-left: 0; padding-bottom: 0; } }

@media (min-width: 1025px) { .profile-summary .batch-year { color: rgba(255, 255, 255, 0.6); } }

.grid-controls { background: white; border-top-left-radius: 15px; border-top-right-radius: 15px; }

@media (min-width: 768px) { .grid-controls { padding: 24px; } }

.grid-filters { background: white; }

@media (min-width: 768px) { .grid-filters { padding-left: 24px; padding-right: 24px; } }

@media (min-width: 768px) { .grid-content { padding: 0 24px; } }

.block.logo { border-top: 1px solid rgba(255, 255, 255, 0.3); border-bottom: 1px solid rgba(255, 255, 255, 0.3); background: rgba(24, 133, 177, 0.5); }

.block .border-end { border-bottom: 2px solid rgba(170, 211, 237, 0.7); }

.txt-block.expandable .more-link { color: #007DBC; }

.btn-success { border-color: #82B956; color: #82B956; padding: 6px 24px; }

.btn-success:hover, .btn-success:focus { background-color: #699c40; border-color: #699c40; color: white; }

.btn-success .icon { margin-left: 12px; stroke: currentColor; }

.btn-success svg { width: 16px; height: 16px; min-width: 16px; min-height: 16px; }

.btn-success.active { background-color: #82B956; color: white; }

.btn-give { background-image: url(../img/give.svg); background-position: right 20px center; background-repeat: no-repeat; padding-right: 45px; background-size: 14px; }

.btn-give:hover, .btn-give:focus { background-image: url(../img/give-active.svg); }

.btn-give.active { background-image: url(../img/give-active.svg); }

.btn-give.btn-lg { background-size: 16px; }

.btn-pill { font-weight: 700; }

.btn-pill:hover, .btn-pill:focus { text-decoration: none; }

.btn-pill.btn-default { border: 2px solid rgba(0, 125, 188, 0.2); background: white; color: #007DBC; }

.btn-pill.btn-default:hover { background: #007DBC; color: white; border-color: #007DBC; }

.load-more button { color: #007DBC; border-top: 1px solid #eee; }

.dropdown .dropdown-items { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.15); background: white; border: 1px solid #ddd; }

.dropdown .dropdown-items > a { color: #444; }

.dropdown .dropdown-items > a:hover { background: #eee; }

.dropdown .dropdown-items > a:focus, .dropdown .dropdown-items > a:active, .dropdown .dropdown-items > a.active { background: #007DBC; color: white; }

.dropdown label { stroke: #007DBC; }

.dropdown label > .title { border: 1px solid #ccc; color: #0D5397; border: 1px solid #007DBC; color: #007DBC; font-weight: 600; height: 34px; }

.dropdown input[type="checkbox"]:checked + label { color: #007DBC; }

.dropdown input[type="checkbox"]:checked + label .title { border-color: #007DBC; }

.dropdown input[type="checkbox"]:focus + label > .title { border-color: #007DBC; }

.card-content { padding-bottom: 48px; }

.card-group { border-radius: 15px; }

@media (max-width: 1024px) { .card-group { border: 1px solid #eee; margin-top: 24px; } }

.card { background: white; border-radius: 15px; }

@media (max-width: 767px) { .card .card-title.has-controls .controls .dropdown, .card .card-title.has-controls .controls > .title { margin-top: 12px; -webkit-box-flex: 1; -ms-flex: auto; flex: auto; } }

@media (max-width: 767px) { .card .card-title.has-controls .controls .btn-bs { -ms-flex-preferred-size: 100%; flex-basis: 100%; margin-left: 0; margin-top: 12px; } }

.card .card-title h2 { font-weight: 700; font-size: 22px; color: #0D5397; }

h5.gu-heading { color: #0D5397; }

h6 { color: #999; }

h6.gu-heading { color: #0D5397; }

.slds-text-heading--medium { color: #0D5397; }

.item-title { color: #0D5397; }

.item-authors { color: #333; }

.dropdown.profile-subnav { background: none; }

.dropdown.profile-subnav > label .title { background: #007DBC; border: 0; height: 40px; padding-left: 24px; color: white; }

.dropdown.profile-subnav > label > .icon { right: 24px; stroke: white; }

.dropdown.profile-subnav > label > .icon svg { width: 12px; height: 12px; }

.dropdown.profile-subnav input[type="checkbox"]:checked + label .title { border-radius: 4px 4px 0 0; }

.dropdown.profile-subnav .dropdown-items { background: white; border-radius: 0 0 4px 4px; border: 0; top: 35px; box-shadow: -1px 11px 15px 0px rgba(0, 0, 0, 0.5); }

.dropdown.profile-subnav .dropdown-items > a:last-of-type { border-radius: 0 0 4px 4px; }

.giving-table .field-label { margin-right: 0; }

.giving-table .table-row-item { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; padding: 12px; }

.giving-table .table-row-item:nth-of-type(1) { font-weight: 600; }

@media (min-width: 768px) { .giving-table .table-row-item:nth-of-type(1) { width: 35%; } }

@media (min-width: 768px) { .giving-table .table-row-item:nth-of-type(2) { width: 15%; } }

@media (min-width: 768px) { .giving-table .table-row-item:nth-of-type(3) { width: 15%; } }

@media (min-width: 768px) { .giving-table .table-row-item:nth-of-type(4) { width: 15%; } }

@media (min-width: 768px) { .giving-table .table-row-item:nth-of-type(5) { width: 20%; } }

.giving-hero { background-repeat: no-repeat; background-size: cover; padding: 2px; border: 2px solid white; box-shadow: 0 0 0 1px #007DBC; border-radius: 8px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; color: white; position: relative; }

@media (min-width: 1025px) { .giving-hero { min-height: 300px; } }

.giving-hero .progress-bar--horizontal { margin: 0 auto; width: 90%; position: absolute; bottom: -24px; background: #F1EFED; box-shadow: 0 10px 60px -19px rgba(0, 0, 0, 0.8); }

.giving-hero .title, .giving-hero .subtitle { line-height: 1.2; }

.giving-hero .title { font-size: 48px; font-weight: 700; text-shadow: 0 0 1px rgba(0, 0, 0, 0.3); -webkit-filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.6)); -moz-filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.6)); -ms-filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.6)); filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.6)); }

.giving-hero .subtitle { -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5)); -moz-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5)); -ms-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5)); filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5)); font-size: 30px; }

@media (min-width: 768px) { .giving-card.lg .detail { padding-left: 24px; } }

.membership-card.lg .title, .membership-card.lg .status { color: #58656E; }

.membership-card.lg .membership-photo { width: 70px; height: 70px; min-width: 70px; min-height: 70px; border-radius: 50%; background-size: cover; border: 1px solid #AAD3ED; }
