//- Colors
$blue:                      #007DBC;
$blue-lt:                   #E5F2F9;
$blue-dk:                   #0E4876;
$blue-dk2:                  #012849;

$green:                     #02C88E;
$red:                       #BC4339;

$gray-lt:                   #eee;
$gray:                      #ddd;
$gray-md:                   #999;
$gray-dk:                   #333;

$tan:                       #E7E4E2;

$brand-primary:             $blue;
$brand-gray:                #64727B;

$success:                   #93C461;
$info:                      #5bc0de;
$warning:                   #f0ad4e;
$danger:                    #d9534f;

$color: (
  faculty: (
  	background: #fff,
  	text: (
  		base: #555,
  		light: #ddd,
  		medium:#999,
  		dark:#333
  	),
    primary: (
      base: #007DBC,
      light: #E5F2F9,
      dark: #0E4876,
      darker: #012849,
    )
  ),
  student: (
  	background: #fff,
  	text: (
  		base: #555,
  		light: #ddd,
  		medium:#999,
  		dark:#333
  	),
    primary: (
      base: #007DBC,
      light: #6BA4CD,
      dark: #0A427A,
      darker: #012849,
    )
  )
);


//-- Document colors
$body-bg:                   white;
$text-dark:                 #012849;
$text-color:                #58656E;
$text-medium:               $gray-md;
$text-light:                #aaa;
$link-color:                #007DBC;
$link-active:               #0E4876;
$border-default:            $gray;
$border-lt:                 $gray-lt;


//-- Layout colors
$header-color-stop1:        #1885B1;
$header-color-stop2:        $blue-dk;
$footer-bg:                 #004892;
$footer-color:              rgba(white,0.6);
$footer-border:             transparent;


//-- Forms
$input-touch-color:         #222;
$input-touch-color-active:  $blue;
$input-focus-border:        #007DBC;

//-- Edit Block
$edit-block-bg:             #EEF8FF;
$edit-block-bg-hover:       #EEF8FF;
$edit-block-border:         #D4E7F5;
$edit-block-shadow-hover:   inset 0 0 2px #D4E7F5;

//-- Media
$photo-border:              0 0 0 4px white, 0 0 0 21px #CFECFF;
$photo-border-sm:           0 0 0 3px white, 0 0 0 4px $blue-dk;
