.slds-hide {
	display:none !important;
}
.hidden-xs,.hidden-sm,.hidden-md,.hidden-lg {
	display:block;
}
.hidden-xs {
	@media (max-width:$screen-xs) {
		display:none;
	}
}
.hidden-sm {
	@media (max-width:$screen-sm) and (min-width:$screen-xs + 1px) {
		display:none;
	}
}
.visible-xs,.visible-sm,.visible-md,.visible-lg {
	display:none;
}
.visible-xs {
	@media (max-width:$screen-xs) {
		display:block;
	}
}
.visible-sm {
	@media (max-width:$screen-sm) and (min-width:$screen-xs + 1px) {
		display:block;
	}
}

.full-width {
	width:100%;
}
