html {
	position:relative;
	min-height:100%;
}

body {
	@include font-smoothing;
	margin:0;
	color:$text-color;
	min-height:100vh;
	display:flex;
	flex-direction:column;
	font-size:14px;
	font-family:$font-regular;
}

a {
	cursor:pointer;
	transition:all 0.15s ease;
	text-decoration:none;
	&:hover,&:focus,&:active {
		text-decoration:underline;
		color:darken($brand-primary,10%);
	}
}

hr {
	height:2px;
	padding:0;
	margin:$gap 0;
	background-color:rgba($blue-lt,0.7);
	border:0;
}
