h1 {
	font-size:32px;
	@include font-semibold;
}
h2 {
	font-size:24px;
	@include font-semibold;
}
h3 {
	font-size:20px;
	@include font-semibold;
}
h4 {
	font-size:18px;
	@include font-semibold;
}
h5 {
	font-size:16px;
	@include font-semibold;
}
h6 {
	font-size:14px;
	@include font-semibold;
	text-transform:uppercase;
}

strong {
	@include font-semibold;
}

label {
	font-weight:$weight-semibold;
	color:#777;
}

.underline {
	text-decoration:underline
}

.txt-italic {
	font-style:italic;
}

.txt-reset {
	font-weight:normal;
	line-height:1;
}

.txt-uppercase {
	text-transform:uppercase;
}

.txt-small {
	font-size:85%;
}

.txt-date {
	color:rgba($text-color,0.7);
	font-size: 95%;
	font-style: italic;
	line-height: 1.2;
	margin-bottom: 5px;
}

.highlight {
	@include font-semibold;
	display:inline-block;
	background:rgba(yellow,0.4);
}

.txt-intro {
	font-size:16px;
	padding-bottom:$gap;
}

.txt-lg {
	font-size:22px;
}

.txt-gray {
	color:$text-medium;
}

.brand-error {
	color:$danger;
}

h3.slds-section__title, .title.slds-section__title {
	font-size:20px;
	@include font-regular;
	//color:$blue;
}

.slds-text-heading--medium {
	@include font-semibold;
	font-size:16px;
}

.slds-text-body--medium {
	line-height:1.2;
	font-size:18px;
}

.item-title {
	@include font-semibold;
	font-size:16px;
}

.field-label {
	display:block;
	margin-bottom:$gap-xs;
	color:$red;
	font-size:20px;
	line-height:1.2;
}

// Get rid of the FOUT with typekit fonts
.wf-loading {
	transition:all 0.15s;
	opacity:0;
	.page {

		visibility:hidden;
	}
}

.wf-active,.wf-inactive {
	transition:all 0.15s;
	opacity:1;
	.page {
		visibility:visible;
	}
}


.slds-list--dotted.bordered {
	list-style:none;
	> li {
		position:relative;
		&:before {
			content:"";
			width:6px;
			height:6px;
			display:block;
			position:absolute;
			background:$blue-dk;
			border-radius:50%;
			left:-15px;
			top:8px;
		}
	}
}
