mixin teaching-row(teaching_title, teaching_year, teaching_semester, teaching_professors, teaching_ta)
  tr.t-body-row
    td.c-body.title(data-label="Title")
      a(href="faculty-class-detail.html")= teaching_title
    td.c-body(data-label="Year")= teaching_year
    td.c-body(data-label="Semester")= teaching_semester
    td.c-body(data-label="Other Professors")= teaching_professors
    td.c-body(data-label="TA")= teaching_ta
