<apex:page sidebar="false" standardController="Account">
    
    <apex:pageBlock title="Account Summary">
        <apex:pageBlockSection >
        	
           <!-- Name: {! Account.Name } <br/>
			Phone: {! Account.Phone } <br/>
			Industry: {! Account.Industry } <br/>
			Revenue: {! Account.AnnualRevenue } <br/>

            -->
          <!--  <apex:detail relatedList="false" />
            <apex:relatedList list="Contacts"/>
            <apex:relatedList list="Opportunities"/>-->
            <apex:outputField value="{!Account.name}"/>
            <apex:outputField value="{!Account.phone}"/>
            <apex:outputField value="{!Account.AnnualRevenue}"/>

        </apex:pageBlockSection>
    </apex:pageBlock>
    
    <apex:pageBlock title="Contacts">
        <apex:pageBlockTable value="{!Account.Contacts}" var="Contact">
            <apex:column value="{!Contact.name}"/>
            <apex:column value="{!Contact.Phone}"/>
            
        
        </apex:pageBlockTable>
    
    </apex:pageBlock>
    
</apex:page>