<apex:page standardController="Contact">
    <apex:form >
        <apex:pageBlock title="Contact Details">
            <apex:pageBlockSection >
                <apex:inputField value="{!Contact.firstName}"/>
        		<apex:inputField value="{!Contact.lastName}"/>
    			<apex:inputField value="{!Contact.email}"/>
            </apex:pageBlockSection>       
            <apex:pageBlockSection >
                <apex:commandButton action="{!save}" value="save"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
        
        
        
        
    </apex:form>
</apex:page>