<apex:page sidebar="false">
    <script>
    	function displayDate(){
            //alert(new Date());
            //document.getElementById('displayCurrentDate').val(new Date());
            document.getElementById('displayCurrentDate').innerHTML = new Date();
        }
    	function displaySum(){
            //alert('1');
            document.getElementById('displaySum').innerHTML = 5+6 +"<br>"+ "It was the sum of 5 and 6";
        }
    function displayArrayValues(){
        	var car = ["Alto", "Xylo", "Swift"];
        	document.getElementById('displayArrayValues').innerHTML=  car[0] + " " + car[1] + " " + car[2];
		    
    }
    function displayEmployeeValues(){
        var employee = {firstName: 'Gaurav'
                       , lastName: 'Sharma'
                       , Company: 'Appirio'};
        
        
    }
        
    
    </script>
   <!-- <h1>
        Hello World
    </h1> -->
 <apex:form >
   <apex:pageBlock title="A Block Title">
       <apex:pageBlockSection title="A section title">
           There we go inside three components deep {! $User.FirstName & ' ' & $User.LastName }. 
       	   Today's date is <!--{!TODAY()}--> 
           <p id="displayCurrentDate">{!TODAY()}</p>
           <p id="displaySum"> It will be sum of two numbers</p>
           <p id="displayArrayValues">
               Array values will be printed here
           </p>
           <p id="displayObjectValues">
               And here will the Employee details
           </p>
       </apex:pageBlockSection>
    </apex:pageBlock>
    <apex:pageBlock title="Second Block">
       <apex:pageBlockSection >
           <!--And this is another page Block section parallel to upper one -->
           <apex:commandButton onclick="displayDate(); return false;" value="Check Date"/>
       </apex:pageBlockSection>
        <apex:pageBlockSection >
           <apex:commandButton onclick="displaySum(); return false;" value="Check Sum"/>
        </apex:pageBlockSection>
        <apex:pageBlockSection >
           <apex:commandButton onclick="displayArrayValues(); return false;" value="Check Array values"/>
       </apex:pageBlockSection>
        <apex:pageBlockSection >
            <apex:commandButton onclick="displayEmployeeValues(); return flase;" value="Check Object values"/>
        </apex:pageBlockSection>
    </apex:pageBlock>
  </apex:form>
</apex:page>