<apex:page standardController="Account" extensions="RetrieveContactsofAccounts" >
    <apex:form rendered="true">
        
        <apex:pageBlock title="Edit Account">

            <apex:pageBlockSection columns="2">
                <apex:inputField value="{!Account.Name}"/>
                <!--<apex:inputField value="{!Contact.LastName}"/>
                <apex:inputField value="{!Contact.Email}"/>
                <apex:inputField value="{!Contact.MobilePhone}"/>
                <apex:inputField value="{!Contact.Accountid}"/>
				-->            
                
                
			</apex:pageBlockSection>
            
            <apex:pageBlock title="Contacts">
   				<apex:pageBlockTable value="{!Account.contacts}" var="contact">
      				<apex:column value="{!contact.Name}"/>
      				<apex:column value="{!contact.Title}"/>
      				<apex:column value="{!contact.Phone}"/>
   				</apex:pageBlockTable>
			</apex:pageBlock>
            
			
            <apex:pageBlockButtons >
                <apex:commandButton action="{!save}" value="Save"/>
                <apex:commandButton action="{!Increment}" value="Increment"/>
            </apex:pageBlockButtons>

        </apex:pageBlock>
        
    </apex:form>
</apex:page>