+modal-default("gu-quicklink-selection", "GU Quick Link settings")
  .slds-modal__content.slds-p-around--large
    fieldset.checks-horizontal.slds-m-top--medium
      div.slds-assistive-text Select the quick links you'd like to display on the dashboard
      .slds-grid.slds-wrap.slds-grid--pull-padded
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--4-of-12
          +checkbox("slds-m-bottom--x-small", "show-gms", "selected-gu-quicklinks", "GMS", "GMS")(disabled="disabled", checked="checked")
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--4-of-12
          +checkbox("slds-m-bottom--x-small", "show-appointment-system", "selected-gu-quicklinks", "Appointment System", "Appointment System")(checked="checked")
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--4-of-12
          +checkbox("slds-m-bottom--x-small", "show-canvas", "selected-gu-quicklinks", "Canvas", "Canvas")(checked="checked")
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--4-of-12
          +checkbox("slds-m-bottom--x-small", "show-blackboard", "selected-gu-quicklinks", "Blackboard", "Blackboard")(disabled="disabled", checked="checked")
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--4-of-12
          +checkbox("slds-m-bottom--x-small", "show-student-handbook", "selected-gu-quicklinks", "Student Handbook", "Student Handbook")(checked="checked")

        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--4-of-12
          +checkbox("slds-m-bottom--x-small", "show-gms", "selected-gu-quicklinks", "GMS", "GMS")(checked="checked")
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--4-of-12
          +checkbox("slds-m-bottom--x-small", "show-appointment-system", "selected-gu-quicklinks", "Appointment System", "Appointment System")(disabled="disabled", checked="checked")
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--4-of-12
          +checkbox("slds-m-bottom--x-small", "show-canvas", "selected-gu-quicklinks", "Canvas", "Canvas")(checked="checked")
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--4-of-12
          +checkbox("slds-m-bottom--x-small", "show-blackboard", "selected-gu-quicklinks", "Blackboard", "Blackboard")(checked="checked")
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--4-of-12
          +checkbox("slds-m-bottom--x-small", "show-student-handbook", "selected-gu-quicklinks", "Student Handbook", "Student Handbook")(checked="checked")

        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--4-of-12
          +checkbox("slds-m-bottom--x-small", "show-gms", "selected-gu-quicklinks", "GMS", "GMS")(checked="checked")
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--4-of-12
          +checkbox("slds-m-bottom--x-small", "show-appointment-system", "selected-gu-quicklinks", "Appointment System", "Appointment System")(checked="checked")
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--4-of-12
          +checkbox("slds-m-bottom--x-small", "show-canvas", "selected-gu-quicklinks", "Canvas", "Canvas")(checked="checked")
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--4-of-12
          +checkbox("slds-m-bottom--x-small", "show-blackboard", "selected-gu-quicklinks", "Blackboard", "Blackboard")(checked="checked")
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--4-of-12
          +checkbox("slds-m-bottom--x-small", "show-student-handbook", "selected-gu-quicklinks", "Student Handbook", "Student Handbook")(checked="checked")
    hr
    .slds-modal__footer
      button.btn-bs.slds-button.slds-button--neutral.btn-close-modal Cancel
      button.btn-bs.slds-button.slds-button--brand Update

script.
  $('.btn-edit-quicklinks').click(function () {
    $("[aria-labelledby='gu-quicklink-selection']").addClass('slds-fade-in-open');
    $("[aria-labelledby='gu-quicklink-selection'] + .slds-backdrop").addClass('slds-backdrop--open');
  });
