block variables
  include ../../../modules/input-edit.pug
  - var portalName = "student"
  block PrimaryNavigation
    - var PrimaryNavItems = [{'url':'directory-faculty','title':'Faculty Directory', 'img':'nav-student','key':'directory-faculty'}];
  block SecondaryNavigation
    - var SecondaryNavItems = [{'url':'dashboard','title':'Dashboard', 'img':'nav-student','key':'dashboard'},{'url':'academic-information','title':'Academic Information', 'img':'nav-student','key':'academic-information'},{'url':'financial-information','title':'Financial Information', 'img':'nav-student','key':'financial-information'},{'url':'calendar','title':'Calendar', 'img':'nav-student','key':'calendar'},{'url':'campus-care','title':'Campus Care', 'img':'nav-student','key':'campus-care'},{'url':'campus-life','title':'Campus Life', 'img':'nav-student','key':'campus-life'},{'url':'navigating-georgetown','title':'Navigating Georgetown', 'img':'nav-student','key':'navigating-georgetown'},{'url':'emergency-information','title':'Emergency Information', 'img':'nav-student','key':'emergency-information'}];

block user
  a.alert.warning.btn-account-status.hide-mobile
    +svg-sprite("img/sprites/base.svg", "flag", "", "")
    .title Hold on account
    span Click to learn more
  nav.user-nav
    +user-dropdown("user-dropdown", "user-dropdown", "demo/user_blank.jpg", "Tony Montemorano", "warning", "Hold")
      a(href="views/student/profile.html") Profile
      a(href="views/student/documents.html") Documents
      hr
      a(href="views/faculty/dashboard.html") Faculty
      a(href="views/alumni/giving.html") Alumni
      hr
      a(href="index.html") Logout

block community-modals
  include ../../../partials/modal-account-status.pug

block alert
  a.alert.warning.btn-account-status.show-mobile
    +svg-sprite("img/sprites/base.svg", "flag", "", "")
    .title Hold on account
    span Click to learn more
