include ../../../partials/collapse-sidebar.pug
.sidebar.left.slds-max-medium-hide
  .sidebar-heading
    a.brand-logo(href="index.html")
      img.expanded(src="img/logo_Georgetown360.png", alt="Georgetown 360")
      img.collapsed(src="img/logo_Georgetown360_abbrev.svg", alt="Georgetown 360")
    .program-logo
      h3 Hoya360

  nav.block.nav.sidebar-nav
    include ../../../partials/primary-nav-links.pug
    hr
    - var NavItemID = "desktop"
    include ../../../partials/secondary-nav-links.pug

  hr

  .mission-statement
    p Repudiandae dolore voluptas rerum sint! Doloremque velit dolor ratione. Dignissimos.

  .program-information
    .program-name.slds-m-bottom--small Program Name
    .heading Expected Graduation
    .result Fall 2017
