@import "../base/colors";
@import "../base/settings";
@import "../base/mixins";

.pg-awards {
	.award {
		.item-title {
			@include font-semibold;
			font-size:14px;
		}
		.item-authors {
			color:$gray-dk;
		}
		.item-source {
			font-style:italic;
			color:$gray-md;
		}
	}
	.collapse-block + .icon-block {
		margin-top:$gap-md;
	}
}
