@import "../base/colors";
@import "../base/settings";
@import "../base/mixins";

// No need to worry about branding on this one. This is just for the lightning builder

.full-height {
	height:100%;
}

.cGU360_GridColumnDropzone {
	width: 50px;
	min-width: 50px;
	font-size: 11px;
	line-height: 1;
}

.cGU360_GridComponent {
  &.builder-component {
    &:hover {
    	border:1px dotted $blue;
    }
  }
}
