@import "../base/colors";
@import "../base/settings";
@import "../base/mixins";

.pg-dashboard {
	.page-header.has-controls {
		margin-bottom:0;
	}
	.page-section.has-controls {
		.icon.lg {
			margin-right:$gap-sm;
			top: 5px;
			width: 30px;
			height: 30px;
			position:relative;
		}
	}
}
