@import "../base/settings";
@import "../base/colors";
@import "../base/mixins";

.giving-table {
	.field-label {
		margin-right: 0;
	}
	.table-row-item {
		flex-grow: 1;
		padding: 12px;
		&:nth-of-type(1) {
			@include font-semibold;
			@media (min-width:$screen-sm) {
				width: 35%;
			}
		}
		&:nth-of-type(2) {
			@media (min-width:$screen-sm) {
				width: 15%;
			}
		}
		&:nth-of-type(3) {
			@media (min-width:$screen-sm) {
				width: 15%;
			}
		}
		&:nth-of-type(4) {
			@media (min-width:$screen-sm) {
				width: 15%;
			}
		}
		&:nth-of-type(5) {
			@media (min-width:$screen-sm) {
				width: 20%;
			}
		}
	}
}

.giving-hero {
	background-repeat:no-repeat;
	background-size:cover;
	padding:2px;
	border:2px solid white;
	box-shadow:0 0 0 1px $blue;
	border-radius:$border-radius-md;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	color:white;
	position:relative;
	@media (min-width:$screen-md) {
		min-height:300px;
	}
	.progress-bar-container {
		margin:0 auto;
		width:90%;
		position:absolute;
		bottom:-$gap;
		background:#F1EFED;
		box-shadow:0 10px 60px -19px rgba(black,0.8);
	}
	.title,.subtitle {
		line-height:1.2;
	}
	.title {
		font-size:48px;
		@include font-bold;
		text-shadow:0 0 1px rgba(black,0.3);
		@include drop-shadow(0 3px 3px rgba(black,0.6));
	}
	.subtitle {
		@include drop-shadow(0 2px 2px rgba(black,0.5));
		font-size:30px;
	}
}


.amount{
	font-size: 20px;
	&.campaign-goal{
		color: $blue;
	}
	&.amount-raised{
		color:#F0C711;
		font-weight: bold;
	}

}





