@import "../base/colors";
@import "../base/settings";
@import "../base/mixins";

.pg-login {
	overflow:hidden;
	background:$blue-dk2;
	//min-height:100vh;
	@media (max-width:$screen-sm-min) {
		margin:0;
		padding:$gap-md;
	}
	&:before {
		background-image:url('../img/splash.jpg');
		background-repeat:no-repeat;
		background-size:100vh;
		content:"";
		position:absolute;
		right:-50%;
		width:100%;
		height:100%;
	}
}

.landing {
	//background: radial-gradient(ellipse at center, #4274a5 0%,#4274a5 0%,#011e40 100%) !important;
	color:white;
	background-color:$blue-dk2 !important;
	width:100%;
	min-height:100vh;

	.wrapper {
		min-height:100%;
		flex-direction:column;
		max-width:440px;

	}
	.gu-logo {
		width:400px;
		height:auto;
		position:relative;
		z-index:5;
	}
	.login-form {
		margin-top:$gap-md;
		width:100%;
		position:relative;
		z-index:5;
	}
	.gu-form-group {
		width:100%;
		.gu-checkbox label {
			color:white;
		}
		.slds-form-element__label {
			color:white;
			font-size:13px;
			@include font-semibold;
		}
		.slds-checkbox .slds-checkbox--faux {
			background:none;
			border-color:white;
		}
		.slds-checkbox [type=checkbox]:checked + .slds-checkbox__label .slds-checkbox--faux {
			border-color:white;
			background:white;
		}
	}
	.slds-input {
		border-radius:2px;
		height:40px;
		font-size:16px;
	}

	.remember-me {
		display:flex;
		justify-content:flex-end;
	}
	.controls {
		display:flex;
		margin-top:$gap-md;
		margin-bottom:$gap-lg;
		@media (max-width:$screen-sm-min) {
			flex-direction:column;
		}
		.btn-bs {
			border:1px solid white;
			width:50%;
			line-height:38px;
			color:white;
			@media (max-width:$screen-sm-min) {
				display:block;
				width:100%;
			}
			+ .btn-bs {
				@media (min-width:$screen-sm) {
					margin-left:$gap-sm;
				}
			}
			&:hover,&:focus,&:active {
				background:white;
				color:$text-color;
			}

		}
	}
	.helper {
		text-align:center;
		a {
			color:#00C3E2;
		}
	}
}

.landing .pg-login.links {

	.wrapper {
		margin:$gap-md auto;
		max-width:1200px;
		width:100%;
		z-index:50;
		position:relative;
		z-index:100;
		h1 {
			margin:$gap-lg 0 0;
		}
		div {
			width:100%;
		}
		.gu-logo {
			margin:0 auto;
		}
		.uiOutputRichText > p {
			text-align:center;
			margin-bottom:70px;
		}
	}
	.card-group {
		display:flex;
		flex-wrap:wrap;
		width:auto;
		flex:1;
		flex-direction:row;
		align-items:flex-start;
		justify-content:center;
		margin:$gap-md;
		flex:none;
		a.card-block {
			background:rgba(white,0.75);
			display:flex;
			flex-direction:column;
			border-radius:10px;
			margin-bottom:$gap;
			@media (min-width:$screen-md) {
				width: auto;
				flex:1;
				margin:0 $gap-sm;
			}
			.title {
				border-bottom:0;
			}
		}
		.card-block {
			width:100%;
			padding:0 $gap;
			margin:0 auto;
			//margin-bottom:$gap;
			@media (min-width:$screen-sm) {
				width: 50%;
			}
			@media (min-width:$screen-md) {
				width: 33%;
			}
			.wrapper  {
				padding:0;
				background:rgba(white,0.75);
				border-radius:4px;
				margin:0 auto $gap-lg;
			}

			.title {
				padding:$gap 0;
				text-align:center;
				color:$blue-dk;
				font-size:20px;
				line-height:1;
				font-weight:bold;
				border-bottom:1px solid $blue-dk;
			}
			.body {
				text-align:center;
				padding:$gap-md 0;
				> div {
					padding:$gap-xs;
				}
				a {
					color:$blue-dk;
				}
			}
		}
	}
}

footer {
	nav {
		justify-content:center;
		font-size:13px;
		> a {
			color:white;
			display:block;
			padding:$gap-sm 0;
		}
	}
}

