@import "../base/colors";
@import "../base/settings";
@import "../base/mixins";


.pg-profile {
	.edit-block {
		.edit {
			margin:$gap-sm $gap-xs $gap-sm 0;
		}
	}
	.slds-col:not(:only-of-type) {
		.slds-col:nth-of-type(odd) {
			.icon-block {padding-right:$gap-sm}
			.gu-profile-item {margin-right:$gap}
		}
		.slds-col:nth-of-type(even) {
			.icon-block {padding-left:$gap-sm}
			.gu-profile-item {margin-left:$gap}
		}
	}
	@media (min-width:$screen-lg) {
		.slds-col:nth-of-type(odd) {
			.icon-block {padding-right:$gap}
		}
		.slds-col:nth-of-type(even) {
			.icon-block {padding-left:$gap}
		}
	}
	.page-section > .slds-wrap {
		margin-bottom:$gap-lg;
	}
}

.read-only {
	.slds-text-longform + .slds-text-longform:not(.txt-block) {
		margin-top:$gap-sm + $gap-xs;
	}
}

.user-photo-update {
	display:flex;
	flex-direction:column;
	align-items:center;
	background:$blue-lt;
	border:1px solid darken($blue-lt,5%);
	border-radius:$border-radius-sm;
	@media (min-width:$screen-md) {
		margin-left:auto;
	}
	@media (min-width:$screen-sm) {
		width:160px;
	}
	.user-photo {
		margin:($gap-sm + $gap-xs) 0;
	}
	@media (min-width:$screen-sm) {
		margin-left:auto;
	}
	img {
		width:125px;
		height:125px;
		border-radius:50%;
		margin:$gap;
		box-shadow:0 0 0 5px $blue-lt, 0 0 0 6px $blue-dk;
	}
	.btn-bs {
		border-radius:0 0 $border-radius-sm $border-radius-sm
	}
}

.page-header {
	.position {
		font-size:14px;
		margin-bottom:$gap-sm;
	}
	.role {
		color:$blue-dk;
		font-size:14px;
		line-height:1.2;
		max-width:800px;
		&:not(:last-of-type) {
			margin-bottom:$gap-xs;
		}
	}
}

.profile-summary {
	@media (min-width:$screen-md) {
		padding:0 $gap $gap;
		display:flex;
		align-items:center;
	}
	.name {
		font-size:24px;
		@include font-bold;
		@media (max-width:$screen-md - 1px) {
			padding-left:$gap;
			padding-bottom:$gap-sm;
		}
		@media (min-width:$screen-md + 1px) {
			color:white;
		}
	}
	.batch-year {
		font-size:18px;
		line-height:1;
	}
	.program {
		border-left:2px solid rgba(white,0.2);
		padding-left:$gap-md;
		margin-left:$gap-md;
		display:flex;
		align-items:center;
		font-size:28px;
		@include font-bold;
		@media (min-width:$screen-md ) {
			color: white;
		}
		@media (max-width:$screen-sm - 1px ) {
			padding-left: 0;
			margin-left: 0;
		}
	}
}

.profile-header {
	border:1px solid #eee;
	border-bottom:0;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	position:relative;
	display:flex;
	@media (min-width:$screen-md) {
		background:white;
		padding:$gap-md $gap $gap $gap;
		> div {
			min-width:50%;
		}
	}
	@media (max-width:$screen-md - 1px) {
		padding-bottom:$gap-md;
		flex-direction:column;
	}
	p + p {
		margin-top:$gap-sm;
	}
	.bump-left {
		@media (min-width:$screen-md) {
			margin-left:auto
		}
	}
	+ .card-group > .card {
		border-top-left-radius:0;
		border-top-right-radius:0;
		border-top:0;
	}
	.name-block {
		@media (max-width:$screen-md - 1px) {
			order:1;
		}
	}
	.view-profile-btn {
		.icon {
			margin-right: $gap-sm;
			color: white;
			fill: currentColor;
		}
		svg {
			width: 16px;
			height: 16px;
			min-width: 16px;
			min-height: 16px;
		}
	}
}

.profile-view,.profile-edit {
	h3 {
		color:$blue;
		@include font-light;
		margin-bottom:$gap-xs;
	}
	.description {
		margin-top:$gap-xs;
	}
}

.profile-edit {
	.btn-pill {
		text-align:center;
		display:flex;

		justify-content:center;
		&:not(:last-of-type) {
			margin-bottom:$gap-sm + $gap-xs;
		}
		&.btn-primary {
			padding-top:6px;
			padding-bottom:6px;
		}
		&.btn-default {
			color:$gray-md;
			padding-top:2px;
			background:none;
			padding-bottom:2px;
			font-size:12px;
			&:hover {
				background:$gray-md;
				color:white;
				border-color:$gray-md;
			}
		}
	}
}

.profile-view {
	@media (min-width:$screen-md) {
		padding-top:$gap-md;
	}
	.profile-header {
		@media (min-width:$screen-md) {
			padding-left:210px;
			padding-bottom:0;
			min-height:0;
		}

	}
	.photo-block {
		@media (min-width:$screen-md) {
			position:absolute;
			top:-100px;
			left:$gap;
			margin-right:$gap;
		}
	}
	.slds-grid {
		width:100%;
	}
}


@keyframes icon-fade {
	50% {
		transform:scale(1.5);
		opacity:1;
	}
	100% {
		transform:scale(0);
		opacity:0;
	}
}

@keyframes border-fade {
	0% {

	}
	100% {
		border-color:#d8dde6;
		box-shadow:none;
	}
}


.gu-profile-item {
	margin-top:$gap-sm;
	width:100%;
	padding-left:$gap;
	padding-right:$gap;
	position:relative;
	@media (min-width:$screen-xs + 1px) {
		padding-left:$gap-md;
		padding-right:$gap-md;
	}
	@media (min-width:$screen-sm) {
		max-width:480px;
	}

	&:not([class*="slds"]) {
		margin-bottom:$gap-md;
	}
	.slds-input {
		padding-left:8px;
	}
	&.office-hours {
		margin-bottom:0;
		margin-top:0;
	}
	.edit-block .read {
		padding-top:$gap-xs;
		padding-bottom:$gap-xs;
	}
	[data-balloon] {
		&:after, &:before {
			display:none;
		}
	}
	&.has-help {
		[data-balloon] {
			&:after, &:before {
				display:block;
			}
		}
		.help-block {
			margin-left:auto;
		}
	}
	.touch-input {
		.radio-group-vertical,.radio-group-horizontal,.checkbox-group-vertical,.checkbox-group-horizontal {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
	}

	.field-group {
		display:flex;
		color:$text-color;
		@media (min-width:$screen-xs + 1px) {
			align-items:center;
		}
		@media (max-width:$screen-xs) {
			flex-direction:column;
		}
		.edit-block {
			flex:1;
			.edit {
				margin-top:0;
			}
		}
		> fieldset {
			@media (min-width:$screen-xs + 1px) {
				margin-left:auto;
				padding-left:$gap;
			}
			.controls {
				display:flex;
			}
		}
	}
	.control-input {
		flex:1;
		&.touch-input {
			padding:0;
			border-color:transparent;
			.value {
				//background-color: #fff;
				color: #16325c;
				//border: 1px solid #d8dde6;
				border-radius: .25rem;
				width: 100%;
				transition: border .1s linear,background-color .1s linear;
				display: inline-flex;
				//padding: 0 $gap-sm;
				line-height: 32px;
				min-height: calc(1.875rem + (1px * 2));
				transition: all 0.175s;
			}
			&:hover {
				background:$edit-block-bg-hover;
				.value {
					padding: 0 1rem 0 .75rem;
					box-shadow:$edit-block-shadow-hover;
					background:$edit-block-bg-hover;
				}
				.slds-select {
					background:$edit-block-bg-hover;
					box-shadow:none;
				}
			}
			&:focus {
				background:$edit-block-bg-hover;
			}
			&.unsaved {
				padding-left:0;
				border:1px solid #eee;
				//background:$edit-block-bg-hover;
				.value {
					visibility:hidden;
					position:absolute;
					z-index:-1;
				}
				.slds-select {
					visibility:visible;
					position:relative;
					z-index:1;
					border:0;
					width:calc(100% - 60px);
					//background:$edit-block-bg-hover;
					+ .input-status {
						.input-save {
							visibility:visible;
							color:$success;
						}
						.input-cancel {
							display:flex;
							visibility:visible;
							color:$danger;
						}
						.input-edit {
							display:none;
						}
					}
					&:focus {
						box-shadow:none;
						border-radius:0;
						//background:darken($edit-block-bg-hover,5%)
					}
					&.cancel {
						border-color:$danger;
						box-shadow:inset 0 0 0 1px $danger;
						padding-left:8px;
						+ .input-status .input-cancel {
							display:flex;
							color:$danger;
							visibility:visible;
						}
						&:hover {
							background:white;
						}
						&:focus {
							+ .input-status .input-edit {
								display:none;
							}
						}
					}
				}

			}
		}
		.slds-input + .slds-input {
			margin-top:$gap-xs;
		}
	}
	.controls {
		@media (max-width:$screen-xs) {
			margin-top:$gap-xs;
		}
		[type=radio] {
			&:nth-of-type(2) {
				margin-left: 55px;
			}
			&:nth-of-type(3) {
				margin-left: 95px;
			}
			&:checked {
				+ .toggle {
					animation: icon-blip 0.15s forwards;
				}

			}
		}
		.toggle {
			display:flex;
			justify-content:center;
			align-items:center;
			margin:0 $gap-xs;
			color:darken($gray,10%);
			//border:2px solid #ccc;
			box-shadow:0 0 0px 1px #ccc;
			border-radius:50%;
			height:30px;
			width:30px;

			@media (max-width:$screen-sm-min) {
				margin:$gap-xs;
			}
			&.internal {
				.ic-status {
					width:20px;
					height:20px;
					position:relative;
				}
			}
		}
		input[type="radio"] {
			position:absolute;
			opacity:0;
		}
	}
	.ic-status {
		stroke:currentColor;
		width:$icon-size;
		height:$icon-size;
		transition:all 0.15s;
	}
}

.input-status {
	position:absolute;
	right:$gap-xs;
	top:$gap-xs;
	display:flex;
	.input-edit {
		display:none;
		align-items:center;
		margin-left:$gap-xs;
	}
	.input-save,.input-cancel {
		visibility:hidden;
		align-items:center;
		margin-left:$gap-xs;
		transition:none;
	}
	.title {
		text-align:right;
		padding-right:$gap-xs;
		font-size:13px;
		@include font-semibold;
	}
	+ .slds-input {
		margin-top:$gap-xs;
	}
	svg {
		stroke:currentColor;
		width:20px;
		height:20px;
		&.success {
			stroke:$success;
		}
		&.cancel {
			stroke:#ccc;
		}
	}
}

.control-input {
	position:relative;
	&:hover {
		.slds-input {
			box-shadow:$edit-block-shadow-hover;
			background:$edit-block-bg-hover;
			padding-left:8px;
			+ .input-status .input-edit {
				display:flex;
			}
			&.success {
				+ .input-status .input-edit {
					display:none;
				}
			}
		}
	}
	.slds-input {
		padding-right:$gap-lg + $gap-sm + $gap-xs;
		flex:1;
		padding-left:0;
		border-color:transparent;
		transition:all 0.175s;
		color:$text-color;
		&[type=date] {
			padding-left:8px;
		}
		&:focus {
			background:white;
			padding-left:8px;
		}
		&.update {
			background:white;
			padding-left:8px;
			background:#eee;
		}
		&:focus,&.unsaved {
			+ .input-status {
				.input-save {
					visibility:visible;
					color:$success;
				}
				.input-cancel {
					display:flex;
					visibility:visible;
					color:$danger;
				}
				.input-edit {
					display:none;
				}
			}
			&.cancel {
				border-color:$danger;
				box-shadow:inset 0 0 0 1px $danger;
				padding-left:8px;
				+ .input-status .input-cancel {
					display:flex;
					color:$danger;
					visibility:visible;
				}
				&:hover {
					background:white;
				}
				&:focus {
					+ .input-status .input-edit {
						display:none;
					}
				}
			}
		}
		&.unsaved {
			background:white;
			padding-left:8px;

		}
		&.pristine {
			border-color:rgba($text-color,0.2);
			//~ .help-block {
			//	display:block;
			//}
		}
		&.default {
			&:focus {
				//border-color:$blue;
				//box-shadow:inset 0 0 0 1px rgba(black,0.5);
				+ .input-status {
					.input-save {
						visibility:visible;
						color:$success;
					}
					.input-cancel {
						display:flex;
						visibility:visible;
						color:$danger;
					}
					.input-edit {
						display:none;
					}
				}
			}
		}
		&.cancel {
			border-color:$danger;
			box-shadow:inset 0 0 0 1px $danger;
			padding-left:8px;
			+ .input-status .input-cancel {
				display:flex;
				color:$danger;
				visibility:visible;
			}
			&:hover {
				background:white;
			}
			&:focus {
				+ .input-status .input-edit {
					display:none;
				}
			}
		}
	}
	.slds-select {
		visibility:hidden;
		position:absolute;
		z-index:-1;
		top:0;
	}
}

.pg-profile .office-hours {
	.field-group:not(:first-of-type) {
		margin-top:$gap;
		border-top:1px solid #eee;
		padding-top:$gap;
	}
	.field-row {
		display:flex;
		&.row {
			flex-direction:column;
		}
		&.col {
			align-items:center;
			//max-width:700px;
			.slds-select_container {}
			.slds-form-element {
				flex:1;
				&:not(:last-of-type) {
					margin-right:$gap;
				}
			}
			> span {
				display:block;
				margin-right:$gap;
			}
		}
		.slds-form-element {
			&.xs {
				max-width:60px;
			}
			&.sm {
				max-width:100px;
			}
		}
	}
}

.pg-profile {
}
