@mixin focus {
	outline:none;
	box-shadow:0 0 0px 2px $blue;
	border-color:transparent;
}

.slds-input {
	&:focus {
		@include focus;
		//border:0;
	}
}

.edit-block:focus > .edit,.field-group .control-input .slds-input.unsaved, .slds-input.update,.touch-input.unsaved	 {
	@include focus;
	border:0;
	//&.touch-input {
	//	display:flex;
	//	align-items:center;
	//	.result {
	//		position: absolute;
	//		top: -9999px;
	//		left: -9999px;
	//	}
	//	.radio-group-horizontal,.checkbox-group-horizontal {
	//		position:relative;
	//		top:0;
	//		left:0;
	//	}
	//}
}




.edit-block:focus {
	border-radius:$border-radius;
	outline:none;
	.edit .controls {
		border-radius:0 0 4px 4px;
	}
}
