@keyframes icon-in {
	// components/card-person.pug
	0% {
		opacity:0;
		background:white;
	}
	100% {
		opacity:1;
		background:$blue-dk;
		box-shadow: 0 0 0 4px #E5F2F9, 0 0 0 6px #0E4876;
	}
}

@keyframes photo-out {
	// components/card-person.pug
	0% {
		opacity:1;
	}
	100% {
		opacity:0;
	}
}

@keyframes icon-blip {
	// components/edit-block.pug
	0% {
		transform:scale(.5);
	}
	75 {
		transform:scale(1.5);
	}
	100% {
		transform:scale(1);
	}
}
