label[for="nav-shrink"] {
	position:absolute;
	left:$gap;
	top:$gap;
	color:white;
	fill:currentColor;
	z-index:5;
	cursor:pointer;
	@media (max-width:$screen-sm-ls - 1px) {
		display:none;
	}
	svg {
		width:30px;
		height:30px;
		transform:rotate(180deg);
	}
}

#nav-shrink {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	left: 20px;
	top: 20px;
	@media (max-width:$screen-lg - 1px) {
		&:not(:checked) {
			~ label[for="nav-shrink"] svg {
				transform:rotate(0);
			}
			~ .sidebar.left {
				transition:width 0.15s cubic-bezier(.27,.55,.37,.75);
				width:75px;
				min-width:75px;
				.sidebar-heading {
					padding:$gap 0;
				}
				.program-information,.mission-statement,.program-logo {
					display:none;
				}
				.collapsed {
					display:block;
				}
				.expanded {
					display:none;
				}
				.sidebar-nav,.quick-links {
					a {
						> .name {
							padding:0;
							opacity:0;
						}
					}
				}
			}
		}
	}
	&:checked {
		@media (min-width:$screen-lg) {
			~ label[for="nav-shrink"] svg {
				transform:rotate(0);
			}
			~ .sidebar.left {
				transition:width 0.15s cubic-bezier(.27,.55,.37,.75);
				width:75px;
				min-width:75px;
				.sidebar-heading {
					padding:$gap 0;
				}
				.program-information,.mission-statement,.program-logo {
					display:none;
				}
				.collapsed {
					display:block;
				}
				.expanded {
					display:none;
				}
				.sidebar-nav,.quick-links {
					a {
						justify-content:center;
						> .name {
							padding:0;
							opacity:0;
							width:0;
						}
					}
				}
			}
		}
	}

}

.sidebar.left {
	.collapsed {
		display:none;
		width: 50px;
		height: 100px;
		position: absolute;
		top: 40px;
		left: 12px;
	}
}

