.uiOutputRichText {
	> p {
		margin-bottom:$gap-sm + $gap-xs;
	}
}

.flex > .slds-col .gu-profile-item{
  padding: 0;
}
.cGU360_GridComponent {
  padding:$gap-sm 0 0 $gap-sm;
}
.field-group > div {
	width:100%;
}
