.alert {
	padding:$gap-xs $gap;
	border-radius: 100px;
	display:flex;
	align-items:flex-start;
	flex-wrap:wrap;
	line-height:24px;
	&.card {
		border-radius:15px 15px 0 0;
	}
	&.show-mobile {
		display:none;
		@media (max-width:$screen-sm-min) {
			display:flex;
			border-radius:0;
		}
	}
	&.hide-mobile {
		display:none;
		@media (min-width:$screen-sm) {
			display:flex;
		}
	}
	.title {
		@include font-semibold;
		text-transform:uppercase;
		+ span {
			padding-left:$gap-sm;
		}
	}

	.alert-heading {
		display:flex;
	}
	.icon {
		stroke:currentColor;
		margin-right:$gap-sm;
		padding-top:$gap-xs - 2px;
		svg {
			width:15px;
			height:15px;
		}
	}
	&.horizontal {
		@media (min-width:$screen-sm) {
			flex-direction:row;
			align-items:center;
			.alert-heading {
				width:auto;
			}
			.alert-controls {
				width:auto;
				margin-left:auto;
			}
		}
	}
	&.warning {
		background:$warning;
		color:white;
		border-color:$warning;
		box-shadow: 0 3px 0 0 darken($warning,10%);
		text-shadow:0 1px 1px darken($warning,25%);
		@include font-semibold;
		.alert-content {
			font-size:16px;
			@include font-semibold;
		}
		.btn-bs {
			&.slds-button--neutral {
				background:transparent;
				color:white;
				border-color:lighten($warning,20%);
				&:focus,&:hover {
					background:white;
					color:$warning;
				}
			}
		}
	}
}

.page-alert {

}

.card-group .card.alert {
	+ .card {
		margin-top:3px;
		border-radius:0 0 15px 15px;
	}
}
