.block {
	padding:$gap;
	&.reset {
		&.all {
			padding:0;
		}
		&.vertical {
			padding: 0 $gap;
		}
		&.horizontal {
			padding:$gap 0;
		}
		&.top {
			padding-top:0;
		}
		&.bottom {
			padding-bottom:0;
		}
	}
	.border-end {
		background:white;
		margin-bottom:$gap;
		padding-bottom:$gap;
	}
	&.logo {
		position: relative;
		z-index: 2;
		padding:$gap-sm 0;
		height:100px;
		display:flex;
		align-items:center;
		justify-content:center;
		flex-direction:column;
		img {
			max-width:100%;
			height:auto;
		}
		.title {
			font-size:16px;
			text-align:center;
			padding:$gap-sm;
		}
	}
	&.quick-links {
		position:relative;
		z-index:2;
		padding:$gap 0 0;
		&.block.nav {

		}
	}
	&.nav {
		border:0;
		position: relative;
		padding:$gap-sm 0 0;
		z-index: 2;
	}
}

.txt-block {
	+ .txt-block {
		padding-top:$gap;
	}
	&.sm {
		margin-top:$gap-sm;
	}
	a:not(.btn-bs) {
		text-decoration:underline;
	}
	.title {
		margin-bottom:$gap-xs;
		line-height:1.2;
	}
	.name {
		@include font-semibold;
		font-size:14px;
	}
	&.expandable {
		display:block;
		position:relative;
		padding-bottom:$gap;
		margin-bottom:$gap-md;
		.more-link,[type=checkbox] {
			right:0;
			position:absolute;
			bottom:0;
		}
		.more-link {
			.shown {
				display:block;
			}
			.not-shown {
				display:none;
			}
		}
		[type=checkbox] {
			opacity:0;
			position:absolute;
			&:checked {
				~ .body {
					max-height:100%;
					overflow:visible;
					.more-link {
						.shown {
							display:none;
						}
						.not-shown {
							display:block;
						}
					}
				}
			}
		}
		.body {
			max-height:60px;
			overflow:hidden;
			&.three {
				max-height:60px + 20px;
			}
		}
	}
}


.block.person {
	display:flex;
	img {
		width:50px;
		height:50px;
		margin-right:$gap-sm;
		border:2px solid $gray;
	}
	.detail {
		padding-right:$gap-sm;
	}
	.name {
		@include font-semibold;
		font-size:14px;
		display:inline-block;
		margin-bottom:3px;
	}
	.role {
		color:$gray-dk;
		line-height:1.2;
		margin-bottom:$gap-xs;
	}
	.industry {
		font-size:12px;
		line-height:1.2;
	}
}
