.box-grid {
	.ui-widget {
		margin-bottom:$gap;
	}
	.box {
		height:100%;
		margin:0;
		padding:$gap;
		display:flex;
		background: linear-gradient(180deg, #F5FAFC 0%, #FFFFFF 100%);
		@media (max-width:$screen-sm-min) {
			justify-content:center;
			flex-direction:column;
		}
		&.lg {
			border:1px solid #E6EBEE;
			.detail {
				.title {
					font-size:20px;
				}
			}
		}
		&.sm {
			border: 1px solid #B7D3E2;
		}
		.detail {
			display:flex;
			flex-direction:column;
			width:100%;
			.title {
				color:$blue;
				line-height:1.1;
				font-size:16px;
				@include font-semibold;
				margin-bottom:$gap-sm;
				padding-right:$gap-xs;
				@media (max-width:$screen-sm-min) {
					margin-top:$gap;
				}
			}
			.description {
				line-height:1.3;
				margin-bottom:$gap;
			}
			.controls {
				display:flex;
				justify-content:flex-end;
				align-items:center;
				margin-top:auto;
				@media (max-width:$screen-sm-min) {
					flex-direction:column;
				}
				&.spaced {
					justify-content:space-between;
				}
				.slds-btn {
					min-height:34px;
				}
				.success-msg {
					margin-bottom:-5px;
					max-width:100%;
					height:auto;
				}
			}
		}
	}
	a.box {
		color:$text-color;
		text-decoration:none;
		&:hover {
			box-shadow:0 0 0 2px $blue;
		}
		.title {
			color:$link-color;
		}
	}
}
