[disabled] {
	opacity:0.5;
	pointer-events:none;
}

.slds-button + .slds-button {
	@media (max-width:$screen-sm-min) {
		margin-left:0;
	}
}
.btn-reset {
	position: relative;
	display: inline-flex;
	padding: 0;
	text-decoration: none;
	-webkit-appearance: none;
	white-space: normal;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-shadow:none;
	border:0;
	background:none;
}
.btn-bs {
	border-radius:2px;
	//border-color:transparent;
	//text-transform:uppercase;
	display:inline-flex;
	align-items:center;
	justify-content:center;
	font-size:14px;
	//padding:$gap-sm $gap;
	//text-align:center;
	@include font-semibold;
	@media (max-width:$screen-sm-min) {
		width:100%;
		+ .btn-bs {
			margin-top:$gap-sm;
		}
	}
	&:hover,&:focus,&:active {
		text-decoration:none;
	}
	&.slds-button {
		//line-height:34px;
		line-height:1.2;
		min-height:34px;
		display:inline-flex;
		align-items:center;
	}
	&.btn-block {
		display:inline-flex;
		width:100%;
		margin:0;
		+ .btn-block {
			margin-top:$gap-sm;
		}
	}
	&.disabled {
		pointer-events: none;
	}
}

.btn-block {
	display:block;
	text-align:center;
}

.btn-pill {
	padding:$gap-xs $gap;
	border-radius:$gap + $gap-xs;
	font-size:13px;
	line-height:18px;
	white-space: nowrap;
	display:inline-block;
	&.btn-default {
		border:2px solid rgba($gray-lt,0.2);
		background:white;
		color:$text-color;
		&:hover {
			background:$gray-lt;
			color:$text-color;
			border-color:$gray-lt;
		}
	}
	&.rounded {
		//width:20px;
		padding:$gap-xs;
		.icon {
			stroke:currentColor;
		}
	}
	+ .btn-pill {
		margin-left:$gap-sm;
	}
}
.btn-round {
	border-radius:50%;
	height:45px;
	width:45px;
	display:inline-flex;
	min-width:0;
	svg {
		width:16px;
		height:16px;
	}
}

.btn-group {
	display:flex;
	flex-wrap:wrap;
	.btn-bs {
		+ .btn-bs {
			margin-left:$gap;
		}
	}
}

.btn-lg {
	font-size:20px;
	svg {
		width: 16px;
		height: 16px;
		min-width: 16px;
		min-height: 16px;
	}
}

.btn-back {
	stroke:currentColor;
	display:inline-flex;
	align-items:center;
	margin-bottom:$gap;
	svg {
		width:12px;
		height:12px;
		margin-right:$gap-sm;

	}
	span {
		font-size:14px;
		@include font-semibold;
		text-transform:uppercase;
	}
}

.btn-add,.btn-next {
	display:flex;
	align-items:center;
	justify-content:center;
	stroke:currentColor;
	transition:all 0.15s;
}

.btn-add {
	border-radius:50%;
	height:26px;
	//width:26px;
}
.btn-next {
	text-decoration:none;
	font-size:16px;
	.icon {
		margin-left:$gap-xs;
		border-radius:50%;
		height:26px;
		width:26px;
		display:flex;
		align-items:center;
		justify-content:center;
	}
	&:hover {
		text-decoration:none;
	}
}

.btn-action {
	display:inline-flex;
	align-items:center;
	font-size:13px;
	&:hover {
		text-decoration:none;
	}
	.title {
		@include font-semibold;
		margin-right:$gap-xs;
		display:block;
	}
	.icon svg {
		width:20px;
		height:20px;
	}
	&.btn-save {
		svg {
			stroke:currentColor;
		}
	}
	&.btn-remove {
		//text-transform:uppercase;
		svg {
			stroke:currentColor;
		}
	}
	&.btn-cancel {
		svg {
			stroke:currentColor;
		}
	}
	+ .btn-action {
		margin-left:$gap;
	}
}

.load-more {
	button {
		background:none;
		@include font-semibold;
		padding-top:$gap-sm;
		width:100%;
	}
}

.gu-pill {
	border-radius:20px;
	padding: 2px 10px;
	font-weight: bold;
}

.telephone {
	.icon {
		margin-right:$gap-sm;
		stroke:currentColor;
	}
}
