.card {
	display:flex;
	flex-direction:column;
	&.padded {
		padding:$gap-sm;
	}
	.card-title {
		padding:$gap $gap 0;
		h2 {
			line-height:1.2;
			font-size:24px;
			@include font-bold;
		}
		.title {
			display:flex;
		}
		&.has-controls {
			width:100%;
			display:flex;
			justify-content:space-between;
			flex-wrap:wrap;
			@media (min-width:$screen-md) {
				align-items:flex-start;
			}
			.icon + h2 {
				margin-right:auto;
				margin-left:$gap-sm + $gap-xs;
			}
			.controls {
				display:flex;
				align-items:center;
				flex-wrap: wrap;
				//width:100%;
				@media (min-width:$screen-sm) {
					//width:40%;
					justify-content:flex-end;
				}
				.btn-bs {
					width:auto;
					margin-left:$gap-sm;
				}
			}
		}
		+ .card-content:not(.collapse-block) {
			padding-top:$gap;
		}
	}
	&.scroll-md {
		.card-content {
			height:373px;
			overflow-y:scroll;
			border-bottom:$gap solid white;
			border-radius:0 0 15px 15px;
			padding-bottom:0;
		}
		.card-title {
			padding-bottom:$gap-sm + $gap-xs;
		}
		.card-title + .card-content {
			height:300px;
			padding-top:0;
		}
	}
}

.card-group {
	display:flex;
	flex-direction:column;
	width:100%;
	@media (min-width:$screen-lg) {
		flex:1;
	}
	&.card-narrow {
		max-width:600px;
		margin:0 auto;
	}
	+ .card-group {
		@media (max-width:$screen-md) {
			margin-top:$gap-md;
		}
	}
	&.slds-grid {
		flex-direction:row;
		.card + .card {
			margin:0;
		}
	}
	.card + .card{
		margin-top:$gap-md;
	}
}



.card-grid-item {
	font-size:13px;

	min-width:180px;
	height:100%;
	display:flex;
	flex-direction:column;
	&.md {
		min-width:240px;
	}
	.card-label {
		text-transform:uppercase;
		font-size:12px;
		@include font-semibold;
		margin-top:$gap-sm;
		color:rgba($text-color,0.7);
	}
	.title {
		font-size:16px;
		@include font-semibold;
	}
	.card-description {
		padding-top:$gap-sm;
		margin-top:auto;
		//margin-bottom:auto;
	}
	.description {
		padding-bottom:$gap-md;
		border-bottom:1px solid #eee;
		margin-bottom:$gap-md;
	}
}

.page-section.slds-grid > div + div .card-group {
	@media (max-width:$screen-md - 1px ) {
		margin-top: 25px;
	}
}
