$grid-gutter-width: $gap-sm;
$grid-columns: 12;
$screen-md-min: 990px;
$screen-lg-min: 1199px;

.facet-grid {
	> div {
		width:100%;
	}
	&.has-padding {
		margin-left:-$gap;
		margin-right:-$gap;
		.ui-widget {
			padding-left:$gap;
			padding-right:$gap;
		}
	}
	> div {
		display:flex;
		flex-wrap:wrap;
		width:100%;
		> div {
			width:100%;
			@media (min-width:$screen-md) {
				width:50%;
			}
		}
	}
}

.facet-grid--two-col {
	> div {
		display:flex;
		flex-wrap:wrap;
		width:100%;
		.ui-widget {
			width:100%;
		}
	}
	.icon-block .heading .title {
		font-size:16px;
	}

}

.facet-grid--flex {
	> div {
		min-width:100%;
		display:flex;
		margin:0 (-($grid-gutter-width));
	}
	&.wrap {
		> div {
			flex-wrap:wrap;
		}
	}
	&.stretch {
		> div {
			align-items:stretch;
		}
	}
	&.fill, &.wrap {
		.ui-widget {
			flex:auto 1;
		}
	}
	.ui-widget {
		width:100%;
		// Inner gutter via padding
		padding-left:  ceil($grid-gutter-width);
		padding-right: floor($grid-gutter-width);
	}
}

.large--col-70-30 {
	width:100%;
	> div {
		.ui-widget {
			@media (min-width:$screen-md) {
				&:first-of-type {
					width:70%;
				}
				&:not(:first-of-type) {
					width:30%;
				}
			}
		}
	}
}


//[class|="something"]


@mixin make-grid-columns($i: 1, $list: ".x-small--#{$i}-of-12, .small--#{$i}-of-12, .medium--#{$i}-of-12, .large--#{$i}-of-12") {
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .x-small--#{$i}-of-12, .small--#{$i}-of-12, .medium--#{$i}-of-12, .large--#{$i}-of-12";
  }
  #{$list} {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
  }
}


// [converter] This is defined recursively in LESS, but Sass supports real loops
@mixin float-grid-columns($class, $i: 1, $list: ".#{$class}--#{$i}-of-12") {
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .#{$class}--#{$i}-of-12";
  }
  #{$list} {
    //float: left;
  }
}


@mixin calc-grid-column($index, $class, $type) {
  @if ($type == width) and ($index > 0) {
    .#{$class}--#{$index}-of-12 {
      .ui-widget {
      	width: percentage(($index / $grid-columns));
      	max-width: percentage(($index / $grid-columns));
      }

    }
  }
  @if ($type == push) and ($index > 0) {
    .col-#{$class}-push--#{$index} {
      left: percentage(($index / $grid-columns));
    }
  }
  @if ($type == push) and ($index == 0) {
    .col-#{$class}-push--0 {
      left: auto;
    }
  }
  @if ($type == pull) and ($index > 0) {
    .col-#{$class}-pull--#{$index} {
      right: percentage(($index / $grid-columns));
    }
  }
  @if ($type == pull) and ($index == 0) {
    .col-#{$class}-pull--0 {
      right: auto;
    }
  }
  @if ($type == offset) {
    .col-#{$class}-offset--#{$index} {
      margin-left: percentage(($index / $grid-columns));
    }
  }
}

// [converter] This is defined recursively in LESS, but Sass supports real loops
@mixin loop-grid-columns($columns, $class, $type) {
  @for $i from 0 through $columns {
    @include calc-grid-column($i, $class, $type);
  }
}


// Create grid for specific class
@mixin make-grid($class) {
  @include float-grid-columns($class);
  @include loop-grid-columns($grid-columns, $class, width);
  //@include loop-grid-columns($grid-columns, $class, pull);
  //@include loop-grid-columns($grid-columns, $class, push);
  //@include loop-grid-columns($grid-columns, $class, offset);
}




// Columns
//
// Common styles for small and large grid columns

@include make-grid-columns;


// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

@include make-grid(x-small);


// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: $screen-sm-min) {
  @include make-grid(small);
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: $screen-md-min) {
  @include make-grid(medium);
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: $screen-lg-min) {
  @include make-grid(large);
}
