.field-label {
	font-size:20px;
	color:$blue;
	display:inline-flex;
	align-items:center;
	&.slds-form-element__label {
		font-size:20px;
		color:$blue;
	}
	.label-text {
		padding-right:$gap-sm;
	}
}


.date-group--month-year {
	margin-bottom:$gap-sm;
	display:flex;
	align-items:center;
	> label {
		margin-right:$gap-sm + 2px;
		line-height:1;
		width:90px;
	}
	small {
		display:block;
	}
	.month,.date {
		margin-right:$gap-sm;
	}
	.year {
		max-width:80px;
		padding-top:0 !important;
	}
}

.gu-form-group {
	margin-bottom:$gap;
}

.has-help .help-block {
	display:block;
}

.help-block {
	color:#ddd;
	display:none;
	svg {
		width:14px;
		height:14px;
		fill:currentColor;
	}
	&[data-balloon][data-balloon-pos='right']:after {
		//min-width:100px;
	}
}

.gu-checkbox {
	display:inline-flex;
	.uiInputCheckbox {
		display:flex;
		align-items:center;
	}
	.form-element__label {
		padding:2px 0 0 $gap-xs;
		order:2;
		line-height:1;
	}
	[type="checkbox"] {
		order:1;
	}
	.slds-checkbox {
		.slds-form-element__label {
			color:#444;
			font-size:14px;
			@include font-semibold;
		}
		.slds-checkbox--faux {
			width:24px;
			height:24px;
			border-width:2px;
			border-color:$gray-md;
		}
		.slds-checkbox__label {
			display: flex;
		}
		[type="checkbox"] {
			order:1;
			&:checked {
				+ .slds-checkbox--faux:after,
				+ .slds-checkbox__label .slds-checkbox--faux:after {
					height: 6px;
					width: 12px;
				}
				+ .slds-checkbox__label .slds-checkbox--faux {
					border-color:$blue;
				}
				+ .slds-checkbox__label .slds-form-element__label {
					color:$blue;
				}
			}
		}
	}
}

.gu-radio {
	.uiInputRadio {
		display:flex;
		align-items:center;
	}
	.form-element__label {
		padding:2px 0 0 $gap-xs;
		order:2;
		line-height:1;
	}
	.slds-radio {
		.slds-form-element__label {
			color:#444;
			font-size:14px;
			@include font-semibold;
		}
		.slds-radio--faux {
			width:24px;
			height:24px;
			border-width:2px;
			border-color:$gray-md;
		}
		[type="radio"] {
			order:1;
			&:checked {
				+ .slds-radio--faux:after,
				+ .slds-radio__label .slds-radio--faux:after {
					width:12px;
					height:12px;
				}
				+ .slds-radio__label .slds-radio--faux {
					border-color:$blue;
				}
				+ .slds-radio__label .slds-form-element__label {
					color:$blue;
				}
			}
		}
	}
}

.radio-group-horizontal,.checkbox-group-horizontal {
	display:flex;
	flex-wrap:wrap;
	.slds-form-element:not(:last-of-type) {
		margin-right:$gap-sm;
		@media (max-width: $screen-md - 1px) {
			margin-bottom: $gap-sm;
		}
	}
}

.radio-group-vertical,.checkbox-group-vertical {
	.slds-form-element__control:not(:last-of-type) {
		margin-bottom:$gap-sm;
	}
}



.slds-input {
	&[disabled], &.slds-is-disabled {
		background:#f6f6f6;
		border-color:#fff;
	}
}

.slds-input__icon {
	stroke:currentColor;
}

.slds-file-selector {
	width:100%;
	.slds-file-selector__dropzone {
		width:100%;
	}
}

.slds-form-element__label {
	font-size:16px;
	@include font-regular;
}

.slds-input-has-icon--right {
	.slds-input {
		padding-right:$gap-md + 2px;
	}
	.slds-input__icon {
		right:$gap-sm;
	}
}

// SLDS rich text editor dropdown options are funkily aligned
.edit-block .slds-button-group-list+.slds-button-group-list.slds-box {
	left: 0;
	right: initial !important;
	margin-left:0;
	//transform: translateX(-50%);
}
