.icon-link {
	background-repeat:no-repeat;
	background-position:left center;
	display:inline-flex;
	stroke:currentColor;
	align-items:center;
	&.xs {
		img,svg {
			width:16px;
			height:16px;
			min-width:16px;
			min-height:16px;
		}
	}
	&.sm {
		img,svg {
			width:20px;
			height:20px;
			min-width:20px;
			min-height:20px;
		}
	}
	&.lg {
		img,svg {
			width:30px;
			height:30px;
			min-width:30px;
			min-height:30px;
		}
		> span:not(.icon) {
			padding-left:$gap-sm + $gap-xs;
		}
	}
	&.glyph {
		fill:currentColor;
		stroke:none;
	}
	> span:not(.icon) {
		padding-left:$gap-sm;
	}
}

.icon-xs {
	width:16px;
	height:16px;
	min-width:16px;
	min-height:16px;
}

.icon-sm {
	width:20px;
	height:20px;
	min-width:20px;
	min-height:20px;
}

.icon-md {
	width:30px;
	height:30px;
	min-width:30px;
	min-height:30px;
}

.icon-block {
	position:relative;
	width:100%;
	margin-top:$gap-md;
	+ .collapse-block {
		margin-top:$gap;
	}
	&.has-controls {
		> .heading {
			position:relative;
			padding-right:$gap-md;
			&:before {
				content:"";
				height:2px;
				width:100%;
				position:absolute;
				top:50%;
				transform:translateY(-50%);
			}
			h2.title {
				font-size:24px;
			}
			.controls {
				position:absolute;
				cursor:pointer;
				right:0;
				background:white;
				padding-left:$gap-sm;
				display:flex;
				.dropdown {
					min-width:0;
				}
				.dropdown-items {
					min-width:160px;
					top:$gap;
					> a {
						text-decoration:none;
						font-size:14px;
						padding:$gap-xs $gap;
					}
				}
				.icon {
					svg {
						width:24px;
						height:24px;
					}
				}
			}
			a.controls {
				display:flex;
				align-items:center;
				text-decoration:none;
				> span {
					display:block;
					margin-right:$gap-xs;
				}
			}

		}
		.icon {
			img {
				width:24px;
				height:24px;
			}
		}
	}

	a:not(.btn-*) {
		text-decoration:underline;
	}
	.read + .read {
		margin-top:$gap-sm;
	}
	.heading {
		display:flex;
		align-items:center;
		stroke:currentColor;
		color:$blue-dk;
		margin-bottom:$gap-sm;
		> .icon {
			background:white;
		}
		.icon {
			position:relative;
			img {
				width:24px;
				height:24px;
			}
			svg {
				width:24px;
				height:24px;
			}
			&.md svg {
				width:30px;
				height:30px;
			}
			+ .title {
				padding-left:$gap-sm;
			}
		}
		.title {
			background:white;
			position:relative;
			padding-right:$gap-sm;
			line-height:1;
			font-size:16px;
		}
		div.title {
			@include font-bold;
		}
		h2 {
			font-size:24px;
			@include font-bold;
		}
	}
}
