.list-group {
	.add-block + .edit-block {
		margin-top:$gap-sm;
	}
	.add-block {
		padding-right:0;
	}
}



.list-row {
	&:not(.slds-hide) {
		display:flex;
	}
	flex-wrap:wrap;
	background:rgba($blue-lt,0.2);
	border:1px solid darken($blue-lt,2.5%);
	padding:15px;
	@media (max-width:$screen-xs) {
		flex-direction:column;
	}
	+ .list-row {
		border-top:0;
	}
	&.has-controls {
		padding-right:50px;
		position:relative;

		.controls {
			position:absolute;
			right:0;
			top:0;
			width:35px;
			height:100%;
			.btn-bs {
				border-radius:0 2px 2px 0;
			}
			a {
				stroke:currentColor;
				height:100%;
				display:flex;
				align-items:center;
				justify-content:center;
				&:hover {
					background:$brand-primary;
					color:white;
				}
			}
			svg {
				width:20px;
				height:20px;
			}

		}
	}
	&.add {
		background:none;
		//margin-bottom:$gap-sm;
		+ .list-row {
			border:1px solid darken($blue-lt,2.5%);
		}
		.label-card {
			&.lg {
				@media (min-width:$screen-sm) {
					max-width:275px;
					width:275px;
				}
			}
			&.md {
				@media (min-width:$screen-sm) {
					max-width:175px;
					width:175px;
				}
			}
		}
	}
	//.save-row {
	//  flex-basis:100%;
	//  margin:$gap-sm;
	//  display:flex;
	//  justify-content:flex-end;
	//  .btn-bs {
	//    min-width:60px;
	//  }
	//}
	&.edit {
		background:$gray-lt;
		padding:0;

		.divider {
			border-left:1px solid darken($gray-lt, 10%);
		}
		.label-card {
			&.lg {
				@media (min-width:$screen-sm) {
					max-width:285px;
					width:285px;
				}
			}
			&.md {
				@media (min-width:$screen-sm) {
					max-width:185px;
					width:185px;
				}
			}
		}
	}
	.main-column {
		flex:1;
		justify-content:center;
		display:flex;
		flex-direction:column;
		> a {
			align-self: flex-start;
		}
		@media (min-width:$screen-lg) {
			padding-right:$gap-md;
		}
	}

	.divider {
		display:block;
		border-left:1px solid darken($blue-lt, 2.5%);
		padding-right:$gap;
		margin-left:15px;
	}
	.push-left {
		margin-left:$gap;
		@media (min-width:$screen-lg) {
			margin-left:auto;
		}
	}
	.icon-btn {
		stroke:currentColor;
		display:flex;
		align-items:center;
		justify-content:center;
		svg {
			width:28px;
			height:28px;
		}
	}
	.label-card {
		display:flex;
		&.lg {
			@media (min-width:$screen-sm) {
				max-width:250px;
				width:250px;
			}
		}
		&.md {
			@media (min-width:$screen-sm) {
				max-width:150px;
				width:150px;
			}
		}
		.gu-form-group {
			width:100%;
		}
		.icon {
			margin-right:$gap-sm;
			margin-top:$gap-xs;
			//color:$blue;
			svg {
				stroke:currentColor;
				width:32px;
				height:32px;
			}
		}
		.label,label {
			font-size:12px;
			color:$blue-dk;
			@include font-semibold;
		}
	}
}
