.gu360-loading-text {
	margin:$gap-md 0;
	height:34px;
	.slds-spinner {
		left:20px;
	}
	.message {
		padding-left:50px;
		display:flex;
		align-items:center;
		height:34px;
		@include font-semibold;
		color:$blue-dk;
	}
}

@keyframes overlay-in {
	0% {
		background-color:transparent;
	}
	100% {
		background-color:rgba(white,0.9)
	}
}

@keyframes overlay-out {
	0% {
		background-color:rgba(white,0.9)
	}
	100% {
		background-color:transparent
	}
}

.gu-spinner {
	height:100vh;
	background-color:rgba(white,0.9);
	position:fixed;
	//animation: overlay-in 0.25s 2s forwards;
	//.fade-in {
		//animation: overlay-in 0.25s forwards;
	//
	&.fade-out {
		animation: overlay-out 0.25s forwards;
	}
	.loading-text {
		position:absolute;
		transform:translate(-50%);
		top:calc(50% - 10px);
		right:calc(50% - 130px);
		color:$blue;
		@include font-bold;
		text-transform:uppercase;
	}
	.slds-spinner:after, .slds-spinner:before, .slds-spinner__dot-a:after, .slds-spinner__dot-a:before, .slds-spinner__dot-b:after, .slds-spinner__dot-b:before {
		background:rgba($blue,0.75);
	}
}
