.user-photo {
	position:relative;
	padding-bottom:0;
	background-size:cover;
	border-radius:50%;
	box-shadow: $photo-border-sm;
	&.sm,&.md,&.lg,&.xl {
		display:block;
		background-position:center;
		background-repeat:no-repeat;
		padding:0;
		margin:4px;
	}
	&.xl {
		width:175px;
		height:175px;
		background-size:175px;
	}
	&.lg {
		width:105px;
		height:105px;
		background-size:105px;
		.btn-xxs {
			position:absolute;
			bottom:0;
			left:50%;
			transform:translateX(-50%);
		}
	}
	&.md {
		width:70px;
		height:70px;
		min-width:70px;
		min-height:70px;
		background-size:70px;
	}
	&.sm {
		width:40px;
		height:40px;
		background-size:40px;
	}
}

.user-card {
	display:flex;
	&:hover {
		text-decoration:none;
	}
	&.lg {
		img {
			width:75px;
			height:75px;
			box-shadow: $photo-border-sm;
			border-radius:50%;
		}
	}
	.detail {
		padding-left:$gap;
	}
	.name {
		@include font-semibold;
		color:$blue-dk;
		font-size:16px;
	}
	.role {
		color:$gray-md
	}
}

.social-icons {
	@media (max-width:$screen-sm-ls) {
		margin-bottom:$gap;
	}
	&.is-center {
		margin:$gap-sm 0 0;
		justify-content:center;
		display:flex;
	}
	&.is-end {
		margin:$gap-sm 0 0;
		display:flex;
		justify-content:flex-end;
	}
	.icon-link {
		stroke:none !important;
		fill:CurrentColor;
		width:40px;
		height:40px;
		border-radius:50%;
		align-items:center;
		justify-content:center;
		&.has-border {
			border:2px solid $blue-lt;
			&:hover {
				background:$blue-lt;
			}
		}
	}
	&.has-bg {
		position:relative;
		z-index:5;
		> a {
			background-color:white;
			&:hover,&:focus {
				transform:translateY(-2px);
				//box-shadow:$box-shadow, 0 0 0 1px $blue;
			}
		}
	}
	> a {
		display:inline-flex;
		background-size:24px;
		&:not(:last-of-type) {
			margin-right:$gap-sm;
		}
	}
}


.img-responsive {
	max-width:100%;
	height:auto;
}

.embed-responsive {
	position: relative;
	height: 0;
	overflow: hidden;
	&.size-16x9 {
		padding-bottom: 56.25%;
	}
	&.size-4x3 {
		padding-bottom: 75%;
	}
	iframe {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.contact-card {
	border: 1px solid $blue-lt;
	border-radius: 4px;
	@media (max-width:$screen-md - 1px) {
		display:flex;
		flex-wrap:wrap;
	}
	@media (min-width:$screen-md) {
		padding: $gap-sm;
	}
	.card-detail-wraper {
		max-width: 210px;
		margin: 0 auto;
		display:block;
		@include font-semibold;
		@media (min-width:$screen-md) {
			color: rgba(white,0.7);
		}
		@media (max-width:$screen-md - 1px) {
			padding:$gap-sm;
		}
		&:hover {
			@media (min-width:$screen-md) {
				color:white;
			}
		}
		&:not(:last-of-type) {
			@media (max-width:$screen-md - 1px) {
				padding-bottom:0;
			}
			@media (min-width:$screen-md) {
				margin-bottom:$gap-xs + 2px;
			}
		}
	}
	.icon {
		width: 15px;
		height: 15px;
		stroke: none;
		fill: currentColor;
		display: inline-block;
		margin-right: 10px;
		@media (min-width:$screen-md) {
			color: white;
		}
		svg {
			width: 15px;
			height: 15px;
		}
	}
}
