@media (min-width:1024px) {
	.mobile-nav,.nav-trigger, label[for="nav-trigger"] {
		display:none;
	}
}

@media (max-width:1023px) {
	.page {
		position: relative;
		top: 0;
		bottom: 100%;
		left: 0;
		z-index: 1;
		transition: left 0.2s;
		min-height:100vh;
		background:white;
	}
	.mobile-nav {
		background:$gray-lt;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		width:$sidebar-width;
		> label {
			display:block;
			width:100%;
			border-bottom:1px solid $gray;
			padding: 0;
			color:white;
			.title {
				//color:white;
				padding:$gap-sm $gap;
				font-size:14px;
				display:inline-flex;
			}
			.dropdown-items {
				> a {
					padding:$gap-sm;
					padding-left:$gap-md;
				}
			}
		}
		> a {
			display:block;
			color:$brand-primary;
			stroke:currentColor;
			padding:$gap-sm $gap;
			font-size:14px;
			border-bottom:1px solid $gray;
			line-height:1;
			@include font-semibold;
			&.active {
				color:$link-active;

			}
			&.icon-link.lg {
				img {
					width:24px;
					height:24px;
				}
			}

		}
	}
	#nav-trigger {
		position: absolute;
		clip: rect(0, 0, 0, 0);
		top: 25px;
		left: 25px;
		+ label {
			transition: left 0.2s;
		}
		&:checked {
			left:$sidebar-width + $sidebar-gutter;
			+ label {
				left: $sidebar-width + $sidebar-gutter;
			}
			~ .page {
				left: $sidebar-width;
				box-shadow: 0 0 5px 5px rgba(0,0,0,0.05);
				position:absolute;
				overflow:hidden;
				width: calc(100% - 200px);
				.content {
					overflow:hidden;
					min-width:340px;
				}
				.site-search {
					opacity:0;
				}
			}
		}
	}
	label[for="nav-trigger"] {
		position: absolute;
		left: $sidebar-gutter;
		top: 20px;
		z-index: 2;
		height: 30px;
		width: 30px;
		cursor: pointer;
		color:white;
		@media (min-width:$screen-sm) {
			top:20px;
		}
		svg {
			width:24px;
			height:24px;
			stroke:currentColor;
		}
	}
}
