.gu-modal {
	.slds-modal__header {
		text-align:left;
		border-bottom-color:$blue-lt;
		h2 {
			font-size:24px;
			@include font-bold;
			//color:$blue;
		}
	}
	.slds-modal__footer {
		background:transparent;
		border:0;
		box-shadow:none;
		padding:0;
	}
}

.slds-modal__footer {
	.slds-button + .slds-button {
		@media (max-width:$screen-xs) {
			margin-left:0;
		}
	}
}
