$progress-completion: #82B956;
$progress-bg: white;
$progress-circle-size: 140px;
$progress-circle-gap: 10px;

.progress--circle {
	position: relative;
	display: inline-block;
	//margin: $gap-sm;
	width: $progress-circle-size;
	height: $progress-circle-size;
	border-radius: 50%;
	background-color: $progress-bg;
	&:before {
		content: '';
		position: absolute;
		top: $progress-circle-gap / 2;
		left: $progress-circle-gap / 2;
		width: $progress-circle-size - $progress-circle-gap;
		height: $progress-circle-size - $progress-circle-gap;
		border-radius: 50%;
		background-color: white;
		border:10px solid #eee;
	}
	&:after {
		content: '';
		display: inline-block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: $progress-completion;
	}
}

.progress__number {
	position: absolute;
	top: 50%;
	width: 100%;
	line-height: 1;
	margin-top: -0.75rem;
	text-align: center;
	font-size: 1.5rem;
	color: #777;
}


$step: 1;
$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);
@for $i from 0 through $loops {
	.progress--bar.progress--#{$i * $step}:after {
		width: $i * $step * 1%;
	}
	.progress--circle.progress--#{$i * $step}:after {
		@if $i < $half {
			$nextDeg: 90deg + ($increment * $i);
			background-image: linear-gradient(90deg, $progress-bg 50%, transparent 50%, transparent), linear-gradient($nextDeg, $progress-completion 50%, $progress-bg 50%, $progress-bg);
		}
		@else {
			$nextDeg: -90deg + ($increment * ($i - $half));
			background-image: linear-gradient($nextDeg, $progress-completion 50%, transparent 50%, transparent), linear-gradient(270deg, $progress-completion 50%, $progress-bg 50%, $progress-bg);
		}
	}
}

.progress--circle.progress--100:after {
	background-image: linear-gradient(90deg, #F0C711 50%, transparent 50%, transparent), linear-gradient(270deg, #F0C711 50%, $progress-bg 50%, $progress-bg);
}
