.read-more {
	position:relative;
	[type="checkbox"] {
		opacity:0;
		position:absolute;
		&:checked {
			~ .expand-content {
				height:auto;
				overflow:auto;
				padding-top:$gap-sm;
				margin-top:$gap-sm;
				padding-bottom:$gap;
				border-top:1px solid #eee;
				border-bottom:1px solid #eee;
			}
		}
	}
	.title,.read-more {
		display:inline;
	}
	.read-more {
		margin-left:$gap;
		//color:$blue;
	}
	.expand-content {
		transition:all 0.15s;
		overflow:hidden;
		height:0;
		padding-left:$gap-sm;
		padding-right:$gap-sm;
	}
}
