.social-feed {
	article {
		padding-left:0;
		padding-right:0;
	}
	header {
		padding:0;
		margin-bottom:$gap-xs;
	}
	.posted-by > a {
		&:hover {
			text-decoration:none;
			.title {
				text-decoration:underline;
			}
		}
	}
	.title {
		@include font-semibold;
		font-size:16px;
	}
	.handle {
		color:rgba($text-color,0.8);
		font-size:13px;
	}
	.timestamp {
		display:flex;
		align-items:flex-start;
		color:rgba($text-color,0.8);
		font-size:13px;
		&:hover {
			text-decoration:none;
		}
	}
	.post-date {
		margin-right:$gap-sm;
	}
	.site-icon {
		width:20px;
		height:20px;
	}
	.slds-post__content {
		@media (min-width:$screen-sm) {
			padding-left:$gap-lg + $gap;
		}
	}
	.read {

	}
	.edit {
		.controls {
			position:absolute;
			bottom:$gap;
			right:$gap;
		}
	}
}
