[data-tooltip] {
  position: relative;
  cursor: pointer;
  &:before {
    position: absolute;
    visibility: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
    z-index: 1001;
    border: 6px solid transparent;
    background: transparent;
    content: "";
    bottom: 100%;
    left: 50%;
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: $blue-dk;
  }
  &:after {
    position: absolute;
    visibility: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
    z-index: 1000;
    padding: 8px;
    //ssswidth: 160px;
    background-color: $blue-dk;
		border-radius: 4px;
    color: #fff;
    content: attr(data-tooltip);
    font-size: 14px;
    line-height: 1.2;
    bottom: 100%;
    left: 50%;
    //margin-left: -80px;
    transform: translate(-50%, 0);
    text-align:center;
  }
  &:hover {
    &:before {
      visibility: visible;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      transform: translateY(-12px);
    }
    &:after {
      visibility: visible;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      transform: translate(-50%, -12px);
    }
  }
  &:focus {
    &:before {
      visibility: visible;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      transform: translateY(-12px);
    }
    &:after {
      visibility: visible;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      transform: translateY(-12px);
    }
  }
}
.tooltip {
  position: relative;
  cursor: pointer;
  &:before {
    position: absolute;
    visibility: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
    z-index: 1001;
    border: 6px solid transparent;
    background: transparent;
    content: "";
    bottom: 100%;
    left: 50%;
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: #000;
    border-top-color: hsla(0, 0%, 20%, 0.9);
  }
  &:after {
    position: absolute;
    visibility: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
    z-index: 1000;
    padding: 8px;
    //width: 160px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    font-size: 14px;
    line-height: 1.2;
    bottom: 100%;
    left: 50%;
    margin-left: -80px;
  }
  &:hover {
    &:before {
      visibility: visible;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      transform: translateY(-12px);
    }
    &:after {
      visibility: visible;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      transform: translateY(-12px);
    }
  }
  &:focus {
    &:before {
      visibility: visible;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      transform: translateY(-12px);
    }
    &:after {
      visibility: visible;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      transform: translateY(-12px);
    }
  }
}
.tooltip-top {
  &:before {
    bottom: 100%;
    left: 50%;
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: #000;
    border-top-color: hsla(0, 0%, 20%, 0.9);
  }
  &:after {
    bottom: 100%;
    left: 50%;
    margin-left: -80px;
  }
  &:hover {
    &:before {
      transform: translateY(-12px);
    }
    &:after {
      transform: translateY(-12px);
    }
  }
  &:focus {
    &:before {
      transform: translateY(-12px);
    }
    &:after {
      transform: translateY(-12px);
    }
  }
}
.tooltip-left {
  &:before {
    right: 100%;
    bottom: 50%;
    left: auto;
    margin-left: 0;
    margin-right: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-left-color: #000;
    border-left-color: hsla(0, 0%, 20%, 0.9);
    top: 3px;
  }
  &:after {
    right: 100%;
    bottom: 50%;
    left: auto;
    margin-left: 0;
    margin-bottom: -16px;
  }
  &:hover {
    &:before {
      transform: translateX(-12px);
    }
    &:after {
      transform: translateX(-12px);
    }
  }
  &:focus {
    &:before {
      transform: translateX(-12px);
    }
    &:after {
      transform: translateX(-12px);
    }
  }
}
.tooltip-bottom {
  &:before {
    top: 100%;
    bottom: auto;
    left: 50%;
    margin-top: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-bottom-color: #000;
    border-bottom-color: hsla(0, 0%, 20%, 0.9);
  }
  &:after {
    top: 100%;
    bottom: auto;
    left: 50%;
  }
  &:hover {
    &:before {
      transform: translateY(12px);
    }
    &:after {
      transform: translateY(12px);
    }
  }
  &:focus {
    &:before {
      transform: translateY(12px);
    }
    &:after {
      transform: translateY(12px);
    }
  }
}
.tooltip-right {
  &:before {
    bottom: 50%;
    left: 100%;
    margin-bottom: 0;
    margin-left: -12px;
    border-top-color: transparent;
    border-right-color: #000;
    border-right-color: hsla(0, 0%, 20%, 0.9);
    top: 3px;
  }
  &:after {
    bottom: 50%;
    left: 100%;
    margin-left: 0;
    margin-bottom: -16px;
  }
  &:hover {
    &:before {
      transform: translateX(12px);
    }
    &:after {
      transform: translateX(12px);
    }
  }
  &:focus {
    &:before {
      transform: translateX(12px);
    }
    &:after {
      transform: translateX(12px);
    }
  }
}
