.user-grid {
	margin:0 (-($gap-sm)) $gap-md;
	flex-wrap:wrap;
	display:flex;
	@media (max-width:$screen-sm-min) {
		flex-direction:column;
	}
	.icon svg {
		width:16px;
		height:16px;
	}
	.user-control {
		display:flex;
		align-items:center;
		flex-direction:column;
		justify-content:flex-start;
		> a {
			margin-top:$gap-sm;
			stroke:currentColor;
			color:$brand-primary;

			&:not(:last-of-type) {
				margin-right:$gap-sm;
			}
		}
	}
	.person {
		padding-left: $gap;
		padding-right: $gap;
		@media (min-width:$screen-sm) {
			width:33%;
		}
	}
	.controls {
		display:flex;
		margin-top:$gap-sm;
		margin-bottom:$gap-sm;
		align-items:center;
		a {
			display:flex;
			stroke:currentColor;
			&:not(:first-of-type) {
				margin-left:$gap-sm;
			}
		}
	}
}

.person {
	display:flex;
	flex-wrap:wrap;
	padding-bottom:$gap-md;
	@media (min-width:$screen-xs) {
		min-width:250px;
		width:100%;
	}

	.detail {
		margin-left:$gap;
		display:flex;
		flex-direction:column;
		justify-content:center;
		flex:1;
	}
	.name {
		line-height:1.2;
		@include font-semibold;
		//color:$gray-dk;
		font-size:16px;
		color:$text-dark;
	}
	.role {
		flex-basis:100%;
		margin-bottom:3px;
		line-height:1.3;
		font-size:13px;
		@include font-semibold;
		color:rgba(black,0.5);
	}
}

.user-update-card {
	// my-lab.pug
	padding:0 $gap-md 0 $gap-sm;
	@media (min-width:$screen-md) {
		width:33%;
		min-height:130px;
	}
	@media (max-width:$screen-md - 1px) {
		width:50%;
	}
	@media (max-width:$screen-sm-min) {
		width:100%
	}
	> .edit-block {
		.edit {
			flex-direction:row;
		}
		.read {
			display:flex;
		}
	}
	.user-card {
		margin-bottom:$gap + 4px;
	}
	.edit,.read {
		padding:($gap-sm + 2px) 0 ($gap-sm + 2px) ($gap-sm + 2px);
		position:relative;
		width:100%;
	}
	.read {
		//display:flex;
		&:hover {
			background:$edit-block-bg-hover;
			box-shadow:$edit-block-shadow-hover;
			padding-left:12px;
		}
		.detail {
			justify-content:center;
		}
		.controls {
			display:block;
		}
	}
	.detail {
		flex:1;
		margin-left:0;
		margin-top:$gap-sm - 2px;
		padding-right:($gap-sm + 2px);
	}
	.edit {
		background:$edit-block-bg;
		display:flex;
		margin-bottom:0;
		flex-wrap:wrap;
		padding:0;
		.img-edit {
			position:relative;
			z-index:10;
			border-radius:50%;
			height:60px;
			width:60px;
			margin:$gap-sm + 2px 0 $gap-sm + 2px $gap-sm + 2px;
			&:hover {
				background:white;
				img {
					animation: photo-out 0.15s forwards;
				}
				.action {
					animation: icon-in 0.15s forwards;
					color:white;
					svg {
						fill:currentColor;
					}
				}
			}
			img {
				width:60px;
				height:60px;
			}
			svg {
				width:16px;
				height:16px;
				//@include drop-shadow(0 0 2px rgba(black,0.5));
			}
			.action {
				opacity:0;
				position: absolute;
				width: 100%;
				padding: 1px 0;
				left: 0;
				top: 0;
				height:100%;
				border-radius:50%;
				//transform: translateY(-50%);
				background:$blue-dk;
				color:$blue-dk;
				text-shadow:0 0 1px rgba(white,0.5);
				display:flex;
				align-items:center;
				justify-content:center;
				flex-direction:column;
				.helper {
					font-size: 9px;
					@include font-bold;
					margin-top:$gap-xs;
					text-transform: uppercase;
					width: 100%;
					text-align: center;
					line-height:1;
					//display:none;
				}

			}
		}
		.controls {
			flex-basis:100%;
		}
	}
	.controls {
		display:none;
		margin-bottom:0;
		height:100%;
		.btn-bs {
			height:100%;
			stroke:currentColor;
			padding:$gap-sm;
			display:flex;
			align-items:center;
			border-radius:0 $border-radius-sm $border-radius-sm 0;
			flex:1;
			&:hover,&:focus {
				background:$brand-primary;
				color:white;
			}
		}
		svg {
			width:16px;
			height:16px;
		}
	}
}
