extends ../../layout/landing.pug

block title
  title Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/landing.css")

block variables
  - var faculty_wireframes = "http://ycnpgp.axshare.com/profile_-_general_info_-_internal.html"
  - var faculty_mockup = "https://invis.io/SBA74DPGH#/201774867_Profile"
  - var faculty_prototype = "http://appiriodemos.com/archive/Georgetown/views/faculty/dashboard.html"
  - var faculty_sandbox = "https://360dev-gu360-dev.cs4.force.com/faculty/s/dashboard"

  - var student_wireframes = "http://ycnpgp.axshare.com/#g=1&p=login"
  - var student_mockup = "https://invis.io/SBA74DPGH#/218833570_Dashboard-Student"
  - var student_prototype = "http://appiriodemos.com/archive/Georgetown/views/student/dashboard.html"
  - var student_sandbox = "https://360dev-gu360-dev.cs4.force.com/students/s/"

  - var advancement_wireframes = "http://ycnpgp.axshare.com/#g=1&p=login_2"
  - var advancement_mockup = "#"
  - var advancement_prototype = "http://appiriodemos.com/archive/Georgetown/views/alumni/giving.html"
  - var advancement_sandbox = "https://360dev-gu360-dev.cs4.force.com/advancement/s/my-giving"

block content
  .page.pg-login.links
    .wrapper.slds-align--absolute-center
      img.gu-logo(src="img/logo_Georgetown360_sm-white.svg", alt="Georgetown 360")

      h1 Communities:

      .card-group
        a.card-block
          .title Faculty

        a.card-block
          .title Student

        a.card-block
          .title Advancement

        a.card-block
          .title Test

block scripts
  script.

