extends ../../layout/landing.pug

block title
  title Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/landing.css")

block content
  .page.pg-login
    .wrapper.slds-align--absolute-center
      img.gu-logo(src="img/logo_Georgetown360_sm-white.svg", alt="Georgetown 360")
      form.login-form
        .gu-form-group
          +input-text("","login_user","")(type="text", class="slds-input", placeholder="NETID", value="")
        .gu-form-group
          +input-text("","login_password","")(type="password", class="slds-input", placeholder="Password", value="")
          .remember-me.slds-m-top--small
            +checkbox("", "login_remember", "login_remember", "", "Remember Me")
        .controls
          a.btn-bs.slds-button(href="#") Cancel
          a.btn-bs.slds-button(href="views/faculty/dashboard.html") Login
        .helper
          a(href="#") Forgot NETID or Password?
  footer
    nav.slds-list--horizontal.slds-has-dividers--left
      a.slds-item(href="links.html") Links
      a.slds-item(href="views/faculty/dashboard.html") Faculty
      a.slds-item(href="views/student/dashboard.html") Student
      a.slds-item(href="views/alumni/dashboard.html") Alumni

block scripts
  script.

