extends ../../layout/documentation.pug

include partials/documentation-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentSection = 'index';
  - var currentPage = 'buttons';

block title
  title Buttons / Documentation

block stylesheets
    link(rel="stylesheet", href="./css/theme-documentation.css")

block content
  .page-content.styleguide
    .page-header
      h1 Buttons
      .description Adding a class of #[code .btn-bs] will add our styles to the existing Lightning Design System buttons.

    section
      h4.slds-text-heading--small.slds-m-bottom--small Brand Colors

      .slds-m-bottom--x-large
        div.slds-m-bottom--x-small
          button.slds-button.btn-reset Reset
        code.class .slds-button.btn-reset

      .slds-m-bottom--x-large
        div.slds-m-bottom--x-small
          button.slds-button.slds-button--neutral.btn-bs Neutral
        code.class .slds-button.slds-button--neutral.btn-bs

      .slds-m-bottom--x-large
        div.slds-m-bottom--x-small
          button.slds-button.slds-button--neutral.btn-bs(disabled='') Neutral: Disabled
        code.attr disabled

      .slds-m-bottom--x-large
        div.slds-m-bottom--x-small
          button.slds-button.slds-button--brand.btn-bs Brand
        code.class .slds-button.slds-button--brand.btn-bs

      .slds-m-bottom--x-large
        div.slds-m-bottom--x-small
          button.slds-button.slds-button--brand.btn-bs(disabled='') Disabled
        code.attr disabled

      .slds-m-bottom--x-large
        div.slds-m-bottom--x-small
          button.slds-button.slds-button--destructive.btn-bs Destructive
        code.class .slds-button.slds-button--destructive.btn-bs

      .slds-m-bottom--x-large
        div.slds-m-bottom--x-small(style="background:#555;padding:10px")
          button.slds-button.slds-button--inverse.btn-bs Inverse
        code.class .slds-button.slds-button--inverse

      hr

      h4.slds-text-heading--small.slds-m-bottom--small Icons / Add-ons

      .slds-m-bottom--x-large
        div.slds-m-bottom--x-small
          button.slds-button.slds-button--neutral
            svg.slds-button__icon.slds-button__icon--left(aria-hidden='true')
              use(xlink:href='bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#download')
            | Neutral: Left Icon

      .slds-m-bottom--x-large
        div.slds-m-bottom--x-small
          button.slds-button.slds-button--neutral
            | Neutral: Right Icon
            svg.slds-button__icon.slds-button__icon--right(aria-hidden='true')
              use(xlink:href='bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#download')

      hr

      h4.slds-text-heading--small.slds-m-bottom--small Groups

      .slds-m-bottom--x-large
        .slds-button-group(role='group')
          button.slds-button.slds-button--neutral Refresh
          button.slds-button.slds-button--neutral Edit
          button.slds-button.slds-button--neutral Save

      .slds-m-bottom--x-large
        .slds-button-group(role='group')
          button.slds-button.slds-button--icon-border(title='Charts')
            svg.slds-button__icon(aria-hidden='true')
              use(xlink:href='bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#chart')
            span.slds-assistive-text Charts
          button.slds-button.slds-button--icon-border(title='Filter List')
            svg.slds-button__icon(aria-hidden='true')
              use(xlink:href='bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#filterList')
            span.slds-assistive-text Filter List
          button.slds-button.slds-button--icon-more(aria-haspopup='true', title='More Actions')
            svg.slds-button__icon(aria-hidden='true')
              use(xlink:href='bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#settings')
            svg.slds-button__icon.slds-button__icon--x-small(aria-hidden='true')
              use(xlink:href='bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#down')
            span.slds-assistive-text Settings

      .slds-grid.slds-wrap.slds-grid--pull-padded
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--1-of-3
          +dropdown("dropdownsample01", "Dropdown Sample", "")
            a(href="#") Dropdown item 01
            a(href="#") Dropdown item 02
            a(href="#") Dropdown item 03


block left-sidebar
  include partials/documentation-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.

