extends ../../layout/documentation.pug

include partials/documentation-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentSection = 'index';
  - var currentPage = 'colors';

block title
  title Colors / Documentation

block stylesheets
    link(rel="stylesheet", href="./css/theme-documentation.css")

block content
  .page-content.styleguide
    .page-header
      h1 Color Palette
      .description Hic itaque, eius voluptatibus cupiditate quis, iure mollitia natus, corporis beatae quidem deleniti iste repellat architecto velit quo animi accusamus minima illum aperiam ad earum alias placeat voluptatem. Consequuntur sapiente doloribus autem, consequatur ratione eligendi. Voluptatibus pariatur doloremque nesciunt quibusdam.

    section
      .slds-m-bottom--x-large
        .slds-text-heading--medium Color Palette
        ul.color-blocks
          li.blue-lt
            .name $blue-lt
            code.hex #E5F2F9
          li.blue
            .name $blue
            code.hex #007DBC
          li.blue-dk
            .name $blue-dk
            code.hex #0E4876
          li.blue-dk2
            .name $blue-dk2
            code.hex #012849

        ul.color-blocks
          li.tan
            .name $tan
            code.hex #E7E4E2
          li.red
            .name $red
            code.hex #BC4339

        ul.color-blocks
          li.gray-dk
            .name $gray-dk
            code.hex #333
          li.gray-md
            .name $gray-md
            code.hex #888
          li.gray
            .name $gray
            code.hex #ddd
          li.gray-lt
            .name $gray-lt
            code.hex #eee

        ul.color-blocks
          li.danger
            .name $danger
            code.hex #d9534f
          li.success
            .name $success
            code.hex #93C461
          li.info
            .name $info
            code.hex #5bc0de
          li.warning
            .name $warning
            code.hex #f0ad4e


block left-sidebar
  include partials/documentation-sidebar-left.pug


block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.



