extends ../../layout/documentation.pug

include partials/documentation-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentSection = 'index';
  - var currentPage = 'expandable-content';

block title
  title Expandable Content / Documentation

block stylesheets
    link(rel="stylesheet", href="./css/theme-documentation.css")

block content
  .page-content.styleguide
    .page-header
      h1 Expandable Content
      .description Hic itaque, eius voluptatibus cupiditate quis, iure mollitia natus, corporis beatae quidem deleniti iste repellat architecto velit quo animi accusamus minima illum aperiam ad earum alias placeat voluptatem. Consequuntur sapiente doloribus autem, consequatur ratione eligendi. Voluptatibus pariatur doloremque nesciunt quibusdam.

    section
      .slds-m-bottom--x-large
        .slds-text-heading--medium Modals
        a.btn-default-modal Launch Default Modal
        +modal-default("sample-modal01", "Modal Example")
          .slds-modal__content.slds-p-around--medium
            p Non magni, distinctio quibusdam laboriosam aliquid. Sint, enim maxime? Illum et esse, eligendi earum recusandae aliquid ab! Consequuntur deserunt neque porro nesciunt quidem. Excepturi vitae veritatis doloribus sequi numquam facilis. Esse cum non ea illum, est ex eos amet dicta officiis veritatis! Deleniti minus pariatur, illum nostrum totam, beatae cupiditate quia ullam, voluptate debitis autem enim. Blanditiis beatae repudiandae rerum ut, nulla nostrum a accusamus sed. Vero aliquid rem quisquam quod maxime, corporis eligendi sapiente sit ducimus libero reiciendis tenetur fuga in dignissimos iure iste odit non placeat. Blanditiis doloribus illo, eius quidem consequuntur dignissimos quos, necessitatibus sequi excepturi, officiis obcaecati amet deserunt minima. Sapiente at nulla ea, ratione quo iste id debitis optio aspernatur porro soluta. Ut modi aut, ex dolorem voluptates ad aspernatur maxime distinctio, enim praesentium, eligendi assumenda mollitia magni fugit sint! Qui, ipsa suscipit magni veniam unde quis ea reprehenderit eligendi voluptas sit repudiandae quibusdam sed impedit quos deleniti consequatur, illo dignissimos molestiae officiis iure minima quo accusantium totam? Cum perspiciatis inventore numquam voluptatibus minus accusamus maiores magni iusto delectus facilis aut eum at consequuntur, vel eveniet iure doloribus, est magnam quibusdam sed quam eaque assumenda illum nobis. Distinctio quos adipisci exercitationem assumenda veniam commodi explicabo.
            hr
            .slds-modal__footer
              button.btn-bs.slds-button.slds-button--neutral Cancel
              button.btn-bs.slds-button.slds-button--brand Search Faculty

block left-sidebar
  include partials/documentation-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
