extends ../../layout/documentation.pug

include partials/documentation-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentSection = 'index';
  - var currentPage = 'forms';

block title
  title Forms / Documentation

block stylesheets
    link(rel="stylesheet", href="./css/theme-documentation.css")

block content
  .page-content.styleguide
    .page-header
      h1 Forms
      .description Enim quia at eveniet alias mollitia suscipit, est reiciendis fugit corporis, neque nesciunt iste accusantium, aliquid provident distinctio! Neque, ratione.

    section
      h3.slds-text-heading--medium Text Inputs
      .slds-grid.slds-wrap.slds-grid--pull-padded
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--1-of-4
          +input-text("gu-form-group", "input_text01", "Text", "text", "", "Placeholder", "")
          +input-text-disabled("gu-form-group", "input_text02", "Text: Disabled", "text", "", "", "221B Baker St.")
          +input-text-read-only("gu-form-group", "input_text03", "Text: Read only", "text", "", "", "221B Baker St.")
          +textarea("gu-form-group", "input_textarea01", "Textarea", "Placeholder", "", "", "4")
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--1-of-4
          +input-text-has-icon-left("gu-form-group", "input_text-icon-left01", "Text: Icon Left", "text", "", "", "", "bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg", "search", false)
          +input-text-has-icon-right("gu-form-group", "input_text-icon-right01", "Text: Icon Right", "text", "", "", "", "bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg", "search", false)
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--1-of-4
          +input-text-required("gu-form-group", "input_text04", "Text: Is required", "text", "", "", "", false)
          +input-text-required("gu-form-group", "input_text05", "Text: Has error", "text", "", "", "", true)
            span This field is required
          +input-text-has-icon-left("gu-form-group", "input_text-icon-left01", "Text: Icon Left, Has Error", "text", "", "", "", "bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg", "warning", true)
            span This field is required
          +input-text-has-icon-right("gu-form-group", "input_text-icon-right01", "Text: Icon Right, Has Error", "text", "", "", "", "bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg", "warning", true)
            span This field is required
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--1-of-4
          +input-text("gu-form-group", "input_number01", "Text: Number", "number", "", "", "")
          +input-text("gu-form-group", "input_date01", "Text: Date", "date", "", "", "")
          +input-text("gu-form-group", "input_phone01", "Text: Phone", "phone", "", "", "")
          +input-text("gu-form-group", "input_email01", "Text: Email", "email", "", "", "")

    section
      h3.slds-text-heading--medium Touch Inputs
      .slds-grid.slds-wrap.slds-grid--pull-padded
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--1-of-4
          +select("gu-form-group", "select_01", "Select Default", "")
            option(value="one") One
            option(value="one") Two
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--1-of-4
          +select("gu-form-group", "select_02", "Select SLDS", "")
            option(value="one") One
            option(value="one") Two

      .slds-grid.slds-wrap.slds-grid--pull-padded.slds-m-top--xx-large
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--3-of-12
          h4.slds-text-heading--small.slds-m-bottom--small Vertical Radios
          .gu-form-group
            .slds-form-element__control
              +radio("radio_01", "Radio One", "sample_radio", "slds-m-bottom--x-small", true)
              +radio("radio_02", "Radio Two", "sample_radio", "slds-m-bottom--x-small", false)
              +radio("radio_03", "Radio Three", "sample_radio", "slds-m-bottom--x-small", false)

        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--3-of-12
          h4.slds-text-heading--small.slds-m-bottom--small Vertical Checks
          .gu-form-group
            .slds-form-element__control
              +checkbox("checkbox_01", "Checkbox One", "sample_checkbox", "slds-m-bottom--x-small", true)
              +checkbox("checkbox_02", "Checkbox Two", "sample_checkbox", "slds-m-bottom--x-small", false)

        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--6-of-12
          h4.slds-text-heading--small.slds-m-bottom--small Horizontal Radios
          .gu-form-group
            +radio("radio_04", "Radio One", "sample_radio2", "slds-m-bottom--x-small", true)
            +radio("radio_05", "Radio Two", "sample_radio2", "slds-m-bottom--x-small", false)
            +radio("radio_06", "Radio Three", "sample_radio2", "slds-m-bottom--x-small", false)

          h4.slds-text-heading--small.slds-m-bottom--small Horizontal Checks
          .gu-form-group
            +checkbox("checkbox_03", "Checkbox One", "sample_checkbox2", "slds-m-bottom--x-small", true)
            +checkbox("checkbox_04", "Checkbox Two", "sample_checkbox2", "slds-m-bottom--x-small", false)

    section
      h3.slds-text-heading--medium Form Layouts
      .slds-grid.slds-wrap.slds-grid--pull-padded
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--1-of-2
          h4.slds-text-heading--small.slds-m-bottom--small Horizontal Form
          .slds-form--horizontal
            +input-text("gu-form-group", "horiz-input_text01", "Text Input", "text", "", "Placeholder", "")
            +textarea("gu-form-group", "horiz-input_textarea01", "Textarea", "", "", "", "4")
            fieldset.slds-form-element
              legend.slds-form-element__legend.slds-form-element__label Checkbox Group label
              .slds-form-element__control
                +checkbox("horiz-opportunities-ownership", "All opportunities owned by you", "ownership", "", true)
                +checkbox("horiz-contact-ownership", "All contacts in the account owned by you", "ownership", "", false)
            fieldset.slds-form-element
              legend.slds-form-element__legend.slds-form-element__label Radio Group label
              .slds-form-element__control
                +radio("horiz-lead-generation", "Lead Generation", "leads", "", false)
                +radio("horiz-education-leads", "Education Leads", "leads", "", false)
            .slds-form-element
              .slds-form-element__control
                +checkbox("horiz-agree", "I agree to the Terms & Service", "ownership", "", false)

        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--1-of-2
          h4.slds-text-heading--small.slds-m-bottom--small Stacked Form
          .slds-form--stacked
            +input-text("gu-form-group", "stacked-input_text01", "Text Input", "text", "", "Placeholder", "")
            +textarea("gu-form-group", "stacked-input_textarea01", "Textarea", "", "", "", "4")
            fieldset.slds-form-element
              legend.slds-form-element__legend.slds-form-element__label Checkbox Group label
              .slds-form-element__control
                +checkbox("stacked-opportunities-ownership", "All opportunities owned by you", "ownership", "", true)
                +checkbox("stacked-contact-ownership", "All contacts in the account owned by you", "ownership", "", false)
            fieldset.slds-form-element
              legend.slds-form-element__legend.slds-form-element__label Radio Group label
              .slds-form-element__control
                +radio("stacked-lead-generation", "Lead Generation", "leads", "", false)
                +radio("stacked-education-leads", "Education Leads", "leads", "", false)
            .slds-form-element
              .slds-form-element__control
                +checkbox("stacked-agree", "I agree to the Terms & Service", "ownership", "", false)

      .slds-grid.slds-wrap.slds-grid--pull-padded
        .slds-p-horizontal--small.slds-size--1-of-1
          h4.slds-text-heading--small.slds-m-bottom--small Inline Form
          form.slds-form--inline
            +input-text("gu-form-group", "inline-input_text01", "Name", "text", "", "", "")
            +input-text("gu-form-group", "inline-input_text02", "Email", "email", "", "ex: user@domain.com", "")
            .slds-form-element
              button.slds-button.slds-button--brand(type='button') Send

block left-sidebar
  include partials/documentation-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
