extends ../../layout/documentation.pug

include partials/documentation-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentSection = 'index';
  - var currentPage = 'index';

block title
  title Notes / Documentation

block stylesheets
  link(rel="stylesheet", href="./css/theme-documentation.css")

block content
  .page-content.styleguide
    .page-header
      h1 Notes
      .description This framework leverages the #[a(href="https://www.lightningdesignsystem.com/") Salesforce Lightning Design System] and everything documented there should also work here. In some cases we have added our own classes on top of their components, or used a combination of our own plus Lightning Design System styles and / or markup.

    section
      .slds-m-bottom--x-large
        .slds-text-heading--medium Vendor packages
        ul
          li
            a(href="https://www.lightningdesignsystem.com/") Salesforce Lightning Design System

      .slds-m-bottom--x-large
        .slds-text-heading--medium Dev Files
        ul
          li HTML compiled from Jade files
          li CSS compiled from SCSS files

block left-sidebar
  include partials/documentation-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
