extends ../../layout/documentation.pug

include partials/documentation-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentSection = 'index';
  - var currentPage = 'typography';

block title
  title Typography / Documentation

block stylesheets
  link(rel="stylesheet", href="./css/theme-documentation.css")

block content
  .page-content.styleguide
    .page-header
      h1 Typography
      .description Enim quia at eveniet alias mollitia suscipit, est reiciendis fugit corporis, neque nesciunt iste accusantium, aliquid provident distinctio! Neque, ratione.

    section
      .slds-grid.slds-wrap.slds-grid--pull-padded
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--1-of-4
          h4.slds-text-heading--small.slds-m-bottom--small Headings

          .slds-m-bottom--x-large
            h1 Heading 1
            code.element h1
          .slds-m-bottom--x-large
            h2 Heading 2
            code.element h2
          .slds-m-bottom--x-large
            h3 Heading 3
            code.element h3
          .slds-m-bottom--x-large
            h4 Heading 4
            code.element h4
          .slds-m-bottom--x-large
            h5 Heading 5
            code.element h5
          .slds-m-bottom--x-large
            h6 Heading 6
            code.element h6

        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--1-of-4
          h4.slds-text-heading--small.slds-m-bottom--small SLDS Styles

          .slds-m-bottom--x-large
            .slds-text-body--regular Text Body Regular
            code.class .slds-text-body--regular
          .slds-m-bottom--x-large
            .slds-text-body--small Text Body Small
            code.class .slds-text-body--small
          .slds-m-bottom--x-large
            .slds-text-heading--large Text Heading large
            code.class .slds-text-heading--large
          .slds-m-bottom--x-large
            .slds-text-heading--medium Text Heading Medium
            code.class .slds-text-heading--medium
          .slds-m-bottom--x-large
            .slds-text-heading--small Text Heading Small
            code.class .slds-text-heading--small
          .slds-m-bottom--x-large
            .slds-text-color--default Text Default
            code.class .slds-text-color--default
          .slds-m-bottom--x-large
            .slds-text-color--weak Text Weak
            code.class .slds-text-color--weak
          .slds-m-bottom--x-large
            .slds-text-color--error Text Error
            code.class .slds-text-color--error
          .slds-m-bottom--x-large
            .slds-section__title Section Title
            code.class .slds-section__title
          .slds-m-bottom--x-large
            .slds-section-title--divider Section Title Divider
            code.class .slds-section-title--divider

        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--2-of-4
          h4.slds-text-heading--small.slds-m-bottom--small Lists

          ul
            li List item unstyled 1
            li List item unstyled 2
          code.element.slds-m-bottom--x-large ul,ol

          ul.slds-list-dotted
            li List item dotted
            li List item dotted
          code.element ul,ol
          code.class.slds-m-bottom--x-large.slds-m-top--x-small ul.slds-list-dotted

          ol.slds-list-ordered
            li List item ordered
            li List item ordered
          code.element ul,ol
          code.class.slds-m-bottom--x-large.slds-m-top--x-small ol.slds-list-ordered

          ul.slds-has-dividers--top
            li.slds-item List has top divider 1
            li.slds-item List has top divider 2
          code.element ul,ol
          code.class.slds-m-bottom--x-large.slds-m-top--x-small ul.slds-has-dividers--top

          ul
            li.slds-has-divider--top
              strong List item&nbsp;
              | has top divider 1
            li.slds-has-divider--top
              strong List item&nbsp;
              | has top divider 2
          code.element li
          code.class.slds-m-bottom--x-large.slds-m-top--x-small li.slds-has-divider--top

          ul.slds-has-dividers--bottom
            li.slds-item List has bottom divider 1
            li.slds-item List has bottom divider 2
          code.element ul,ol
          code.class.slds-m-bottom--x-large.slds-m-top--x-small ul.slds-has-dividers--bottom

          ul.slds-list--horizontal.slds-has-dividers--left
            li.slds-item List item 1
            li.slds-item List item 2
          code.element ul,ol
          code.class.slds-m-bottom--x-large.slds-m-top--x-small ul.slds-has-dividers--left

          ul.slds-list--horizontal
            li Item 1&nbsp;
            li Item 2&nbsp;
          code.element ul,ol
          code.class.slds-m-bottom--x-large.slds-m-top--x-small ul.slds-list--horizontal

          dl
            dt Label:
            dd description
          code.element.slds-m-bottom--x-large.slds-m-top--x-small dl &gt; dt &plus; dd

block left-sidebar
  include partials/documentation-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
