extends ../../layout/default-authenticated.pug

include partials/faculty-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = '';

block title
  title Class Details - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-faculty.css")
  link(rel="stylesheet", href="./css/edit-block.css")


block content
  mixin team-member(member_name, member_role, photo_url)
    a.user-card.lg(href="#!")
      img(src=photo_url, alt=member_name)
      .detail
        .name=member_name
        .role=member_role
        block

  .page-content.teaching
    .max-container

      a.btn-back(href="views/faculty/teaching.html")
        +svg-sprite("img/sprites/base.svg", "arrow-left", "", "Back to list")
        span Back to teaching list
      .page-section.has-controls
        h2.slds-text-heading--medium.slds-m-bottom--x-small.slds-text-color--default Class Detail
        .controls
          .title Navigate to
          +dropdown("profile-subnav", "profile-subnav", "", true)
            a(href="views/faculty/profile.html") General Information
            a(href="views/faculty/research.html") Research and Scholarship
            a(href="views/faculty/publications.html") Publications
            a(href="views/faculty/my-lab.html") My Lab
            a.active(href="#!") Teaching
            a(href="views/faculty/service-gu.html") Service to Georgetown
            a(href="views/faculty/service.html") Service to the Public
            a(href="views/faculty/mentoring.html") Mentoring
            a(href="views/faculty/grants.html") Grants and Awards
            a(href="views/faculty/news.html") In The News

      .page-section.slds-m-bottom--large
        h3.slds-section__title.slds-m-top--x-small.slds-m-bottom--x-small Class Description
        p.slds-m-bottom--x-small Voluptate voluptatibus corporis eaque quam quae obcaecati? Voluptatem natus, deserunt voluptates debitis et ex? Velit cumque temporibus alias saepe animi accusantium quia culpa molestias ad ipsum harum dolorum, officiis earum, neque quod omnis sed doloremque quas voluptatibus deleniti veritatis minus quis dolor voluptatem.
        p.slds-m-bottom--x-small Accusamus non cum accusantium, ad doloremque! Rem consequatur sapiente in voluptates error nesciunt dolores maiores earum culpa neque ab, perspiciatis cumque nam vel omnis ea, qui cum expedita voluptatibus iusto! Assumenda, dignissimos architecto ipsum harum explicabo quam obcaecati ipsam nulla. Eligendi facilis ullam laboriosam odit voluptatibus delectus aut veritatis commodi laborum laudantium. Autem ut commodi esse iusto.
        +icon-block("Class Syllabus", "/base", "document", "md", "", "slds-m-top--large slds-m-bottom--x-large ")

      .page-section
        h3.slds-section__title.slds-m-top--x-small.slds-m-bottom--x-small Co-teachers
        .slds-grid.slds-wrap.slds-grid--pull-padded
          .slds-p-horizontal--small.slds-size--1-of-1.slds-small-size--1-of-3.slds-m-bottom--medium
            +team-member("Brad Simpson", "Professor of Business Administration", "https://randomuser.me/api/portraits/men/34.jpg")
              div Financial Markets
              div Financial Policy
          .slds-p-horizontal--small.slds-size--1-of-1.slds-small-size--1-of-3.slds-m-bottom--medium
            +team-member("Violet Bryant", "Professor of Business Administration", "https://randomuser.me/api/portraits/women/51.jpg")
              div Financial Markets
              div Financial Policy
          .slds-p-horizontal--small.slds-size--1-of-1.slds-small-size--1-of-3.slds-m-bottom--medium
            +team-member("Michael Turner", "Professor of Business Administration", "https://randomuser.me/api/portraits/men/11.jpg")
              div Financial Markets
              div Financial Policy



block left-sidebar
  include partials/faculty-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts

