extends ../../layout/default-authenticated.pug

include partials/faculty-includes.pug
include ../../modules/input-edit.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'dashboard';

block title
  title Dashboard / Faculty - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/dashboard.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/quick-links.css")
  link(rel="stylesheet", href="./css/theme-faculty.css")

block content
  mixin person(photo_url, name)
    .person
      .user-photo.md(style= 'background-image:url(' + photo_url + ')')
      .detail
        .name= name
        .controls
          a(href="#!", title="Email")
            +svg-sprite("img/sprites/media.svg","email","","Email")
            span.slds-assistive-text Email
          a(href="#!", title="Phone")
            +svg-sprite("img/sprites/media.svg","phone","","Phone")
            span.slds-assistive-text Phone
          a(href="#!", title="Location")
            +svg-sprite("img/sprites/media.svg","location","","Location")
            span.slds-assistive-text Location

  .page-content.pg-dashboard
    .page-header.has-icon
      div
        +svg-sprite("img/sprites/nav.svg", "dashboard", "icon lg", "Dashboard")
        h1.slds-text-heading--large.slds-m-bottom--x-small Dashboard
      hr.slds-p-bottom--none

    .page-section.slds-m-bottom--x-small
      h2.slds-text-heading--medium.slds-text-color--default GU Quick Links
      .quick-links
        .icon-list
          .icon-link
            a(href="#")
              img(src="demo/quick-links/faculty/gms.svg", alt="GMS")
          .icon-link
            a(href="#")
              img(src="demo/quick-links/faculty/georgetown-help.svg", alt="My Access")
          .icon-link
            a(href="#")
              img(src="demo/quick-links/faculty/canvas.svg", alt="Canvas")
          .icon-link
            a(href="#")
              img(src="demo/quick-links/faculty/blackboard.svg", alt="Blackboard")
          .icon-link
            a(href="#")
              img(src="demo/quick-links/faculty/faculty-handbook.svg", alt="Faculty Handbook")
          .icon-link.add
            a.btn-edit-quicklinks
              span Add
              +svg-sprite("img/sprites/base.svg","add","","")
    hr

    .page-section.has-controls.slds-m-bottom--large
      h2.slds-text-heading--medium.slds-text-color--default Advisees
      .controls
        +input-text("", "slds-input-has-icon slds-input-has-icon--right slds-m-bottom--x-small", "advisee-search", "Name", "Name")
          svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
            use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#search")
        +dropdown("advisee-filter", "advisee-filter slds-m-bottom--x-small", "", true)
          a.active(href="#!") All Advisees
          a(href="#!") Undergraduate
      .toolbar
        a.icon-link.sm(href="#")
          +svg-sprite("img/sprites/media.svg", "email", "", "Email")
          span Message all advisees

    .user-grid
      +person("https://randomuser.me/api/portraits/men/1.jpg", "Sol Maillet")
      +person("https://randomuser.me/api/portraits/women/2.jpg", "Latashia Medi")
      +person("https://randomuser.me/api/portraits/women/3.jpg", "Paige Foster")

    hr

    .page-section.has-controls.slds-m-bottom--x-large
      h2.slds-text-heading--medium.slds-text-color--default Class Roster
      .controls
        +input-text("", "slds-input-has-icon slds-input-has-icon--right", "roster-search", "Name", "Name")
          svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
            use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#search")
        +dropdown("roster-filter", "roster-filter", "", true)
          a.active(href="#!") All Courses
          a(href="#!") Sample Course Name
      .toolbar
        a.icon-link.sm(href="#")
          +svg-sprite("img/sprites/media.svg", "email", "", "Email")
          span Message all students
    .user-grid
      +person("https://randomuser.me/api/portraits/men/4.jpg", "Jeanelle Vanoven")
      +person("https://randomuser.me/api/portraits/men/5.jpg", "Huong Jermeland")
      +person("https://randomuser.me/api/portraits/women/6.jpg", "Naoma Sund")
      +person("https://randomuser.me/api/portraits/women/7.jpg", "Clementina Ohme")
      +person("https://randomuser.me/api/portraits/men/8.jpg", "Garrett Brownley")
      +person("https://randomuser.me/api/portraits/men/9.jpg", "Theo Rodriquez")
      +person("https://randomuser.me/api/portraits/men/10.jpg", "Taylor Pierce")
      +person("https://randomuser.me/api/portraits/women/11.jpg", "Allison Gilbert")
      +person("https://randomuser.me/api/portraits/women/12.jpg", "Gemma Murray")
      +person("https://randomuser.me/api/portraits/men/13.jpg", "Joe Coleman")
      +person("https://randomuser.me/api/portraits/men/14.jpg", "Benjamin Dunn")
      +person("https://randomuser.me/api/portraits/men/15.jpg", "Shane Vaughn")
      +person("https://randomuser.me/api/portraits/men/16.jpg", "Anthony Pierce")

block right-sidebar
  .sidebar.right
    .block.has-bg.has-shadow
      .quick-links
        include ../../partials/quick-link-list.pug

      hr

      h2.slds-text-heading--medium.slds-m-bottom--x-small.slds-text-color--default Connect with Advancement
      p Update the Office of Advancement about Alumni or propective donors here. It is also helpful to indicate if you will be in a different area of the country and would be willing to help with fundraising activities.
      +textarea("gu-form-group slds-m-top--medium slds-m-bottom--medium", "connect-with-advancement", "Your Message")(placeholder="", class="slds-textarea", rows="10")
      .slds-grid.slds-wrap.slds-grid--pull-padded
        .slds-p-horizontal--small.slds-size--1-of-2
          +btn-default("btn-block", "clear", "Clear", "#!", false)
        .slds-p-horizontal--small.slds-size--1-of-2
          +btn-primary("btn-block", "submit-to-advancement", "Submit", "#!", false)


block modals
  include partials/modal-faculty-quick-links.pug
  include partials/modal-welcome.pug

block left-sidebar
  include partials/faculty-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
    $(document).ready(function() {
      var adviseeFilter = $('.advisee-filter .dropdown-items a.active').text();
      $('.advisee-filter label .title').html(adviseeFilter);

      var rosterFilter = $('.roster-filter .dropdown-items a.active').text();
      $('.roster-filter label .title').html(rosterFilter);
    });

