extends ../../layout/default-authenticated.pug

include partials/faculty-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'profile';

block title
  title Grants and Awards / Faculty - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-faculty.css")
  link(rel="stylesheet", href="./css/edit-block.css")

block content

  +page-wrapper("","")
    include partials/faculty-internal-header.pug

    +page-content-wrapper("")
      .page-section.has-controls
        h2.slds-text-heading--medium.slds-m-bottom--x-small.slds-text-color--default Grants and Awards
        .controls
          .title Navigate to
          +dropdown("profile-subnav", "profile-subnav", "", true)
            a(href="views/faculty/profile.html") General Information
            a(href="views/faculty/research.html") Research and Scholarship
            a(href="views/faculty/publications.html") Publications
            a(href="views/faculty/my-lab.html") My Lab
            a(href="views/faculty/teaching.html") Teaching
            a(href="views/faculty/service-gu.html") Service to Georgetown
            a(href="views/faculty/service.html") Service to the Public
            a(href="views/faculty/mentoring.html") Mentoring
            a.active(href="#!") Grants and Awards
            a(href="views/faculty/news.html") In The News

      .page-section.slds-m-top--large
        h3.slds-section__title Grants

        .slds-m-vertical--small
          a(href="#!") Grant Name - Georgetown University
          +space() ,
          | 2016 - 2014.
          +space()
          | Principal Investigator: Benjamin Sisko

        .slds-m-vertical--small
          a(href="#!") Grant Name - Georgetown University
          +space() ,
          | 2016 - 2014.
          +space()
          | Principal Investigator: Benjamin Sisko

        .slds-m-vertical--small
          a(href="#!") Grant Name - Georgetown University
          +space() ,
          | 2016 - 2014.
          +space()
          | Principal Investigator: Benjamin Sisko

        .slds-m-vertical--small
          a(href="#!") Grant Name - Georgetown University
          +space() ,
          | 2016 - 2014.
          +space()
          | Principal Investigator: Benjamin Sisko

      .page-section.slds-m-top--large
        h3.slds-section__title.slds-m-bottom--x-small Endowments

        .read-more.slds-m-vertical--small
          +read-more("Read More", "endowment_01")
            div.title
              strong Endowment Laboriosam.
              +space()
              | -
              +space()
              a(href="#!") Georgetown University
              +space()
              +space()
              | -
              +space()
              | 2012-2014
          .expand-content
            div.slds-m-bottom--medium
              div Type: Endowment Type
              div Endowed Chair: Reena Aggarwal
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .read-more.slds-m-vertical--small
          +read-more("Read More", "endowment_02")
            div.title
              strong Odio quis aeaque
              +space()
              | -
              +space()
              a(href="#!") Georgetown University
              +space()
              +space()
              | -
              +space()
              | 2012-2014
          .expand-content
            div.slds-m-bottom--medium
              div Type: Endowment Type
              div Endowed Chair: Reena Aggarwal
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .read-more.slds-m-vertical--small
          +read-more("Read More", "endowment_03")
            div.title
              strong Odit magnam beatae, labore
              +space()
              | -
              +space()
              a(href="#!") Georgetown University
              +space()
              +space()
              | -
              +space()
              | 2012-2014
          .expand-content
            div.slds-m-bottom--medium
              div Type: Endowment Type
              div Endowed Chair: Reena Aggarwal
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


      .page-section.slds-m-top--large
        h3.slds-section__title.slds-m-bottom--x-small Awards and Honors

        .read-more.slds-m-vertical--small
          +read-more("Read More", "award_01")
            div.title
              strong Autem reiciendis suntex
              +space()
              | -
              +space()
              a(href="#!") Georgetown University
              +space()
              +space()
              | -
              +space()
              | 2012-2014
          .expand-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .read-more.slds-m-vertical--small
          +read-more("Read More", "award_02")
            div.title
              strong Et, aliquam, reiciendis!
              +space()
              | -
              +space()
              a(href="#!") Georgetown University
              +space()
              +space()
              | -
              +space()
              | 2012-2014
          .expand-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .read-more.slds-m-vertical--small
          +read-more("Read More", "award_03")
            div.title
              strong Iusto eligendi, excepturi
              +space()
              | -
              +space()
              a(href="#!") Georgetown University
              +space()
              +space()
              | -
              +space()
              | 2012-2014
          .expand-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


block left-sidebar
  include partials/faculty-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
