extends ../../layout/default-authenticated.pug

include partials/faculty-includes.pug
include ../../modules/input-edit.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'profile';

block title
  title Profile / Faculty - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-faculty.css")
  link(rel="stylesheet", href="./css/profile.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/photo-upload.css")
  link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
  style.
    /* inline because we don't want this in SFDC */
    .edit-photo .uploaded-canvas .overlay-block {
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100%;
      background-image: url("../img/overlay_photo-upload.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      cursor: -webkit-grab;
      cursor: grab;
    }

block content

  +page-wrapper("","")
    .page-header
      .flex.sm.full-width
        div
          h1.slds-text-heading--large.slds-m-bottom--x-small Personal Information
          .description
            p Please note that you can set the visibility of some of the data indicated by the toggle next to it, if applicable. The default is internal to Georgetown (graduation cap), you can change it to only you (single person) or to all users (the globe).
            p In this first section, the information needs to be updated in #[a(href="#") GMS]. You can set the visibility preferences here.

        .user-photo-update
          .user-photo.md(style="background-image:url('demo/user-alt.png')")
          +btn-primary("btn-block btn-upload-photo", "", "Change Photo", "#!", false)

    +page-content-wrapper("")
      section.page-section
        div(class="icon-block has-controls")
          .heading
            h2(class="title slds-text-heading--small") GMS Information
            .controls
              a.btn-next
                span Go to GMS
                +svg-sprite("img/sprites/base.svg","arrow-right-mini","sm","Go")
        .slds-grid.slds-wrap.slds-grid--pull-padded-large
          .slds-col.slds-medium-size--1-of-2
            +faculty-edit-block("work-email", "Work Email", "", false, true, false , false)
              input(class="slds-input", id="work-email", type="text", value="ra1234@georgetown.edu", disabled="disabled")
          .slds-col.slds-medium-size--1-of-2
            +faculty-edit-block("office-phone", "Office Phone", "", false, true, false , false)
              input(class="slds-input", id="office-phone", type="text", value="555-555-5555", disabled="disabled")

      section.page-section
        div(class="icon-block has-controls")
          .heading
            h2(class="title slds-text-heading--small") Social Information
        .slds-grid.slds-wrap.slds-grid--pull-padded-large
          .slds-col.slds-medium-size--1-of-2
            +faculty-edit-block("facebook", "Facebook", "has-help", false, true, false , false)
              +control-single-input("", "pristine", "facebook", "", "")
          .slds-col.slds-medium-size--1-of-2
            +faculty-edit-block("linkedin", "LinkedIn", "has-help", false, true, false , false)
              +control-single-input("", "pristine", "linkedin", "", "")
          .slds-col.slds-medium-size--1-of-2
            +faculty-edit-block("twitter", "Twitter", "", false, true, false , false)
              +control-single-input("", "pristine", "twitter", "", "")

      section.page-section
        div(class="icon-block has-controls")
          .heading
            h2(class="title slds-text-heading--small") Career Information

        div.slds-form-element__label.field-label.slds-p-top--medium Personal Website(s)

        .slds-grid.slds-wrap.slds-grid--pull-padded-large
          .slds-col.slds-medium-size--1-of-2
            +edit-block-no-permissions("", "personal-website01_title", "My personal website 1")
              .edit-block(tabindex="0")
                .read.update-block
                  div My personal website
                  a http://www.website1title.com
                  .icons
                    +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
                +item-permissions("personal-website01", true, false, false, false)
                  .item
                    +input-text("horizontal", "", "personal-website01_title", "Title", "Title")(value="My Personal Website")
                    +input-text("horizontal", "", "personal-website01_url", "URL", "URL")(value="http://websitename.com")

            +edit-block-no-permissions("", "personal-website02_title", "My personal website 2")
              .edit-block(tabindex="0")
                .read.update-block
                  div My personal website 2
                  a http://www.website2title.com
                  .icons
                    +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
                +item-permissions("personal-website02", true, false, false, false)
                  .item
                    +input-text("horizontal", "", "personal-website02_title", "Title", "Title")(value="My Personal Website 2")
                    +input-text("horizontal", "", "personal-website02_url", "URL", "URL")(value="http://websitename.com")

            +edit-block-no-permissions("", "personal-website03_title", "My personal website 3")
              .edit-block(tabindex="0")
                .read.update-block
                  div My personal website 3
                  a http://www.website3title.com
                  .icons
                    +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
                +item-permissions("personal-website03", true, false, false, false)
                  .item
                    +input-text("horizontal has-help", "", "personal-website03_title", "Title", "Title")(value="My Personal Website 2")
                    +input-text("horizontal has-help", "", "personal-website03_url", "URL", "URL")(value="http://websitename.com")
          .slds-col.slds-medium-size--1-of-2
            +edit-block-no-permissions("", "personal-website04_title", "My personal website 1")
              .edit-block(tabindex="0")
                .read.update-block
                  div My personal website 4
                  a http://www.website4title.com
                  .icons
                    +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
                +item-permissions("personal-website04", true, false, false, false)
                  .item
                    +input-text("horizontal has-help", "", "personal-website04_title", "Title", "Title")(value="My Personal Website 2")
                    +input-text("horizontal has-help", "", "personal-website04_url", "URL", "URL")(value="http://websitename.com")

            +edit-block-no-permissions("", "personal-website05_title", "My personal website 1")
              .edit-block(tabindex="0")
                .read.update-block
                  div My personal website 5
                  a http://www.website5title.com
                  .icons
                    +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
                +item-permissions("personal-website05", true, false, false, false)
                  .item
                    +input-text("horizontal has-help", "", "personal-website05_title", "Title", "Title")(value="My Personal Website 2")
                    +input-text("horizontal has-help", "", "personal-website05_url", "URL", "URL")(value="http://websitename.com")

            .gu-profile-item
              label.slds-form-element__label.field-label CV
              .edit-block(tabindex="0")
                .read.update-block

                  span.slds-pill.gu-pill
                    a.slds-pill__label(href='javascript:void(0);', title='tmontemorano-cv.pdf') tmontemorano-cv.pdf
                  .icons
                    +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
                +item-permissions("cv", true, false, false, false)
                  .item
                    .slds-form-element__label Current File:
                    span.slds-pill.gu-pill.slds-m-top--xx-small
                      a.slds-pill__label(href='javascript:void(0);', title='tmontemorano-cv.pdf') tmontemorano-cv.pdf
                      button.slds-button.slds-button--icon.slds-pill__remove(title='Remove')
                        svg.slds-button__icon(aria-hidden='true')
                          use(xlink:href='bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#close')
                        span.slds-assistive-text Remove
                  .item.drop-zone
                    .slds-form-element__label Update your CV:
                    small NOTE: Uploading a new file will override an existing CV.
                    .slds-m-top--xx-small
                      +slds-file-upload("cv-upload", "", "cv-upload-input", "", "Browse", "or drop your file here.", "60px")


      section.page-section
        div(class="icon-block has-controls")
          .heading
            h2(class="title slds-text-heading--small") University Information

          .slds-grid.slds-wrap.slds-grid--pull-padded-large
            .slds-col.slds-medium-size--1-of-2
              +faculty-edit-block("assistant-full-name", "Assistant Full Name", "slds-m-bottom--medium", false, true, false , false)
                +control-single-input("", "default", "assistant-full-name", "", "Reena Aggarwal")(value="Reena Aggarwal")
            .slds-col.slds-medium-size--1-of-2
              +faculty-edit-block("assistant-email", "Assistant Email", "slds-m-bottom--medium", false, true, false , false)
                +control-single-input("", "default", "assistant-email", "", "")(value="raggarwal@georgetown.edu")

          .slds-grid.slds-wrap.slds-grid--pull-padded-large
            .slds-col.slds-medium-size--1-of-2
              +edit-block-no-permissions("", "office-hours", "Office Hours", "Office Hours")
                .edit-block(tabindex="0")
                  .read.update-block
                    .slds-m-bottom--small
                      strong Monday (M)
                      div 11AM through 3PM
                    .slds-m-bottom--small
                      strong Tuesday (T)
                      div 11AM through 3PM
                    .slds-m-bottom--small
                      strong Wednesday (W)
                      div 11AM through 3PM
                    .slds-m-bottom--small
                      strong Friday (F)
                      div 8AM through 12:30PM
                    .icons
                      +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
                  +item-permissions("office-hours", true, false, false, false)
                    .item
                      +input-text("horizontal slds-m-bottom--xx-small", "", "hours-monday", "Monday (M)","Monday (M)")(class="slds-input", type="text",value="11AM through 3PM")
                      +input-text("horizontal slds-m-bottom--xx-small", "", "hours-tuesday", "Tuesday (T)","Tuesday (T)")(class="slds-input", type="text",value="11AM through 3PM")
                      +input-text("horizontal slds-m-bottom--xx-small", "", "hours-wednesday", "Wednesday (W)","Wednesday (W)")(class="slds-input", type="text",value="11AM through 3PM")
                      +input-text("horizontal slds-m-bottom--xx-small", "", "hours-thursday", "Thursday (R)","Thursday (R)")(class="slds-input", type="text")
                      +input-text("horizontal slds-m-bottom--xx-small", "", "hours-friday", "Friday (F)","Friday (F)")(class="slds-input", type="text",value="8AM through 12:30PM")
                      +input-text("horizontal slds-m-bottom--xx-small", "", "hours-saturday", "Saturday (S)","Saturday (S)")(class="slds-input", type="text")
                      +input-text("horizontal slds-m-bottom--xx-small", "", "hours-sunday", "Sunday (U)","Sunday (U)")(class="slds-input", type="text")
                      br
                      +select("horizontal","time-zone","Time Zone", "")(class="slds-select")
                        option(value="EST") EST
            .slds-col.slds-medium-size--1-of-2
              +faculty-edit-block("office-location-info", "Office Location", "slds-m-bottom--large", false, true, false , false)
                +control-single-input("", "default", "office-location-info", "", "")(value="Hariri Building")

              +edit-block-no-permissions("", "office-appointment-info", "", "Office Appointents")
                .edit-block(tabindex="0")
                  .read.update-block
                    div By appointment only
                    a http://www.book.me/raggarwal
                    .icons
                      +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
                  +item-permissions("personal-website05", true, false, false, false)
                    .item
                      +checkbox("", "by-appointment-only", "by-appointment-only","","Office hours are by Appointment only")(checked="checked")
                      +input-text("slds-m-top--medium", "", "office-appointment-system", "Appointment System URL")(class="slds-input", type="text",placeholder="URL", value="http://www.book.me/raggarwal")

      section.page-section
        div(class="icon-block has-controls")
          .heading
            h2(class="title slds-text-heading--small") Opt-in Information
        fieldset.slds-m-top--medium.gu-checkbox
          legend.slds-assistive-text Select your opt-in information.
          .checkbox-group-horizontal
            +custom-checkbox("", "avail-mentoring",  "availability", "Available for Mentoring")(checked="checked")
            +custom-checkbox("", "avail-defaulting", "availability", "Available for Dissertation defaulting")
            +custom-checkbox("", "avail-activities", "availability", "Available for Fundraising Activities")

block modals
  include ../../partials/modal-photo-upload.pug

block left-sidebar
  include partials/faculty-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.



