extends ../../layout/default-authenticated.pug

include partials/faculty-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'profile';

block title
  title Mentoring / Faculty - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-faculty.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/publications.css")

block content

  mixin mentoring(mentoring_id, mentoring_year, author_name, author_summary)
    .edit-block
      .read.update-block
        block
      .edit.slds-hide
        .item
          .slds-form-element.gu-form-group
            .slds-form-element__control.slds-input-has-icon.slds-input-has-icon--right
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden='true')
                use(xlink:href='../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear')
              input(class="slds-input", id= 'year_' + mentoring_id, type='text', placeholder='Year(s)', value= mentoring_year)
        .item
          .slds-form-element.gu-form-group
            .slds-form-element__control.slds-input-has-icon.slds-input-has-icon--right
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden='true')
                use(xlink:href='../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear')
              input(class="slds-input", id= 'author_' + mentoring_id, type='text', placeholder='Author(s)', value= author_name)
        .item
          .slds-form-element.gu-form-group
            .slds-form-element__control.slds-input-has-icon.slds-input-has-icon--right
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden='true')
                use(xlink:href='../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear')
              input(class="slds-input", id= 'summary_' + mentoring_id, type='text', placeholder='Summary', value= author_summary)
        +edit-block-controls()

  +page-wrapper("","")
    include partials/faculty-internal-header.pug

    +page-content-wrapper("")
      .page-section.has-controls
        h2.slds-text-heading--medium.slds-m-bottom--x-small.slds-text-color--default Mentoring
        .controls
          .title Navigate to
          +dropdown("profile-subnav", "profile-subnav", "", true)
            a(href="views/faculty/profile.html") General Information
            a(href="views/faculty/research.html") Research and Scholarship
            a(href="views/faculty/publications.html") Publications
            a(href="views/faculty/my-lab.html") My Lab
            a(href="views/faculty/teaching.html") Teaching
            a(href="views/faculty/service-gu.html") Service to Georgetown
            a(href="views/faculty/service.html") Service to the Public
            a.active(href="#!") Mentoring
            a(href="views/faculty/grants.html") Grants and Awards
            a(href="views/faculty/news.html") In The News

      +header-add-block("h3", "", "Dissertation Supervision", "slds-section__title", "", false)
        .add-block.slds-hide
          .item
            .slds-form-element.gu-form-group
              .slds-form-element__control
                input(class="slds-input", id="title_dissertation-new", type='text', placeholder='Year(s)', value='')
          .item
            .slds-form-element.gu-form-group
              .slds-form-element__control
                input(class="slds-input", id="authors_dissertation-new", type='text', placeholder='Author', value='')
          .item
            .slds-form-element.gu-form-group
              .slds-form-element__control
                input(class="slds-input", id="summary_dissertation-new", type='text', placeholder='Summary', value='')
          +add-block-controls()
        +mentoring("dissertation-supervision-01", "2014 - 2015", "Zoe Gadegbeku", "Eligendi amet aperiam sunt, dolorum nostrum libero dicta.")
          h6.gu-heading 2014 - 2015
          div Zoe Gadegbeku: "Entendez les voix qui crient: Une analyse d’Awa Thiam, Mariama Bâ et Ken Bugul"
        +mentoring("dissertation-supervision-02", "2011 - 2012", "Emily Hall", "Voluptas enim, totam doloremque. Voluptatum perferendis odio accusantium maxime, odit corporis debitis.")
          h6.gu-heading 2011 - 2012
          div Emily Hall: "La traduction "au féminin" dans La Princesse de Clèves traduit par Nancy Mitford"
        +mentoring("dissertation-supervision-02", "2009 - 2010", "Tucker Kapp", "Autem commodi explicabo, asperiores fuga amet cumque sequi")
          h6.gu-heading 2009 - 2010
          div Tucker Kapp: "Autem commodi explicabo, asperiores fuga amet cumque sequi"


      +header-add-block("h3", "", "Thesis Supervision", "slds-section__title", "", false)
        .add-block.slds-hide
          .item
            .slds-form-element.gu-form-group
              .slds-form-element__control
                input(class="slds-input", id="title_thesis-new", type='text', placeholder='Year(s)', value='')
          .item
            .slds-form-element.gu-form-group
              .slds-form-element__control
                input(class="slds-input", id="authors_thesis-new", type='text', placeholder='Author', value='')
          .item
            .slds-form-element.gu-form-group
              .slds-form-element__control
                input(class="slds-input", id="summary_thesis-new", type='text', placeholder='Summary', value='')
          +add-block-controls()
        +mentoring("thesis-supervision-01", "2011", "Dinaw Mengestu", "How to Read the Air")
          h6.gu-heading 2011
          div Dinaw Mengestu: How to Read the Air
        +mentoring("thesis-supervision-02", "2006", "Margaret Atwood", "The Blind Assassin")
          h6.gu-heading 2011 - 2012
          div Margaret Atwood: The Blind Assassin
        +mentoring("thesis-supervision-02", "2001", "Ernest Gaines", "A Lesson Before Dying")
          h6.gu-heading 2001
          div Ernest Gaines: A Lesson Before Dying

      +header-add-block("h3", "", "Other", "slds-section__title", "", false)
        .add-block.slds-hide
          .item
            .slds-form-element.gu-form-group
              .slds-form-element__control
                input(class="slds-input", id="title_Other-new", type='text', placeholder='Year(s)', value='')
          .item
            .slds-form-element.gu-form-group
              .slds-form-element__control
                input(class="slds-input", id="authors_Other-new", type='text', placeholder='Author', value='')
          .item
            .slds-form-element.gu-form-group
              .slds-form-element__control
                input(class="slds-input", id="summary_Other-new", type='text', placeholder='Summary', value='')
          +add-block-controls()
        +mentoring("other-01", "2013", "Summer", "Michaela Wright (assistantship)")
          h6.gu-heading 2013
          div Summer: Michaela Wright (assistantship)
        +mentoring("other-01", "2008", "Spring", "Galen Bascom (assistantship)")
          h6.gu-heading 2008
          div Spring: Galen Bascom (assistantship)



block left-sidebar
  include partials/faculty-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
    $('.add-publication').click(function () {
      $(this).parent().prev('.add-block').removeClass('slds-hide');
    });

