extends ../../layout/default-authenticated.pug

include partials/faculty-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'resources';

block title
  title Lab Resources / Faculty - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/card-person.css")
  link(rel="stylesheet", href="./css/table.css")
  link(rel="stylesheet", href="./css/theme-faculty.css")

block content
  mixin team-member(member_name, member_role, photo_url)
    .edit-block(tabindex="0")
      .read.update-block.user-card.lg
        img(src=photo_url, alt=member_name)
        .detail
          .name= member_name
          .role= member_role
        .icons
          +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
      .edit.slds-hide.user-card.lg
        a.img-edit
          img(src=photo_url, alt=member_name)
          .action
            +svg-sprite("img/sprites/media.svg", "camera", "", "")
            span.helper Update Photo
        .detail
          .slds-form-element.slds-m-bottom--xx-small
            .slds-form-element__control.slds-input-has-icon.slds-input-has-icon--right
              svg(class="slds-input__icon slds-icon-text-default btn-search" aria-hidden='true')
                use(xlink:href="img/sprites/base.svg#search")
              input(class="slds-input", id= 'name_' + member_name, type='text', placeholder="Search to add users", value=member_name )
          .slds-form-element.slds-m-bottom--xx-small
            .slds-form-element__control
              input(class="slds-input", id= 'title_' + member_role, type='text', placeholder='Title', value=member_role)
        +edit-block-controls()

  +page-wrapper("","")
    include partials/faculty-internal-header.pug

    +page-content-wrapper("")
      .page-section.has-controls
        h2.slds-text-heading--medium.slds-m-bottom--x-small.slds-text-color--default My Lab
        .controls
          .title Navigate to
          +dropdown("profile-subnav", "profile-subnav", "", true)
            a(href="views/faculty/profile.html") General Information
            a(href="views/faculty/research.html") Research and Scholarship
            a(href="views/faculty/publications.html") Publications
            a.active(href="#!") My Lab
            a(href="views/faculty/teaching.html") Teaching
            a(href="views/faculty/service-gu.html") Service to Georgetown
            a(href="views/faculty/service.html") Service to the Public
            a(href="views/faculty/mentoring.html") Mentoring
            a(href="views/faculty/grants.html") Grants and Awards
            a(href="views/faculty/news.html") In The News

      .slds-m-top--small.slds-m-bottom--large
        +checkbox("", "hide-from-profile", "hide-from-profile", "", "Do not show this page in my profile")

      .edit-block(tabindex="0")
        .read.update-block
          .field-label Lorem Ipsum Lab Title
          .slds-text-longform
            div Ipsum lab description, consectetur adipiscing elit.
            a http://loremipsum.com
          .icons
            +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
        .edit.slds-hide
          .item
            +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "lab-title", "Title", "Title")(value="Lorem Ipsum Lab Title")
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
          .item
            +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "lab-description", "Description", "Description")(value="Ipsum lab description, consectetur adipiscing elit.")
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
          .item
            +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "lab-url", "URL", "URL")(value="http://loremipsum.com")
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
          +edit-block-controls()

      +header-add-block("h3", "", "Location(s)", "slds-section__title", "", false, "", "locations", "")
        .add-block.slds-hide
          .item
            +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-add_title", "Title", "Title")
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
            +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-add_email", "Email", "Email")
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
            +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-add_address", "Address", "Address")
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
            +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-add_address2", "Address 2", "Address 2")
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
            +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-add_building", "Building Number", "Building Number")
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
            +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-add_room", "Room Number", "Room Number")
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
            +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-add_city", "City", "City")
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
            +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-add_state", "State", "State")
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
            +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-add_zip", "Zip", "Zip")
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
          +add-block-controls()

        .list-group
          .edit-block(tabindex="0")
            .read.update-block
              strong.slds-text-heading--small Lorem Hall
              div Building 123 - Room 1337
              div 3700 Reservoir Road, Washington, DC 20057
              .icons
                +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
            +list-row("","Cupiditate dolorum dignissimos", "div","http://loremipsum.com", false, "Edit", "edit",true,false)
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-01_title", "Title", "Title")(value="Lorem Hall")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-01_email", "Email", "Email")(value="")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-01_address", "Address", "Address")(value="3700 Reservoir Road")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-01_address2", "Address 2", "Address 2")(value="")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-01_building", "Building Number", "Building Number")(value="Building 123")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-01_room", "Room Number", "Room Number")(value="Room 4001")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-01_city", "City", "City")(value="Washington")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-01_state", "State", "State")(value="DC")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-01_zip", "Zip", "Zip")(value="20057")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
          .edit-block(tabindex="0")
            .read.update-block
              strong.slds-text-heading--small Lorem Hall
              div Building 123 - Room 1337
              div 3700 Reservoir Road, Washington, DC 20057
              .icons
                +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
            +list-row("","Dolorum dignissimos", "div","http://loremipsum.com", false, "Edit", "edit",true,false)
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-02_title", "Title", "Title")(value="Lorem Hall")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-02_email", "Email", "Email")(value="")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-02_address", "Address", "Address")(value="3700 Reservoir Road")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-02_address2", "Address 2", "Address 2")(value="")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-02_building", "Building Number", "Building Number")(value="Building 123")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-02_room", "Room Number", "Room Number")(value="Room 4001")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-02_city", "City", "City")(value="Washington")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-02_state", "State", "State")(value="DC")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "location-02_zip", "Zip", "Zip")(value="20057")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")


      +header-add-block("h3", "", "My Team", "slds-section__title", "slds-m-bottom--medium", false)(class="btn-add-user")
      .user-grid
        .user-update-card
          +team-member("Lennie Taira Myrtle Aiuto", "Lab Specialist", "https://s3.amazonaws.com/uifaces/faces/twitter/arashmil/128.jpg")
        .user-update-card
          +team-member("Noemi Maymi", "Lab Specialist", "https://pbs.twimg.com/profile_images/797510184339963904/EvSKiVTL_400x400.jpg")
        .user-update-card
          +team-member("Pilar Kelson", "Lab Specialist", "demo/user_blank.jpg")
        .user-update-card
          +team-member("Beatriz Puchalski Mcconnell, PhD", "Lab Specialist", "https://randomuser.me/api/portraits/women/24.jpg")
        .user-update-card
          +team-member("Eli Botterbusch", "Lab Specialist", "https://randomuser.me/api/portraits/men/18.jpg")
        .user-update-card
          +team-member("Minerva Tabak", "Lab Specialist", "https://randomuser.me/api/portraits/women/37.jpg")

      +header-add-block("h3", "", "Resources", "slds-section__title", "slds-m-bottom--medium", false)

        .add-block.slds-hide
          .item
            +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "resource-add_title", "Title", "Title")
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
          .item
            +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "resource-add_description", "Description", "Description")
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
          +add-block-controls()

        .edit-block(tabindex="0")
          .read.update-block
            strong.slds-text-heading--small Resource Title Lorem
            .slds-text-longform
              div Ipsum lab description, consectetur adipiscing elit.
            .icons
              +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
          .edit.slds-hide
            .item
              +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "resource-01_title", "Title", "Title")(value="Resource Title Lorem")
                svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                  use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
            .item
              +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "resource-01_description", "Description", "Description")(value="Ipsum lab description, consectetur adipiscing elit.")
                svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                  use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
            +edit-block-controls()
        .edit-block(tabindex="0")
          .read.update-block
            strong.slds-text-heading--small Sample Resource Title
            .slds-text-longform
              div Reiciendis sint inventore molestiae. Nihil quae beatae labore.
            .icons
              +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
          .edit.slds-hide
            .item
              +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "resource-02_title", "Title", "Title")(value="Sample Resource Title Lorem")
                svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                  use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
            .item
              +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "resource-02_description", "Description", "Description")(value="Reiciendis sint inventore molestiae. Nihil quae beatae labore.")
                svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                  use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
            +edit-block-controls()
        .edit-block(tabindex="0")
          .read.update-block
            strong.slds-text-heading--small Ipsum Lorem
            .slds-text-longform
              div Dignissimos harum earum voluptates vero unde,laudantium dicta illum reiciendis in quasi aperiam sit dolore magni.
            .icons
              +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
          .edit.slds-hide
            .item
              +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "resource-03_title", "Title", "Title")(value="Ipsum Lorem Title Lorem")
                svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                  use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
            .item
              +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "resource-03_description", "Description", "Description")(value="Dignissimos harum earum voluptates vero unde,laudantium dicta illum reiciendis in quasi aperiam sit dolore magni.")
                svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                  use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
            +edit-block-controls()


      +header-add-block("h3", "", "Lab Affiliations", "slds-section__title", "", false, "", "lab-affiliations", "")
        .add-block.slds-hide
          .item
            +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "affiliation-add_title", "Title", "Title")(value="")
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
          .item
            +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "affiliation-add_url", "URL", "URL")(value="")
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
          .item
            +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "affiliation-add_address", "Address", "Address")(value="")
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
          .item
            +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "affiliation-add_email", "Email", "Email")(value="")
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
          .item
            +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "affiliation-add_buildin", "Building / Room", "Building / Room")(value="")
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
          +add-block-controls()

        .list-group
          .edit-block(tabindex="0")
            +list-row("has-controls update-block","Cupiditate dolorum dignissimos", "a","http://loremipsum.com", true, "Edit", "edit", false,false)
              .label-card.lg
                +svg-sprite("img/sprites/base.svg", "location", "left", "Location")
                div
                  .label Location
                  span.status 3700 Reservoir Road, Building D, 137
            +list-row("","Cupiditate dolorum dignissimos", "div","http://loremipsum.com", false, "Edit", "edit",true,false)
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "affiliation-01_title", "Title", "Title")(value="Cupiditate dolorum dignissimos")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "affiliation-01_url", "URL", "URL")(value="http://loremipsum.com")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "affiliation-01_address", "Address", "Address")(value="3700 Reservoir Road")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "affiliation-01_email", "Email", "Email")(value="")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "affiliation-01_buildin", "Building / Room", "Building / Room")(value="Building D, Room 4001")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")

          .edit-block(tabindex="0")
            +list-row("has-controls update-block","Cupiditate dolorum dignissimos", "a","http://loremipsum.com", true, "Edit", "edit", false,false)
              .label-card.lg
                +svg-sprite("img/sprites/base.svg", "location", "left", "Location")
                div
                  .label Location
                  span.status 3700 Reservoir Road, Building D, 137
            +list-row("","Cupiditate dolorum dignissimos", "div","http://loremipsum.com", false, "Edit", "edit",true,false)
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "affiliation-02_title", "Title", "Title")(value="Cupiditate dolorum dignissimos")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "affiliation-02_url", "URL", "URL")(value="http://loremipsum.com")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "affiliation-02_address", "Address", "Address")(value="3700 Reservoir Road")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "affiliation-02_email", "Email", "Email")(value="")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "affiliation-02_buildin", "Building / Room", "Building / Room")(value="Building D, Room 4001")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
block modals
  include partials/modal-add-user.pug


block left-sidebar
  include partials/faculty-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
    // All list-card edit buttons
    $('.user-card .btn-edit').click(function () {
      $(this).parent().parent().next('.edit').removeClass('slds-hide');
      $(this).parent().parent('.read').addClass('slds-hide');
    });

    $('.user-card .btn-save').click(function () {
      $(this).parent().parent(".edit").addClass('slds-hide');
      $(this).parent().parent().prev(".read").removeClass('slds-hide');
    });

