
extends ../../layout/default-authenticated.pug

include partials/faculty-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'profile';

block title
  title News / Faculty - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-faculty.css")
  link(rel="stylesheet", href="./css/edit-block.css")

block content
  mixin news-item(item_type, item_name, item_url, item_date)
    .item.slds-m-bottom--small
      span= item_type
        +space()
      a(href=item_url)= item_name
      |,
      +space()
      span= item_date

  +page-wrapper
    include partials/faculty-internal-header.pug

    +page-content-wrapper("")
      .page-section.has-controls
        h2.slds-text-heading--medium.slds-m-bottom--x-small.slds-text-color--default In the News
        .controls
          .title Navigate to
          +dropdown("profile-subnav", "profile-subnav", "", true)
            a(href="views/faculty/profile.html") General Information
            a(href="views/faculty/research.html") Research and Scholarship
            a(href="views/faculty/publications.html") Publications
            a(href="views/faculty/my-lab.html") My Lab
            a(href="views/faculty/teaching.html") Teaching
            a(href="views/faculty/service-gu.html") Service to Georgetown
            a(href="views/faculty/service.html") Service to the Public
            a(href="views/faculty/mentoring.html") Mentoring
            a(href="views/faculty/grants.html") Grants and Awards
            a.active(href="#!") In The News

      .page-section.slds-m-top--large
        h3.slds-section__title.slds-m-bottom--small Television
        .item-group
          +news-item("Media Outlet", "Segment Title & Link", "#!", "02/25/2016")
          +news-item("Media Outlet", "Repellat optio perspiciatis, esse", "#!", "03/25/2016")
          +news-item("Media Outlet", "Minima, cupiditate", "#!", "04/25/2016")
          +news-item("Media Outlet", "Explicabo eveniet quidem molestias", "#!", "06/25/2016")

      .page-section.slds-m-top--large
        h3.slds-section__title.slds-m-bottom--small Print Publications
        .item-group
          +news-item("Publication", "Asperiores ut, id enim debitis", "#!", "06/25/2016")
          +news-item("Publication", "Optio, earum", "#!", "06/25/2016")
          +news-item("Publication", "Possimus, repellendus, dolorem", "#!", "06/25/2016")
          +news-item("Publication", "Nemo, aperiam corporis eum", "#!", "06/25/2016")

      .page-section.slds-m-top--large
        h3.slds-section__title.slds-m-bottom--small Online Publications
        .item-group
          +news-item("Publication", "Alias, nobis, nam", "#!", "06/25/2016")
          +news-item("Publication", "Est exercitationem eum similique labore voluptates", "#!", "06/25/2016")
          +news-item("Publication", "Dicta, quam", "#!", "06/25/2016")


block left-sidebar
  include partials/faculty-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
