extends ../../layout/default-authenticated.pug

include partials/faculty-includes.pug
include ../../modules/input-edit.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'profile';

block title
  title Profile / Faculty - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-faculty.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/profile.css")

block content
  +page-wrapper("","")
    include partials/faculty-internal-header.pug

    +page-content-wrapper("")
      .page-section.has-controls
        h1.page-title About Me
        .controls
          .title Navigate to
          +dropdown("profile-subnav", "profile-subnav", "", true)
            a.active(href="#") General Information
            a(href="views/faculty/research.html") Research and Scholarship
            a(href="views/faculty/publications.html") Publications
            a(href="views/faculty/my-lab.html") My Lab
            a(href="views/faculty/teaching.html") Teaching
            a(href="views/faculty/service-gu.html") Service to Georgetown
            a(href="views/faculty/service.html") Service to the Public
            a(href="views/faculty/mentoring.html") Mentoring
            a(href="views/faculty/grants.html") Grants and Awards
            a(href="views/faculty/news.html") In The News

      h3.slds-section__title.slds-m-top--x-small.slds-m-bottom--x-small Biographical Information
      .edit-block(tabindex="0")
        .read.update-block
          p Professor Montgomery specializes in global financial markets, securities market regulation, capital raising, initial public offerings, institutional investors, private equity, valuation, stock exchange structure, and corporate governance. In 2015, his researchwas recognized for addressing global governance challenges and received the prestigious BlackRock-National Association of Corporate Directors Award. He was honored with the Allan N. Nash Distinguished Doctoral Graduate Award by University of Maryland. He serves on the editorial boards of major journals. He regularly presents his work to government agencies and at academic conferences. Dr. Aggarwal has previously held various positions including Interim Dean and Deputy Dean of Georgetown's SchoolName School of Business; Visiting Professor of Finance at MIT's Sloan School of Management; FINRA Academic Fellow; Academic Fellow at the U.S. SEC; Visiting Research Scholar at the International Monetary Fund; and Fulbright Scholar to Brazil.
          .icons
            +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
        .edit.slds-hide
          .item
            +textarea("gu-form-group", "bio", "Biographical Information")(placeholder="", value="", class="slds-textarea", rows="5")
              | Enter your biographical information", "Professor Montgomery specializes in global financial markets, securities market regulation, capital raising, initial public offerings, institutional investors, private equity, valuation, stock exchange structure, and corporate governance. In 2015, his researchwas recognized for addressing global governance challenges and received the prestigious BlackRock-National Association of Corporate Directors Award. He was honored with the Allan N. Nash Distinguished Doctoral Graduate Award by University of Maryland. He serves on the editorial boards of major journals. He regularly presents his work to government agencies and at academic conferences. Dr. Aggarwal has previously held various positions including Interim Dean and Deputy Dean of Georgetown's SchoolName School of Business; Visiting Professor of Finance at MIT's Sloan School of Management; FINRA Academic Fellow; Academic Fellow at the U.S. SEC; Visiting Research Scholar at the International Monetary Fund; and Fulbright Scholar to Brazil.
          +edit-block-controls()

      hr

      h3.slds-section__title General Information
      +grid("wrap", "large", "6-of-12")

        +grid-col("")
          +header-add-img-block("div", "", "Languages", "", "", true, "img/languages.svg", "languages", "sm")
            .add-block.slds-hide
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "language-add_name-input", "Language", "Language")
                  +icon-clear
              .item
                .horizontal(role="group")
                  label.slds-form-element__label.field-label Capabilities
                  fieldset.gu-checkbox
                    .checkbox-group-horizontal
                      +custom-checkbox("", "language-add1_speak", "language-add_capabilities", "Speak"  )
                      +custom-checkbox("", "language-add_read", "language-add_capabilities", "Read"  )
                      +custom-checkbox("", "language-add_write", "language-add_capabilities", "Write"  )

              +add-block-controls()
          .edit-block(tabindex="0")
            .read.update-block
              .slds-text-longform.txt-block
                div #[span.name Hindi] (speak, read, write)
              .icons
                +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
            +item-permissions("language01", true, false, false, false)
              .item
                +input-text("gu-form-group horizontal", "slds-input-has-icon slds-input-has-icon--right", "language01_name-input", "Language", "Language")(value="Hindi")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              .item
                .horizontal(role="group")
                  label.slds-form-element__label.field-label Capabilities
                  fieldset.gu-checkbox
                    .checkbox-group-horizontal
                      +custom-checkbox("", "language01_speak", "language01_capabilities", "Speak")(checked="checked")
                      +custom-checkbox("", "language01_read", "language01_capabilities", "Read")(checked="checked")
                      +custom-checkbox("", "language01_write", "language01_capabilities", "Write")
          .edit-block(tabindex="0")
            .read.update-block
              .slds-text-longform.txt-block
                div #[span.name English] (speak, read, write)
              .icons
                +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
            +item-permissions("language02", true, false, false, false)
              .item
                +input-text("gu-form-group horizontal", "slds-input-has-icon slds-input-has-icon--right", "language02_name-input", "Language", "Language")(value="English")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              .item
                .horizontal(role="group")
                  label.slds-form-element__label.field-label Capabilities
                  fieldset.gu-checkbox
                    .checkbox-group-horizontal
                      +custom-checkbox("", "language01_speak", "language01_capabilities", "Speak")(checked="checked")
                      +custom-checkbox("", "language01_read", "language01_capabilities", "Read")(checked="checked")
                      +custom-checkbox("", "language01_write", "language01_capabilities", "Write")
        +grid-col("")
          +header-add-img-block("div", "", "Licensure & Certifications", "", "", true, "img/certifications.svg", "certifications", "sm")
            .add-block.slds-hide
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "certification-add_input-name", "Affiliation", "Affiliation")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "certification-add_input-issuer", "Description", "Description")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")

              .item
                +input-date-mm-yyyy("","Start Date","Month / Year", "certification-add-month", "Month", "", "", "certification-add-year", "Year", "YYYY", "")
                .gu-checkbox
                   +custom-checkbox("toggleEndDate", "certification-addinput-current", "certification-addinput-current", "Present")(checked="checked")
                +input-date-mm-yyyy("end-date slds-hide","End Date","Month / Year", "certification-add-month-end", "Month", "", "", "certification-add-year-end", "Year", "YYYY", "")
              +add-block-controls()

            .edit-block(tabindex="0")
              .read.update-block
                .slds-text-longform
                  .txt-block
                    a.name(href="#") Name of Certification
                    .txt-date January 2014 - February 2017
                    div Officia illum, eius optio. Voluptatem minus quae ratione, similique!
                .icons
                  +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
              +item-permissions("certification01", true, false, false, false)
                .item
                  +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "certification01input-name", "Name of Certification", "Name of Certification")(value="Name of Certification")
                    svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                      use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                .item
                  +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "certification01input-issuer", "Description", "Description")(value="Officia illum, eius optio. Voluptatem minus quae ratione, similique!")
                    svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                      use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                .item
                    +input-date-mm-yyyy("","Start Date","Month / Year", "certification-01-month", "Month", "", "", "certification-01-year", "Year", "YYYY", "")
                    .gu-checkbox
                      +custom-checkbox("toggleEndDate", "certification01input-current", "affiliation01input-current", "Present")(checked="checked")
                    +input-date-mm-yyyy("end-date slds-hide","End Date","Month / Year", "certification-01-month-end", "Month", "", "", "certification-01-year-end", "Year", "YYYY", "")
        +grid-col("")
          +header-add-img-block("div", "", "Professional Affiliations", "", "", true, "img/affiliations.svg", "affiliations", "sm")
            .add-block.slds-hide
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "affiliation-add_input-position", "Position", "Position")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "affiliation-add_input-description", "Description", "Description")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              .item
                +input-date-mm-yyyy("","Start Date","Month / Year", "affiliation-add-month", "Month", "", "", "affiliation-add-year", "Year", "YYYY", "")
                +custom-checkbox("toggleEndDate", "affiliation-addinput-current", "affiliation-addinput-current", "", "Present")(checked="checked")
                +input-date-mm-yyyy("end-date slds-hide","End Date","Month / Year", "affiliation-add-month-end", "Month", "", "", "affiliation-add-year-end", "Year", "YYYY", "")
              +add-block-controls()

            .edit-block(tabindex="0")
              .read.update-block
                .slds-text-longform
                  .txt-block
                    .name LoremIpsum Chair
                    .txt-date January 2014 - Present
                    a Lorum Ipsum Dolar Sit Amet
                .icons
                  +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
              +item-permissions("affiliation01", false, true, false, false)
                .item
                  +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "affiliation01input-position", "Position", "Position")(value="Position")
                    svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                      use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                .item
                  +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "affiliation01input-description", "Description", "Description")(value="Officia illum, eius optio. Voluptatem minus quae ratione, similique!")
                    svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                      use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                .item
                  +input-date-mm-yyyy("","Start Date","Month / Year", "affiliation-01-month", "Month", "", "", "affiliation-01-year", "Year", "YYYY", "")
                  +custom-checkbox("toggleEndDate", "affiliation-01input-current", "affiliation-01input-current", "Present", "Present")(checked="checked")
                  +input-date-mm-yyyy("end-date slds-hide","End Date","Month / Year", "affiliation-01-month-end", "Month", "", "", "affiliation-01-year-end", "Year", "YYYY", "")

            .edit-block(tabindex="0")
              .read.update-block
                .slds-text-longform
                  .txt-block
                    .name Iure soluta Chair
                    .txt-date January 2014 - Present
                    a() Fuit assumenda explicabo incidunt ad natus recusandae
                .icons
                  +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
              +item-permissions("affiliation02", false, true, false, false)
                .item
                  +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "affiliation02input-position", "Position", "Position")(value="Position")
                    svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                      use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                .item
                  +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "affiliation02input-description", "Description", "Description")(value="Officia illum, eius optio. Voluptatem minus quae ratione, similique!")
                    svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                      use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                .item
                  +input-date-mm-yyyy("","Start Date","Month / Year", "affiliation-02-month", "Month", "", "", "affiliation-02-year", "Year", "YYYY", "")
                  +custom-checkbox("toggleEndDate", "affiliation-02input-current", "affiliation-02input-current", "Present", "Present")(checked="checked")
                  +input-date-mm-yyyy("end-date slds-hide","End Date","Month / Year", "affiliation-02-month-end", "Month", "", "", "affiliation-02-year-end", "Year", "YYYY", "")
        +grid-col("")
          +header-add-img-block("div", "", "Professional Associations", "", "", true, "img/associations.svg", "associations", "sm")
            .add-block.slds-hide
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "associations-add_input-position", "Description", "Description")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "associations-add_input-description", "Description", "Description")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              .item
                +input-date-mm-yyyy("","Start Date","Month / Year", "association-01-month", "Month", "", "", "association-01-year", "Year", "YYYY", "")
                +custom-checkbox("toggleEndDate", "association-01input-current", "association-01input-current", "", "Present")(checked="checked")
                +input-date-mm-yyyy("end-date slds-hide","End Date","Month / Year", "association-01-month-end", "Month", "", "", "association-01-year-end", "Year", "YYYY", "")
              +add-block-controls()

            .edit-block(tabindex="0")
              .read.update-block
                .slds-text-longform
                  .txt-block
                    .name Quos dolorem optio
                    .txt-date January 2014 - Present
                    a() Lorum Ipsum Dolar Sit Amet
                .icons
                  +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
              +item-permissions("association02", false, true, false, false)
                .item
                  +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "associations02input-position", "Name of Association", "Name of Association")(value="Name of Association")
                    svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                      use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                .item
                  +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "associations02input-description", "Description", "Description")(value="Officia illum, eius optio. Voluptatem minus quae ratione, similique!")
                    svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                      use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                .item
                  +input-date-mm-yyyy("","Start Date","Month / Year", "association-02-month", "Month", "", "", "association-02-year", "Year", "YYYY", "")
                  +checkbox("toggleEndDate", "association-02input-current", "association-02input-current", "", "Present")(checked="checked")
                  +input-date-mm-yyyy("end-date slds-hide","End Date","Month / Year", "association-02-month-end", "Month", "", "", "association-02-year-end", "Year", "YYYY", "")
        +grid-col("")
          +header-add-img-block("div", "", "Education", "", "", true, "img/education.svg", "education", "sm")
            .add-block.slds-hide
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "education_degree-add_input", "Degree", "Degree")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "education_school-add_input", "School", "School")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              .item
                +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "education_major-add_input", "Major", "Major")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              +add-block-controls()

            .edit-block(tabindex="0")
              .read.update-block
                .slds-text-longform
                  div.name University of Maryland
                  div Finance - Ph.D.
                .icons
                  +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
              +item-permissions("degree01", true, false, false, false)
                .item
                  +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "education_degree01input", "Degree", "Degree")(value="Ph.d.")
                    svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                      use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                .item
                  +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "education_school01input", "School", "School")(value="University of Maryland")
                    svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                      use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                .item
                  +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "education_major01input", "Major", "Major")(value="Finance")
                    svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                      use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
            .edit-block(tabindex="0")
              .read.update-block
                .slds-text-longform
                  .name B.I.T.S.
                  div M.M.S. - Business Management
                .icons
                  +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
              +item-permissions("degree02", false, false, true, false)
                .item
                  +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "education_degree02input", "Degree", "Degree")(value="M.M.S.")
                    svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                      use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                .item
                  +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "education_school02input", "School", "School")(value="B.I.T.S")
                    svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                      use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                .item
                  +input-text("gu-form-group has-help horizontal", "slds-input-has-icon slds-input-has-icon--right", "education_major02input", "Major", "Major")(value="Business Management")
                    svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                      use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
        +grid-col("")
          +header-add-img-block("div", "", "Expertise", "", "", true, "img/expertise.svg", "expertise", "sm")
            .add-block.slds-hide
              .item
                +input-text("gu-form-group horizontal", "slds-input-has-icon slds-input-has-icon--right", "expertise-add_input-title", "Title", "Title")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              .item
                +checkbox("", "expertise-add_input-collaborative", "expertise-add_input-collaborative", "", "Collaboration Available")
              +add-block-controls()

            .edit-block(tabindex="0")
              .read.update-block
                .txt-block
                  .slds-grid.slds-grid--align-spread
                    div Expertise 1 Title
                .icons
                  +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
              +item-permissions("expertise01", true, false, false, false)
                .item
                  +input-text("gu-form-group horizontal", "slds-input-has-icon slds-input-has-icon--right", "expertise01input-title", "Title", "Title")(value="Expertise 1 Title")
                    svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                      use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                .item
                  +checkbox("", "expertise01input-collaborative", "expertise01input-collaborative", "", "Collaboration Available")(checked="checked")
            .edit-block(tabindex="0")
              .read.update-block
                .txt-block
                  .slds-grid.slds-grid--align-spread
                    div Expertise 2 Title
                .icons
                  +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
              +item-permissions("expertise02", true, false, false, false)
                .item
                  +input-text("gu-form-group horizontal", "slds-input-has-icon slds-input-has-icon--right", "expertise02input-title", "Title", "Title")(value="Expertise 2 Title")
                    svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                      use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                .item
                  +checkbox("", "expertise02input-collaborative", "expertise02input-collaborative", "", "Collaboration Available")
        +grid-col("")
          +header-add-img-block("div", "", "Interests", "", "", true, "img/interests.svg", "interests", "sm")
            .add-block.slds-hide
              .item
                +input-text("gu-form-group horizontal", "slds-input-has-icon slds-input-has-icon--right", "interest-add_input-title", "Title", "Title")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              +add-block-controls()

            .edit-block(tabindex="0")
              .read.update-block
                .txt-block
                  .slds-grid.slds-grid--align-spread.slds-m-bottom--x-small
                    strong.slds-align-top Interest 1 Title
                .icons
                  +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
              +item-permissions("interest01", true, false, false, false)
                .item
                  +input-text("gu-form-group horizontal", "slds-input-has-icon slds-input-has-icon--right", "interest01input-title", "Title", "Title")(value="Interest 1 Title")
                    svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                      use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
        +grid-col("")
          +header-add-img-block("div", "", "Consulting Activities", "", "", true, "img/consulting.svg", "activities", "sm")
            .add-block.slds-hide
              .item
                +input-text("gu-form-group horizontal", "slds-input-has-icon slds-input-has-icon--right", "activities-add_input-position", "Position", "Position")(value="")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              .item
                +input-text("gu-form-group horizontal", "slds-input-has-icon slds-input-has-icon--right", "activities-add_input-description", "Description", "Description")(value="")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
              .item
                +input-date-mm-yyyy("","Start Date","Month / Year", "activities-new-month", "Month", "", "", "activities-new-year", "Year", "YYYY", "")
                +checkbox("toggleEndDate", "associations-addinput-current", "associations-addinput-current", "", "Collaboration Available")(checked="checked")
                +input-date-mm-yyyy("end-date slds-hide","End Date","Month / Year", "associations-add-month-end", "Month", "", "", "associations-add-year-end", "Year", "YYYY", "")
              +add-block-controls()

            .edit-block(tabindex="0")
              .read.update-block
                .txt-block
                  .name User Acceptance Manager
                  .txt-date January 2014 - Present
                  a() Lorum Ipsum Dolar Sit Amet
                .icons
                  +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
              +item-permissions("activity01", true, false, false, false)
                .item
                  +input-text("gu-form-group horizontal", "slds-input-has-icon slds-input-has-icon--right", "activities01input-position", "Position", "Position")(value="Chair")
                    svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                      use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                .item
                  +input-text("gu-form-group horizontal", "slds-input-has-icon slds-input-has-icon--right", "activities01input-description", "Description", "Description")(value="Lorum Ipsum Dolar Sit Amet")
                    svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                      use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear")
                .item
                  +input-date-mm-yyyy("","Start Date","Month / Year", "activities-01-month", "Month", "", "", "activities-01-year", "Year", "YYYY", "")
                  +checkbox("toggleEndDate", "activities-01input-current", "activities-01input-current", "", "Collaboration Available")(checked="checked")
                  +input-date-mm-yyyy("end-date slds-hide","End Date","Month / Year", "activities-01-month-end", "Month", "", "", "activities-01-year-end", "Year", "YYYY", "")




block right-sidebar
  .sidebar.right
    .user-heading
      .user-photo.xl(style="background-image:url('demo/user-alt.png')")

      .social-icons.is-center.has-bg
        a.icon-link.sm
          +svg-sprite("img/sprites/media.svg", "facebook", "", "Facebook")
        a.icon-link.sm
          +svg-sprite("img/sprites/media.svg", "twitter", "", "Twitter")
        a.icon-link.sm
          +svg-sprite("img/sprites/media.svg", "linkedin", "", "LinkedIn")
        a.icon-link.sm
          +svg-sprite("img/sprites/media.svg", "cv", "", "CV")
      +btn-secondary("btn-block", "", "Manage Personal Information", "views/faculty/manage-info.html", false)

    .block.has-bg
      .border-end.reset.bottom.has-bg
        +txt-block("Contact","","lg")
          a.icon-link.sm(href="mailto:mmontgomery@georgetown.edu")
            +svg-sprite("img/sprites/media.svg", "email", "", "Email Michael Montgomery")
            span mmontgomery@georgetown.edu
          a.icon-link.sm(href="tel:555-555-5555")
            +svg-sprite("img/sprites/media.svg", "phone", "", "Call Michael Montgomery")
            span 555-555-5555
        +txt-block("Personal Websites","","lg")
          div
            a(href="#") Nobis illo
          div
            a(href="#") Quod provident
          div
            a(href="#") Reprehenderit labore
        .slds-m-top--medium
          +btn-primary("btn-block", "", "View Public Profile", "views/faculty/profile-public.html", false)
      .border-end.reset.bottom.has-bg
        +txt-block("Primary Appointment","","lg")
          div Sample School of Business
        +txt-block("Secondary Appointment","","lg")
          div Sample School of Business
      .border-end.reset.bottom.has-bg
        +txt-block("Office Location","label","lg")
          div Hariri Building
        +txt-block("Office Hours (EST)","label","lg")
          strong.slds-m-vertical--x-small by appointment only
          div M: 12:30 - 3:00 PM
          div T: 2:00 - 4:00 PM
          div R: 3:00 - 4:45 PM
          div.slds-m-top--medium
            +btn-primary("btn-block", "", "Book Appointment", "views/faculty/profile.html#", false)
      .reset.bottom.has-bg
        +txt-block("Assitant","","lg")
          p Monica Martinez
          a.icon-link.sm
            +svg-sprite("img/sprites/media.svg", "email", "", "Email Monica Martinez")
            span mn4212@georgetown.edu
          .slds-m-top--medium
            +btn-primary("btn-block", "", "Request Mentoring", "!#", false)
            +btn-primary("btn-block", "", "Request Dissertation Reading", "!#", false)




block left-sidebar
  include partials/faculty-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
    $(document).ready(function() {
      $(".toggleEndDate input[type=checkbox]").change(function() {
        $(this).parentsUntil('.date-group--month-year').next('.end-date').toggleClass("slds-hide", this.checked);
      }).change();
    });



