extends ../../layout/default-authenticated.pug

include partials/faculty-includes.pug
include ../../modules/input-edit.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'profile';

block title
  title Profile / Faculty - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-faculty.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/profile.css")

block content
  +page-wrapper("","")
    include partials/faculty-internal-header.pug

    +page-content-wrapper("")
      +page-header("About Me", "has-controls", "img/navs/faculty/profile.svg")
        +page-header-controls(true, "Navigate to")
          a.active(href="#") General Information
          a(href="views/faculty/research.html") Research and Scholarship
          a(href="views/faculty/publications.html") Publications
          a(href="views/faculty/my-lab.html") My Lab
          a(href="views/faculty/teaching.html") Teaching
          a(href="views/faculty/service-gu.html") Service to Georgetown
          a(href="views/faculty/service.html") Service to the Public
          a(href="views/faculty/mentoring.html") Mentoring
          a(href="views/faculty/grants.html") Grants and Awards
          a(href="views/faculty/news.html") In The News

      h3.slds-section__title.slds-m-top--x-small.slds-m-bottom--x-small Biographical Information
      p Professor Montgomery specializes in global financial markets, securities market regulation, capital raising, initial public offerings, institutional investors, private equity, valuation, stock exchange structure, and corporate governance. In 2015, his researchwas recognized for addressing global governance challenges and received the prestigious BlackRock-National Association of Corporate Directors Award. He was honored with the Allan N. Nash Distinguished Doctoral Graduate Award by University of Maryland. He serves on the editorial boards of major journals. He regularly presents his work to government agencies and at academic conferences. Dr. Aggarwal has previously held various positions including Interim Dean and Deputy Dean of Georgetown's SchoolName School of Business; Visiting Professor of Finance at MIT's Sloan School of Management; FINRA Academic Fellow; Academic Fellow at the U.S. SEC; Visiting Research Scholar at the International Monetary Fund; and Fulbright Scholar to Brazil.

      hr

      h3.slds-section__title General Information
      +grid("wrap", "large", "6-of-12")

        +grid-col("")
          +header-img-block("div", "", "Languages", "", "", true, "img/languages.svg", "languages", "sm")
          .read-only
            .slds-text-longform.txt-block
              div #[span.name Hindi] (speak, read, write)
            .slds-text-longform.txt-block
              div #[span.name English] (speak, read, write)

        +grid-col("")
          +header-img-block("div", "", "Licensure & Certifications", "", "", true, "img/certifications.svg", "certifications", "sm")
            .read-only
              .slds-text-longform.txt-block
                .txt-block
                  a.name(href="#") Name of Certification
                  .txt-date January 2014 - February 2017
                  div Officia illum, eius optio. Voluptatem minus quae ratione, similique!
              .slds-text-longform.txt-block
                .txt-block
                  a.name Lorem Ipsum Chair
                  .txt-date January 2014 - Present
                  div Lorum Ipsum Dolar Sit Amet

        +grid-col("")
          +header-img-block("div", "", "Professional Affiliations", "", "", true, "img/affiliations.svg", "affiliations", "sm")
            .read-only
              .slds-text-longform.txt-block
                .name Iure Soluta Chair
                .txt-date January 2014 - Present
                div Fuit assumenda explicabo incidunt ad natus recusandae

        +grid-col("")
          +header-img-block("div", "", "Professional Associations", "", "", true, "img/associations.svg", "associations", "sm")
            .read-only
              .slds-text-longform.txt-block
                .txt-block
                  a.name Quos dolorem optio
                  .txt-date January 2014 - Present
                  div Lorum Ipsum Dolar Sit Amet

        +grid-col("")
          +header-img-block("div", "", "Education", "", "", true, "img/education.svg", "education", "sm")
            .read-only
              .slds-text-longform.txt-block
                .name University of Maryland
                div Finance - Ph.D.
              .slds-text-longform.txt-block
                .name B.I.T.S.
                div M.M.S. - Business Management

        +grid-col("")
          +header-img-block("div", "", "Expertise", "", "", true, "img/expertise.svg", "expertise", "sm")
            .read-only
              .txt-block
                .name Expertise 1 Title
              .txt-block
                .name Expertise 2 Title

        +grid-col("")
          +header-img-block("div", "", "Interests", "", "", true, "img/interests.svg", "interests", "sm")
            .read-only
              .txt-block
                .name Interest 1 Title

        +grid-col("")
          +header-img-block("div", "", "Consulting Activities", "", "", true, "img/consulting.svg", "activities", "sm")
            .read-only
              .txt-block
                .name User Acceptance Manager
                .txt-date January 2014 - Present
                a() Lorum Ipsum Dolar Sit Amet


block right-sidebar
  .sidebar.right
    .user-heading
      .user-photo.xl(style="background-image:url('demo/user-alt.png')")

      .social-icons.is-center.has-bg
        a.icon-link.sm
          +svg-sprite("img/sprites/media.svg", "facebook", "", "Facebook")
        a.icon-link.sm
          +svg-sprite("img/sprites/media.svg", "twitter", "", "Twitter")
        a.icon-link.sm
          +svg-sprite("img/sprites/media.svg", "linkedin", "", "LinkedIn")
        a.icon-link.sm
          +svg-sprite("img/sprites/media.svg", "cv", "", "CV")

    .block.has-bg
      .border-end.reset.bottom.has-bg
        +txt-block("Contact","","lg")
          a.icon-link.sm(href="mailto:mmontgomery@georgetown.edu")
            +svg-sprite("img/sprites/media.svg", "email", "", "Email Michael Montgomery")
            span mmontgomery@georgetown.edu
          a.icon-link.sm(href="tel:555-555-5555")
            +svg-sprite("img/sprites/media.svg", "phone", "", "Call Michael Montgomery")
            span 555-555-5555
        +txt-block("Personal Websites","","lg")
          div
            a(href="#") Nobis illo
          div
            a(href="#") Quod provident
          div
            a(href="#") Reprehenderit labore
      .border-end.reset.bottom.has-bg
        +txt-block("Primary Appointment","","lg")
          div Sample School of Business
        +txt-block("Secondary Appointment","","lg")
          div Sample School of Business
      .border-end.reset.bottom.has-bg
        +txt-block("Office Location","label","lg")
          div Hariri Building
        +txt-block("Office Hours (EST)","label","lg")
          strong.slds-m-vertical--x-small by appointment only
          div M: 12:30 - 3:00 PM
          div T: 2:00 - 4:00 PM
          div R: 3:00 - 4:45 PM
          div.slds-m-top--medium
            +btn-primary("btn-block", "", "Book Appointment", "views/faculty/profile.html#", false)
      .reset.bottom.has-bg
        +txt-block("Assitant","","lg")
          p Monica Martinez
          a.icon-link.sm
            +svg-sprite("img/sprites/media.svg", "email", "", "Email Monica Martinez")
            span mn4212@georgetown.edu
          .slds-m-top--medium
            +btn-primary("btn-block", "", "Request Mentoring", "!#", false)
            +btn-primary("btn-block", "", "Request Dissertation Reading", "!#", false)




block left-sidebar
  include partials/faculty-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
    $(document).ready(function() {
      $(".toggleEndDate input[type=checkbox]").change(function() {
        $(this).parentsUntil('.date-group--month-year').next('.end-date').toggleClass("slds-hide", this.checked);
      }).change();
    });



