extends ../../layout/default-authenticated.pug

include partials/faculty-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'profile';

block title
  title Publications / Faculty - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-faculty.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/publications.css")

block content

  mixin article(article_id, article_title, article_authors, article_publication)
    .edit-block(tabindex="0")
      .read.update-block
        .publication
          .item-title The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market
          .slds-text-body--regular Reena Aggarwal, Pedro Saffi, and Jason Sturgess
          .slds-text-body--regular.italic Journal of Finance (2015)
        .icons
          +svg-sprite("img/sprites/base.svg", "edit", "", "Edit")
      .edit.slds-hide
        .item
          .slds-form-element.gu-form-group
            label.slds-form-element__label(for= 'title_' + article_id)
              span.slds-assistive-text Title
            .slds-form-element__control.slds-input-has-icon.slds-input-has-icon--right
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden='true')
                use(xlink:href='../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear')
              input(class="slds-input", id= 'title_' + article_id, type='text', placeholder='', value=article_title)
        .item
          .slds-form-element.gu-form-group
            label.slds-form-element__label(for= 'authors_' + article_id)
              span.slds-assistive-text Author(s)
            .slds-form-element__control.slds-input-has-icon.slds-input-has-icon--right
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden='true')
                use(xlink:href='../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear')
              input(class="slds-input", id= 'authors_' + article_id, type='text', placeholder='', value=article_authors)
        .item
          .slds-form-element.gu-form-group
            label.slds-form-element__label(for= 'publications_' + article_id)
              span.slds-assistive-text Publication
            .slds-form-element__control.slds-input-has-icon.slds-input-has-icon--right
              svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden='true')
                use(xlink:href='../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear')
              input(class="slds-input", id= 'publications_' + article_id, type='text', placeholder='', value=article_publication)
        +edit-block-controls()

  +page-wrapper("pg-publications")
    include partials/faculty-internal-header.pug

    +page-content-wrapper("")
      .page-section.has-controls
        h2.slds-text-heading--medium.slds-m-bottom--x-small.slds-text-color--default Publications
        .controls
          .title Navigate to
          +dropdown("profile-subnav", "profile-subnav", "", true)
            a(href="views/faculty/profile.html") General Information
            a(href="views/faculty/research.html") Research and Scholarship
            a.active(href="#!") Publications
            a(href="views/faculty/my-lab.html") My Lab
            a(href="views/faculty/teaching.html") Teaching
            a(href="views/faculty/service-gu.html") Service to Georgetown
            a(href="views/faculty/service.html") Service to the Public
            a(href="views/faculty/mentoring.html") Mentoring
            a(href="views/faculty/grants.html") Grants and Awards
            a(href="views/faculty/news.html") In The News

      +collapse-block("h3", "", "Books (4)", "", "publications_books", true)
        +article("article01", "The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market", "Reena Aggarwal, Pedro Saffi, and Jason Sturgess", "Journal of Finance (2015)")
        +article("article-chapter", "The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market", "Reena Aggarwal, Pedro Saffi, and Jason Sturgess", "Journal of Finance (2015)")
        +article("article-peer-reviewed", "The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market", "Reena Aggarwal, Pedro Saffi, and Jason Sturgess", "Journal of Finance (2015)")
        +article("article-in-journal", "The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market", "Reena Aggarwal, Pedro Saffi, and Jason Sturgess", "Journal of Finance (2015)")
        .add-block.slds-hide
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="title_article-books-new")
                span.slds-assistive-text Title
              .slds-form-element__control
                input(class="slds-input", id="title_article-books-new", type='text', placeholder='Title', value='')
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="authors_article-books-new")
                span.slds-assistive-text Author(s)
              .slds-form-element__control
                input(class="slds-input", id="authors_article-books-new", type='text', placeholder='Authors', value='')
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="publications_article-books-new")
                span.slds-assistive-text Publications
              .slds-form-element__control
                input(class="slds-input", id="publications_article-books-new", type='text', placeholder='Publication', value='')
          +add-block-controls()
        .controls.slds-m-top--large
          +btn-primary("add-publication","add_article", "Add", "#!", false)

      +collapse-block("h3", "", "Chapter(s) in Book (2)", "", "publications_book-chapters", false)
        +article("article05", "The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market", "Reena Aggarwal, Pedro Saffi, and Jason Sturgess", "Journal of Finance (2015)")
        +article("article06", "The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market", "Reena Aggarwal, Pedro Saffi, and Jason Sturgess", "Journal of Finance (2015)")
        +article("article07", "The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market", "Reena Aggarwal, Pedro Saffi, and Jason Sturgess", "Journal of Finance (2015)")
        .add-block.slds-hide
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="title_article-chapter-new")
                span.slds-assistive-text Title
              .slds-form-element__control
                input(class="slds-input", id="title_article-chapter-new", type='text', placeholder='Title', value='')
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="authors_article-chapter-new")
                span.slds-assistive-text Author(s)
              .slds-form-element__control
                input(class="slds-input", id="authors_article-chapter-new", type='text', placeholder='Authors', value='')
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="publications_article-chapter-new")
                span.slds-assistive-text Publications
              .slds-form-element__control
                input(class="slds-input", id="publications_article-chapter-new", type='text', placeholder='Publication', value='')
          +add-block-controls()
        .controls.slds-m-top--large
          +btn-primary("add-publication","add_article", "Add", "#!", false)

      +collapse-block("h3", "", "Peer-reviewed Publications (2)", "", "publications_peer-reviewed", false)
        +article("article08", "The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market", "Reena Aggarwal, Pedro Saffi, and Jason Sturgess", "Journal of Finance (2015)")
        +article("article09", "The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market", "Reena Aggarwal, Pedro Saffi, and Jason Sturgess", "Journal of Finance (2015)")
        .add-block.slds-hide
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="title_article-peer-reviewed-new")
                span.slds-assistive-text Title
              .slds-form-element__control
                input(class="slds-input", id="title_article-peer-reviewed-new", type='text', placeholder='Title', value='')
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="authors_article-peer-reviewed-new")
                span.slds-assistive-text Author(s)
              .slds-form-element__control
                input(class="slds-input", id="authors_article-peer-reviewed-new", type='text', placeholder='Authors', value='')
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="publications_article-peer-reviewed-new")
                span.slds-assistive-text Publications
              .slds-form-element__control
                input(class="slds-input", id="publications_article-peer-reviewed-new", type='text', placeholder='Publication', value='')
          +add-block-controls()
        .controls.slds-m-top--large
          +btn-primary("add-publication","add_article", "Add", "#!", false)

      +collapse-block("h3", "", "Article(s) in Journal (1)", "", "publications_articles-journal", false)
        +article("article10", "The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market", "Reena Aggarwal, Pedro Saffi, and Jason Sturgess", "Journal of Finance (2015)")
        .add-block.slds-hide
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="title_article-in-journal-new")
                span.slds-assistive-text Title
              .slds-form-element__control
                input(class="slds-input", id="title_article-in-journal-new", type='text', placeholder='Title', value='')
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="authors_article-in-journal-new")
                span.slds-assistive-text Author(s)
              .slds-form-element__control
                input(class="slds-input", id="authors_article-in-journal-new", type='text', placeholder='Authors', value='')
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="publications_article-in-journal-new")
                span.slds-assistive-text Publications
              .slds-form-element__control
                input(class="slds-input", id="publications_article-in-journal-new", type='text', placeholder='Publication', value='')
          +add-block-controls()
        .controls.slds-m-top--large
          +btn-primary("add-publication","add_article", "Add", "#!", false)

      +collapse-block("h3", "", "Article(s) in Conference Proceeding (1)", "", "publications_articles-conference", false)
        +article("article12", "The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market", "Reena Aggarwal, Pedro Saffi, and Jason Sturgess", "Journal of Finance (2015)")
        .add-block.slds-hide
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="title_article-in-conference-new")
                span.slds-assistive-text Title
              .slds-form-element__control
                input(class="slds-input", id="title_article-in-conference-new", type='text', placeholder='Title', value='')
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="authors_article-in-conference-new")
                span.slds-assistive-text Author(s)
              .slds-form-element__control
                input(class="slds-input", id="authors_article-in-conference-new", type='text', placeholder='Authors', value='')
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="publications_article-in-conference-new")
                span.slds-assistive-text Publication
              .slds-form-element__control
                input(class="slds-input", id="publications_article-in-conference-new", type='text', placeholder='Publication', value='')
          +add-block-controls()
        .controls.slds-m-top--large
          +btn-primary("add-publication","add_article", "Add", "#!", false)

      +header-add-block("h3", "", "Op Ed", "slds-section__title", "", false)
        .add-block.slds-hide
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="title_article-in-op-ed-new")
                span.slds-assistive-text Title
              .slds-form-element__control
                input(class="slds-input", id="title_article-in-op-ed-new", type='text', placeholder='Title', value='')
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="authors_article-in-op-ed-new")
                span.slds-assistive-text Author(s)
              .slds-form-element__control
                input(class="slds-input", id="authors_article-in-op-ed-new", type='text', placeholder='Authors', value='')
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="publications_article-in-op-ed-new")
                span.slds-assistive-text Publication
              .slds-form-element__control
                input(class="slds-input", id="publications_article-in-op-ed-new", type='text', placeholder='Publication', value='')
          +add-block-controls()

      +collapse-block("h3", "", "Article(s) in Book (1)", "", "publications_articles-book", false)
        +article("article11", "The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market", "Reena Aggarwal, Pedro Saffi, and Jason Sturgess", "Journal of Finance (2015)")
        .add-block.slds-hide
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="title_article-in-book-new")
                span.slds-assistive-text Title
              .slds-form-element__control
                input(class="slds-input", id="title_article-in-book-new", type='text', placeholder='Title', value='')
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="authors_article-in-book-new")
                span.slds-assistive-text Author(s)
              .slds-form-element__control
                input(class="slds-input", id="authors_article-in-book-new", type='text', placeholder='Authors', value='')
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="publications_article-in-book-new")
                span.slds-assistive-text Publications
              .slds-form-element__control
                input(class="slds-input", id="publications_article-in-book-new", type='text', placeholder='Publication', value='')
          +add-block-controls()
        .controls.slds-m-top--large
          +btn-primary("add-publication","add_article", "Add", "#!", false)

      +header-add-block("h3", "", "Edited Book", "slds-section__title", "", false)
        .add-block.slds-hide
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="title_article-in-edited-book-new")
                span.slds-assistive-text Title
              .slds-form-element__control
                input(class="slds-input", id="title_article-in-edited-book-new", type='text', placeholder='Title', value='')
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="authors_article-in-edited-book-new")
                span.slds-assistive-text Author(s)
              .slds-form-element__control
                input(class="slds-input", id="authors_article-in-edited-book-new", type='text', placeholder='Authors', value='')
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="publications_article-in-edited-book-new")
                span.slds-assistive-text Publication
              .slds-form-element__control
                input(class="slds-input", id="publications_article-in-edited-book-new", type='text', placeholder='Publication', value='')
          +add-block-controls()


      +header-add-block("h3", "", "In Book Review", "slds-section__title", "", false)
        .add-block.slds-hide
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="title_article-in-book-review-new")
                span.slds-assistive-text Title
              .slds-form-element__control
                input(class="slds-input", id="title_article-in-book-review-new", type='text', placeholder='Title', value='')
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="authors_article-in-book-review-new")
                span.slds-assistive-text Author(s)
              .slds-form-element__control
                input(class="slds-input", id="authors_article-in-book-review-new", type='text', placeholder='Authors', value='')
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="publications_article-in-book-review-new")
                span.slds-assistive-text Publication
              .slds-form-element__control
                input(class="slds-input", id="publications_article-in-book-review-new", type='text', placeholder='Publication', value='')
          +add-block-controls()

      +header-add-block("h3", "", "Book Review", "slds-section__title", "", false)
        .add-block.slds-hide
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="title_article-book-review-new")
                span.slds-assistive-text Title
              .slds-form-element__control
                input(class="slds-input", id="title_article-book-review-new", type='text', placeholder='Title', value='')
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="authors_article-book-review-new")
                span.slds-assistive-text Author(s)
              .slds-form-element__control
                input(class="slds-input", id="authors_article-book-review-new", type='text', placeholder='Authors', value='')
          .item
            .slds-form-element.gu-form-group
              label.slds-form-element__label(for="publications_article-book-review-new")
                span.slds-assistive-text Publication
              .slds-form-element__control
                input(class="slds-input", id="publications_article-book-review-new", type='text', placeholder='Publication', value='')
          +add-block-controls()



block left-sidebar
  include partials/faculty-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
    $('.add-publication').click(function () {
      $(this).parent().prev('.add-block').removeClass('slds-hide');
    });

