extends ../../layout/default-authenticated.pug

include partials/faculty-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'profile';

block title
  title Research and Scholarship / Faculty - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-faculty.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/table.css")
  link(rel="stylesheet", href="./css/research.css")

block content
  .page-content.pg-research
    .max-container
      include partials/faculty-internal-header.pug
      .page-section.has-controls
        h2.slds-text-heading--medium.slds-m-bottom--x-small.slds-text-color--default Research and Scholarship
        .controls
          .title Navigate to
          +dropdown("profile-subnav", "profile-subnav", "", true)
            a(href="views/faculty/profile.html") General Information
            a.active(href="#!") Research and Scholarship
            a(href="views/faculty/publications.html") Publications
            a(href="views/faculty/my-lab.html") My Lab
            a(href="views/faculty/teaching.html") Teaching
            a(href="views/faculty/service-gu.html") Service to Georgetown
            a(href="views/faculty/service.html") Service to the Public
            a(href="views/faculty/mentoring.html") Mentoring
            a(href="views/faculty/grants.html") Grants and Awards
            a(href="views/faculty/news.html") In The News

      .edit-block(tabindex="0")
        .read.update-block
          p Michael Montgomery has authored numerous articles on mutual fund investment; institutional investors; international corporate governance and market value; initial public offerings in the U.S., Switzerland, Brazil, Mexico and Chile; emerging markets of Asia and Latin America; and functioning of stock exchanges. Her research has won numerous awards. Her papers have been published in the Journal of Finance, Journal of Financial Economics, Review of Financial Studies, Journal of Financial and Quantitative Analysis, Journal of Banking and Finance, Financial Management, Journal of Applied Corporate Finance and Journal of Portfolio Management. She was awarded the faculty Research Award in 2000 and in 1999. In 2003 she received the Allan N. Nash Distinguished Doctoral Graduate Award, University of Maryland.
          .icons
            +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
        .edit.slds-hide
          .item
            +textarea("gu-form-group", "bio", "Research Summary")(placeholder="", class="slds-textarea", rows="5")
              | Michael Montgomery has authored numerous articles on mutual fund investment; institutional investors; international corporate governance and market value; initial public offerings in the U.S., Switzerland, Brazil, Mexico and Chile; emerging markets of Asia and Latin America; and functioning of stock exchanges. Her research has won numerous awards. Her papers have been published in the Journal of Finance, Journal of Financial Economics, Review of Financial Studies, Journal of Financial and Quantitative Analysis, Journal of Banking and Finance, Financial Management, Journal of Applied Corporate Finance and Journal of Portfolio Management. She was awarded the faculty Research Award in 2000 and in 1999. In 2003 she received the Allan N. Nash Distinguished Doctoral Graduate Award, University of Maryland.
          +edit-block-controls()

      .page-section.slds-m-top--large
        +header-add-block("h3", "", "Projects", "slds-section__title", "", false)
          .add-block.slds-hide
            .item
              +input-text("gu-form-group", "project-new_title")(type="text", class="slds-input", placeholder="Title", value="")
              +input-text("gu-form-group", "project-new_link")(type="text", class="slds-input", placeholder="URL", value="")
              +textarea("gu-form-group", "project-new_description", "Description")(placeholder="Description", class="slds-textarea", rows="3")
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .item
              +input-date-mm-yyyy("","Start Date","Month / Year", "project-add_month", "Month", "", "", "project-add_year", "Year", "YYYY", "")
              +checkbox("toggleEndDate", "project-addinput-current", "project-add_current", "", "Present")(checked="checked")
              +input-date-mm-yyyy("end-date slds-hide","End Date","Month / Year", "project-add_month-end", "Month", "", "", "project-add_year-end", "Year", "YYYY", "")
            +add-block-controls()

          .edit-block(tabindex="0")
            .read.update-block
              .title
                strong Project Name
                +space()
                | -
                +space()
                a(href="#!") Georgetown University
                +space()
                +space()
                | -
                +space()
                | 2012-2014
              .icons
                +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
              .expand-content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .edit.slds-hide
              .item
                +input-text("gu-form-group", "project-01_title")(type="text", class="slds-input", placeholder="Project Name", value="")
                +input-text("gu-form-group", "project-01_link")(type="text", class="slds-input", placeholder="Project URL", value="")
                +textarea("gu-form-group", "project-01_description", "Description")(placeholder="Description", class="slds-textarea", rows="3")
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              .item
                +input-date-mm-yyyy("","Start Date","Month / Year", "project-01_month", "Month", "", "", "project-01_year", "Year", "YYYY", "")
                +checkbox("toggleEndDate", "project01-input-current", "project-01_current", "", "Present")(checked="checked")
                +input-date-mm-yyyy("end-date slds-hide","End Date","Month / Year", "project-01_month-end", "Month", "", "", "project-01_year-end", "Year", "YYYY", "")
              +edit-block-controls()





block left-sidebar
  include partials/faculty-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
    $(document).ready(function() {
      $(".toggleEndDate input[type=checkbox]").change(function() {
        $(this).parentsUntil('.date-group--month-year').next('.end-date').toggleClass("slds-hide", this.checked);
      }).change();
    });
