
extends ../../layout/default-authenticated.pug

include partials/faculty-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = '';

block title
  title Search Results / Faculty - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-faculty.css")

block content
  mixin class-item(class_name, first_name, last_name, class_date)
    .item.slds-m-bottom--small
      a(href="!#")= class_name
      |,
      +space()
      a(href="!#")= first_name
        +space()
        span.highlight= last_name
      |,
      +space()
      span= class_date

  mixin publication-item(publication_title, publication_url, publication)
    .item.slds-m-bottom--small
      a(href=publication_url)= publication_title
      div
        block
        +space()
        span , Pedro Saffi, and Jason Sturgess.
      .italic= publication

  +page-wrapper("","")
    .page-header
      .flex.all
        h1.slds-text-heading--large.slds-m-bottom--x-small Search Results
      .description
        p Itaque temporibus corrupti debitis rerum ipsam obcaecati unde veniam placeat sapiente omnis repudiandae nam, amet delectus fugiat quia illum, modi esse ea animi. Sunt, obcaecati doloremque mollitia nam earum, atque perferendis natus nesciunt dolore illo, fuga explicabo nobis asperiores nemo.
      hr.slds-p-bottom--none
    +page-content-wrapper("")
      h3.slds-section__title.slds-m-bottom--small Faculty
      .item-group
        .item.slds-m-bottom--small
          a(href="!#") Reena
            +space()
            span.highlight Aggarwal
          div Sample School of Business Administration
          div Robert E. McDonough Professor of Business Administration and Professor of Finance
          div Director, Georgetown Center for Financial Markets and Policy

      h3.slds-section__title.slds-m-bottom--small.slds-m-top--large Classes
      .item-group
        +class-item("EMBA-806 Finance", "Reena", "Aggarwal", "Spring 2017")
        +class-item("EMBA-804 Finance", "Reena", "Aggarwal", "Spring 2017")
        +class-item("EMBA-801 Finance", "Reena", "Aggarwal", "Spring 2017")
        +class-item("EMBA-812 Finance", "Reena", "Aggarwal", "Summer 2017")
        +class-item("EMBA-814 Finance", "Reena", "Aggarwal", "Fall 2017")

      h3.slds-section__title.slds-m-bottom--small.slds-m-top--large Publications
      .item-group
        +publication-item("The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market.", "#!", "Journal of FInance (2016)")
          span Reena
            +space()
            span.highlight Aggarwal
        +publication-item("The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market.", "#!", "Journal of FInance (2016)")
          span Reena
            +space()
            span.highlight Aggarwal
        +publication-item("The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market.", "#!", "Journal of FInance (2016)")
          span Reena
            +space()
            span.highlight Aggarwal
        +publication-item("The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market.", "#!", "Journal of FInance (2016)")
          span Reena
            +space()
            span.highlight Aggarwal
        +publication-item("The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market.", "#!", "Journal of FInance (2016)")
          span Reena
            +space()
            span.highlight Aggarwal
      .load-more
        button.btn-reset Load More







block left-sidebar
  include partials/faculty-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
