extends ../../layout/default-authenticated.pug

include partials/faculty-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'profile';

block title
  title Service / Faculty - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-faculty.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/table.css")

mixin service-row(service_name, service_year, service_involvement, service_description)
  tr.t-body-row
    td.c-body.name(data-label="Name")= service_name
    td.c-body(data-label="Years")= service_year
    td.c-body(data-label="Involvement")= service_involvement
    td.c-body(data-label="Description")= service_description

block content
  +page-wrapper("", "")
    include partials/faculty-internal-header.pug

    +page-content-wrapper("")
      .page-section.has-controls
        h2.slds-text-heading--medium.slds-m-bottom--x-small.slds-text-color--default Service to Georgetown University
        .controls
          .title Navigate to
          +dropdown("profile-subnav", "profile-subnav", "", true)
            a(href="views/faculty/profile.html") General Information
            a(href="views/faculty/research.html") Research and Scholarship
            a(href="views/faculty/publications.html") Publications
            a(href="views/faculty/my-lab.html") My Lab
            a(href="views/faculty/teaching.html") Teaching
            a.active(href="#!") Service to Georgetown
            a(href="views/faculty/service.html") Service to the Public
            a(href="views/faculty/mentoring.html") Mentoring
            a(href="views/faculty/grants.html") Grants and Awards
            a(href="views/faculty/news.html") In The News

      .page-section.slds-m-bottom--x-large
        h3.slds-section__title.slds-m-top--medium.slds-m-bottom--medium Community / Public Service
        table.slds-table.slds-table--striped.slds-no-row-hover.table-default(data-sortable)
          thead.t-head
            tr.t-head-row
              th.c-head(data-sortable="true") Name
              th.c-head(data-sortable="true") Years
              th.c-head(data-sortable="true") Involvement
              th.c-head(data-sortable="true") Description
          tbody.t-body
            +service-row("Community Service Title", "2000 - 2016", "Member", "Porro fuga non nihil aspernatur, consectetur eos. Molestiae soluta esse qui voluptatum, consequatur doloribus quis.")
            +service-row("Community Service Title", "1980 - 1988", "Liasion", "Doloribus, aliquam! Ea, neque. Doloribus, dolor, perspiciatis atque quasi natus magni deleniti")
            +service-row("Community Service Title", "1990 - 1992", "Member", "Reprehenderit, alias quibusdam aspernatur repudiandae minima assumenda fugiat")

      .page-section.slds-m-bottom--x-large
        h3.slds-section__title.slds-m-top--medium.slds-m-bottom--medium Editorial Boards
        table.slds-table.slds-table--striped.slds-no-row-hover.table-default(data-sortable)
          thead.t-head
            tr.t-head-row
              th.c-head(data-sortable="true") Name
              th.c-head(data-sortable="true") Years
              th.c-head(data-sortable="true") Involvement
              th.c-head(data-sortable="true") Description
          tbody.t-body
            +service-row("Board Service Title", "2000 - 2016", "Member", "Porro fuga non nihil aspernatur, consectetur eos. Molestiae soluta esse qui voluptatum, consequatur doloribus quis.")
            +service-row("Board Service Title", "1980 - 1988", "Liasion", "Doloribus, aliquam! Ea, neque. Doloribus, dolor, perspiciatis atque quasi natus magni deleniti")
            +service-row("Board Service Title", "1990 - 1992", "Member", "Reprehenderit, alias quibusdam aspernatur repudiandae minima assumenda fugiat")

      .page-section.slds-m-bottom--x-large
        h3.slds-section__title.slds-m-top--medium.slds-m-bottom--medium Pro Bono Consulting
        table.slds-table.slds-table--striped.slds-no-row-hover.table-default(data-sortable)
          thead.t-head
            tr.t-head-row
              th.c-head(data-sortable="true") Name
              th.c-head(data-sortable="true") Years
              th.c-head(data-sortable="true") Involvement
              th.c-head(data-sortable="true") Description
          tbody.t-body
            +service-row("Pro Bono Service Title", "2000 - 2016", "Member", "Porro fuga non nihil aspernatur, consectetur eos. Molestiae soluta esse qui voluptatum, consequatur doloribus quis.")
            +service-row("Pro Bono Service Title", "1980 - 1988", "Liasion", "Doloribus, aliquam! Ea, neque. Doloribus, dolor, perspiciatis atque quasi natus magni deleniti")

block left-sidebar
  include partials/faculty-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
