extends ../../layout/default-authenticated.pug

include partials/faculty-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'profile';

block title
  title Teaching / Faculty - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-faculty.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/table.css")

block content
  mixin teaching-row(teaching_title, teaching_year, teaching_semester, teaching_professors, teaching_ta)
    tr.t-body-row
      td.c-body.name(data-label="Title")
        a(href="views/faculty/class-detail.html")= teaching_title
      td.c-body(data-label="Year")= teaching_year
      td.c-body(data-label="Semester")= teaching_semester
      td.c-body(data-label="Other Professors")= teaching_professors
      td.c-body(data-label="TA")= teaching_ta
  +page-wrapper("", "")
    include partials/faculty-internal-header.pug
    +page-content-wrapper("")
      .page-section.has-controls
        h2.slds-text-heading--medium.slds-m-bottom--x-small.slds-text-color--default Teaching

        .controls
          .title Navigate to
          +dropdown("profile-subnav", "profile-subnav", "", true)
            a(href="views/faculty/profile.html") General Information
            a(href="views/faculty/research.html") Research and Scholarship
            a(href="views/faculty/publications.html") Publications
            a(href="views/faculty/my-lab.html") My Lab
            a.active(href="#!") Teaching
            a(href="views/faculty/service-gu.html") Service to Georgetown
            a(href="views/faculty/service.html") Service to the Public
            a(href="views/faculty/mentoring.html") Mentoring
            a(href="views/faculty/grants.html") Grants and Awards
            a(href="views/faculty/news.html") In The News

      .page-section
        .slds-grid.slds-wrap.slds-grid--pull-padded
          .slds-p-horizontal--small.slds-size--1-of-1.slds-small-size--1-of-6.slds-m-bottom--medium


        table.slds-table.slds-table--striped.slds-no-row-hover.table-default(data-sortable)
          thead.t-head
            tr.t-head-row
              th.c-head(data-sortable="true") Title
              th.c-head(data-sortable="true", data-sortable-type="alpha") Year
              th.c-head(data-sortable="true") Semester
              th.c-head(data-sortable="true") Other Professors
              th.c-head(data-sortable="true") TA
          tbody.t-body
            +teaching-row("EMBA-806 Aspernatur", "2016", "Spring", "Professor Name", "TA Name")
            +teaching-row("EMBA-805 Eum", "2014", "Spring", "Professor Name", "TA Name")
            +teaching-row("EMBA-804 Ipsam", "2015", "Summer", "", "")
            +teaching-row("EMBA-803 Eveniet", "2015", "Fall", "", "TA Name")
            +teaching-row("EMBA-802 Totam", "2017", "Spring", "Professor Name", "")
            +teaching-row("EMBA-801 Voluptates", "2015", "Fall", "Professor Name", "TA Name")
            +teaching-row("EMBA-800 Veritatis", "2014", "Spring", "Professor Name", "TA Name")
            +teaching-row("EMBA-790 Saepe", "2016", "Summer", "", "")
            +teaching-row("EMBA-746 Ipsam", "2016", "Summer", "", "TA Name")
            +teaching-row("EMBA-766 Necessitatibus", "2017", "Fall", "Professor Name", "")
            +teaching-row("EMBA-712 Obcaecati", "2014", "Spring", "Professor Name", "")

block left-sidebar
  include partials/faculty-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts

