@import "../base/settings";
@import "../base/colors";
@import "../base/mixins";

.calendar {
	&.has-toolbar {
		.fc-toolbar {
			margin-bottom:80px;
		}
		.fc-right {
			@media (max-width:$screen-sm-min) {
				display:none;
			}
		}
		.fc-left {
			button {
				border:0;
				padding:0;
				color:$blue;
			}
		}
	}
	&.scroll-md {
		//.fc-toolbar {
		//	max-width:300px;
		//}
	}
	.fc-toolbar>*>* {
		margin-left:$gap-sm;
	}
	h2 {
		line-height:24px;
		@include font-bold;
	}
	.card-content {
		position:relative;
		> select, > .gu-checkbox {
			position:absolute;
		}
		> select {
			width:calc(100% - 180px);
			min-width:160px;
			top:65px;
		}
		.gu-checkbox {
			right:1.5rem;
			top:70px;
		}
	}
	// Overly specific to make sure we override the default styles
	.fc {
		&.fc-unthemed {
			td {
				border-color:$blue-lt;
			}
			.fc-list-view {
			border-color:transparent;
			}
			.fc-list-empty {
				background:white;
				border:0;
			}
			.fc-head-container {
				border-color:transparent;
			}
			.fc-content-skeleton {
				thead td {
					background:rgba($blue-lt,0.5);
					border-top-color:darken($blue-lt,2.5%);
					border-right-color:darken($blue-lt,2.5%);
					border-left-color:darken($blue-lt,2.5%);
				}
			}
		}
		.fc-event {
			background:$blue-dk;
			@include font-semibold;
			color:white;
			border-color:transparent;
			.fc-content {
				padding:2px;
			}
		}
		.fc-title {
			font-size:11px;
		}
		.fc-today {
			background:darken($blue-lt,5%);
		}
		.fc-time {
			@include font-semibold;
		}
		thead {
			border: 1px solid transparent;
			box-shadow: 0 1px 3px 0 rgba(14, 39, 70, 0.15);
			border-radius: 4px 4px 0 0;
		}
		th {
			border:0;
			padding-top:$gap-xs;
			padding-bottom:$gap-xs;
			@include font-semibold;
			font-size:15px;
		}
		td {
			vertical-align:middle;
		}
		button {
			position: relative;
			text-decoration: none;
			-webkit-appearance: none;
			white-space: normal;
			user-select: none;
			box-shadow:none;
			border-radius:$border-radius-sm;
			font-size:14px;
			display: inline-flex;
			align-items:center;
			justify-content:center;
			border:1px solid $blue-dk;
			padding:0 $gap-sm;
			background:white;
			color:$blue-dk;
			text-shadow:none;
			@include font-semibold;
			&.fc-state-active {
				background:$blue;
				border-color:$blue;
			}
		}
		.fc-body {
			border-radius: 0 0 4px 4px;
			box-shadow: 0 1px 3px 0 rgba(14, 39, 70, 0.15);
		}
		.fc-state-default {
			//border:1px solid $blue-dk;
			//padding:0 $gap-sm;
			//background:white;
			//color:$blue-dk;
			//text-shadow:none;
			&.fc-state-active {
				//background:$blue;
				//border-color:$blue;
				color:white;
				&:hover,&:focus {
					//background:$blue;
					//border-color:$blue;
					color:white;
					&:hover,&:focus {
						background:$blue;
						border-color:$blue;
						color:white;
					}
				}
				&:hover,&:focus {
					background:$blue-lt;
				}
			}
			.fc-left {
				h2 {
					line-height:30px;
				}
			}
			.fc-row {
				border-color:white;
			}
			.fc-body {
				border-radius: 0 0 4px 4px;
				box-shadow: 0 1px 3px 0 rgba(14, 39, 70, 0.15);
			}
			.fc-button-group {
				button {
					border-radius:0;
					&:first-of-type {
						border-top-left-radius:$border-radius-sm;
						border-bottom-left-radius:$border-radius-sm;
					}
					&:last-of-type {
						border-top-right-radius:$border-radius-sm;
						border-bottom-right-radius:$border-radius-sm;
					}
					&.fc-state-default {

					}
				}
			}
		}
	}
}

.calendar-toolbar {
	position: absolute;
	width: calc(100% - 3rem);
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 62px;
	box-shadow: inset 0px 2px 0px 0px rgba(229, 226, 226, 0.55);
	background-color: #f5f5f5;
	padding: 15px 18px;
	display: flex;
	border-radius: 10px;
	.dropdown{
		max-width: calc(100% - 130px);
		margin-right: 15px;
		width: 100%;
	}
}




//-- Selectors from calender.scss
.calendar .fc {
	button {
		border-radius: 100px;
		text-transform: capitalize;
		outline: none;
		transition: color 50ms linear, background-color 50ms linear;
	}
	button + button {
		margin-left: 10px;
	}
	.fc-state-default {
		border: none;
		padding: 0px 20px;
	}
	.fc-left {
		button {
			background-color: #FBFBFB;
			box-shadow: 0 1px 0 0 #E4E4E4;
			&.fc-prev-button, &.fc-next-button {
				height: 26px;
				width: 26px;
				line-height: 26px;
				.fc-icon {
					top: 0;
				}
				&:hover, &:focus {
					background-color: darken(#FBFBFB, 5%);
				}
			}
		}
		.fc-state-disabled {
			padding: 0px 20px;

		}
	}
}

.fc-state-default.fc-allCalendarsButton-button {
	//margin-top: 3px;
	padding: 8px $gap;
	border: 0;
	border-radius: 25px;
	font-size: 13px;
	color: white;
	line-height: 14px;
	float: none;
}
