@import "../base/settings";
@import "../base/colors";
@import "../base/mixins";


.grid-controls {
	// directory-header.pug, faculty-directory-header.pug
	display:flex;
	flex-wrap:wrap;
	padding:0 0 $gap 0;
	.btn-bs {
		@media (max-width:$screen-sm-min) {
			order:2;
			width:150px;
		}
	}
	.letters {
		flex:1;
		min-height:40px;
		align-items:center;
		display:flex;
		min-width:100px;
		@media (max-width:$screen-sm-min) {
			order:1;
		}
		.dropdown {
			display:none;
			@media (max-width:$screen-sm-min) {
				display:block;
				margin-right:$gap;
				min-width:140px;
			}
			@media (min-width:$screen-sm) {
				margin:0 $gap-md;
				min-width:80px;
			}
			label {
				.title {
					@media (min-width:$screen-xs) {
						min-width:180px;
					}
					@media (max-width:$screen-xs) {
						width:100%;
						//margin-top:$gap-xs;
					}
					@media (max-width:$screen-sm-min) {
						height:40px;
					}
				}
			}
		}
		.wrapper {
			flex:1;
			box-shadow:$default-box-shadow;
			border-radius:$border-radius-sm;
			border: 1px solid #CFEBFF;
			margin:0 $gap-md;
			display:none;
			@media (min-width:$screen-sm) {
				display:flex;
			}
		}
		a {
			display:flex;
			justify-content:center;
			align-items:center;
			flex:1;
			height:40px;
			&.active,&:hover {
				background:$blue-lt;
				text-decoration:none;
			}
			&.active {
				@include font-semibold;
				display:inline-flex;
			}
		}
	}
	.btn-round + .btn-round {
		margin-left:$gap-sm;
		margin-top:0;
		display:inline-flex;
	}
	.controls {
		@media (max-width:$screen-lg) {
			margin-left:auto;
		}
		@media (max-width:$screen-sm-min) {
			order:2;
			display:none;
		}
	}
}


.grid-filters {
	// directory-header.pug, faculty-directory-header.pug
	display:flex;
	flex-wrap:wrap;
	padding:0 0 $gap 0;
	.badge-label {
		@include font-semibold;
		margin-right:$gap-sm;
		@media (max-width:$screen-sm-min) {
			flex-basis:100%;
			margin-bottom:$gap-xs;
		}
	}
	.slds-badge {
		margin-bottom:$gap-xs;
		margin-left:0;
		margin-right:$gap-sm;
	}
	.slds-button__icon {
		height:10px;
		width:10px;
	}
}

.grid-content {
	// directory-list.pug, directory.pug
	//margin-top:$gap-sm;
	display:flex;
	flex:1;
	&.grid-items {
		align-items:stretch;
		> div {
			//flex:1;
			min-width:235px;
			width:25%;
			@media (max-width:599px) {
				width:100%;
			}
			@media (min-width:768px) and (max-width:$screen-xl-min) {
				width:33%;
			}
			@media (min-width:600px) and (max-width:$screen-sm-min) {
				min-width:50%;
			}
		}
	}
}

tr.directory-item {
	// mixins/directory-item-person.pug:
	> .c-body {
		vertical-align:middle;
		padding:$gap-sm $gap;
		@media (max-width:$screen-sm-min) {
			text-align:center;
			padding:0;
		}
	}
	.heading {
		background:none;
		@media (max-width:$screen-sm-min) {
			//background:rgba($blue,0.1);
			display:flex;
			flex-direction:column;
			padding:$gap-sm 0;
		}
		.user-photo {
			@media (min-width:$screen-sm) {
				background-size:45px;
				width:45px;
				height:45px;
				border:0;
			}
			@media (max-width:$screen-sm-min) {
				background-size:115px;
				width:115px;
				height:115px;
			}
		}
		.name {
			margin:0 $gap;
			@media (max-width:$screen-sm-min) {
				margin:$gap $gap $gap-xs;
			}
		}
	}
	.body {
		@media (min-width:$screen-sm) {
			align-items:flex-start;
		}
		@media (min-width:$screen-lg) {
			flex-direction:row;
			align-items:center;
		}
		@media (max-width:$screen-sm-min) {
			padding:$gap-sm;
		}
	}
	.tags {
		margin:$gap-sm 0 0 16px;
		@media (max-width:$screen-sm-min) {
			padding:0 0 $gap-xs 0;
		}
		@media (min-width:$screen-lg) {
			margin:0 0 0 $gap;
			&:before {
				content:"";
				width:2px;
				background:#eee;
				position:absolute;
				height:100%;
				left:-20px;
			}
			.tag {margin:3px;}
		}
		@media (min-width:$screen-sm) {
			justify-content:flex-start;
			align-items:flex-start;
			//width:200px;
		}
	}
	.controls {
		@media (max-width:$screen-sm-min) {
			border-top:1px solid $blue-dk !important;
			width:100% !important;
			.btn-bs {
				border-radius:0 !important;
			}
		}
	}
}

div.directory-item {
	// mixins/directory-item-person.pug:
	@include shadow(1);
	@media (min-width:600px) {
		height:100%;
		display:flex;
		flex-direction:column;
		padding:0;
	}
	.heading {
		padding:$gap-sm;
		text-align:left;
		justify-content:flex-start;
		flex-direction:column;
		//background:rgba($blue,0.1);
		img {
			width:100px;
			height:100px;
			margin-bottom:$gap-sm;
		}
	}
	.body {
		text-align:center;
		padding:$gap-sm 0;
	}
	.copy {
		padding:0 $gap;
	}
	.tags {
		margin:$gap-sm 0 0;
		border-top:1px solid #eee;
		padding:($gap-sm + $gap-xs) $gap-sm 0;
		width:100%;
	}
	.controls {
		@media (min-width:600px) {margin-top:auto}
	}
	.btn-bs {
		//border-top:1px solid $blue;
		font-size:16px;
		stroke:currentColor;
		width:100%;
		height:45px;
		@media (min-width:$screen-sm) {
			position:relative;
		}
		&:hover,&:focus,&:active {
			text-decoration:none;
			//background:$blue;
			color:white;
		}
		svg {
			@media (min-width:$screen-sm) {
				width:20px;
				height:30px;
			}
			@media (max-width:$screen-sm-min) {
				display:none;
			}
		}
	}
}

.directory-item {
	// mixins/directory-item-person.pug:
	.heading {
		display:flex;
		align-items:center;
		> img {
			height:80px;
			width:80px;
			border-radius:50%;
			//border:4px solid $blue;
		}
		.name {
			margin:$gap 0 $gap-xs;
			font-size:20px;
			//color:$blue;
			@include font-semibold;
			line-height:1;
		}
	}
	.body {
		//padding:$gap-sm 0;
		line-height:1.2;
		display:flex;
		flex:1;
		align-items:center;
		flex-direction:column;
		font-size:12px;

	}
	.tags {
		padding-top:0;
		position:relative;
		@media (max-width:$screen-sm-min) {
			margin-bottom:$gap-xs;
		}
	}
	.controls {
		position:relative;
	}
}

.list-items {
	// directory-list.pug
	td {
		vertical-align:middle;
	}
	th {
		position:relative;
		padding-top:$gap-sm + $gap-xs;
		padding-bottom:$gap-sm + $gap-xs;
		&:first-of-type {
			padding-left:$gap-sm;
		}
		&:last-of-type {
			padding-right:$gap-sm;
		}
	}
	.card.person {
		> td {
			vertical-align:middle;
			@media (max-width:$screen-sm-min) {
				padding:0;
				border-bottom:0;
			}
		}
		@media (min-width:$screen-sm) {
			border-radius:0;
			box-shadow:none;
		}
		.heading {
			padding:$gap-sm;
			display:flex;
			align-items:center;
			text-align:left;
			justify-content:flex-start;
			flex-direction:column;

			@media (max-width:$screen-sm-min) {
				//background:rgba($blue,0.1);
			}
			@media (min-width:$screen-sm) {
				width:200px;
			}
			@media (min-width:$screen-lg) {
				width:300px;
				flex-direction:row;
				padding:0;
			}
			> img {
				height:80px;
				width:80px;
				border-radius:50%;
				//border:4px solid $blue;
			}
			.name {
				margin:$gap-xs 0 0;
				font-size:20px;
				color:$blue-dk;
				line-height:1;

			}
		}

		.copy {
			@media (min-width:$screen-sm) {
				//padding-left:$gap;
				text-align:left;
			}
		}
	}
}

