@import "../base/settings";
@import "../base/colors";
@import "../base/mixins";

$icon-size: 16px;



.add-block {
	padding:$gap-xs 0;
	border-bottom:1px dotted #ddd;
	.controls {
		padding:0 0 $gap-sm;
	}
}

.add-block,.edit-block {
	.slds-checkbox [type=checkbox] {
		&:checked {
			+ .slds-checkbox--faux:after,
			+ .slds-checkbox__label .slds-checkbox--faux:after {
				height: .25rem;
				width: .5rem;
			}
		}
		+ .slds-checkbox__label .slds-checkbox--faux {
			width:16px;
			height:16px;
		}

	}
	.slds-form-element__label {
		margin-bottom:0;
		line-height:16px;
		font-size:12px;
		@include font-semibold;

		small {
			display:block;
		}
	}
	.help-block {
		color:rgba($blue,0.25);
	}
	.toggleEndDate {
		margin-bottom:$gap-sm;
	}
	.gu-form-group {
		margin-bottom:$gap-sm;
	}
	.flex .gu-form-group + .gu-form-group {
		margin-left:$gap;
	}
	.horizontal {
		display:flex;
		align-items:center;
		> label {
			width: 90px;
		}
		.slds-form-element__control,.checks-horizontal {
			flex: 1;
		}
	}
	.item {
		margin-bottom:$gap-sm;
		flex:1;
		&.drop-zone {
			//margin:0;
			width:100%;
			background:$edit-block-bg;
			.slds-file-selector {
				background:white;
				width:100%;
			}
			.slds-file-selector__dropzone {
				width:100%;
			}
			.slds-file-selector__body {
				height: 100%;
				justify-content:center;
			}
		}
		.slds-form-element__label {
			display:flex;
		}
		.slds-input + .slds-input {
			margin-top:$gap-xs;
		}
		.checkbox-group-horizontal {
			.slds-form-element + .slds-form-element {
				padding-top: 0;
			}
		}
	}
	.controls.flex {
		@media (max-width:$screen-sm-min) {
			flex-direction:row;
			.right {
				margin-left:auto;
				display:flex;
			}
		}
	}
}

.edit-block {
	+ .edit-block {
		margin-bottom:0;
		> .list-row {
			border-top:0;
		}
	}
	[data-balloon] {
		&:after, &:before {
			display:none;
		}
	}
	.has-help {
		[data-balloon] {
			&:after, &:before {
				display:block;
			}
		}
		.help-block {
			margin-left:auto;
		}
	}
	.list-row {
		&.read {
			padding-left:$gap-sm;
			&:hover {
				padding-left:$gap-sm;
			}
		}
		&:not(.slds-hide) {
			display:flex;
		}
		&.edit {
			margin:$gap-xs 0 $gap;
			display:block;
		}
	}
	.read {
		display:block;
		position:relative;
		color:$text-color;
		transition:all 0.10s;
		@media (min-width: $screen-md  ){
			padding:$gap-sm $gap-lg $gap-sm 0;
		}
		&.slds-hide {
			display:none !important
		}
		&:hover {
			background-color:$edit-block-bg-hover;
			text-decoration:none;
			padding-left:$gap-xs + 3px;
			box-shadow:$edit-block-shadow-hover;
			border-radius:$border-radius-sm;
			.icons {
				display:block;
			}
		}
		.icons {
			display:none;
			position: absolute;
			right:$gap-sm;
			top:50%;
			transform:translateY(-50%);
			color:$blue;
			stroke:currentColor;
			.icon {
				> svg {
					width:20px;
					height:20px;
				}
			}
		}
		.years {
			display:inline-flex;
			margin:0;
			li {
				list-style:none;
				+ li {
					&:before {
						content:"-";
						margin:0 3px;
					}
				}
			}
			&:before {
				content:"-";
				margin:0 $gap-xs 0 3px;
			}
		}
	}
	.edit {
		margin-bottom:$gap-sm;
		background:$edit-block-bg;
		//background: linear-gradient(to bottom, #f6f6f6 80%,#fcfcfc 100%);
		border-radius:$border-radius-sm;
		box-shadow:$edit-block-shadow-hover;
		padding-top:$gap-sm;
		display:flex;
		flex-direction:column;
		&:not(.slds-hide) {
			.item {
				padding:0 $gap-sm;
			}
		}
		.controls {
			padding:12px $gap-sm;
			background:white;
			border-style:solid;
			border-width:0 1px 1px 1px;
			border-color:rgba($edit-block-border,0.5);
			@media (min-width:$screen-sm) {
				display:flex;
				justify-content:flex-end;
			}
			.right,.left {
				display:flex;
			}

		}
	}
	.item {
		position:relative;
		align-items:center;
		.slds-form-element {
			padding:0;
			+ .slds-form-element {
				padding-top:$gap-sm;
			}
		}
		.gu-form-group {
			margin-bottom:0;
		}

		+ .controls {
			border-top:1px solid $edit-block-border;
		}
		.btn-clear {
			cursor:pointer;
			fill:currentColor;
			color:rgba($gray-md,0.5);
			svg {
				width:16px;
				height:16px;
			}
		}
	}
}

.form-group-controls {
	display:flex;
	align-items:center;
	border-top:1px solid $edit-block-border;
	border-bottom:1px solid $edit-block-border;
	padding:8px $gap-sm;
	justify-content:flex-end;
	position:relative;
	.title {
		margin-right:$gap-sm;
		@include font-semibold;
	}
	.toggle {
		display:flex;
		justify-content:center;
		align-items:center;
		margin:0 $gap-xs;
		color:darken($gray,25%);
		box-shadow:0 0 0 1px #ccc;
		border-radius:50%;
		height:30px;
		width:30px;
		background:white;
		.icon {
			display:flex;
		}
		&.internal {
			.ic-status {
				width:20px;
				height:20px;
				position:relative;
			}
		}
	}
	input[type="radio"] {
		position:absolute;
		opacity:0;
		&:checked {
			+ .toggle {
				.ic-status {
					stroke:white;
					animation: icon-blip 0.15s forwards;
				}
			}
		}

		&:nth-of-type(1) {
			right:105px;
		}
		&:nth-of-type(2) {
			right:65px;
		}
		&:nth-of-type(3) {
			right:25px;
		}
	}

	.ic-status {
		stroke:currentColor;
		width:$icon-size;
		height:$icon-size;
		transition:all 0.15s;
	}
}

@keyframes pad-up {
	from {
		padding:0;
	}
	to {
		padding:$gap-sm;
	}
}

.change-block {
	padding-left:$gap-md;
	transition:all 0.15s;
	top:-24px;
	position:relative;
	max-width:450px;
	.content {
		background:$blue-lt;
		padding:$gap-sm $gap $gap;
		border:1px solid darken($blue-lt,5%);
		.title {
			padding:0;
			font-size:16px;
			@include font-semibold;
			margin-bottom:$gap-sm;
			color:#444;
		}
	}
	.controls {
		padding:12px $gap-sm;
		background:white;
		border-width:0 1px 1px;
		border-style: solid;
		border-color: rgba($edit-block-border,0.5);
		@media (min-width:$screen-sm) {
			display:flex;
			justify-content:flex-end;
		}

	}
}
