@import "../base/settings";
@import "../base/colors";
@import "../base/mixins";


.messaging {
	.message {
		@media (min-width:$screen-md) {
			padding-left:$gap;
			padding-right:$gap;
		}
		&:not(:last-of-type) {
			.message-controls {
				border-bottom:2px solid rgba($blue,0.2);
			}
		}
		+ .message {
			padding-top:$gap;
		}
		.heading {
			width:100%;
			@media (min-width:$screen-md) {
				display:flex;
				align-items:flex-start;
			}
		}
		.detail {
			display:flex;
			align-items:center;
			margin-left:auto;
			min-width:200px;
			justify-content:flex-end;
			font-size:13px;
		}
		.name {
			@include font-bold;
			font-size:16px;
			color:#333;
		}
		.subject {
			@include font-bold;
			margin-bottom:$gap-sm;
		}
		.message-content {
			padding-left:$gap;
			padding-right:$gap;
		}
	}
}

.message-controls {
	position:relative;
	display:flex;
	justify-content:flex-end;
	padding:$gap;
	.controls {
		padding-left: $gap-sm;
		position:relative;
		z-index:5;
		display:inline-flex;
		.btn-pill {
			padding:3px $gap;
		}
	}
}

.thread-message {
	background:$blue-lt;

}

.message-thread-list {
	margin:$gap $gap 0;
	a.box {
		display:flex;
		flex-direction:column;
	}
	.box {
		.message {
			margin-bottom:0;
			&:first-of-type {
				padding-top:$gap;
			}
			&:last-of-type {
				padding-bottom:$gap;
				border-radius:0 0 $gap-sm $gap-sm;
			}
			&.thread-message {
				padding-left:$gap-md;
				padding-right:$gap-md;
				+ .thread-message {
					border-top:1px solid darken($blue-lt,5%);
				}
			}
		}
		.thread-container {
			display:none;
			.message {
				&:first-of-type {
					padding-top:$gap;
					padding-bottom:$gap;
					border-top:2px solid darken($blue-lt,5%);
				}
				+ .message-controls {
					background:$blue-lt;
					border-radius:0 0 $gap-sm $gap-sm;
				}
			}
		}
	}
	.message-footer {
		margin-left:$gap;
		margin-right:$gap;
	}
}
