@import "../base/settings";
@import "../base/colors";
@import "../base/mixins";

$color__fill:    $blue;
$font-size:      16px;

$color__default: rgba($blue-dk,.5);
$color__hover:   rgba($blue-dk,.7);
$color__active:  rgba($blue-dk,1);

.edit-photo-modal {
  .slds-modal__content {
    min-height:304px;
    max-height: 100%;
  }
  .slds-modal__footer {
    padding:$gap;
  }
}


.edit-photo {
  position:relative;
  z-index:50000;
  .uploaded-canvas {
    //width:80%;
    overflow:hidden;
    height:calc(70vh - 120px);
    max-height:400px;
    position:relative;
    //max-width:400px;
    #original_photo {
      position:absolute;
      height:100%;
      max-width:100%;
      max-height:800px;
      margin:0 auto;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      //transform:scale(1);
    }
    #original_photo {
      z-index:5;
    }
    .overlay-block {
      //position:absolute;
      //z-index:10;
      //width:100%;
      //height:100%;
			////background-image:url('../img/overlay_photo-upload.svg');
			////background-position:center;
			//background-size:400px;
			//background-repeat:no-repeat;
      cursor: grab;
      &:active {
        cursor: grabbing;
      }
    }


  }
  .controls {
    background:#eee;
    flex:1;
    padding:0 $gap $gap-sm $gap;
    min-width:250px;
    min-height:50px;
    .control-row {
      transform: translate(-50%);
      left: 50%;
      position: absolute;
      display:flex;
      align-items:center;
      > label {
      	top:$gap-sm;
      	position:relative;
      	margin-right:$gap;
      }
    }
  }
}

@mixin range-trump($trump-background-color,$trump-border-color) {
	width: 2em;
	height: 2em;
	margin-top: 0;
	background-color: $trump-background-color;
	border-radius: 1em;
	border: 2px solid $trump-border-color;
	cursor: pointer;
}
@mixin range-track($track-border-color) {
	width: 100%;
	cursor: pointer;
	height: 1em;
	border-bottom: 2px solid $track-border-color;
	background-color: transparent;
}

input[type=range] {
  box-sizing: border-box;
  font-size: $font-size;
  line-height: 1;
  height: 2em;
  background-color: transparent;
  cursor: pointer;

  // * * * RESET * * *

  -webkit-appearance: none;
  width: 100%;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  &:focus {
    outline: none;
  }
  &::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  // * * * TRUMP * * *


  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include range-trump($color__fill, $color__default);
  }

  &::-moz-range-thumb {
    @include range-trump($color__fill, $color__default);
  }

  &::-ms-thumb {
    @include range-trump($color__fill, $color__default);
  }

  &:hover{
    &::-webkit-slider-thumb { border-color: $color__hover; }
    &::-moz-range-thumb     { border-color: $color__hover; }
    &::-ms-thumb            { border-color: $color__hover; }
  }

  //&:focus,
  &:active{
    &::-webkit-slider-thumb { border-color: $color__active; }
    &::-moz-range-thumb     { border-color: $color__active; }
    &::-ms-thumb            { border-color: $color__active; }
  }

  // * * * TRACK * * *
  &::-webkit-slider-runnable-track {
    @include range-track($color__default);
  }

  &:focus::-webkit-slider-runnable-track {

  }

  &::-moz-range-track {
    @include range-track($color__default);
  }

  &::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  &::-ms-fill-lower {

  }
  &:focus::-ms-fill-lower {

  }
  &::-ms-fill-upper {

  }
  &:focus::-ms-fill-upper {

  }
}
