@import "../base/settings";
@import "../base/colors";
@import "../base/mixins";

$progress-indicator: #82B956;
$progress-track: white;
$progress-circle-size: 140px;
$progress-circle-gap: 10px;

$step: 1;
$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);

$step01: #010C4E;
$step02: #002D88;
$step03: #017AA9;
$step04: #03C2B2;
$step05: #05E8B0;

$progress-track: #eee;
$progress-fill: #0074d9;


@for $i from 0 through $loops {
	.progress--radial.progress--#{$i * $step}:after {
		width: $i * $step * 1%;
	}
	.progress--radial.progress--#{$i * $step}:after {
		@if $i < $half {
			$nextDeg: 90deg + ($increment * $i);
			background-image: linear-gradient(90deg, $progress-track 50%, transparent 50%, transparent), linear-gradient($nextDeg, $progress-indicator 50%, white 50%, white);
		}
		@else {
			$nextDeg: -90deg + ($increment * ($i - $half));
			background-image: linear-gradient($nextDeg, $progress-indicator 50%, transparent 50%, transparent), linear-gradient(270deg, $progress-indicator 50%, white 50%, white);
		}
	}
}


.progress-bar--horizontal {
	.progress-bar {
		display: block;
		width: 100%;
		height: $gap-sm;
		position: relative;
		z-index: 5;
		padding-right: 8px;
		padding-top:2px;
		// this is horrendous, but for some reason Mozilla has a couple extra pixels.
		@media all and (min--moz-device-pixel-ratio:0) and (min-resolution: 3e1dpcm) {
			height:10px;
		}
		&[value] {
			background-color:transparent;
			border: 0;
			appearance: none;
			border-radius: 0;
			+ .progress-circle {
				background: $progress-track;
			}
			// These dont work when they are comma separated. No clue why..
			&::-ms-fill {
				background-color: $progress-fill;
				border: 0;
			}
			&::-moz-progress-bar {
				background-color: $progress-fill;
				margin-right:8px;
			}
			&::-webkit-progress-inner-element {
				background-color: $progress-track;
			}
			&::-webkit-progress-value {
				background-color: $progress-fill;
			}
			&::-webkit-progress-bar {
				background-color: $progress-track;
			}
		}
	}
	.progress-circle {
		width: $gap-md;
		height: $gap-md;
		position: absolute;
		right: 3px;
		top: -$gap-sm;
		z-index: 5;
		border-radius: 50%;
		&:before {
			content: "";
			width: $gap-xs;
			height: $gap-xs;
			background: white;
			border-radius: 50%;
			display: block;
			transform: translate(-50%, -50%);
			position: absolute;
			left: 50%;
			top: 50%;
		}
	}
	.progress-group {
		@media (max-width:$screen-md) {
			margin-left: -$gap;
			margin-right: -$gap;
			flex-basis: 100%;
			padding: $gap;
		}
		@media (max-width:$screen-sm) {
			padding: $gap $gap 0;
			margin-bottom: $gap-sm;
		}
		.wrapper {
			background: white;
			border: 1px solid #eee;
			border-radius: $gap-sm;
			height: $gap-sm + 2px;
			display: flex;
			filter: drop-shadow(0 0 1px rgba(black,0.3));
		}
		.step {
			width: 25%;
			position: relative;
			&:after {
				content: "";
				height: $gap-md + $gap-xs;
				width: $gap-md + $gap-xs;
				background: white;
				border-radius: 50%;
				display: block;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
			&:first-of-type {
				.progress-bar {
					padding-left:4px;
					&[value]::-moz-progress-bar {
						border-radius: 5px 0 0 5px;
					}
					&[value]::-webkit-progress-value {
						border-radius: 5px 0 0 5px;
					}
				}
			}
			&:not(:first-of-type) {
				.progress-bar {
					&[value]::-moz-progress-bar {
						border-radius: 0;
					}
					&[value]::-webkit-progress-value {
						border-radius: 0;
					}
				}
			}
			&.step01 {
				@include progress-step($step01);
			}
			&.step02 {
				@include progress-step($step02);
			}
			&.step03 {
				@include progress-step($step03);
			}
			&.step04 {
				@include progress-step($step04);
			}
		}
	}
}


@mixin progress-step($color) {
	// for some reason, these really dont want to be comma separated.
	.progress-bar[value]::-moz-progress-bar {
		background-color: $color;
	}
	.progress-bar[value]::-webkit-progress-value {
		background-color: $color;
	}
	.progress-bar[value="100"] + .progress-circle {
		background-color: $color;
	}
}

.progress--container-radial {
	background:#eee;
	padding:10px;
	border-radius:50%;
	box-shadow:inset 0 0 2px #ccc;
	position:relative;
	display:inline-flex;
	align-self:flex-start;
	@media (max-width:$screen-sm-min) {
		margin:0 auto;
	}
	.progress--radial {
		position: relative;
		display: inline-block;
		//margin: $gap-sm;
		width: $progress-circle-size;
		height: $progress-circle-size;
		border-radius: 50%;
		background-color: $progress-track;
		&:before {
			content: '';
			position: absolute;
			top: $progress-circle-gap / 2;
			left: $progress-circle-gap / 2;
			width: $progress-circle-size - $progress-circle-gap;
			height: $progress-circle-size - $progress-circle-gap;
			border-radius: 50%;
			background-color: white;
			border:10px solid #eee;
		}
		&:after {
			content: '';
			display: inline-block;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-color: $progress-indicator;
		}
	}
	.complete-indicator {
		display:none;
		position:absolute;
		left:50%;
		transform:translateX(-50%);
		top:-3px;
	}
	.progress--100 {
		~ .complete-indicator {
			display:block;
		}
		&:after {
			background-image: linear-gradient(90deg, #F0C711 50%, transparent 50%, transparent), linear-gradient(270deg, #F0C711 50%, white 50%, white);
		}
	}
	.progress-photo {
		position:absolute;
		border-radius:50%;
		width: 115px;
		height: 115px;
		left: 23px;
		top: 23px;
	}
}


