@import "../base/colors";
@import "../base/settings";
@import "../base/mixins";

.quick-links {
	width:100%;
	@media (min-width:$screen-sm) {
		display:flex;
		align-items:flex-start;
	}
	.icon-list,.link-list {
		display:flex;
		flex-wrap:wrap;
		align-items:flex-start;
		@media (max-width:$screen-sm-min) {
			padding-bottom:$gap-md;
		}
	}
	.icon-list {
		margin:$gap-sm (-($gap-sm));
	}
	.icon-link {
		padding:$gap-sm $gap-sm 0;
		position:relative;
		img, a {
			border-radius:50%;
		}
		a {
			display:block;
			transition: all 0.15s;
			&:hover,&:focus {
				transition: all 0.15s;
			}
		}
		.btn-edit-quicklinks {
			color:white;
			@include font-semibold;
			stroke:rgba(white,0.5);
			text-decoration:none;
			display:flex;
			&:focus,&:hover {
				background:$blue-dk;
				stroke:white;
				border-color:transparent;
			}
		}
	}
	.text-link {
		padding:$gap-xs 0;
		@media (min-width:$screen-sm-ls) {
			color:white;
		}
	}
	.btn-edit-quicklinks {
		display:flex;
		align-items:center;
		justify-content:center;
		.icon {
			width:24px;
			height:24px;
			svg {
				width:24px;
				height:24px;
			}
		}
	}
}

.page-header {
	.quick-links {
		@media (min-width:$screen-sm-ls - 1px) {
			min-height:240px;
		}
	}
}

.link-list {
	min-width:240px;
	margin:0;
	flex-direction:column;
	.edit-block .read {
		padding-top: 3px;
		padding-bottom: 3px;
		padding-left: 0;
		border: 2px solid transparent;
		a {
			display:block;
		}
		&:hover {
			.icons {
				width: 20px;
				stroke: currentColor;
				right:$gap-xs;
			}
		}
	}
	.icon-block {
		margin-top:$gap-sm;
		&.has-controls > .heading {
			padding-right:90px;
			.title {
				margin-bottom:0;
				font-size:20px;
			}
			.controls {
				@include font-semibold;
				svg {
					stroke:currentColor;
				}
			}
		}
		.heading {
			> .title {
				margin-bottom:$gap-xs;
				font-weight:bold;
			}
		}
		.controls {
			.icon {margin-right:0}
		}
	}
	.add-block {
		background:white;
		padding:$gap-sm $gap-sm 0;
	}
	.edit-block {
		margin-bottom:5px;
	}
}
