@import "../base/settings";
@import "../base/colors";
@import "../base/mixins";

.table-default {
	width:100%;
	font-size:13px;
	&.slds-table td, &.slds-table th {
		white-space:normal;
		line-height:1.2;
	}
	.c-head {
		padding-top:$gap-sm + $gap-xs;
		padding-bottom:$gap-sm + $gap-xs;
	}
	&[data-sortable] .c-head:not([data-sortable="false"]):after {
		display:inline-block;
		width: 16px;
		height: 16px;
		background-size:16px;
		background-repeat:no-repeat;
		position: absolute;
		top:calc(50% - 9px);
		right:$gap-xs;
		content:"";
		margin-left:auto;
	}
	[data-sorted-direction="descending"],[data-sorted-direction="ascending"],[data-sorted="false"] {
		position:relative;
		cursor:pointer;
	}
	[data-sorted-direction="descending"]:after {
		background-image:url('../img/sort-down.svg');
	}
	[data-sorted-direction="ascending"]:after {
		background-image:url('../img/sort-up.svg');
	}
	[data-sorted="false"]:after {
		background-image:url('../img/sortable.svg');
		opacity:0.2;
	}
	[data-sortable="false"]:after {
		display:none;
		cursor:pointer;
	}
	&[data-sortable] .c-head:not([data-sorted-direction="descending"]):not([data-sorted-direction="ascending"]):after {
		background-image:url('../img/sortable.svg');
		opacity:0.2;
	}
	.t-head {
		border:0;
		box-shadow:$default-box-shadow;
		border-radius:$border-radius $border-radius 0 0;
		.t-head-row {
			.c-head {
				position:relative;
				padding:12px $gap-md 12px 12px;
				//text-transform:uppercase;
				@include font-semibold;
				font-size:14px;
				&:first-of-type {
					padding-left:$gap-sm;
				}
				&:last-of-type {
					padding-right:$gap-sm;
				}
				> a {
					display:block;
					color:#888;
					&:hover {
						color:$link-active;
						text-decoration:none;
					}
				}
			}
		}
	}
	.t-body {
		@media (min-width:$screen-sm) {
			border-radius:0 0 $border-radius $border-radius;
			box-shadow:$default-box-shadow;
		}

		.t-body-row {
			&.detail-row > td {
				background:#F1F9FF;
				hr {
					background:darken(#F1F9FF,5%);
				}
			}
			&.expand-row {
				cursor:pointer;
				&:nth-of-type(even) > td {
					background:#f4f6f9;
				}
				&:nth-of-type(odd) > td {
					background:white;
				}
			}
			.c-body {
				padding:12px;
				vertical-align:top;
				//color:#888;
				//font-size:12px;
				//border-bottom:1px solid rgba($blue,0.1);
				@media (max-width:$screen-sm - 1px) {
					min-height: 40px;
				}

				@media (min-width:$screen-sm) {
					&:first-of-type {
						padding-left:$gap-sm;
					}
					&:last-of-type {
						padding-right:$gap-sm;
					}
				}
				&.auto {
					width:auto;
				}
				&.full {
					width:100%;
				}
				&.shrink-column {
					@media (min-width:$screen-sm) {
						width:1%;
					}
					> a {
						display:block;
						> .icon {
							svg {
								position:relative;
								fill:currentColor;
								top:auto;
								right:auto;
								transform:none;
								width:18px;
								height:18px;
							}
						}
					}
				}
			}
		}
		.controls {
			padding:0;
			position:relative;
			width:34px;
			.btn-bs {
				width:100%;
				border-radius:0 $border-radius-sm $border-radius-sm 0;
			}
		}
		.btn-bs {
			width:auto;
			padding:$gap-sm;
			height: 100%;
			stroke:currentColor;
			border-radius:0;
			&:hover,&:focus,&:active {
				//background:$blue;
				color:white;
			}
			@media (min-width:$screen-sm) {
				top: 0;
				right: 0;
				position: absolute;
			}
			@media (max-width:$screen-sm-min) {
				display:block;
			}
			.name {
				font-size:16px;
				@media (min-width:$screen-sm) {
					display:none;
				}
			}
			svg {
				@media (min-width:$screen-sm) {
					display:block;
					width:20px;
					height:20px;
				}
				@media (max-width:$screen-sm-min) {
					display:none;
				}
			}
		}
		.read-more {
			.read-more {
				margin-left:0;
			}
		}
	}
	th,td {
		&.name {
			@media (min-width:$screen-md) {
				width:30%;
				@include font-semibold;
			}
		}
	}
	.divider {
		border-left:2px solid $blue-lt;
		padding-left:$gap;
		position:relative;
		.label {
			font-size:12px;
		}
		> span {
			font-size:14px;
		}
	}
	.icon.slds-hide {
		display:none
	}
	.row-controls {
		display:flex;
		.icon {
			margin:0 $gap-sm;
			stroke:currentColor;
			svg {
				width:20px;
				height:20px;
			}
		}
	}
	@media screen and (max-width: 767px) {
		border: 0;
		.t-head {display:none;}
		.t-body-row {
			margin-bottom: $gap;
			display: block;
			border:1px solid #eee;
			background:white;
		}
		.c-body {
			text-align: right;
			font-size: 13px;
			border-bottom: 1px solid #eee;
			border-top:0 !important;
			&:last-child {
				border-bottom: 0;
			}
			&:before {
				content: attr(data-label);
				float: left;
				text-transform: uppercase;
				@include font-semibold;
			}
		}
		.t-body .c-body {
			display:block !important
		}
		.block-column {
			text-align:left;
			&:before {
				float:none;
				display:block;
				margin-bottom:$gap-xs;
			}
		}
	}
}


@keyframes fadein {
	from {
		padding: 0 $gap;
	}
	to {
		padding: $gap;
	}
}

@keyframes fadeout {
	0% {
		padding: $gap;
		opacity:1;
	}
	50% {
		padding: 0 $gap;
	}
	100% {
		height:0;
		opacity: 0;
	}
}

.faux-table {
	$blue-lt: #AAD3ED;
	box-shadow: $box-shadow;
	hr {
		background-color: lighten($blue-lt,7.5%);
	}
	.table-row-item {
		&.sortable {
			position:relative;
			cursor:pointer;
			&:after {
				background-image:url('../img/sortable.svg');
				display:inline-block;
				width: 16px;
				height: 16px;
				background-size:16px;
				background-repeat:no-repeat;
				position: absolute;
				top:calc(50% - 9px);
				right:$gap-xs;
				content:"";
				margin-left:auto;
				opacity:0.2;
			}
		}
		&.descending:after {
			background-image:url('../img/sort-down.svg');
			opacity:1;
		}
		&.ascending:after {
			background-image:url('../img/sort-up.svg');
			opacity:1;
		}
	}
	.table-row {
		display: flex;
		flex-wrap: wrap;
		@media (max-width:$screen-sm-min) {
			flex-direction:column;
		}
		&.expand {
			cursor:pointer;
		}
		&:not(.expand) {
			border-bottom:1px solid lighten($blue-lt,7.5%);
		}
		&:not(.table-header) {
			.table-row-item {
				display:flex;
				line-height:1.2;
				&:not(:last-of-type) {
					border-bottom:1px solid lighten($blue-lt,12.5%);
				}
				&:before {
					@media (max-width:$screen-sm-min) {
						min-width:150px;
						width:150px;
						display:block;
						content: attr(data-label);
						//float: left;
						text-transform: uppercase;
						@include font-semibold;
					}
				}
				.icon-link > span:not(.icon) {
					@media (max-width:$screen-sm-min) {
						padding-left:0;
					}
				}
			}
		}
		&.table-header {
			border: 1px solid lighten($blue-lt,10%);
			font-size:16px;
			@include font-semibold;
			border-radius: $border-radius-sm;
			box-shadow: 0 1px 2px $blue-lt;
			@media (max-width:$screen-sm-min) {
				display:none;
			}
		}
	}
	.table-row-container {
		&:not(:last-of-type) {
			border-width: 0 1px;
			border-style: solid;
			border-color: lighten($blue-lt,7.5%);
		}
		&:last-of-type {
			border:1px solid lighten($blue-lt,7.5%);
		}
		&:nth-child(odd) {
			.table-row {
				background-color: lighten($gray-lt,2.5%);
			}
		}
		.table-row-collapsed {
			background-color: lighten($blue-lt, 15%);
			border-top: 1px solid lighten($blue-lt,7.5%);
			&.hidden {
				padding:0 $gap;
				animation:fadeout 0.15s forwards;
				overflow:hidden;
				border:0;
			}
			&:not(.hidden) {
				animation:fadein 0.15s forwards;
				padding:$gap;
			}
		}
	}
}
