input(type="checkbox",id="nav-shrink",class="nav-shrink")
label(for="nav-shrink")
  +svg-sprite("img/sprites/base.svg", "nav-shrink", "", "Collapse Nav")
  span.slds-assistive-text Collapse / Expand Sidebar
