mixin add-block-controls()
  .controls.flex
    .right
      +btn-action("btn-add-control btn-cancel", "", "Cancel", "#!", false, "img/sprites/base.svg", "cancel", "", "cancel")
      +btn-action("btn-add-control btn-save", "", "Save", "#!", false, "img/sprites/base.svg", "save", "", "save")

mixin edit-block-controls()
  .controls.flex
    .left
      +btn-action("muted btn-update btn-remove", "", "Remove", "#!", false, "img/sprites/base.svg", "remove", "", "Remove")
    .right
      +btn-action("btn-update btn-cancel", "", "Cancel", "#!", false, "img/sprites/base.svg", "cancel", "", "cancel")
      +btn-action("btn-update btn-save", "", "Save", "#!", false, "img/sprites/base.svg", "save", "", "save")

mixin update-block-controls()
  .controls.flex
    .right
      +btn-action("btn-add-control btn-cancel", "", "Cancel", "#!", false, "img/sprites/base.svg", "cancel", "", "cancel")
      +btn-action("btn-add-control btn-save", "", "Save", "#!", false, "img/sprites/base.svg", "save", "", "save")
