+page-wrapper("","")
  .page-header
    .flex.all
      img.icon.lg.slds-m-right--medium(src= 'img/navs/' + portalName + '/directory-career.svg', alt="Career Network")
      h1.slds-text-heading--large.slds-m-bottom--x-small Career Network
    .description
      p Itaque temporibus corrupti debitis rerum ipsam obcaecati unde veniam placeat sapiente omnis repudiandae nam, amet delectus fugiat quia illum, modi esse ea animi. Sunt, obcaecati doloremque mollitia nam earum, atque perferendis natus nesciunt dolore illo, fuga explicabo nobis asperiores nemo

  +page-content-wrapper("")
    include directory-header.pug

    .grid-content.list-items.slds-grid.slds-wrap.slds-grid--align-space
      table.slds-table.slds-table--striped.slds-no-row-hover.table-default(data-sortable)
        thead.t-head
          tr.t-head-row
            th.c-head.name(data-sortable="true") Name
            th.c-head(data-sortable="true") Heading
            th.c-head(data-sortable="false")
        tbody.t-body
          +directory-item-person("https://randomuser.me/api/portraits/women/11.jpg", "Nellie Mckinney", "View Full Profile", "#", true)
            .copy
              p Business Administration &amp; Finance
                br
                | Georegetown Center for Financial Markets &amp; Policy
              p Vice Provost for Faculty
                br
                | Professor, Sample School of Business

          +directory-item-person("https://randomuser.me/api/portraits/men/28.jpg", "Stephen Thomas", "View Full Profile", "#", true)
            .copy
              p Business Administration &amp; Finance
                br
                | Georegetown Center for Financial Markets &amp; Policy
              p Vice Provost for Faculty
                br
                | Professor, Sample School of Business
          +directory-item-person("https://randomuser.me/api/portraits/women/81.jpg", "Emma George", "Lawanna Ebbing", "View Full Profile", "#", true)
            .copy
              p Business Administration &amp; Finance
                br
                | Georegetown Center for Financial Markets &amp; Policy
              p Vice Provost for Faculty
                br
                | Professor, Sample School of Business
          +directory-item-person("https://randomuser.me/api/portraits/men/97.jpg", "Clyde Ramirez", "View Full Profile", "#", true)
            .copy
              p Business Administration &amp; Finance
                br
                | Georegetown Center for Financial Markets &amp; Policy
              p Vice Provost for Faculty
                br
                | Professor, Sample School of Business
          +directory-item-person("https://randomuser.me/api/portraits/women/0.jpg", "Rosemary Berry",  "View Full Profile", "#", true)
            .copy
              p Business Administration &amp; Finance
                br
                | Georegetown Center for Financial Markets &amp; Policy
              p Vice Provost for Faculty
                br
                | Professor, Sample School of Business
          +directory-item-person("https://randomuser.me/api/portraits/women/58.jpg", "Bertha Clark", "View Full Profile", "#", true)
            .copy
              p Business Administration &amp; Finance
                br
                | Georegetown Center for Financial Markets &amp; Policy
              p Vice Provost for Faculty
                br
                | Professor, Sample School of Business
