+page-wrapper("","")
  .page-header
    .flex.all
      img.icon.lg.slds-m-right--medium(src= 'img/navs/' + portalName + '/directory-faculty.svg', alt="Faculty Directory")
      h1.slds-text-heading--large.slds-m-bottom--x-small Faculty Directory
    .description
      p Itaque temporibus corrupti debitis rerum ipsam obcaecati unde veniam placeat sapiente omnis repudiandae nam, amet delectus fugiat quia illum, modi esse ea animi. Sunt, obcaecati doloremque mollitia nam earum, atque perferendis natus nesciunt dolore illo, fuga explicabo nobis asperiores nemo

  +page-content-wrapper("")
    include directory-header.pug

    .grid-content.grid-items.slds-grid.slds-wrap.slds-grid--pull-padded
      +directory-item-person("https://randomuser.me/api/portraits/women/17.jpg", "Sabine Frolich", "View Full Profile", "#", false)
        .copy
          p Business Administration &amp; Finance
            br
            | Georegetown Center for Financial Markets &amp; Policy
          p Vice Provost for Faculty
            br
            | Professor, Sample School of Business

      +directory-item-person("demo/user_blank.jpg", "Anderson Matheny", "View Full Profile", "#", false)
        .copy
          p Business Administration &amp; Finance
            br
            | Georegetown Center for Financial Markets &amp; Policy
          p Vice Provost for Faculty
            br
            | Professor, Sample School of Business
      +directory-item-person("https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg", "Lawanna Ebbing", "View Full Profile", "#", false)
        .copy
          p Business Administration &amp; Finance
            br
            | Georegetown Center for Financial Markets &amp; Policy
          p Vice Provost for Faculty
            br
            | Professor, Sample School of Business
      +directory-item-person("https://randomuser.me/api/portraits/men/18.jpg", "Michael Montgomery", "View Full Profile", "#", false)
        .copy
          p Business Administration &amp; Finance
            br
            | Georegetown Center for Financial Markets &amp; Policy
          p Vice Provost for Faculty
            br
            | Professor, Sample School of Business
      +directory-item-person("https://s3.amazonaws.com/uifaces/faces/twitter/tonypeterson/128.jpg", "Michel Dellamora", "View Full Profile", "#", false)
        .copy
          p Business Administration &amp; Finance
            br
            | Georegetown Center for Financial Markets &amp; Policy
          p Vice Provost for Faculty
            br
            | Professor, Sample School of Business
      +directory-item-person("https://s3.amazonaws.com/uifaces/faces/twitter/abecherian/128.jpg", "Andy Zellinger", "View Full Profile", "#", false)
        .copy
          p Business Administration &amp; Finance
            br
            | Georegetown Center for Financial Markets &amp; Policy
          p Vice Provost for Faculty
            br
            | Professor, Sample School of Business
    hr.slds-p-bottom--none
    .gu360-loading-text.slds-is-relative
      .slds-spinner_container
        .slds-spinner.slds-spinner--small.slds-spinner--brand(role='status')
          span.slds-assistive-text Loading more records
          .slds-spinner__dot-a
          .slds-spinner__dot-b
        span.message Loading more records

