+page-wrapper("","")
  .page-header
    .flex.all
      img.icon.lg.slds-m-right--medium(src= 'img/navs/' + portalName + '/directory-faculty.svg', alt="Faculty Directory")
      h1.slds-text-heading--large.slds-m-bottom--x-small Faculty Directory
    .description
      p Itaque temporibus corrupti debitis rerum ipsam obcaecati unde veniam placeat sapiente omnis repudiandae nam, amet delectus fugiat quia illum, modi esse ea animi. Sunt, obcaecati doloremque mollitia nam earum, atque perferendis natus nesciunt dolore illo, fuga explicabo nobis asperiores nemo
  +page-content-wrapper("")
    include directory-header.pug

    .grid-content.list-items.slds-grid.slds-wrap.slds-grid--align-space
      table.slds-table.slds-table--striped.slds-no-row-hover.table-default(data-sortable)
        thead.t-head
          tr.t-head-row
            th.c-head(data-sortable="true").name Name
            th.c-head(data-sortable="true") Heading
            th.c-head(data-sortable="false")
        tbody.t-body
          +directory-item-person("https://randomuser.me/api/portraits/women/17.jpg", "Sabine Frolich", "View Full Profile", "#", true)
            .copy
              p Business Administration &amp; Finance
                br
                | Georegetown Center for Financial Markets &amp; Policy
              p Vice Provost for Faculty
                br
                | Professor, Sample School of Business

          +directory-item-person("https://s3.amazonaws.com/uifaces/faces/twitter/davidburlton/128.jpg", "Anderson Matheny", "View Full Profile", "#", true)
            .copy
              p Business Administration &amp; Finance
                br
                | Georegetown Center for Financial Markets &amp; Policy
              p Vice Provost for Faculty
                br
                | Professor, Sample School of Business
          +directory-item-person("https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg", "Lawanna Ebbing", "View Full Profile", "#", true)
            .copy
              p Business Administration &amp; Finance
                br
                | Georegetown Center for Financial Markets &amp; Policy
              p Vice Provost for Faculty
                br
                | Professor, Sample School of Business
          +directory-item-person("https://randomuser.me/api/portraits/men/18.jpg", "Michael Montgomery", "View Full Profile", "#", true)
            .copy
              p Business Administration &amp; Finance
                br
                | Georegetown Center for Financial Markets &amp; Policy
              p Vice Provost for Faculty
                br
                | Professor, Sample School of Business
          +directory-item-person("https://s3.amazonaws.com/uifaces/faces/twitter/tonypeterson/128.jpg", "Michel Dellamora", "View Full Profile", "#", true)
            .copy
              p Business Administration &amp; Finance
                br
                | Georegetown Center for Financial Markets &amp; Policy
              p Vice Provost for Faculty
                br
                | Professor, Sample School of Business
          +directory-item-person("https://s3.amazonaws.com/uifaces/faces/twitter/abecherian/128.jpg", "Andy Zellinger", "View Full Profile", "#", true)
            .copy
              p Business Administration &amp; Finance
                br
                | Georegetown Center for Financial Markets &amp; Policy
              p Vice Provost for Faculty
                br
                | Professor, Sample School of Business
