mixin badge(badge_label)
  .slds-badge= badge_label
    button.slds-button.slds-button--icon.slds-pill__remove(title='Remove')
      svg.slds-button__icon(aria-hidden='true')
        use(xlink:href='../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#close')
      span.slds-assistive-text Remove

nav.grid-controls
  +btn-primary("btn-search-directory", "", "Search Directory", "#!")
  .letters

    +dropdown("letters", "", "Filter by letter", true)
      a.active(href="#a") A
      a(href="#b") B
      a(href="#c") C
      a(href="#d") D
      a(href="#e") E
      a(href="#f") F
      a(href="#g") G
      a(href="#h") H
      a(href="#i") I
      a(href="#j") J
      a(href="#k") K
      a(href="#l") L
      a(href="#m") M
      a(href="#n") N
      a(href="#o") O
      a(href="#p") P
      a(href="#q") Q
      a(href="#r") R
      a(href="#s") S
      a(href="#t") T
      a(href="#u") U
      a(href="#v") V
      a(href="#w") W
      a(href="#x") X
      a(href="#y") Y
      a(href="#z") Z
    .wrapper
      a.active(href="#a") A
      a(href="#b") B
      a(href="#c") C
      a(href="#d") D
      a(href="#e") E
      a(href="#f") F
      a(href="#g") G
      a(href="#h") H
      a(href="#i") I
      a(href="#j") J
      a(href="#k") K
      a(href="#l") L
      a(href="#m") M
      a(href="#n") N
      a(href="#o") O
      a(href="#p") P
      a(href="#q") Q
      a(href="#r") R
      a(href="#s") S
      a(href="#t") T
      a(href="#u") U
      a(href="#v") V
      a(href="#w") W
      a(href="#x") X
      a(href="#y") Y
      a(href="#z") Z
  .controls
    a.btn-bs.btn-round.btn-grid(href= 'views/' + portalName + '/directory-' + directoryPage + '.html')
      +svg-sprite("img/sprites/base.svg", "grid", "icon lg", "Grid View")
    a.btn-bs.btn-round.btn-list(href= 'views/' + portalName + '/directory-' + directoryPage + '-list.html')
      +svg-sprite("img/sprites/base.svg", "list", "icon lg", "List View")
.grid-filters
  .badge-label Results for:
  +badge("Experience: Biochemistry")
  +badge("First Name: Reena")
  +badge("Last Name: Aggarwal")
  +badge("Department: Marketing")
  +badge("Type: Full-time, Adjunct")
