header.gu-header
  .site-search.slds-max-x-small-hide
    .search-input
      +svg-sprite("img/sprites/base.svg", "search", "", "Search")
      input#text-input-01.slds-input(type='text', placeholder='Search')
