.mobile-nav
  block mobile-nav-links
input(type="checkbox",id="nav-trigger",class="nav-trigger")
label(for="nav-trigger")
  +svg-sprite("img/sprites/base.svg", "menu", "", "Menu")
  span.slds-assistive-text Show Mobile Navigation
