+modal-default("meeting-request-modal", "Dear {{ StudentName }}", "meeting-request-modal")
  .slds-modal__content.slds-p-around--large
    p.txt-intro Your Academic Advisor is requesting a meeting with you.  Please click "I acknowledge this message" below and then make an appointment through the online booking system.
    p.slds-m-bottom--large If you have any questions, please reach out to your Academic Advisor directly.
    +checkbox("gu-form-group", "accept-terms", "accept-terms", "", "I have read this message and understand I need to meet with my advisor.")
    .slds-modal__footer.slds-m-top--large
      +btn-default("btn-close-modal", "appointment-later", "Make appointment later", "#", false)
      +btn-primary("btn-close-modal", "appointment-now", "Make appointment now", "#", false)

script.
  // Show the modal on page load
  $(document).ready(function() {
    $("[aria-labelledby='meeting-request-modal']").addClass('slds-fade-in-open');
    $("[aria-labelledby='meeting-request-modal'] + .slds-backdrop").addClass('slds-backdrop--open');
  });
