+modal-default("directory-search", "Search Directory")
  .slds-modal__content.slds-p-around--medium
    .slds-grid.slds-wrap.slds-grid--pull-padded
      .slds-p-horizontal--small.slds-size--1-of-2
        +input-text("gu-form-group", "search_last-name")(type="text", class="slds-input", placeholder="Last Name", value="")
      .slds-p-horizontal--small.slds-size--1-of-2
        +input-text("gu-form-group", "search_first-name")(type="text", class="slds-input", placeholder="First Name", value="")
    .slds-grid.slds-wrap.slds-grid--pull-padded
      .slds-p-horizontal--small.slds-size--1-of-2
        +input-text("gu-form-group", "search_expertise")(type="text", class="slds-input", placeholder="Expertise", value="")
      .slds-p-horizontal--small.slds-size--1-of-2
        +input-text("gu-form-group", "search_department")(type="text", class="slds-input", placeholder="School or Department", value="")
    hr.slds-m-top--none
    .checks-horizontal.slds-p-bottom--small
      +checkbox("slds-m-bottom--x-small", "search_full-time",  "search_radios", "Full-Time", "Full-Time")(checked="checked")
      +checkbox("slds-m-bottom--x-small", "search_affiliated", "search_radios", "Affiliated", "Affiliated")
      +checkbox("slds-m-bottom--x-small", "search_adjunct",    "search_radios", "Adjunct", "Adjunct")
    .checks-horizontal
      +checkbox("slds-m-bottom--x-small", "search_visiting",   "search_radios", "Visiting", "Visiting")(checked="checked")
      +checkbox("slds-m-bottom--x-small", "search_emeriti",    "search_radios", "Emeriti", "Emeriti")
      +checkbox("slds-m-bottom--x-small", "search_research",   "search_radios", "Research", "Research")
    hr
    .slds-modal__footer
      button.btn-bs.slds-button.slds-button--neutral.btn-close-modal Cancel
      button.btn-bs.slds-button.slds-button--brand Search Faculty

script.
  $('.btn-search-directory').click(function () {
    $("[aria-labelledby='directory-search']").addClass('slds-fade-in-open');
    $("[aria-labelledby='directory-search'] + .slds-backdrop").addClass('slds-backdrop--open');
  });
