+modal-default("request-profile-change", "Request Profile Change", "request-profile-change")
  .slds-modal__content.slds-p-around--large
    p.txt-intro.slds-p-bottom--none.slds-m-bottom--xx-small To request a change to a non-editable part of your profile, please submit the form below indicating the change and a member of the staff will get back to you as soon as possible.
    +textarea("slds-m-vertical--large", "description-of-change", "Description of Change", "Description of Change")(class="slds-textarea")
    .slds-grid.slds-wrap.slds-grid--pull-padded.slds-m-bottom--x-large
      .slds-p-horizontal--small.slds-size--2-of-2.slds-large-size--1-of-2
        +select("", "preferred-contact-method", "Preferred Contact Method")(class="slds-select")
      .slds-p-horizontal--small.slds-size--2-of-2.slds-large-size--1-of-2
        +select("", "best-time-to-reach-me", "Best time to reach me")(class="slds-select")
    hr
    .slds-modal__footer
      +btn-default("btn-close-modal", "", "Close", "")
      +btn-primary("btn-close-modal", "", "Submit", "")

script.
  $('.btn-request-profile-change').click(function () {
    $("[aria-labelledby='request-profile-change']").addClass('slds-fade-in-open');
    $("[aria-labelledby='request-profile-change'] + .slds-backdrop").addClass('slds-backdrop--open');
  });
