+modal-default("gu-account-status", "Hold on account", "gu-account-status")
  .slds-modal__content.slds-p-around--large
    p.txt-intro.slds-p-bottom--none.slds-m-bottom--xx-small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Repellendus aspernatur doloremque pariatur et porro quo quisquam temporibus praesentium harum minima.
    p.slds-m-bottom--small If you have any questions please contact the office of student admission at #[a(href="tel:(518) 222-7631") (518) 222-7631] or #[a(href="mailto:email@email.edu") email@email.edu]
    .card.box.slds-p-around--large
      h5 Name or title for hold status
      .txt-date.slds-m-right--small #[strong] 03/19/2017
      .description.slds-m-top--x-small Dolorum natus optio hold reason, repudiandae ducimus iure! Labore magnam dolores nam ab, odit, eos a corporis deleniti.
    hr
    .slds-modal__footer
      button.btn-bs.slds-button.slds-button--brand.btn-close-modal Close

script.
  $('.btn-account-status').click(function () {
    $("[aria-labelledby='gu-account-status']").addClass('slds-fade-in-open');
    $("[aria-labelledby='gu-account-status'] + .slds-backdrop").addClass('slds-backdrop--open');
  });
