style.
  .edit-photo .uploaded-canvas .overlay-block {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-image: url("../img/overlay_photo-upload.svg");
    background-position: center;
    background-size: 400px;
    background-repeat: no-repeat;
    cursor: -webkit-grab;
    cursor: grab;
  }

+modal-default("upload-photo", "Upload photo", "")
    .slds-modal__content.slds-p-around--medium
        p Maximum file size is 2MB.
        +slds-drop-image("drop-image_profile-photo","", "upload_profile-photo", "image/*", "Upload Image", "or Drop images here", "400px")
        hr.slds-m-top--none
        .slds-modal__footer
            button.btn-bs.slds-button.slds-button--neutral.btn-close-modal Cancel
            button.btn-bs.slds-button.slds-button--brand.btn-edit-photo Continue

+modal-default("edit-photo", "Update photo", "edit-photo-modal")
    .slds-modal__content
        .edit-photo
            .uploaded-canvas
                .overlay-block
                #original_photo(style="background-image:url('demo/user-alt.png')")
            .controls
                .control-row
                    label(for="zoom_control") Zoom
                    input(type="range", name="zoom_control", id="zoom_control", min="1", max="10", value="1", oninput="zoomy()")
                .control-row
                    label(for="")
        .slds-modal__footer
            button.btn-bs.slds-button.slds-button--neutral.btn-close-modal Cancel
            button.btn-bs.slds-button.slds-button--brand.btn-close-modal Save

script.
    // Upload Photo
    $('.btn-upload-photo').click(function () {
      $("[aria-labelledby='upload-photo']").addClass('slds-fade-in-open');
      $("[aria-labelledby='upload-photo'] + .slds-backdrop").addClass('slds-backdrop--open');
    });
    $('.btn-edit-photo').click(function () {
      $("[aria-labelledby='edit-photo']").addClass('slds-fade-in-open');
      $("[aria-labelledby='upload-photo']").removeClass('slds-fade-in-open');
    });

    $(document).ready(function() {
        var zoom_control = document.getElementById('zoom_control');
        var original_photo = document.getElementById('original_photo');

        function zoomy(){
          zoomlevel = zoom_control.valueAsNumber;
          original_photo.style.transform = "scale("+zoomlevel+")";
        }
    });
