.link-list
  +header-add-block("div", "", "My Quick Links", "", "", false, "", "", "sm")
    .add-block.slds-hide
      .item
        +input-text("", "quick-link_new_title", "Link Title")(class="slds-input", placeholder="Link Title")
      .item
        +input-text("", "quick-link_new_url", "URL")(class="slds-input", placeholder="URL")
      +add-block-controls()

    +edit-block-no-permissions("", "personal-website01", "Quicklink 1", "")
      .edit-block
        .read.update-block
          a.underline(href="#!") Assumenda, illo, iusto.
          .icons
            +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
        .edit.slds-hide
          .item
            +input-text("", "quick-link01_title", "Link Title")(class="slds-input", placeholder="Link Title", value='My Quicklink 1')
            +input-text("", "quick-link01_url", "URL")(class="slds-input", placeholder="URL", value='http://websitename.com')
          +edit-block-controls()

    +edit-block-no-permissions("", "personal-website02", "Quicklink 2")
      .edit-block
        .read.update-block
          a.underline(href="#!") Porro sapiente, assumenda at
          .icons
            +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
        .edit.slds-hide
          .item
            +input-text("", "quick-link02_title", "Link Title")(class="slds-input", placeholder="Link Title", value='My Quicklink 2')
            +input-text("", "quick-link02_url", "URL")(class="slds-input", placeholder="URL", value='http://websitename.com')
          +edit-block-controls()

    +edit-block-no-permissions("", "personal-website03", "Quicklink 3")
      .edit-block
        .read.update-block
          a.underline(href="#!") Rem, quos iste quae
          .icons
            +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
        .edit.slds-hide
          .item
            +input-text("", "quick-link03_title", "Link Title")(class="slds-input", placeholder="Link Title", value='My Quicklink 3')
            +input-text("", "quick-link03_url", "URL")(class="slds-input", placeholder="URL", value='http://websitename.com')
          +edit-block-controls()

    +edit-block-no-permissions("", "personal-website04", "Quicklink 4")
      .edit-block
        .read.update-block
          a.underline(href="#!") Voluptates sequi ea voluptas
          .icons
            +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
        .edit.slds-hide
          .item
            +input-text("", "quick-link05_title", "Link Title")(class="slds-input", placeholder="Link Title", value='My Quicklink 5')
            +input-text("", "quick-link05_url", "URL")(class="slds-input", placeholder="URL", value='http://websitename.com')
          +edit-block-controls()

    +edit-block-no-permissions("", "personal-website05", "Quicklink 5")
      .edit-block
        .read.update-block
          a.underline(href="#!") Totam a ab laboriosam
          .icons
            +svg-sprite("img/sprites/base.svg", "edit", "icon", "Edit")
        .edit.slds-hide
          .item
            +input-text("", "quick-link06_title", "Link Title")(class="slds-input", placeholder="Link Title", value='My Quicklink 6')
            +input-text("", "quick-link06_url", "URL")(class="slds-input", placeholder="URL", value='http://websitename.com')
          +edit-block-controls()
