.gu360-loading-text.slds-is-relative
  .slds-spinner_container
    .slds-spinner.slds-spinner--small.slds-spinner--brand(role='status')
      span.slds-assistive-text Loading more records
      .slds-spinner__dot-a
      .slds-spinner__dot-b
    span.message Loading more records
