block SecondaryNavigation

each page,i in SecondaryNavItems
  if currentPage === page.url
    a(class="icon-link lg active", href= 'views/' + portalName + '/' + page.url + '.html')
      img(src= 'img/navs/' + portalName + '/' + page.key + '.svg', alt= page.title)
      span.name= page.title
  else
    a(class="icon-link lg", href= 'views/' + portalName + '/' + page.url + '.html')
      img(src= 'img/navs/' + portalName + '/' + page.key + '.svg', alt= page.title)
      span.name= page.title
