.THIS .no-data {
  position: relative;
}
.THIS .no-data .message {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: 600;
  padding: 0.5rem 1rem;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 24px rgba(0,0,0,0.15);
}
.THIS .no-data .background {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='340' height='300' viewBox='0 0 340 300'%3E%3Cg fill='%23111111' transform='translate%2836 16%29' opacity='.541'%3E%3Cpath d='M130.424242,132.057094 L130.424242,0 C58.1213899,2.29593076 0,61.471276 0,133.929294 C0,167.823458 12.738101,198.794743 33.6711919,222.419913 L130.424242,132.057094 Z' opacity='.12'/%3E%3Cpath d='M138.575758,130.424242 L269,130.424242 C266.733077,59.5100038 209.489996,2.26692345 138.575758,0 L138.575758,130.424242 Z' opacity='.067'/%3E%3Cpath d='M135.629269,138.575758 L38.4285714,229.564057 C62.905387,253.91861 96.6678656,269 133.902109,269 C206.992358,269 266.684036,210.87861 269,138.575758 L135.629269,138.575758 Z' opacity='.078'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  background-position: center;
}