.THIS input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	
}
.THIS span {
    color: Black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}
.THIS button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}