<template>
	<div>
		<div>Name: {name}</div>
		<div>Description: {description}</div>
		<lightning-badge label={material}></lightning-badge>
		<lightning-badge label={category}></lightning-badge>
		<div>Price: {price}</div>
		<div><img src={pictureUrl} /></div>
	</div>
</template>