extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'dashboard';

include partials/alumni-includes.pug
include ../../modules/social.pug

block base_url
  base(href="../../")

block title
  title Dashboard / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/dashboard.css")
  link(rel="stylesheet", href="./css/messaging.css")
  link(rel="stylesheet", href="./css/table.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/quick-links.css")
  link(rel="stylesheet", href="./bower_components/fullcalendar/dist/fullcalendar.min.css")
  link(rel="stylesheet", href="./css/calendar.css")
  link(rel="stylesheet", href="./css/theme-alumni.css")

block content

  mixin person(role, photo_url, name)
    .person
      .user-control
        .user-photo.sm(style= 'background-image:url(' + photo_url + ')')
        a(href="#", data-balloon="Help text", data-balloon-pos="up")
          +svg-sprite("img/sprites/media.svg","calendar","","")
      .detail
        .role
          span= role

        a.name= name
        .controls
          div
            a(href="mailto:user@domain.com")= name + '@gmail.com'
              //+svg-sprite("img/sprites/media.svg","email","","")
          div
            a.telephone(href="tel:(555) 555-5##5") (555) 555-5##5
          div

  +page-wrapper("pg-dashboard", "")
    +page-header("Dashboard", "has-icon", "img/navs/student/dashboard.svg")
      +grid("wrap", "large", "col-70-30 quick-links")
        +grid-col()
          .icon-list
            .icon-link
              a(href="#")
                img(src="demo/quick-links/student/gms.svg", alt="GMS")
            .icon-link
              a(href="#")
                img(src="demo/quick-links/student/appointments.svg", alt="Appointments")
            .icon-link
              a(href="#")
                img(src="demo/quick-links/student/canvas.svg", alt="Canvas")
            .icon-link
              a(href="#")
                img(src="demo/quick-links/student/blackboard.svg", alt="Blackboard")
            .icon-link
              a(href="#")
                img(src="demo/quick-links/student/student-handbook.svg", alt="Student Handbook")
            .icon-link.add
              a.btn-edit-quicklinks
                span Add
                +svg-sprite("img/sprites/base.svg","add","","")
        +grid-col()
          include ../../partials/quick-link-list.pug
    +page-content-wrapper("")
      +page-section("")
        .slds-grid.slds-wrap.slds-grid--pull-padded
          .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--8-of-12
            +card-group("")
              +card("")
                +card-title("Welcome Alumni!", "", false, "")
                +card-content()
                  .slds-p-horizontal--large
                    p.slds-m-bottom--small Accusantium in nostrum enim nesciunt recusandae ab! Alias sit voluptates fugit magni id. Porro, velit enim eos, quis laborum facere harum nostrum deleniti at. Quam quo magni quaerat, et natus!
                    p.slds-m-bottom--small Sit suscipit neque quaerat aperiam eius voluptatem accusantium rerum enim repellat et, vero cupiditate non omnis ipsum voluptates, voluptas debitis sed nulla. Est et nihil labore iure quae! Odio, facilis.
                    p.slds-m-bottom--small Quasi tempora beatae reprehenderit iure atque sit doloremque molestiae dolore eos praesentium, obcaecati magni amet totam quam, impedit voluptatum est adipisci vero vel, maiores suscipit dolorem ullam! Sunt, rem, sapiente.
          .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--4-of-12
            +card-group("")
              +card("")
                +card-title("Connect with Advancement", "")
                +card-content
                  .slds-p-horizontal--large
                    p Update the Office of Advancement about Alumni or propective donors here. It is also helpful to indicate if you will be in a different area of the country and would be willing to help with fundraising activities.
                    +textarea("gu-form-group slds-m-top--medium slds-m-bottom--medium", "connect-with-advancement", "Your Message")(placeholder="", class="slds-textarea", rows="10")
                    .slds-grid.slds-wrap.slds-grid--pull-padded
                      .slds-p-horizontal--small.slds-size--1-of-2
                        +btn-default("btn-block", "clear", "Clear", "#!", false)
                      .slds-p-horizontal--small.slds-size--1-of-2
                        +btn-primary("btn-block", "submit-to-advancement", "Submit", "#!", false)

block left-sidebar
  include partials/alumni-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block modals
  include partials/modal-alumni-quick-links.pug

block scripts
  script.




