extends ../../layout/default-authenticated.pug

include partials/alumni-includes.pug
include ../../modules/directory-item.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'directory-alumni';
  - var directoryPage = 'alumni';

block title
  title Alumni Directory / Alumni - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/table.css")
  link(rel="stylesheet", href="./css/card-person.css")
  link(rel="stylesheet", href="./css/theme-alumni.css")

block content
  include ../../partials/directory-alumni-content.pug
  include ../../partials/modal-directory-search.pug


block left-sidebar
  include partials/alumni-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
    $(document).ready(function() {
      $('.btn-grid').addClass('active');
    });

