extends ../../layout/default-authenticated.pug

include partials/alumni-includes.pug
include ../../modules/input-edit.pug
include ../../modules/social.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'documents';

block title
  title Documents / Alumni - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/table.css")
  link(rel="stylesheet", href="./css/theme-alumni.css")

block content
  mixin document-row(name,type,date,description,show_edit,show_download,show_remove)
    tr.t-body-row
      td.c-body(data-label="Name")
        a.name(href="#")= name
      td.c-body(data-label="Type")
        span.txt-italic= type
      td.c-body(data-label="Last Updated")= date
      td.c-body(data-label="Description")= description
      td.c-body
        .row-controls
          if show_edit
            a(href="#")
              +svg-sprite("img/sprites/base.svg", "edit", "", "Edit")
          if show_download
            a(href="#")
              +svg-sprite("img/sprites/base.svg", "download-alt", "", "Download")
          if show_remove
            a(href="#")
              +svg-sprite("img/sprites/base.svg", "trash", "", "Remove")

  +page-wrapper("","")
    +page-header("My Documents", "", "img/navs/alumni/documents.svg")

    +page-content-wrapper("")
      .page-section.slds-grid.slds-wrap.slds-grid--pull-padded
        .card-group.slds-p-horizontal--small
          .card
            .card-content
              .card-title.has-controls
                +input-text("", "slds-input-has-icon slds-input-has-icon--right", "document-search", "Search Documents", "")(placeholder="Search documents")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#search")
                .controls.slds-grid.slds-grid--vertical-align-center
                  .title.slds-m-right--small View
                  +dropdown("page-subnav", "page-subnav", "This Year", true)
                    a.active(href="#") This Year
                    a(href="#") Last Year
                  +btn-primary("slds-m-left--small", "", "Add new", "#!")

            .card-content.box.slds-m-top--large
              .card-title
                h3.title Sample Club Documents
              .slds-m-horizontal--large
                table.slds-table.table-default.table-striped.slds-m-top--small.slds-m-bottom--large(data-sortable)
                  thead.t-head
                    tr.t-head-row
                      th.c-head.name(data-sortable="true") Name
                      th.c-head.shrink-column(data-sortable="true") Type
                      th.c-head.shrink-column(data-sortable="true") Updated
                      th.c-head(data-sortable="false") Description
                      th.c-head.shrink-column(data-sortable="false")
                  tbody.t-body
                    +document-row("Document Name", ".docx", "09/01/2015", "Eveniet iusto repellat modi nemo sequi magnam harum id ad, doloribus. Eum", true, true, true)
                    +document-row("Totam distinctio - tempore", ".pdf", "09/12/2015", "Illum nam culpa quia autem doloremque odio consequuntur", true, true, true)
                    +document-row("Accusamus sed consectetur - v2", ".pdf", "09/14/2015", "Commodi perspiciatis sit pariatur", true, true, true)
                    +document-row("Libero dolorum velit tempore tempora molestiae", ".xls", "12/14/2015", "Dignissimos repellendus enim", true, true, true)

            .card-content.box.slds-m-top--large
              .card-title
                h3.title My Giving Documents
              .slds-m-horizontal--large
                table.slds-table.table-default.table-striped.slds-m-top--small.slds-m-bottom--large(data-sortable)
                  thead.t-head
                    tr.t-head-row
                      th.c-head.name(data-sortable="true") Name
                      th.c-head.shrink-column(data-sortable="true") Type
                      th.c-head.shrink-column(data-sortable="true") Updated
                      th.c-head(data-sortable="false") Description
                      th.c-head.shrink-column(data-sortable="false")
                  tbody.t-body
                    +document-row("Document Name", ".docx", "09/01/2015", "Eveniet iusto repellat modi nemo sequi magnam harum id ad, doloribus. Eum", true, true, true)
                    +document-row("Totam distinctio - tempore", ".pdf", "09/12/2015", "Illum nam culpa quia autem doloremque odio consequuntur", true, true, true)

            .card-content.box.slds-m-top--large
              .card-title
                h3.title Personal Documents
              .slds-m-horizontal--large
                table.slds-table.table-default.table-striped.slds-m-top--small.slds-m-bottom--large(data-sortable)
                  thead.t-head
                    tr.t-head-row
                      th.c-head.name(data-sortable="true") Name
                      th.c-head.shrink-column(data-sortable="true") Type
                      th.c-head.shrink-column(data-sortable="true") Updated
                      th.c-head(data-sortable="false") Description
                      th.c-head.shrink-column(data-sortable="false")
                  tbody.t-body
                    +document-row("Document Name", ".docx", "09/01/2015", "Eveniet iusto repellat modi nemo sequi magnam harum id ad, doloribus. Eum", true, true, true)
                    +document-row("Totam distinctio - tempore", ".pdf", "09/12/2015", "Illum nam culpa quia autem doloremque odio consequuntur", true, true, true)
                    +document-row("Accusamus sed consectetur - v2", ".pdf", "09/14/2015", "Commodi perspiciatis sit pariatur", true, true, true)
                    +document-row("Libero dolorum velit tempore tempora molestiae", ".xls", "12/14/2015", "Dignissimos repellendus enim", true, true, true)
                    +document-row("Document Name", ".docx", "09/01/2015", "Eveniet iusto repellat modi nemo sequi magnam harum id ad, doloribus. Eum", true, true, true)
                    +document-row("Totam distinctio - tempore", ".pdf", "09/12/2015", "Illum nam culpa quia autem doloremque odio consequuntur", true, true, true)
                    +document-row("Accusamus sed consectetur - v2", ".pdf", "09/14/2015", "Commodi perspiciatis sit pariatur", true, true, true)
                    +document-row("Libero dolorum velit tempore tempora molestiae", ".xls", "12/14/2015", "Dignissimos repellendus enim", true, true, true)

            .card-content.box.slds-m-top--large
              .card-title
                h3.title Stewardship Fund Documents
              .slds-m-horizontal--large
                table.slds-table.table-default.table-striped.slds-m-top--small.slds-m-bottom--large(data-sortable)
                  thead.t-head
                    tr.t-head-row
                      th.c-head.name(data-sortable="true") Name
                      th.c-head.shrink-column(data-sortable="true") Type
                      th.c-head.shrink-column(data-sortable="true") Updated
                      th.c-head(data-sortable="false") Description
                      th.c-head.shrink-column(data-sortable="false")
                  tbody.t-body
                    +document-row("Libero dolorum velit tempore tempora molestiae", ".xls", "12/14/2015", "Dignissimos repellendus enim", true, true, true)
                    +document-row("Document Name", ".docx", "09/01/2015", "Eveniet iusto repellat modi nemo sequi magnam harum id ad, doloribus. Eum", true, true, true)






block left-sidebar
  include partials/alumni-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.

