extends ../../layout/default-authenticated.pug

include partials/alumni-includes.pug
include ../../modules/input-edit.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'giving';

block title
  title Giving / Alumni - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/table.css")
  link(rel="stylesheet", href="./css/giving.css")
  link(rel="stylesheet", href="./css/progress.css")
  link(rel="stylesheet", href="./css/theme-alumni.css")

block content
  mixin giving-hero-box(progress_amount, photo_url, title, description)
    .box.giving-card.lg
      .progress--container-radial

        div(class= 'progress--radial progress--' + progress_amount)
        img.progress-photo(src= photo_url, alt="")
        .complete-indicator
          +svg("img/star.svg", "", "Campaign Success!")
      .detail
        a.title(href="views/alumni/giving-detail.html")= title
        .description= description
        block
  mixin giving-box(title, description)
    .box.giving-card.sm
      .detail
        a.title(href="views/alumni/giving-detail.html")= title
        .description= description
        block

  +page-wrapper("","")
    +page-header("Giving", "has-controls", "img/navs/alumni/giving.svg")
      +page-header-controls(true, "Select Page")
        a.active(href="#") Giving Opportunities
        a(href="views/alumni/my-giving.html") My Giving
      .slds-grid.slds-wrap.slds-grid--pull-padded.slds-m-top--medium.slds-col.slds-grid--vertical-align-center
        .slds-col.slds-size--1-of-1.slds-large-size--9-of-12.slds-p-horizontal--small
          .description
            p This giving history is not a comprehensive list of all possible gifts made to Georgetown. Outright gifts made to Georgetown in the last five calendar and fiscal years are included here, but you may have pledges, anonymous gifts, and other gifts that are not displayed. If you feel that this helprmation is incorrect in any way, please contact Gift Accounting:
        .slds-col.slds-size--1-of-1.slds-large-size--3-of-12.slds-p-horizontal--small
          .contact-card
            a.card-detail-wraper
              +svg-sprite("img/sprites/media.svg", "phone-fill", "", "")
              span.detail (800) 424-2795
            a.card-detail-wraper
              +svg-sprite("img/sprites/media.svg", "email-fill", "", "")
              span.detail giving@georgetown.edu

    +page-content-wrapper("")
      +page-section("")
        +card-group("")
          +card("")
            +card-title("Giving Opportunities", "has-controls", true, "")
              .title.slds-m-right--small View
              +dropdown("page-subnav", "page-subnav", "Recommended for Me", true)
                a.active(href="#") Recommended for Me
                a(href="#") New Opportunities
            +card-content("")
              .slds-p-horizontal--large
                +grid("box-grid hero wrap stretch", "large", "6-of-12")
                  +grid-col()
                    +giving-hero-box("50", "https://placeimg.com/640/480/tech", "Very Long Campaign name that goes on to a second line", "Ex perferendis repellendus eveniet quisquam sint amet possimus iusto itaque sit, soluta architecto, beatae nisi totam nesciunt quos animi dolor?")
                      .controls
                        a.btn-bs.slds-button.btn-success.btn-give.active.btn-lg(href="#") Give Now!
                  +grid-col()
                    +giving-hero-box("100", "https://placeimg.com/640/480/animals", "Facilis nulla expedita debitis", "Odio dicta laborum, dolorum et veritatis provident quae hic assumenda officiis placeat aperiam?")
                      .controls
                        img.success-msg(src="img/campaign-success.svg", alt="Campaign Success - Thank you!")
                +grid("box-grid default wrap stretch", "large", "4-of-12")
                  +grid-col()
                    +giving-box("Facilis nulla expedita debitis", "Odio dicta laborum, dolorum et veritatis provident quae hic assumenda officiis placeat aperiam?")
                      .controls.spaced
                        +btn-default("", "", "Learn More", "#", false)
                        a.btn-bs.slds-button.btn-success.btn-give() Give Now!
                  +grid-col()
                    +giving-box("Labore aliquid totam odio deleniti! Neque, deserunt.", "Quidem porro, possimus voluptatem assumenda consectetur eaque odit sed nihil quas ducimus necessitatibus sapiente. Tempora quam non saepe ratione esse, possimus quae.")
                      .controls.spaced
                        +btn-default("", "", "Learn More", "#", false)
                        a.btn-bs.slds-button.btn-success.btn-give() Give Now!
                  +grid-col()
                    +giving-box("Beatae, consequuntur totam provident!", "Dignissimos minima, reprehenderit eveniet sed. Placeat ad et quidem temporibus exercitationem ducimus.")
                      .controls.spaced
                        +btn-default("", "", "Learn More", "#", false)
                        img.success-msg(src="img/campaign-success.svg", alt="Campaign Success - Thank you!")
                  +grid-col()
                    +giving-box("Dicta possimus laudantium, pariatur voluptatibus quod at esse numquam!", "Officia culpa ratione id unde, incidunt minus ex iusto, dicta perspiciatis amet voluptatum repellendus perferendis! Vero minus, cupiditate doloremque alias, ea animi.")
                      .controls.spaced
                        +btn-default("", "", "Learn More", "#", false)
                        a.btn-bs.slds-button.btn-success.btn-give() Give Now!
                  +grid-col()
                    +giving-box("Labore aliquid totam odio deleniti! Neque, deserunt.", "Quidem porro, possimus voluptatem assumenda consectetur eaque odit sed nihil quas ducimus necessitatibus sapiente. Tempora quam non saepe ratione esse, possimus quae.")
                      .controls.spaced
                        +btn-default("", "", "Learn More", "#", false)
                        a.btn-bs.slds-button.btn-success.btn-give() Give Now!


block left-sidebar
  include partials/alumni-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
    $(document).ready(function() {
      // Expand and collapse detail rows
      $('.expand').click(function () {
        $(this).next('.table-row-collapsed').toggleClass('hidden');
      });
    });

