extends ../../layout/default-authenticated.pug

include partials/alumni-includes.pug
include ../../modules/input-edit.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'giving';

block title
  title Giving / Alumni - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/table.css")
  link(rel="stylesheet", href="./css/giving.css")
  link(rel="stylesheet", href="./css/progress.css")
  link(rel="stylesheet", href="./css/theme-alumni.css")

block content
  +page-wrapper("","")
    +page-header("Giving", "has-controls", "img/navs/alumni/giving.svg")
      .controls
        +btn-default("btn-wired", "", "Back to Giving Opportunities", "views/alumni/giving.html")

    +page-content-wrapper("")
      +page-section("")
        +card-group("")
          +card("")
            +card-title("Campaign Name", "", true, "")

            +card-content("slds-p-around--large")
              .giving-hero(style="background-image:url(https://placeimg.com/640/480/animals)")
                .title Campaign Name
                .subtitle Amet culpa voluptatem beatae.

                .progress-bar--horizontal
                  .progress-group
                    .wrapper
                      .step.step01.complete
                        progress.progress-bar(value='100', max='100', aria-describedby='Step 01')
                        .progress-circle
                      .step.step02.complete
                        progress.progress-bar(value='100', max='100', aria-describedby='Step 02')
                        .progress-circle
                      .step.step03.complete
                        progress.progress-bar(value='100', max='100', aria-describedby='Step 03')
                        .progress-circle
                      .step.step04
                        progress.progress-bar(value='75', max='100', aria-describedby='Step 04')
                        .progress-circle

              .slds-p-horizontal--xx-large.slds-m-top--xx-large
                .slds-grid.slds-grid--pull-padded
                  .slds-p-horizontal--small
                    p Campaign Goal
                    .amount.campaign-goal $XX,XXX
                  .slds-p-horizontal--small
                    p Amount Raised
                    .amount.amount-raised $XX,XXX
                  .slds-p-horizontal--small.slds-col--bump-left
                    .program-information
                      .program-name.slds-m-bottom--small
                        a.btn-bs.slds-button.btn-success.active.btn-lg.btn-block(href="/views/alumni/profile-view.html")
                          span Give to GU
                          +svg("img/give-active.svg", "", "Give Now!")

                hr
                p.slds-m-bottom--small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                p.slds-m-bottom--small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                p.slds-m-bottom--small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.




block left-sidebar
  include partials/alumni-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
    $(document).ready(function() {
      // Expand and collapse detail rows
      $('.expand').click(function () {
        $(this).next('.table-row-collapsed').toggleClass('hidden');
      });
    });

