extends ../../layout/default-authenticated.pug

include partials/alumni-includes.pug
include ../../modules/input-edit.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'grid';

block title
  title Grid / Alumni - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/table.css")
  link(rel="stylesheet", href="./css/giving.css")
  link(rel="stylesheet", href="./css/theme-alumni.css")
  style.
    .ui-widget > div {
      border:1px solid #aaa;
      padding:10px;
    }

block content
  +page-wrapper("","")
    +page-header("Gridding", "has-controls", "img/navs/alumni/giving.svg")
      +page-header-controls(true, "Select Page")
        a.active(href="#") Gridding Opportunities

    +page-content-wrapper("")
      +page-section("")
        +card-group("")
          +card("")
            +card-title("My Griding", "has-controls", true, "")
            +card-content("slds-p-around--large")

              h3 Grid with break points
              +grid("wrap", "small", "6-of-12")
                +grid-col("")
                  p col 1 of 2 - medium breakpoint
                +grid-col("")
                  p col 2 of 2 - medium breakpoint
              +grid("wrap", "large", "4-of-12")
                +grid-col("")
                  p col 1 of 3 - large breakpoint
                +grid-col("")
                  p col 2 of 3 - large breakpoint
                +grid-col("")
                  p col 3 of 3 - large breakpoint
              +grid("wrap", "small", "3-of-12")
                +grid-col("")
                  p col 1 of 4 - small breakpoint
                +grid-col("")
                  p col 2 of 4 - small breakpoint
                +grid-col("")
                  p col 3 of 4 - small breakpoint
                +grid-col("")
                  p col 4 of 4 - small breakpoint

              hr
              h3 Grid cells with padding
              +grid("wrap", "small", "3-of-12")
                +grid-col("")
                  p col 1 of 4 - small breakpoint
                +grid-col("")
                  p col 2 of 4 - small breakpoint
                +grid-col("")
                  p col 3 of 4 - small breakpoint
                +grid-col("")
                  p col 4 of 4 - small breakpoint

              hr

              h3 Grid without breakpoints
              +grid("wrap", "", "6-of-12")
                +grid-col("")
                  p col 1 of 2 - medium breakpoint
                +grid-col("")
                  p col 2 of 2 - medium breakpoint
              +grid("wrap", "", "4-of-12")
                +grid-col("")
                  p col 1 of 3 - large breakpoint
                +grid-col("")
                  p col 2 of 3 - large breakpoint
                +grid-col("")
                  p col 3 of 3 - large breakpoint
              +grid("wrap", "", "3-of-12")
                +grid-col("")
                  p col 1 of 4 - small breakpoint
                +grid-col("")
                  p col 2 of 4 - small breakpoint
                +grid-col("")
                  p col 3 of 4 - small breakpoint
                +grid-col("")
                  p col 4 of 4 - small breakpoint

              hr

              h3 Grid without set columns and with wrapping
              p.slds-m-bottom--large The first column has a fixed width of 400px, the others are 200px. Each will wrap when they run out of room.
              +grid("wrap", "", "")
                +grid-col("")
                  p(style="width:400px") This column is set to 400px
                +grid-col("")
                  p(style="width:200px") col 2 of 4 - this will wrap when it runs out of room
                +grid-col("")
                  p(style="width:200px") col 3 of 4 - this will wrap when it runs out of room
                +grid-col("")
                  p(style="width:200px") col 4 of 4 - this will wrap when it runs out of room

              hr

              h3 Grid without set columns and without wrapping
              p.slds-m-bottom--large These columns will match their siblings widths but will not wrap when they run out of space.
              +grid("wrap", "", "")
                +grid-col("")
                  p col 1 of 8 - Eos, tempore quam laboriosam officia, laudantium at aperiam laborum iusto ullam maxime necessitatibus.
                +grid-col("")
                  p col 2 of 8
                +grid-col("")
                  p col 3 of 8
                +grid-col("")
                  p col 4 of 8 - Fuga soluta tenetur repudiandae earum! Atque, blanditiis!
                +grid-col("")
                  p col 5 of 8
                +grid-col("")
                  p col 6 of 8
                +grid-col("")
                  p col 7 of 8
                +grid-col("")
                  p col 8 of 8





block left-sidebar
  include partials/alumni-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
    $(document).ready(function() {
      // Expand and collapse detail rows
      $('.expand').click(function () {
        $(this).next('.table-row-collapsed').toggleClass('hidden');
      });
    });

