extends ../../layout/default-authenticated.pug

include partials/alumni-includes.pug
include ../../modules/directory-item.pug
include ../../modules/input-edit.pug
include ../../modules/social.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'groups';

block title
  title Groups / Alumni - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/table.css")
  link(rel="stylesheet", href="./css/theme-alumni.css")

block content
  +page-wrapper("","")
    +page-header("My Groups", "has-controls", "img/navs/alumni/groups.svg")
      +page-header-controls(true, "Select Page")
        a(href="views/alumni/messages.html") My Messages
        a.active(href="#") My Groups

    +page-content-wrapper("")
      .page-section.slds-grid.slds-wrap.slds-grid--pull-padded
        .card-group.slds-p-horizontal--small
          .card
            .card-content
              .card-title.has-controls
                +input-text("", "slds-input-has-icon slds-input-has-icon--right", "group-search", "Search Groups", "")(placeholder="Search groups")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#search")
                .controls.slds-grid.slds-grid--vertical-align-center
                  +btn-default("slds-m-left--small", "", "New group", "#!")

                table.slds-table.slds-table--striped.slds-no-row-hover.table-default.slds-m-top--large
                  thead.t-head
                    tr.t-head-row
                      th.c-head
                      th.c-head(data-sortable="true") Group Name
                      th.c-head(data-sortable="true") Last Activity
                      th.c-head(data-sortable="false") Membership
                  tbody.t-body
                    +directory-item-group("Group Name", "Praesentium velit nobis quidem modi nisi enim repellat obcaecati dicta explicabo libero repellendus consequatur commodi", "http://lorempixel.com/output/technics-q-c-200-200-1.jpg", "#")
                      td.c-body 01/21/2017
                      td.c-body Member
                    +directory-item-group("Et aliquam harum sapiente", "Enim ea nulla in, repellendus repellat ex libero architecto fugiat, reiciendis sint molestias facere saepe, iusto sed minus voluptatum placeat dignissimos vitae aut culpa.", "http://lorempixel.com/output/technics-q-c-200-200-2.jpg", "#")
                      td.c-body 01/21/2017
                      td.c-body Member
                    +directory-item-group("Libero assumenda delectus", "Expedita suscipit minus aut doloremque delectus repellat ducimus maiores, ullam libero atque", "http://lorempixel.com/output/technics-q-c-200-200-3.jpg", "#")
                      td.c-body 01/21/2017
                      td.c-body Member

block left-sidebar
  include partials/alumni-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
