extends ../../layout/default-authenticated.pug

include partials/alumni-includes.pug
include ../../modules/input-edit.pug
include ../../modules/social.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'memberships';

block title
  title Memberships / Alumni - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-alumni.css")

block content
  mixin membership-card(title, photo_url, member_status)
    a.box.membership-card.lg
      .detail
        .title(href="views/alumni/membership-detail.html")= title
        .status
          .name Membership Status
          .result= member_status
      .membership-photo(style= 'background-image:url(' + photo_url + ')')

  +page-wrapper("","")
    +page-header("My Memberships", "has-controls", "img/navs/alumni/memberships.svg")

    +page-content-wrapper("")
      +page-section("")
        .slds-grid.slds-wrap.slds-grid--pull-padded
          .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--8-of-12
            +card-group("")
              +card("")
                +card-title("Stay Engaged with Your Region", "")
                +card-content
                  .slds-p-horizontal--large
                    +grid("box-grid hero wrap stretch ", "large", "6-of-12")
                      +grid-col()
                        +membership-card("Club Name of City Name", "https://placeimg.com/300/300/tech", "Leader")
                      +grid-col()
                        +membership-card("Club Name of City Name", "https://placeimg.com/300/300/people", "Leader")
                    hr.slds-m-top--none
                    .slds-p-horizontal--large
                      h3 Other ways to get involved
                      p Odit eius minima sapiente aliquam facere, blanditiis autem quae, recusandae dolorem vero, cupiditate molestias qui cumque adipisci eaque. Fugit, perspiciatis!
                      .slds-grid.slds-grid--align-end.slds-p-around--large
                        +btn-default("","", "Get Involved")
                        +btn-default("","", "Clubs Near Me")
          .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--4-of-12
            +card-group("")
              +card("")
                +card-title("Regional Contact", "")
                +card-content
                  .slds-p-horizontal--large
                    .description Please reach out to your regional contact for information on events in your area.
                    .person.slds-m-top--medium
                      .user-photo.md(style="background-image:url(https://placeimg.com/300/300/animals)")
                      .detail
                        .name Vivan Jeppsen
                        .controls.slds-m-top--small
                          div
                            a(href="tel:(555) 555-5##5") (555) 555-5##5
                          div
                            a(href="mailto:vjeppsen@gu.edu") vjeppsen@gu.edu





block left-sidebar
  include partials/alumni-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.


