extends ../../layout/default-authenticated.pug

include partials/alumni-includes.pug
include ../../modules/input-edit.pug
include ../../modules/social.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'messages';

block title
  title Messages / Alumni - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/messaging.css")
  link(rel="stylesheet", href="./css/theme-alumni.css")

block content
  +page-wrapper("","")
    +page-header("My Messages", "has-controls", "img/navs/alumni/messages.svg")
      +page-header-controls(true, "Select Page")
        a.active(href="#") My Messages
        a(href="views/alumni/groups.html") My Groups

    +page-content-wrapper("")
      .page-section
        .card-group
          .card
            .card-content
              .card-title.has-controls
                +input-text("", "slds-input-has-icon slds-input-has-icon--right", "message-search", "Search Messages", "")(placeholder="Search messages")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#search")
                .controls.slds-grid.slds-grid--vertical-align-center
                  +btn-default("slds-m-left--small", "", "Message the Office of Advancement", "#!")

              .messaging.message-thread-list
                .box
                  +message("Dr. Yahaira Bogdanovich", "01/12/2017 - 4:21 PM", "Dicta, nihil aut earum nisi!")
                    .status.unread
                    .content
                      p Mollitia repellat molestiae odit alias dolore libero voluptatem fugiat assumenda nisi quibusdam nostrum incidunt similique odio ex culpa, nihil qui fuga! Nemo dicta vitae odit, quae possimus dolor eligendi illum!
                  +message-controls()
                    +btn-pill("btn-default btn-expand", "", "Expand", "#", false)
                    +btn-pill("btn-default btn-collapse slds-hide", "", "Collapse", "#", false)
                    +btn-pill("slds-button--brand btn-reply", "", "Reply", "#", false)
                  .thread-container
                    +thread-message("Dr. Yahaira Bogdanovich", "01/11/2017 - 2:17 PM", "Pariatur nulla obcaecati sed assumenda.")
                      p Atque iusto magni vel quaerat, facere explicabo soluta architecto voluptatem saepe, tenetur quae error ut eveniet eligendi doloremque est commodi aspernatur dicta modi cumque! Officiis quasi laudantium dolorum dignissimos quas?
                    +thread-message("Dr. Yahaira Bogdanovich", "01/11/2017 - 2:17 PM", "Eligendi quo, ipsum?")
                      p At suscipit, distinctio ullam nihil accusantium, deleniti, dolorum unde pariatur inventore quae repudiandae sed nam quod minus eligendi quas?
                      p Excepturi unde quaerat, molestiae aspernatur molestias? Fuga magni, consectetur facilis accusamus obcaecati recusandae saepe.
                    +message-controls()
                      +btn-pill("slds-button--brand", "", "Reply", "#", false)

                .box
                  +message("Retta Renaud", "04/12/2017 - 4:21 PM", "Dicta, nihil aut earum nisi")
                    .content
                      p.slds-m-bottom--small Beatae, quasi laboriosam, ipsa, mollitia nobis odit qui facere quibusdam fugiat labore ab id at.
                      p Veritatis, excepturi, quis. Laboriosam pariatur, nulla natus error molestias adipisci, veniam eligendi blanditiis mollitia velit quod atque nobis iure eos necessitatibus voluptatibus, voluptatem, illum nam minus totam vero perferendis. Assumenda quis obcaecati, dolorem eaque quo itaque optio dicta molestiae fugiat reiciendis vero, dolor nihil debitis quas provident voluptas reprehenderit adipisci sunt beatae animi, aperiam! Recusandae est magni quaerat sit pariatur, eveniet rem praesentium beatae dolorem velit, accusamus repellat provident iste consequuntur aperiam a molestiae aliquam sapiente. Ipsum ducimus rem perspiciatis.
                  +message-controls()
                    +btn-pill("btn-default btn-expand", "", "Expand", "#", false)
                    +btn-pill("btn-default btn-collapse slds-hide", "", "Collapse", "#", false)
                    +btn-pill("slds-button--brand btn-reply", "", "Reply", "#", false)

block left-sidebar
  include partials/alumni-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
    $('.btn-expand').click(function () {
      $(this).siblings('.btn-reply').addClass('slds-hide');
      $(this).next('.btn-collapse').removeClass('slds-hide');
      $(this).parent().parent().next('.thread-container').slideDown('fast');
      $(this).addClass('slds-hide');
    });
    $('.btn-collapse').click(function () {
      $(this).siblings('.btn-reply').removeClass('slds-hide');
      $(this).prev('.btn-expand').removeClass('slds-hide');
      $(this).parent().parent().next('.thread-container').slideUp('fast');
      $(this).addClass('slds-hide');
    });
