extends ../../layout/default-authenticated.pug

include partials/alumni-includes.pug
include ../../modules/input-edit.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'giving';

block title
  title Volunteer / Alumni - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/table.css")
  link(rel="stylesheet", href="./css/giving.css")
  link(rel="stylesheet", href="./css/theme-alumni.css")

block content
  mixin giving-table-row(gift_area,type,date,amount,document_url)
    .table-row-container
      .table-row
        .table-row-item(data-label="Gift Area")= gift_area
        .table-row-item(data-label="Type")
          a.icon-link.glyph.xs.btn-giving-info
            span= type
            +svg-sprite("img/sprites/base.svg", "help", "slds-m-left--x-small", "Help")
        .table-row-item(data-label="Date of Gift")= date
        .table-row-item(data-label="Amount")= amount
        .table-row-item(data-label="Documents")
          a.icon-link.glyph.sm(href= document_url)
            +svg-sprite("img/sprites/base.svg", "download", "", "Download")
      block

  +page-wrapper("","")
    +page-header("Giving", "has-controls", "img/navs/alumni/giving.svg")
      +page-header-controls(true, "Select Page")
        a(href="views/alumni/giving.html") Giving Opportunities
        a.active(href="#") My Giving
      .slds-grid.slds-wrap.slds-grid--pull-padded.slds-m-top--medium.slds-col.slds-grid--vertical-align-center
        .slds-col.slds-size--1-of-1.slds-large-size--9-of-12.slds-p-horizontal--small
          .description
            p This giving history is not a comprehensive list of all possible gifts made to Georgetown. Outright gifts made to Georgetown in the last five calendar and fiscal years are included here, but you may have pledges, anonymous gifts, and other gifts that are not displayed. If you feel that this helprmation is incorrect in any way, please contact Gift Accounting:
        .slds-col.slds-size--1-of-1.slds-large-size--3-of-12.slds-p-horizontal--small
          .contact-card
            a.card-detail-wraper
              +svg-sprite("img/sprites/media.svg", "phone-fill", "", "")
              span.detail (800) 424-2795
            a.card-detail-wraper
              +svg-sprite("img/sprites/media.svg", "email-fill", "", "")
              span.detail giving@georgetown.edu

    +page-content-wrapper("")
      +page-section("")
        +card-group("")
          +card("")
            +card-title("My Giving", "has-controls", true, "")
              .title.slds-m-right--small View
              +dropdown("page-subnav", "page-subnav", "This Year", true)
                a.active(href="#") This Year
                a(href="#") Last Year
                a(href="#") All Time
              +btn-default("slds-m-left--small", "", "Download History", "#!")
            +card-content("slds-p-around--large")
              .faux-table.giving-table
                .table-row.table-header
                  .table-row-item.sortable.descending Gift Area
                  .table-row-item.sortable Type
                  .table-row-item.sortable Date of Gift
                  .table-row-item.sortable Amount
                  .table-row-item Documents

                +giving-table-row("Quibusdam Quasi Deserunt School of Business", "Gift", "06/30/16", "$1,500.00")
                  .table-row-collapsed.hidden
                    .slds-grid.slds-wrap
                      .slds-size--1-of-1.slds-medium-size--3-of-12.slds-m-bottom--small
                        label.slds-form-element__label.field-label In Memory
                        p John Hoya
                      .slds-size--1-of-1.slds-medium-size--3-of-12.slds-m-bottom--small
                        label.slds-form-element__label.field-label In Honor
                        p John Hoya
                      .slds-size--1-of-1.slds-medium-size--3-of-12.slds-m-bottom--small
                        label.slds-form-element__label.field-label Company
                        p Weyland Industries
                      .slds-size--1-of-1.slds-medium-size--3-of-12.slds-m-bottom--small.slds-text-align--right
                        label.slds-form-element__label.field-label Fiscal Year
                        p 2015
                    hr
                    label.slds-form-element__label.field-label Note
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                +giving-table-row("Asperiores School of Business", "Gift", "08/23/16", "$1,200.00")
                  .table-row-collapsed.hidden
                    .slds-grid.slds-wrap
                      .slds-size--1-of-1.slds-medium-size--3-of-12.slds-m-bottom--small
                        label.slds-form-element__label.field-label In Memory
                        p John Hoya
                      .slds-size--1-of-1.slds-medium-size--3-of-12.slds-m-bottom--small
                        label.slds-form-element__label.field-label In Honor
                        p John Hoya
                      .slds-size--1-of-1.slds-medium-size--3-of-12.slds-m-bottom--small
                        label.slds-form-element__label.field-label Company
                        p Weyland Industries
                      .slds-size--1-of-1.slds-medium-size--3-of-12.slds-m-bottom--small.slds-text-align--right
                        label.slds-form-element__label.field-label Fiscal Year
                        p 2015
                    hr
                    label.slds-form-element__label.field-label Note
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.

block left-sidebar
  include partials/alumni-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
    $(document).ready(function() {
      // Expand and collapse detail rows
      $('.btn-giving-info').click(function () {
        $(this).parent().parent().next('.table-row-collapsed').toggleClass('hidden');
      });
    });

