extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'profile';

include partials/alumni-includes.pug

block base_url
  base(href="../../")

block title
  title Profile / Alumni - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/profile.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/theme-alumni.css")

block content
  +page-wrapper("","")
    +page-header("Profile", "has-controls", "img/navs/alumni/profile.svg")
      +page-header-controls(true, "Select Page")
        a.active(href="#") Basic Information

    +page-content-wrapper("")
      .page-section
        .profile-view
          .profile-summary
            .flex.sm
              div
                .name= userFirstName + ' ' + userMiddleName + ' ' + userLastName
                .batch-year= userNickname
              .program C '01
          .profile-header
            .photo-block
              .user-photo.xl(style="background-image:url(demo/user-alumni.jpg)")

            .slds-grid.slds-wrap

              .slds-col.slds-xlarge-size--1-of-3.slds-p-horizontal--large.slds-m-bottom--x-large
                label.slds-form-element__label.field-label Birthday
                p 5/22/1979
              .slds-col.slds-xlarge-size--1-of-3.slds-p-horizontal--large.slds-m-bottom--x-large
                label.slds-form-element__label.field-label Religion
                p Budhist, catholic
              .slds-col.slds-xlarge-size--1-of-3.slds-p-horizontal--large.slds-m-bottom--x-large
                .profile-social-icons
                  .social-icons.is-end
                    a.icon-link.sm.has-border
                      +svg-sprite("img/sprites/media.svg", "facebook", "", "Facebook")
                    a.icon-link.sm.has-border
                      +svg-sprite("img/sprites/media.svg", "twitter", "", "Twitter")
                    a.icon-link.sm.has-border
                      +svg-sprite("img/sprites/media.svg", "linkedin", "", "LinkedIn")
          .card-group
            .card
              .card-content.box
                .card-title
                  h2(class="title slds-text-heading--small slds-p-bottom--large") My Class Notes
                .slds-p-horizontal--large.slds-p-bottom--large
                  h3 Goals
                  .txt-date Posted: 09/01/2015 5:53pm
                  .description
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquet vestibulum finibus. Sed quis mollis lorem. Sed libero mauris, bibendum at convallis quis, suscipit ac metus. Praesent at dolor turpis. Suspendisse potenti. Morbi vehicula mauris in neque luctus eleifend. Nulla aliquam, neque at blandit tincidunt.
                .slds-p-horizontal--large.slds-p-bottom--large
                  h3 Goals
                  .txt-date Posted: 09/01/2015 5:53pm
                  .description
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquet vestibulum finibus. Sed quis mollis lorem. Sed libero mauris, bibendum at convallis quis, suscipit ac metus. Praesent at dolor turpis. Suspendisse potenti. Morbi vehicula mauris in neque luctus eleifend. Nulla aliquam, neque at blandit tincidunt.


block left-sidebar
  include partials/alumni-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
