extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'profile';

include partials/alumni-includes.pug

block base_url
  base(href="../../")

block title
  title Profile / Alumni - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/profile.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/photo-upload.css")
  link(rel="stylesheet", href="./css/theme-alumni.css")

block content
  +page-wrapper("","")

    +page-header("Profile", "slds-m-bottom--large", "img/navs/alumni/profile.svg")

    +page-content-wrapper("")

      .page-section
        .profile-edit
          .profile-summary
            .summary-content
              div
                .name= userFirstName + ' ' + userMiddleName + ' ' + userLastName
                .batch-year= userNickname
              .program C '01
              a.btn-bs.slds-button.slds-button--brand.view-profile-btn(href="views/alumni/profile-view.html")
                +svg-sprite("img/sprites/media.svg", "profile-fill", "", "View Public Profile")
                span View Public Profile
          .profile-header
            .photo-block
              .user-photo.xl(style="background-image:url(demo/user-alumni.jpg)")
              .controls
                +btn-default("btn-bs btn-upload-photo", "", "Update Photo", "#")
            div
              p.txt-intro Some of the fields you can choose who you wish to see the information. Choose the cap if you want that information to be visible on your public profile to other alumni. Choose the person if you wish to only share this information with Georgetown.
              .profile-change
                p If you feel any of the information below is incorrect, please send a message to us through the "Request Profile Change" button. Your experience is important to us.
                +btn-default("bump-left btn-request-profile-change", "", "Request Profile Change","#!")


        .card-group
          .card
            .card-content.box
              .card-title
                h2(class="title slds-text-heading--small slds-m-bottom--large") Names

              +grid("slds-m-bottom--large", "large", "6-of-12")

                +grid-col("")
                  +student-edit-block("preferred_name", "Preferred Name", "", true, false, false)
                    +control-single-input("","", "preferred_name", "", "Preferred First Name")(value= userFirstName)

                  +student-edit-block("First_name", "First Name", "", true, false, false)
                    +control-single-input("","", "first_name", "", "First Name")(value= userFirstName)

                  +student-edit-block("last_name", "Last Name", "", true, false, false)
                    +control-single-input("","", "last_name", "", "Last Name")(value= userLastName)

                  +student-edit-block("middle_name", "Middle Name", "", true, false, false)
                    +control-single-input("","", "middle_name", "", "Middle Name")(value= userMiddleName)

                  +student-edit-block("nick_name", "Nick Name", "", true, false, false)
                    +control-single-input("","", "nick_name", "", "Nick Name")(value= userNickname)


                +grid-col("")
                  +student-edit-block("title", "Title", "", true, false, false)
                    +control-single-input("","", "Title", "", "Title")(value="Mr.")

                  +student-edit-block("salutation", "Salutation", "", true, false, false)
                    +control-single-input("","pristine", "Salutation", "", "Salutation")

                  +student-edit-block("suffix", "Suffix", "", true, false, false)
                    +control-single-input("","pristine", "Suffix", "", "Suffix")

                  +student-edit-block("last_name_at_graduation", "Last Name at Graduation", "", true, false, false)
                    +control-single-input("","pristine", "last_name_at_graduation", "", "Last Name at Graduation")


            .card-content.box.slds-m-bottom--large
              .card-title
                h2(class="title slds-text-heading--small slds-m-bottom--large") Demographics

              .slds-grid.slds-wrap
                .slds-col.slds-medium-size--1-of-2
                  +student-edit-block("gender", "Gender", "", true, false, false)
                    +control-single-input("","", "gender", "", "Gender")(value="Male")

                  +student-edit-block("ethnicity", "Ethnicity", "", true, false, false)
                    +control-single-input("","", "ethnicity", "", "Ethnicity")(value="Caucasian")

                  +student-edit-block("political_party", "Political Party", "", true, false, false)
                    +control-single-input("","", "political_party", "", "Political Party")(value="Independent")

                  +student-edit-block("net_id", "NetID", "")
                    +control-single-input("","", "net_id", "", "NetId")(value="123439873",type="number")

                .slds-col.slds-medium-size--1-of-2
                  +student-edit-block( "dob", "Date of Birth", "", false, true, false)
                    +control-single-input("pristine", "dob", "", "Date of Birth")(type="date")

                  +student-edit-block("religion", "Religion", "", true, false, false)
                    +control-single-input("","", "religion", "", "Religion")(value="Caucasian")

                  +student-edit-block("veteran", "Veteran", "", true, false, false)
                    +control-single-input("","", "veteran", "", "Veteran")(value="Buddhist, Catholic")


block modals
  include ../../partials/modal-photo-upload.pug
  include ../../partials/modal-request-profile-change.pug


block left-sidebar
  include partials/alumni-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
    $('.btn-request-profile-change').click(function () {
      $("[aria-labelledby='request-profile-change']").addClass('slds-fade-in-open');
      $("[aria-labelledby='request-profile-change'] + .slds-backdrop").addClass('slds-backdrop--open');
    });
