extends ../../layout/default-authenticated.pug

include partials/alumni-includes.pug
include ../../modules/input-edit.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'resources';

block title
  title Volunteer / Alumni - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/table.css")
  link(rel="stylesheet", href="./css/giving.css")
  link(rel="stylesheet", href="./css/theme-alumni.css")

block content
  mixin giving-table-row(gift_area,type,date,amount,document_url)
    .table-row-container
      .table-row.expand
        .table-row-item(data-label="Gift Area")= gift_area
        .table-row-item(data-label="Type")
          a.icon-link.glyph.xs
            span= type
            +svg-sprite("img/sprites/base.svg", "help", "slds-m-left--x-small", "Help")
        .table-row-item(data-label="Date of Gift")= date
        .table-row-item(data-label="Amount")= amount
        .table-row-item(data-label="Documents")
          a.icon-link.glyph.sm(href= document_url)
            +svg-sprite("img/sprites/base.svg", "download", "", "Download")
      block

  +page-wrapper("","")
    +page-header("Resources", "has-controls", "img/navs/alumni/resources.svg")
      +page-header-controls(true, "Select Page")
        a.active(href="#") Giving Opportunities



block left-sidebar
  include partials/alumni-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
    $(document).ready(function() {
      // Expand and collapse detail rows
      $('.expand').click(function () {
        $(this).next('.table-row-collapsed').toggleClass('hidden');
      });
    });

